<CarrierConfig>
	<carrier>
		<name>uscellular_sbox</name>
		<mccmnc>310410</mccmnc>
	</carrier>
	<carrier>
		<name>uscellular_prod</name>
		<mccmnc>311580,311581,311582,311583,311584,311585,311586,311587,311588,311589</mccmnc>
	</carrier>
	<carrier>
		<name>uscellular_test</name>
		<mccmnc>311220,311221,311222,311223,311224,311225,311226,311227,311228,311229</mccmnc>
	</carrier>
	<carrier>
		<name>3dk</name>
		<mccmnc>23806</mccmnc>
	</carrier>
	<carrier>
		<name>3dk</name>
		<mccmnc>24002</mccmnc>
	</carrier>
	<carrier>
		<name>3dk</name>
		<mccmnc>23420</mccmnc>
	</carrier>
	<carrier>
		<name>ooredoooman</name>
		<mccmnc>42203</mccmnc>
	</carrier>
	<carrier>
		<name>zainksa</name>
		<mccmnc>42004</mccmnc>
	</carrier>
	<carrier>
		<name>zainbahrain</name>
		<mccmnc>42602</mccmnc>
	</carrier>
</CarrierConfig>
