<!-- Vpn -->
<div id="vpn">
         
	<h2>Descripción general</h2>
        <p>
	Use esta función para establecer una conexión de túnel a un servidor OpenVPN y redirija todo el tráfico en dispositivos conectados a través del túnel.   
	</p>
	<h2>Conectar automáticamente VPN</h2>
	<p>
	Si está ACTIVADO, el túnel de VPN se establecerá automáticamente toda vez que se haga una conexión a internet. Si está DESACTIVADO, debe establecer la conexión VPN manualmente.
	</p>
	<h2>Conexión VPN</h2>
        <h3>Estado de la conexión</h3>
        <p>
	Muestra el estado de la conexión VPN.
        </p>
	<h3>Tiempo de conexión</h3>
        <p>
	Muestra el período de tiempo durante el cual se ha establecido la conexión VPN.
        </p>
        <h3>Conectar</h3>
        <p>
	Haga clic en el botón Conectar para conectarse al servidor VPN que está configurado usando los Parámetros de VPN.
        </p>
	<h3>Ver registros</h3>
        <p>
	Cuando se haya establecido una conexión OpenVPN, haga clic en el botón Ver registro para mostrar el registro de conexión VPN.
	</p>
	<h2>Parámetros de VPN</h2>
	<h3>Archivos de configuración</h3>
        <p>
	Arrastre y suelte los archivos de la configuración de OpenVPN desde su proveedor de OpenVPN en el área de carga de archivos.
	</p>
	<h3>Nombre de usuario</h3>
        <p>
	Escriba su nombre de usuario de conexión OpenVPN aquí.
	</p>
	<h3>Contraseña</h3>
        <p>
	Escriba su contraseña de conexión OpenVPN aquí.
	</p>
	<h3>Borrar todos los parámetros de VPN </h3>
        <p>
	Haga clic en el botón Borrar todos los parámetros de VPN para eliminar los archivos de VPN, los registros de VPN y restablecer todos los parámetros de VPN al estado original no configurado.
	</p>
        
</div>
 <!-- id="Vpn" -->
