<!-- Status Logs -->
<div id="status_logs">
	<h1><tmpl_var _("webui", "status_logs_menu_text")></h1>
	<h2>Visão geral</h2>
	<p> As informações de log são úteis para a resolução de problemas, mas não são necessárias para a operação normal. </p>
	
	<h2>Configurações</h2>
	<h3><tmpl_var _("webui", "status_logs_enable_logs_label")></h3>
	<p>Ative os logs conforme a necessidade.</p>
	<h3><tmpl_var _("webui", "status_logs_delete_sys_logs_label")></h3>
	<p>Essa configuração determina por quanto tempo os dados de log do sistema ficam retidos. Selecione a opção desejada.</p>
	<p>Observe que, se o log estiver cheio, os dados mais antigos serão excluídos, independentemente dessa configuração.</p>
	
	<h2>Dados de log</h2>
	<p>As guias fornecidas permitem que você selecione o tipo de dados de log a ser exibido. </p>
	<h3><tmpl_var _("webui", "status_logs_mobile_network_log_href")></h3>
	<p>Este log contém os dados de conexão com a rede móvel. </p>
	<h3><tmpl_var _("webui", "status_logs_system_log_href")></h3>
	<p>Este log registra os eventos, além das conexões de dados móveis, que ocorreram neste dispositivo. </p>
	
	<h2>Botões</h2>
	
	<h3><tmpl_var _("webui", "status_logs_clear_log_btn")></h3>
	<p>Ao clicar neste botão, todos os dados de log existentes serão excluídos. Isso facilitará a leitura de novos dados.</p>
	<h3><tmpl_var _("webui", "status_logs_refresh_btn")></h3>
	<p>Use-o para atualizar os dados de log que são exibidos.</p>
	<h3><tmpl_var _("webui", "status_logs_download_btn")></h3>
	<p>Use este botão caso queira baixar dados de log no seu computador ou no dispositivo conectado.</p>
	
</div>
<!-- end Status Logs -->
