<!-- Data Usage -->
<div id="data_usage">
	<h1><tmpl_var _("webui", "data_usage_menu_text")></h1>
	<h2>Descripción</h2>
	<p> Esta pantalla muestra la información de uso de datos disponible para su plan móvil. </p>
	<h2>Consumo de datos estimado</h2>
	<p> Esta sección muestra una estimación de su uso de datos, que incluye: </p>
	<div class="blockgroup">
		<ul>
		<li>El consumo de datos estimado de su plan dentro del ciclo de facturación actual, hasta la fecha que se muestra. </li>
		<li>El tipo de plan y el límite de datos de su plan.</li>
		<li>Para los Planes compartidos, una indicación de los datos utilizados en este dispositivo en particular.</li>
		<li>La fecha de finalización del ciclo de facturación.</li>
		</ul>
	</div>
</div>
