<!-- Data Usage -->
<div id="data_usage">
	<h1><tmpl_var _("webui", "data_usage_menu_text")></h1>
	<h2>Overview</h2>
	<p>
		This screen shows available data usage information for your mobile plan.
	</p>
	<h2>Estimated Data Usage</h2>
	<p>
		This section shows an estimate of your data usage, including:
	</p>
	<div class="blockgroup">
		<ul>
		<li>Estimated data usage for your plan within the current billing cycle, up to the date shown. </li>
		<li>The type of plan and the data limit on your plan.</li>
		<li>For Shared Plans, an indication of the data used on this particular device. </li>
		<li>The date when the current billing cycle ends.</li>
		</ul>
	</div>
</div>

