<Config>
	<WarningInterval>10</WarningInterval><!-- number of seconds before watchdog interval expires that watchdog should log non-reporting apps -->
	<IntervalPadding>60</IntervalPadding><!-- number of seconds of padding to add to watchdog interval( in settings, not padding interval) to allow some for apps in the border-line to send keep-alive -->
</Config>
