<!-- Internet  Sessions -->
<div id="session_log_info">
	<h1><tmpl_var _("webui", "session_log_info_menu_text")></h1>

	<p>يحتوي سجل الجلسة على البيانات التالية:</p>
	<p>- التاريخ والوقت (عند بدء الاتصال)</p>
	<p>- المدة (نفس تنسيق معلومات الجلسة الحالية)</p>
	<p>- المُستّلَم (تنسيق مماثل لما في الدورة الحالية)</p>
	<p>- المُرسَل (تنسيق مماثل لما في الدورة الحالية)</p>
	<p>- إجمالي البيانات (مجموع المستَلَم و المرسَل، التنسيق كما هو الحال بالنسبة لمعلومات الجلسة الحالية)</p>
	<tmpl_if RoamingStatusShow>
                <p>- التجوال (تجوال / جزئي / فارغ) فارغ = شبكة منزلية </p>
        </tmpl_if>
	<p>- IPv4 (عنوان IPv4 WWAN IP)</p>
	<p>- IPv6 (عنوان IPv6 WWAN IP)</p>

	<p>السجل مرتب حسب التاريخ.</p>
	<p>لا يمكن للمستخدم تغيير الترتيب، ولا توجد خيارات تتعلق بترتيب سجل الجلسة.</p>
</div>
