<div id="user_preferences">
	<h1><tmpl_var _("webui", "preferences_personalization_sub_header_text")></h1>
	<p>Esta pantalla contiene muchas opciones que le permiten definir el comportamiento del <tmpl_var _("webui", "webui_product_name")> para satisfacer mejor sus necesidades. </p>

	<h3>Idioma</h3>
	<p>Seleccione el idioma deseado. </p>
	
	<h3><tmpl_var truncate(_("webui", "preferences_date_format_label"), (size(_("webui", "preferences_date_format_label")) - size(":")))></h3>
	<p> Especifique el formato en el que se mostrará la fecha en el sitio web de Administrador. </p>

	<h3><tmpl_var truncate(_("webui", "preferences_time_format_label"), (size(_("webui", "preferences_time_format_label")) - size(":")))></h3>
	<p> Especifique el formato en el que se mostrará la hora en el sitio web de Administrador. </p>

	<h3><tmpl_var truncate(_("webui", "preferences_distace_format_label"), (size(_("webui", "preferences_distace_format_label")) - size(":")))></h3>
	<p> Seleccione la unidad que se utilizará para la altitud y la precisión del GPS. </p>

	<h3><tmpl_var truncate(_("webui", "preferences_numeric_format_label"), (size(_("webui", "preferences_numeric_format_label")) - size(":")))></h3>
	<p> Especifique cómo se muestran los decimales. Se puede seleccionar punto (.) o coma (,) para usar como unidad decimal. </p>
</div>
