<!-- Backup and Restore -->
<div id="backup_restore">
         <h1><tmpl_var _("webui", "backup_restore_menu_text")></h1>

         <h2>Overview</h2>
         <p>Use this feature to back up (download) a copy of the configuration settings from your <tmpl_var _("webui", "webui_product_name")> to a file on your computer, or restore (upload) a previously-saved configuration file. This configuration file contains all settings for the device, router and system functions. It does not contain any settings or data for the 4G modem.
 <p>Note: The file can only be restored to the same Jetpack it came from.</p>
         </p>
         <p>
  This screen also provides the ability to reset all settings to the factory default values.
         </p>

         <h2><tmpl_var _("webui", "backup_restore_the_backup_sub_header_text")></h2>
	<p>To create a backup file, enter the Admin password and click Download.</p>
         <h2><tmpl_var _("webui", "backup_restore_the_restore_sub_header_text")></h2>

	<p>To restore settings, enter the Admin password. Click Browse and select the file to be restored. Then click Restore now.</p>

         <h2><tmpl_var _("webui", "backup_restore_factory_restore_sub_header_text")></h2>
         <p>
                 Click the <strong>Restore Factory Defaults</strong> button to reset all settings to their factory default values. This causes a restart, and may change the current Wi-Fi settings, breaking all existing connections to this <tmpl_var _("webui", "webui_product_name")>, including this web browser session.
         </p>
</div>
 <!-- id="backup_restore" -->
