<!-- Backup and Restore -->
<div id="backup_restore">
         <h1><tmpl_var _("webui", "backup_restore_menu_text")></h1>

         <h2>Visão geral</h2>
         <p>Use este recurso para fazer backup (download) de uma cópia dos ajustes de configuração deste dispositivo para um arquivo no seu computador ou para restaurar (upload) um arquivo de configuração previamente salvo. Esse arquivo de configuração contém todas as configurações do dispositivo, do roteador e das funções do sistema. Ele não contém nenhuma configuração e nenhum dado do modem 4G. Observe que só é possível restaurar um arquivo no mesmo dispositivo de onde ele veio. </p>
         <p> Esta tela também oferece a capacidade de redefinir todas as configurações para os valores padronizados de fábrica. </p>

         <h2><tmpl_var _("webui", "backup_restore_the_backup_sub_header_text")></h2>
         <h3>Senha de administrador</h3>
         <p> Insira a senha de administrador atual do <tmpl_var _("webui", "webui_product_name")> neste campo. </p>
         <h3><tmpl_var _("webui", "backup_restore_backup_now_button")></h3>
         <p> Clique no botão de download para baixar uma cópia do arquivo de configuração atual no seu computador. Se o navegador solicitar que você salve o arquivo, você pode alterar o nome, se desejar. </p>

         <h2><tmpl_var _("webui", "backup_restore_the_restore_sub_header_text")></h2>

         <h3>Senha de administrador</h3>
         <p> Insira a senha de administrador atual do <tmpl_var _("webui", "webui_product_name")> neste campo. </p>
         <h3><tmpl_var truncate(_("webui", "backup_restore_file_select_label"), (size(_("webui", "backup_restore_file_select_label")) - size(":")))></h3>
         <p> Selecione o arquivo de configuração baixado anteriormente deste <tmpl_var _("webui", "webui_product_name")> para o seu computador. </p>
         <h3>Botão Restaurar agora</h3>
         <p>Depois de selecionar um arquivo de configuração, clique neste botão para iniciar o carregamento do arquivo. Depois de carregado, o arquivo de configuração é aplicado imediatamente e o dispositivo é reiniciado. </p>
         <p class="note">
                 <strong>Observação:</strong> O carregamento de um arquivo de configuração altera TODAS as configurações existentes para que correspondam ao arquivo de configuração. Isso pode alterar as configurações atuais de Wi-Fi, interromper todas as conexões existentes a este <tmpl_var _("webui", "webui_product_name")>, inclusive esta sessão de navegação. </p>

         <h2><tmpl_var _("webui", "backup_restore_factory_restore_sub_header_text")></h2>
         <p> Clique no botão <strong>Restaurar padrões de fábrica</strong> para redefinir todas as configurações para os valores padronizados de fábrica. Isso ocasiona uma reinicialização e pode alterar as configurações atuais de Wi-Fi, interromper todas as conexões existentes a este <tmpl_var _("webui", "webui_product_name")>, inclusive esta sessão de navegação. </p>
</div>
 <!-- id="backup_restore" -->
