<!-- Backup and Restore -->
<div id="backup_restore">
         <h1><tmpl_var _("webui", "backup_restore_menu_text")></h1>

         <h2>Descripción</h2>
         <p>Use esta función para hacer una copia de seguridad (descargar) una copia de la configuración de este <tmpl_var _("webui", "webui_product_name")> a un dispositivo de archivo a un archivo en su computadora, o para restaurar (cargar) un archivo de configuración guardado previamente. Este archivo de configuración contiene todas las configuraciones para el dispositivo, el enrutador y las funciones del sistema. No contiene ninguna configuración o datos para el módem 4G.
   <p>Nota: El archivo solo se puede restaurar al mismo Jetpack del que vino.</p>
         </p>

         <h2><tmpl_var _("webui", "backup_restore_the_backup_sub_header_text")></h2>
         <p>Para crear un archivo de copia de seguridad, ingrese la contraseña de Administrador y haga clic en Descargar.</p>

         <h2><tmpl_var _("webui", "backup_restore_the_restore_sub_header_text")></h2>
         <p>Para restaurar la configuración, ingrese la contraseña de Administrador. Haga clic en Examinar y seleccione el archivo a restaurar. Luego haga clic en Restaurar ahora.</p>

         <h2><tmpl_var _("webui", "backup_restore_factory_restore_sub_header_text")></h2>
         <p> Haga clic en el botón <strong>Restablecer la configuración de fábrica</strong> para restablecer todos los ajustes a sus valores predeterminados de fábrica. Esto provoca un reinicio y puede cambiar la configuración actual de Wi-Fi, interrumpiendo todas las conexiones existentes a este <tmpl_var _("webui", "webui_product_name")>, incluida esta sesión del explorador web. </p>
</div>
 <!-- id="backup_restore" -->
