<div id="inseego_connect">
	<h1><tmpl_var _("webui", "inseego_connect_help_title_text")></h1>

	<h2><tmpl_var _("webui", "inseego_connect_cloud_services_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_label")></h3>
	<p>Über diese EIN-/AUS-Steuerung können Sie die Funktion „Inseego Connect“ aktivieren oder deaktivieren.</p>

	<h2><tmpl_var _("webui", "inseego_connect_status_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_connection_state_label")></h3>
	<p>Dies ist ein Bericht, in dem die Verbindungen Ihrer Geräte mit dem Inseego Connect-Server aufgeführt werden. <br> Nach oben: Gerät kommuniziert mit Inseego Connect-Servern, <br> Nach unten: Gerät kommuniziert nicht mit Inseego Connect-Servern.<br></p>

	<h3><tmpl_var _("webui", "inseego_connect_last_reported_label")></h3>
	<p>Das entspricht der Zeit auf Ihrem Gerät, zu der es zuletzt ein Paket an die Inseego Connect-Server gesendet hat.</p>

	<h3><tmpl_var _("webui", "inseego_connect_interval_label")></h3>
	<p>Das ist das Intervall, in dem Ihr Gerät Pakete an den Inseego Connect-Server sendet.</p>ist das Intervall, in dem Ihr Gerät Pakete an den Inseego Connect-Server sendet.</p>
</div>

