<div id="inseego_connect">
	<h1><tmpl_var _("webui", "inseego_connect_help_title_text")></h1>

	<h2><tmpl_var _("webui", "inseego_connect_cloud_services_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_label")></h3>
	<p>استخدم عنصر التحكم ON/OFF (تشغيل/إيقاف تشغيل) لتشغيل ميزة Inseego connect أو إيقاف تشغيلها.</p>

	<h2><tmpl_var _("webui", "inseego_connect_status_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_connection_state_label")></h3>
	<p>هذا تقرير عن اتصال أجهزتك بخادم Inseego Connect. <br> لأعلى: يتصل الجهاز بخوادم Inseego Connect، <br> لأسفل: لا يتصل الجهاز بخوادم Inseego Connect.<br></p>

	<h3><tmpl_var _("webui", "inseego_connect_last_reported_label")></h3>
	<p>يساوي هذا الوقت على جهازك الذي تم إرساله فيه آخر حزمة في خوادم Inseego Connect.</p>

	<h3><tmpl_var _("webui", "inseego_connect_interval_label")></h3>
	<p>هذا هو الفاصل الزمني الذي يرسل جهازك على أساسه الحزم إلى خادم Inseego Connect.</p>هو الفاصل الزمني الذي سيرسل جهازك على أساسه الحزم إلى خادم Inseego Connect.</p>
</div>

