<Config>
 	<ZTPFunction>
 		<List>
 			<Name>LONGSHIP_ZTP_SEND_DEVICE_INFO</Name>
 			<Script>/opt/nvtl/etc/longship/ztp/zdevinfo.sh</Script>
 		</List>
 		<List>
 			<Name>LONGSHIP_ZTP_CHECK_INTERNET</Name>
 			<Script>/opt/nvtl/etc/longship/ztp/zinternet.sh</Script>
 		</List>
 		<List>
 			<Name>LONGSHIP_ZTP_START_HANDSHAKE</Name>
 			<Script>/opt/nvtl/etc/longship/ztp/zhandshake.sh</Script>
 		</List>
  		<List>
 			<Name>LONGSHIP_ZTP_KEY_SETUP</Name>
 			<Script>/opt/nvtl/etc/longship/ztp/zkeys.sh</Script>
 		</List>		
 		<List>
 			<Name>LONGSHIP_ZTP_USER_ADD</Name>
 			<Script>/opt/nvtl/etc/longship/ztp/zuser.sh</Script>
 		</List>
  		<List>
 			<Name>LONGSHIP_ZTP_USER_DELETE</Name>
 			<Script>/opt/nvtl/etc/longship/ztp/zuser.sh</Script>
 		</List>
  		<List>
 			<Name>LONGSHIP_ZTP_SSH_CRED</Name>
 			<Script>/opt/nvtl/etc/longship/ztp/zssh.sh</Script>
 		</List>
 		<List>
 			<Name>LONGSHIP_ZTP_SSH_START</Name>
 			<Script>/opt/nvtl/etc/longship/ztp/zssh.sh</Script>
 		</List>
 		<List>
 			<Name>LONGSHIP_ZTP_SSH_STOP</Name>
 			<Script>/opt/nvtl/etc/longship/ztp/zssh.sh</Script>
 		</List>
 		<List>
 			<Name>LONGSHIP_ZTP_START_ZABBIX</Name>
 			<Script>/opt/nvtl/etc/longship/ztp/zzabbix.sh</Script>
 		</List>
  		<List>
 			<Name>LONGSHIP_ZTP_STOP_ZABBIX</Name>
 			<Script>/opt/nvtl/etc/longship/ztp/zzabbix.sh</Script>
 		</List>
  		<List>
 			<Name>LONGSHIP_ZTP_WG_KEY_EXCHANGE</Name>
 			<Script>/opt/nvtl/etc/longship/ztp/zwg_exchange.sh</Script>
 		</List>
  		<List>
 			<Name>LONGSHIP_ZTP_WG_CONFIRM_HANDSHAKE</Name>
 			<Script>/opt/nvtl/etc/longship/ztp/zwg_confirm.sh</Script>
 		</List>
  		<List>
 			<Name>LONGSHIP_ZTP_REQ_DEF_TEMPLATE</Name>
 			<Script>/opt/nvtl/etc/longship/ztp/zreq_template.sh</Script>
 		</List>
   		<List>
 			<Name>LONGSHIP_ZTP_INSTALL_PKG</Name>
 			<Script>/opt/nvtl/etc/longship/ztp/zinstall_pkg.sh</Script>
 		</List>
   		<List>
 			<Name>LONGSHIP_ZTP_SEND_FW_REPORT</Name>
 			<Script>/opt/nvtl/etc/longship/ztp/zfw_report.sh</Script>
 		</List>
    	<List>
 			<Name>LONGSHIP_ZTP_BEGIN_NEW_SESSION</Name>
 			<Script>/opt/nvtl/etc/longship/ztp/zpkg_req.sh</Script>
 		</List> 		 		 		 		 		 				 		 		 						 		 		 		 				 		 		 		 				 		 		 						 		 		 		 		
 	</ZTPFunction>
 	<doFactoryResetAfterDelete>1</doFactoryResetAfterDelete>
 	<retryTimerOnCommError>60</retryTimerOnCommError>
 	<retryTimerOnStateTransition>10</retryTimerOnStateTransition>
 	<dataUsageMontorInterval>60</dataUsageMontorInterval> 	
 	<traceMARequestResp>1</traceMARequestResp>
</Config>
