<!-- Port Filtering -->
<div id="port_filtering">
	<h1>ترشيح المنفذ</h1>
	<h2>نظرة عامة</h2>
	<p>استخدم ميزة ترشيح المنفذ حسب الحاجة لحظر حركة مرور الإنترنت الصادرة. في حالة تشغيل هذا الإعداد، تستطيع حركة المرور الصادرة عن تطبيقات معينة فقط الوصول إلى الإنترنت. يتم تحديد حركة المرور من خلال أرقام المنفذ. بعض التطبيقات محددة مسبقًا. يمكنك تحديد تطبيقات إضافية، ولكنك بحاجة إلى معرفة تفاصيل حركة المرور المستخدمة والتي تم إنشاؤها بواسطة التطبيقات التي ترغب في تحديدها.</p>

	<h2>التطبيقات</h2>
	<h3>خانات اختيار التطبيق</h3>
	<p>استخدم خانات الاختيار هذه للسماح بالوصول إلى الإنترنت لكل تطبيق أثناء تشغيل ميزة "ترشيح المنفذ". يمكن لحركة المرور الصادرة عن تطبيقات معينة الوصول إلى الإنترنت. خلاف ذلك، يتم حظر حركة المرور.</p>
	<h2>تطبيقات مخصصة</h2>
	<p>تتيح لك هذه الميزة تحديد تطبيقاتك - حتى 10. بمجرد تحديد التطبيقات، يمكن تشغيل هذه التطبيقات وإيقاف تشغيلها بنفس طريقة التطبيقات المحددة مسبقًا. لتحديد تطبيق ما، تحتاج إلى معرفة المنافذ والبروتوكول (TCP، UDP) التي يستخدمها التطبيق لحركة المرور الصادرة. للبدء، انقر فوق الزر <strong>Add Custom Application (إضافة تطبيق مخصص)</strong> ثم قدم البيانات التالية.</p>
	<p>لاحظ أنه لا يتم حفظ أي تغييرات في تطبيق مخصص حتى يتم استخدام الزر Save Changes (حفظ التغييرات) لحفظ محتويات الصفحة بالكامل.</p>
	
	<h3>خانة اختيار التطبيق</h3>
	<p>استخدم خانة الاختيار هذه لتشغيل تطبيق بعد تحديده. في حالة التحديد، يمكن لحركة المرور الصادرة عن هذا التطبيق الوصول إلى الإنترنت. خلاف ذلك، يتم حظر حركة المرور.</p>
	<h3>اسم التطبيق</h3>
	<p>أدخل اسمًا مناسبًا للتطبيق الذي تحدده.</p>
	<h3>نطاق المنفذ (منفذ البدء / منفذ الانتهاء)</h3>
		<p>يحتوي كل تطبيق على نطاق منفذ خاص به. أدخل بداية ونهاية نطاق المنفذ لكل تطبيق.</p>
		<div class="blockgroup">
			<ul>
				<li>بالنسبة لمنفذ واحد، أدخل رقم المنفذ في كل من حقلي <strong>منفذ البدء</strong> و<strong>منفذ الانتهاء</strong>.</li>
				<li>بالنسبة إلى مجموعة منافذ، أدخل بداية النطاق في الحقل <strong>منفذ البدء</strong> ونهاية النطاق في الحقل <strong>منفذ الانتهاء</strong>.</li>
			</ul>
		</div>
	<h3>بروتوكول</h3>
	<p>لكل نطاق منفذ، حدد البروتوكول (TCP أو UDP) المستخدم بواسطة نطاق المنفذ هذا.</p>
	<h3>حذف</h3>
	<p>استخدم خانة الاختيار هذه لحذف تطبيق مخصص.</p>
</div>
<!-- id="port_filtering" -->
		
