<!-- Data Usage -->
<div id="data_usage">
	<h1><tmpl_var _("webui", "data_usage_menu_text")></h1>
	<h2>Descripción</h2>
	<p> Esta pantalla muestra una ilustración gráfica del consumo de datos de su plan de datos móviles, siempre que esa información de consumo de datos esté disponible. </p>
	<h2>Consumo de datos estimado</h2>
	<p> La pantalla varía de acuerdo con su plan, pero, por lo general, contiene la siguiente información. </p>
	<div class="blockgroup">
		<ul>
		<li>El consumo de datos estimado de su plan dentro del ciclo de facturación actual, hasta la fecha que se muestra. </li>
		<li>El tipo de plan y el límite de datos de su plan.</li>
		<li>Una representación gráfica del consumo de datos de su plan dentro del ciclo de facturación actual.</li>
		<li>La fecha de finalización del ciclo de facturación.</li>
		</ul>
	</div>
	<p>Para actualizar los datos que se muestran en la pantalla, use el botón "Actualizar".</p>
</div>

