<option value="20 MB"<tmpl_if IN_SET(dataUsagePlanLimit, "20 MB")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_limit_20mb_text")></option>
<option value="25 MB"<tmpl_if IN_SET(dataUsagePlanLimit, "25 MB")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_limit_25mb_text")></option>
<option value="100 MB"<tmpl_if IN_SET(dataUsagePlanLimit, "100 MB")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_limit_100mb_text")></option>
<option value="250 MB"<tmpl_if IN_SET(dataUsagePlanLimit, "250 MB")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_limit_250mb_text")></option>
<option value="500 MB"<tmpl_if IN_SET(dataUsagePlanLimit, "500 MB")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_limit_500mb_text")></option>
<option value="1 GB"<tmpl_if IN_SET(dataUsagePlanLimit, "1 GB")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_limit_1gb_text")></option>
<option value="2 GB"<tmpl_if IN_SET(dataUsagePlanLimit, "2 GB")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_limit_2gb_text")></option>
<option value="3 GB"<tmpl_if IN_SET(dataUsagePlanLimit, "3 GB")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_limit_3gb_text")></option>
<option value="5 GB"<tmpl_if IN_SET(dataUsagePlanLimit, "5 GB")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_limit_5gb_text")></option>
<option value="8 GB"<tmpl_if IN_SET(dataUsagePlanLimit, "8 GB")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_limit_8gb_text")></option>
<option value="10 GB"<tmpl_if IN_SET(dataUsagePlanLimit, "10 GB")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_limit_10gb_text")></option>
<option value="12 GB"<tmpl_if IN_SET(dataUsagePlanLimit, "12 GB")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_limit_12gb_text")></option>
<option value="15 GB"<tmpl_if IN_SET(dataUsagePlanLimit, "15 GB")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_limit_15gb_text")></option>
<option value="20 GB"<tmpl_if IN_SET(dataUsagePlanLimit, "20 GB")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_limit_20gb_text")></option>
<option value="0 GB"<tmpl_if IN_SET(dataUsagePlanLimit, "0 GB")> selected="selected"</tmpl_if>><tmpl_var _("webui", "data_usage_limit_none_text")></option>
