<option value="0"<tmpl_if IN_SET(WifiAdvanced2Dot4GChannel, 0)> selected="selected"</tmpl_if>><tmpl_var _("webui", "wifi_advanced_two_point_four_g_channel_automatic_text")></option>
<option value="1"<tmpl_if IN_SET(WifiAdvanced2Dot4GChannel, 1)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_numeric_one_text")></option>
<option value="2"<tmpl_if IN_SET(WifiAdvanced2Dot4GChannel, 2)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_numeric_two_text")></option>
<option value="3"<tmpl_if IN_SET(WifiAdvanced2Dot4GChannel, 3)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_numeric_three_text")></option>
<option value="4"<tmpl_if IN_SET(WifiAdvanced2Dot4GChannel, 4)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_numeric_four_text")></option>
<option value="5"<tmpl_if IN_SET(WifiAdvanced2Dot4GChannel, 5)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_numeric_five_text")></option>
<option value="6"<tmpl_if IN_SET(WifiAdvanced2Dot4GChannel, 6)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_numeric_six_text")></option>
<option value="7"<tmpl_if IN_SET(WifiAdvanced2Dot4GChannel, 7)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_numeric_seven_text")></option>
<option value="8"<tmpl_if IN_SET(WifiAdvanced2Dot4GChannel, 8)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_numeric_eight_text")></option>
<option value="9"<tmpl_if IN_SET(WifiAdvanced2Dot4GChannel, 9)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_numeric_nine_text")></option>
<option value="10"<tmpl_if IN_SET(WifiAdvanced2Dot4GChannel, 10)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_numeric_one_text")><tmpl_var _("webui", "webui_numeric_zero_text")></option>
<option value="11"<tmpl_if IN_SET(WifiAdvanced2Dot4GChannel, 11)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_numeric_one_text")><tmpl_var _("webui", "webui_numeric_one_text")></option>

