<option value="0"<tmpl_if IN_SET(WifiAdvanced5GChannel, 0)> selected="selected"</tmpl_if>><tmpl_var _("webui", "wifi_advanced_five_g_channel_automatic_text")></option>
<option value="36"<tmpl_if IN_SET(WifiAdvanced5GChannel, 36)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_numeric_three_text")><tmpl_var _("webui", "webui_numeric_six_text")></option>
<option value="40"<tmpl_if IN_SET(WifiAdvanced5GChannel, 40)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_numeric_four_text")><tmpl_var _("webui", "webui_numeric_zero_text")></option>
<option value="44"<tmpl_if IN_SET(WifiAdvanced5GChannel, 44)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_numeric_four_text")><tmpl_var _("webui", "webui_numeric_four_text")></option>
<option value="48"<tmpl_if IN_SET(WifiAdvanced5GChannel, 48)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_numeric_four_text")><tmpl_var _("webui", "webui_numeric_eight_text")></option>
<option value="149"<tmpl_if IN_SET(WifiAdvanced5GChannel, 149)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_numeric_one_text")><tmpl_var _("webui", "webui_numeric_four_text")><tmpl_var _("webui", "webui_numeric_nine_text")></option>
<option value="153"<tmpl_if IN_SET(WifiAdvanced5GChannel, 153)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_numeric_one_text")><tmpl_var _("webui", "webui_numeric_five_text")><tmpl_var _("webui", "webui_numeric_three_text")></option>
<option value="157"<tmpl_if IN_SET(WifiAdvanced5GChannel, 157)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_numeric_one_text")><tmpl_var _("webui", "webui_numeric_five_text")><tmpl_var _("webui", "webui_numeric_seven_text")></option>
<option value="161"<tmpl_if IN_SET(WifiAdvanced5GChannel, 161)> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_numeric_one_text")><tmpl_var _("webui", "webui_numeric_six_text")><tmpl_var _("webui", "webui_numeric_one_text")></option>
