<!-- WiFi Advanced -->
<div id="wifi_advanced">
	<h1>Wi-Fi</h1>
	<h2>Descripción</h2>
	<p> Normalmente, estas configuraciones de Wi-Fi se pueden dejar en sus valores predeterminados, pero pueden adaptarse, de ser necesario, para que se ajusten a su entorno en particular. </p>

	<h2>Encendido/apagado de Wi-Fi</h2>
	<p> Use el interruptor “Permitir que los dispositivos se conecten a este <tmpl_var _("webui", "webui_product_name")> para encender y apagar el Wi-Fi. Esto afectará tanto a la red Wi-Fi Principal como a la de Invitados. </p>

	<p>Cuando está apagado, la única forma de conectarse al <tmpl_var _("webui", "webui_product_name")> es mediante un cable USB.</p>

	<h3>Permitir que se hagan cambios de parámetros de Wi-Fi desde la pantalla de Jetpack</h3>
	<p> Si está apagado, los usuarios no podrán cambiar la configuración de Wi-Fi en la pantalla táctil del <tmpl_var _("webui", "webui_product_name")>. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_max_connections_label")></h3>
	<p> Establezca cuántos dispositivos pueden conectarse a las redes Wi-Fi del <tmpl_var _("webui", "webui_product_name")>. </p>
	
	<h2><tmpl_var _("webui", "wifi_advanced_profile_title")></h2>
	<p> Utilice estos ajustes para asignar las bandas (2.4 GHz y 5 GHz) a la red Principal o de Invitados, o para desactivar la banda. </p>

	<p> Para activar la red de Invitados, se le debe asignar al menos una banda. </p>

	<p> La banda de 2.4 GHz es compatible con todos los dispositivos Wi-Fi y debe usarse si usted tiene dispositivos que tienen algunos años o que sean aún más antiguos. Esta banda atraviesa mejor las paredes, por lo que puede tener un alcance mayor.</p>
	
	<p> Use la banda de 5 GHz si tiene dispositivos más nuevos para un mejor rendimiento y para reducir la interferencia. </p>
	
	<h2><tmpl_var _("webui", "wifi_advanced_two_point_four_g_band_options_title")></h2>
	<p> Estas configuraciones se usan cada vez que la banda de 2.4 GHz está activa. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_802_11_mode_label")></h3>
	<p> Use esta configuración para cambiar el modo de Wi-Fi, si es necesario. Por lo general, se deja esta configuración en su valor predeterminado. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_channel_label")></h3>
	<p> Debe dejarse en <strong>Automático</strong>, a menos que deba seleccionar un canal en particular para su entorno. </p>

	<h2><tmpl_var _("webui", "wifi_advanced_five_g_options_title")></h2>
	<p> Estas configuraciones se usan cada vez que la banda de 5 GHz está activa. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_g_802_11_mode_label")></h3>
	<p> Use esta configuración para cambiar el modo de Wi-Fi, si es necesario. Generalmente, no hay ningún motivo para cambiar este valor predeterminado. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_g_bandwidth_label")></h3>
	<p> Seleccione la opción deseada. Se debe usar el valor predeterminado a menos que experimente interferencia con otros dispositivos de Wi-Fi. En ese caso, la reducción del ancho de banda puede reducir la interferencia. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_g_channel_label")></h3>
	<p> Debe dejarse en <strong>Automático</strong>, a menos que deba seleccionar un canal en particular para su entorno. </p>

</div>

<!-- id="wifi_advanced" -->

