<!-- WiFi Advanced -->
<div id="wifi_advanced">
	<h1>Wi-Fi</h1>
	<h2>Overview</h2>
	<p>
	Normally these Wi-Fi settings can be left at their default values, but if necessary, you can adjust them to suit your particular environment.
	</p>
	<h2>Turning Wi-Fi On/Off</h2>
	<p>
	Use the “Allow devices to connect to this <tmpl_var _("webui", "webui_product_name")>” switch to turn Wi-Fi on and off. This will affect both the primary and guest Wi-Fi networks.</p>
 
	<p>When off, the only way to connect to the <tmpl_var _("webui", "webui_product_name")> will be via USB cable.</p> 
	</p>
	<h3>Allow Wi-Fi setting changes to be made from the Jetpack screen</h3>
	<p>
	If off, users will not be able to change Wi-Fi settings on the <tmpl_var _("webui", "webui_product_name_with_suffix")> touchscreen.
	</p>

	<h3><tmpl_var _("webui", "wifi_advanced_max_connections_label")></h3>
	<p>
	Set how many devices can connect to the <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi network(s).
	</p>

	<h2><tmpl_var _("webui", "wifi_advanced_profile_title")></h2>
	<p>Use these settings to assign the bands (2.4 GHz and 5 GHz) to the Primary or Guest network or to turn the band off. </p>

	<p>To turn the Guest network on, it must be assigned at least one band.</p>
	
	<p>The 2.4 GHz band is supported by all Wi-Fi devices and should be used if you have devices that are a few years old or older. This band passes through walls better, so it may have a longer range.</p>
	
	<p>Use the 5 GHz band if you have newer devices for better throughput and to reduce interference. </p>

	<h2><tmpl_var _("webui", "wifi_advanced_two_point_four_g_band_options_title")></h2>
	<p>
	These settings are used whenever the 2.4 GHz band is active. 
	</p>

	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_802_11_mode_label")></h3>
	<p>
	Use this setting to change the Wi-Fi mode, if required. 
	Usually you leave this setting at its default value.
	</p>

	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_channel_label")></h3>
	<p>
	This should be left on <strong>Automatic</strong> unless you need to choose a particular channel for your environment.
	</p>

	<h2><tmpl_var _("webui", "wifi_advanced_five_g_options_title")></h2>
	<p>
	These settings are used whenever the 5 GHz band is active.
	</p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_g_802_11_mode_label")></h3>
	<p>
	Use this setting to change the Wi-Fi mode, if required. 
	Generally, there is no reason to change the default value.
	</p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_g_bandwidth_label")></h3>
	<p>
	Select the desired option. The default value should be used unless you experience interference with other Wi-Fi devices. In that case, reducing the bandwidth may reduce the interference.
	</p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_g_channel_label")></h3>
	<p>
	This should be left on <strong>Automatic</strong> unless you need to choose a particular channel for your environment.
	</p>

</div>

<!-- id="wifi_advanced" -->

