<!-- WiFi Advanced -->
<div id="wifi_advanced">
	<h1>Wi-Fi</h1>
	<h2>Vue d'ensemble</h2>
	<p> En règle générale, ces réglages Wi-Fi peuvent conserver leurs valeurs par défaut, mais ils peuvent être modifiés si nécessaire, selon votre environnement particulier. </p>

	<h2>Commande d'activation/de désactivation du Wi-Fi</h2>
	<p> Utilisez cette commande pour activer/désactiver le Wi-Fi en fonction des besoins. S'il est désactivé, le réseau Wi-Fi du MiFi ne sera pas accessible. Le seul moyen de se connecter au MiFi sera donc d'utiliser un câble USB. </p>
	
	<h2><tmpl_var _("webui", "wifi_advanced_profile_title")></h2>
	<p> Ce réglage détermine comment chaque bande (2,4 GHz et 5 GHz) est utilisée et si le réseau Wi-Fi invité est disponible. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_ghz_band_label")></h3>
	<p> Sélectionnez l'option souhaitée pour appliquer cette bande au réseau primaire ou invité, ou pour désactiver cette bande. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_ghz_band_label")></h3>
	<p> Sélectionnez l'option souhaitée pour appliquer cette bande au réseau primaire ou invité, ou pour désactiver cette bande. Notez que vous ne pouvez pas désactiver les deux bandes. </p>

	<h2><tmpl_var _("webui", "wifi_advanced_settings_title")></h2>
	
	<h3><tmpl_var _("webui", "wifi_advanced_max_connections_label")></h3>
	<p> Précisez combien d'appareils peuvent se connecter simultanément au(x) réseau(x) Wi-Fi du MiFi. </p>

	<h2><tmpl_var _("webui", "wifi_advanced_two_point_four_g_band_options_title")></h2>
	<p> Ces réglages sont masqués par défaut, mais vous pouvez cliquer sur l'entête/le lien pour les rendre visibles. Ces réglages sont utilisés à chaque fois que la bande 2,4 GHz est active. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_802_11_mode_label")></h3>
	<p> Utilisez ce réglage pour modifier le mode Wi-Fi, si nécessaire. En règle générale, vous conserverez le réglage par défaut. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_channel_label")></h3>
	<p> Cette option doit être laissée sur <strong>Automatique</strong> à moins que vous choisissiez un canal particulier pour votre environnement. </p>

	<h2><tmpl_var _("webui", "wifi_advanced_five_g_802_11_mode_label")></h2>
	<p> Ces réglages sont masqués par défaut, mais vous pouvez cliquer sur l'entête/le lien pour les rendre visibles. Ces réglages sont utilisés à chaque fois que la bande 5 GHz est active. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_g_802_11_mode_label")></h3>
	<p> Utilisez ce réglage pour modifier le mode Wi-Fi, si nécessaire. Généralement, il n'y a aucune raison de modifier la valeur par défaut. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_g_bandwidth_label")></h3>
	<p> Sélectionnez l'option souhaitée. La valeur par défaut doit être utilisée, à moins que des interférences ne se produisent avec d'autres appareils Wi-Fi. Dans ce cas, la réduction de la largeur de bande pourrait réduire les interférences. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_g_channel_label")></h3>
	<p> Cette option doit être laissée sur <strong>Automatique</strong> à moins que vous choisissiez un canal particulier pour votre environnement. </p>

</div>

<!-- id="wifi_advanced" -->

