<!-- WiFi Advanced -->
<div id="wifi_advanced">
	<h1>Wi-Fi</h1>
	<h2>Visão geral</h2>
	<p> No geral, os valores padrão dessas configurações de Wi-Fi podem ser mantidos, mas podem ser alterados, se necessário, para se adequar ao seu ambiente em particular. </p>

	<h2>Controle Liga/Desliga do Wi-Fi</h2>
	<p> Use este controle para ativar ou desativar o Wi-Fi conforme necessidade. Se desativada, a rede Wi-Fi do <tmpl_var _("webui", "webui_product_name_with_suffix")> não estará disponível; assim, a única forma de se conectar ao <tmpl_var _("webui", "webui_product_name")> será através de um cabo USB. </p>
	
	<h2><tmpl_var _("webui", "wifi_advanced_profile_title")></h2>
	<p> Essa configuração define como cada uma das bandas (2,4 GHz e 5 GHz) será utilizada e define se a rede Wi-Fi de convidados estará disponível. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_ghz_band_label")></h3>
	<p> Selecione a opção desejada para aplicar essa banda à rede primária, à rede de convidados ou para desligar essa banda. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_ghz_band_label")></h3>
	<p> Selecione a opção desejada para aplicar essa banda à rede primária, à rede de convidados ou para desligar essa banda. Veja que não é possível desligar ambas as bandas. </p>

	<h2><tmpl_var _("webui", "wifi_advanced_settings_title")></h2>
	
	<h3><tmpl_var _("webui", "wifi_advanced_max_connections_label")></h3>
	<p> Defina quantos dispositivos podem se conectar simultaneamente à(s) rede(s) Wi-Fi do <tmpl_var _("webui", "webui_product_name_with_suffix")>. </p>

	<h2><tmpl_var _("webui", "wifi_advanced_two_point_four_g_band_options_title")></h2>
	<p> Essas configurações estão ocultas por padrão, mas você pode clicar no título/link para que fiquem visíveis. Essas configurações são utilizadas sempre que a banda de 2,4 GHz estiver ativa. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_802_11_mode_label")></h3>
	<p> Use essa configuração para alterar o modo Wi-Fi, se necessário. Normalmente, você deve deixar essa configuração no seu valor predefinido. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_channel_label")></h3>
	<p> Ele deve ser deixado no <strong>Automático</strong>, a menos que você precise escolher um canal particular para o seu ambiente. </p>

	<h2><tmpl_var _("webui", "wifi_advanced_five_g_options_title")></h2>
	<p> Essas configurações estão ocultas por padrão, mas você pode clicar no título/link para que fiquem visíveis. Essas configurações são utilizadas sempre que a banda de 5 GHz estiver ativa. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_g_802_11_mode_label")></h3>
	<p> Use essa configuração para alterar o modo Wi-Fi, se necessário. No geral, não há motivos para alterar o valor predefinido. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_g_bandwidth_label")></h3>
	<p> Selecione a opção desejada. O valor padrão deve ser usado a menos que haja interferências com outros dispositivos Wi-Fi. Nesse caso, a diminuição da largura de banda pode reduzir a interferência. </p>

	<h3><tmpl_var _("webui", "wifi_advanced_five_g_channel_label")></h3>
	<p> Ele deve ser deixado no <strong>Automático</strong>, a menos que você precise escolher um canal particular para o seu ambiente. </p>

</div>

<!-- id="wifi_advanced" -->

