<Config>
	<IntlEriList>1 2 3 4</IntlEriList>
	<FactoryReset>
		<Enable>0</Enable>
	</FactoryReset>
	<WorldModeSupported>1</WorldModeSupported>
	<APNValidation>1</APNValidation>
	<Support3GPP2>0</Support3GPP2>
	<ProfileMap>
		<CarrierConfig>
			<Carrier>1</Carrier>     <!-- CARRIER_ID_VERIZON  -->
			<Profiles>
				<Info>
					<Tech>0</Tech>                 <!-- LTE, LTE CA  -->
					<APNAttach>1</APNAttach>
					<APNIMS>1</APNIMS>
					<APNDM>2</APNDM>
					<APNInternet>3</APNInternet>
					<APNApps>4</APNApps>
					<APN800>5</APN800>
				</Info>
				<Info>
					<Tech>1</Tech>                 <!-- UMTS 3G  -->
					<APNAttach>-1</APNAttach>
					<APNIMS>1</APNIMS>
					<APNDM>2</APNDM>
					<APNInternet>3</APNInternet>
					<APNApps>4</APNApps>
					<APN800>5</APN800>
				</Info>
				<Info>
					<Tech>2</Tech>                 <!-- CDMA EVDO-eHRPD  -->
					<APNAttach>-1</APNAttach>
					<APNIMS>-1</APNIMS>
					<APNDM>-1</APNDM>
					<APNInternet>-1</APNInternet>
					<APNApps>-1</APNApps>
					<APN800>-1</APN800>
				</Info>
			</Profiles>
		</CarrierConfig>
		<CarrierConfig>
			<Carrier>2</Carrier>     <!-- CARRIER_ID_ATT  -->
			<Profiles>
				<Info>
					<Tech>0</Tech>                 <!-- LTE, LTE CA  -->
					<APNAttach>1</APNAttach>
					<APNIMS>-1</APNIMS>
					<APNDM>-1</APNDM>
					<APNInternet>1</APNInternet>
					<APNApps>-1</APNApps>
					<APN800>-1</APN800>
				</Info>
				<Info>
					<Tech>1</Tech>                 <!-- UMTS 3G  -->
					<APNAttach>-1</APNAttach>
					<APNIMS>-1</APNIMS>
					<APNDM>-1</APNDM>
					<APNInternet>1</APNInternet>
					<APNApps>-1</APNApps>
					<APN800>-1</APN800>
				</Info>
				<Info>
					<Tech>2</Tech>                 <!-- CDMA EVDO-eHRPD  -->
					<APNAttach>-1</APNAttach>
					<APNIMS>-1</APNIMS>
					<APNDM>-1</APNDM>
					<APNInternet>-1</APNInternet>
					<APNApps>-1</APNApps>
					<APN800>-1</APN800>
				</Info>
			</Profiles>
		</CarrierConfig>
		<CarrierConfig>
			<Carrier>3</Carrier>     <!-- CARRIER_ID_STRINT  -->
			<Profiles>
				<Info>
					<Tech>0</Tech>                 <!-- LTE, LTE CA  -->
					<APNAttach>1</APNAttach>
					<APNIMS>1</APNIMS>
					<APNDM>2</APNDM>
					<APNInternet>1</APNInternet>
					<APNApps>-1</APNApps>
					<APN800>-1</APN800>
				</Info>
				<Info>
					<Tech>1</Tech>                 <!-- UMTS 3G  -->
					<APNAttach>-1</APNAttach>
					<APNIMS>1</APNIMS>
					<APNDM>2</APNDM>
					<APNInternet>1</APNInternet>
					<APNApps>-1</APNApps>
					<APN800>-1</APN800>
				</Info>
				<Info>
					<Tech>2</Tech>                 <!-- CDMA EVDO-eHRPD  -->
					<APNAttach>-1</APNAttach>
					<APNIMS>-1</APNIMS>
					<APNDM>-1</APNDM>
					<APNInternet>-1</APNInternet>
					<APNApps>-1</APNApps>
					<APN800>-1</APN800>
				</Info>
			</Profiles>
		</CarrierConfig>
		<CarrierConfig>
			<Carrier>4</Carrier>     <!-- CARRIER_ID_BELL  -->
			<Profiles>
				<Info>
					<Tech>0</Tech>                 <!-- LTE, LTE CA  -->
					<APNAttach>1</APNAttach>
					<APNIMS>-1</APNIMS>
					<APNDM>2</APNDM>
					<APNInternet>1</APNInternet>
					<APNApps>-1</APNApps>
					<APN800>-1</APN800>
				</Info>
				<Info>
					<Tech>1</Tech>                 <!-- UMTS 3G  -->
					<APNAttach>-1</APNAttach>
					<APNIMS>-1</APNIMS>
					<APNDM>2</APNDM>
					<APNInternet>1</APNInternet>
					<APNApps>-1</APNApps>
					<APN800>-1</APN800>
				</Info>
				<Info>
					<Tech>2</Tech>                 <!-- CDMA EVDO-eHRPD  -->
					<APNAttach>-1</APNAttach>
					<APNIMS>-1</APNIMS>
					<APNDM>-1</APNDM>
					<APNInternet>-1</APNInternet>
					<APNApps>-1</APNApps>
					<APN800>-1</APN800>
				</Info>
			</Profiles>
		</CarrierConfig>
		<CarrierConfig>
			<Carrier>5</Carrier>     <!-- CARRIER_ID_TELUS -->
			<Profiles>
				<Info>
					<Tech>0</Tech>                 <!-- LTE, LTE CA  -->
					<APNAttach>1</APNAttach>
					<APNIMS>-1</APNIMS>
					<APNDM>2</APNDM>
					<APNInternet>1</APNInternet>
					<APNApps>-1</APNApps>
					<APN800>-1</APN800>
				</Info>
				<Info>
					<Tech>1</Tech>                 <!-- UMTS 3G  -->
					<APNAttach>-1</APNAttach>
					<APNIMS>-1</APNIMS>
					<APNDM>2</APNDM>
					<APNInternet>1</APNInternet>
					<APNApps>-1</APNApps>
					<APN800>-1</APN800>
				</Info>
				<Info>
					<Tech>2</Tech>                 <!-- CDMA EVDO-eHRPD  -->
					<APNAttach>-1</APNAttach>
					<APNIMS>-1</APNIMS>
					<APNDM>-1</APNDM>
					<APNInternet>-1</APNInternet>
					<APNApps>-1</APNApps>
					<APN800>-1</APN800>
				</Info>
			</Profiles>
		</CarrierConfig>
		<CarrierConfig>
			<Carrier>7</Carrier>     <!-- CARRIER_ID_AUTOAPN LAST in LIST  -->
			<Profiles>
				<Info>
					<Tech>0</Tech>                 <!-- LTE, LTE CA  -->
					<APNAttach>1</APNAttach>
					<APNIMS>1</APNIMS>
					<APNDM>-1</APNDM>
					<APNInternet>1</APNInternet>
					<APNApps>-1</APNApps>
					<APN800>-1</APN800>
				</Info>
				<Info>
					<Tech>1</Tech>                 <!-- UMTS 3G  -->
					<APNAttach>1</APNAttach>
					<APNIMS>1</APNIMS>
					<APNDM>-1</APNDM>
					<APNInternet>1</APNInternet>
					<APNApps>-1</APNApps>
					<APN800>-1</APN800>
				</Info>
				<Info>
					<Tech>2</Tech>                 <!-- CDMA EVDO-eHRPD  -->
					<APNAttach>-1</APNAttach>
					<APNIMS>-1</APNIMS>
					<APNDM>-1</APNDM>
					<APNInternet>-1</APNInternet>
					<APNApps>-1</APNApps>
					<APN800>-1</APN800>
				</Info>
			</Profiles>
		</CarrierConfig>
	</ProfileMap>
	<SimCarrierMap>
		<Carrier id="1" iccid="891480">
			<Network mcc="311" mnc="480"/>
			<Network mcc="311" mnc="800"/>
		</Carrier>
		<Carrier id="2" iccid="89302610">
			<Network mcc="302" mnc="610"/>
			<Network mcc="302" mnc="651"/>
			<Network mcc="302" mnc="780"/>
			<Network mcc="204" mnc="04"/>
		</Carrier>
		<Carrier id="3" iccid="8901260">
			<Network mcc="310" mnc="260"/>
		</Carrier>
		<Carrier id="4" iccid="8901410">
			<Network mcc="310" mnc="410"/>
		</Carrier>
		<Carrier id="5" iccid="891223">
			<Network mcc="302" mnc="220"/>
			<Network mcc="302" mnc="880"/>
		</Carrier>
	</SimCarrierMap>
	<LTEFemtoCellMap>
		<Carrier id="1" min="1024000" max="1048575" />
	</LTEFemtoCellMap>
	<CustomNetworkNameRules>
		<Enable>0</Enable>
		<Home>Home</Home>
		<Roam>Roam</Roam>
	</CustomNetworkNameRules>
	<CallThrottlingMap>
		<EndReason>33</EndReason>  <!-- option unsubscribed/bad APN string -->
		<EndReason>208</EndReason> <!-- Ipv4 call disallowed -->
		<EndReason>209</EndReason> <!-- Ipv4 throttled -->
		<EndReason>210</EndReason> <!-- Ipv6 call disallowed -->
		<EndReason>211</EndReason> <!-- Ipv6 throttled -->
		<EndReason>214</EndReason> <!-- Unpreferred RAT -->
	</CallThrottlingMap>
</Config>
