<!-- Change Admin Password  -->
<div id="set_passcode">
	<h1>Admin Password</h1>
	<h2>Overview</h2>
	<p>
        	The Admin password is used to sign in to this Admin website. By default, the password is the same as the Primary network’s default password.
	</p>
	<p>
			You can manage the Admin password from the  Admin Settings screen. From the dropdown menu in the upper-right corner of the Admin website, select Admin Settings.
	</p>


	<h2>Hiding the Admin Password on the <tmpl_var _("webui", "webui_product_name")> Touchscreen </h2>
	<p>	
			For added security, you hide the Admin password so it’s not visible on the <tmpl_var _("webui", "webui_product_name")>.  From the Admin Settings screen, turn the switch off.
	</p>

	<h2>Changing the <tmpl_var _("webui", "webui_product_name")> Admin Password</h2>
	<p>
        	To change the Admin password, start by entering the current password on the Admin Settings screen. Then click Continue.
	</p>
	<p>
			On the next screen, enter the current password again. Then enter and confirm the new password.
	</p>
	<p>
			Select a security question and enter the answer. You’ll need this if you forget the password.
	</p>
	<p>
			When you’re done, save your changes.
	</p>	
	

</div>
<!-- id="set_passcode" -->

