<!-- Change Admin Password  -->
<div id="set_passcode">
	<h1><tmpl_udf GET_PO_TEXT("set_passcode_menu_text", gProductName)></h1>
	<h2>Descripción</h2>
	<p>
        	La contraseña de Administrador se utiliza para iniciar sesión en este sitio web de Administrador. De manera predeterminada, la contraseña es la misma que la contraseña predeterminada de la red Principal.
	</p>
	<p>
			Puede administrar la contraseña de Administrador desde la pantalla Configuración de Administrador. En el menú desplegable en la esquina superior derecha del sitio web de Administrador, seleccione Configuración de Administrador.
	</p>


	<h2>Ocultar la contraseña de Administrador en la pantalla táctil de Jetpack </h2>
	<p>	
			Para mayor seguridad, oculte la contraseña de Administrador para que no esté visible en el Jetpack. Desde la pantalla Configuración de Administrador, apague el interruptor.
	</p>

	<h2>Cambiar la contraseña de Administrador de Jetpack</h2>
	<p>
        	Para cambiar la contraseña de Administrador, comience ingresando la contraseña actual en la pantalla Configuración de Administrador. Luego haga clic en Continuar.
	</p>
	<p>
			En la siguiente pantalla, ingrese nuevamente la contraseña actual. Luego ingrese y confirme la contraseña nueva.
	</p>
	<p>
			Seleccione una pregunta de seguridad e ingrese la respuesta. Necesitará esto si olvida la contraseña.
	</p>
	<p>
			Cuando haya terminado, guarde sus cambios.
	</p>


</div>
<!-- id="set_passcode" -->

