<!-- Manual DNS -->
<div id="adv_manual_dns">
	<h1><tmpl_var _("webui", "adv_manual_dns_menu_text")></h1>
	<p> Normalmente, la dirección del Servidor de nombres de dominio (DNS, por sus siglas en inglés) se proporciona automáticamente, pero puede especificar manualmente una dirección de DNS si es necesario. </p>

	<p> Después de activar el DNS manual, ingrese la dirección de IP del DNS 1. También puede ingresar la dirección de IP del DNS 2 como respaldo. </p>

</div>
<!-- id="adv_manual_dns" -->
