<!-- Manual DNS -->
<div id="manual_dns">
	<h1><tmpl_var _("webui", "adv_manual_dns_menu_text")></h1>
	
<p>Normally, the Domain Name Server (DNS) address is provided automatically, but you can manually specify a DNS address if necessary.</p>

<p>After you turn on Manual DNS, enter the DNS 1 IP address. You can also enter the DNS 2 IP address as a backup.</p>
</div>
<!-- id="manual_dns" -->
