<!-- Login -->
<div id="login">
	<h1><tmpl_var _("webui", "webui_product_name")> Connexion au MiFi <tmpl_var _("webui", "webui_product_number")></h1>
	<p> Saisissez le mot de passe Administrateur du <tmpl_var _("webui", "webui_product_name")> pour continuer. </p>
	<tmpl_if showForgotPassword>
	<p> Si vous ne connaissez pas le mot de passe, cliquez sur l'option <strong>J'ai oublié le mot de passe Administrateur</strong>. </p>
	</tmpl_if>
	<p>Si vous entrez trop de mots de passe erronés, votre accès sera verrouillé. Pour déverrouiller votre accès, vous devez redémarrer le <tmpl_var _("webui", "webui_product_name")>. </p>
</div>
<!-- id="login" -->
