<!-- Backup and Restore -->
<div id="backup_restore">
         <h1><tmpl_var _("webui", "backup_restore_menu_text")></h1>

         <h2>Descripción</h2>
         <p>Use esta función para realizar (descargar) una copia de respaldo de los ajustes de configuración desde este dispositivo a un archivo en su computadora, o restaurar (cargar) un archivo de configuración guardado anteriormente. Este archivo de configuración contiene todos los ajustes del dispositivo, del enrutador y de las funciones del sistema. No contiene configuraciones ni datos para el módem 4G. Observe que solo puede restaurar un archivo al mismo dispositivo del que provino. </p>
         <p> Esta pantalla también ofrece la posibilidad de restablecer toda la configuración a los valores predeterminados de fábrica. </p>

         <h2><tmpl_var _("webui", "backup_restore_the_backup_sub_header_text")></h2>
         <h3>Contraseña de administrador</h3>
         <p> Ingrese la contraseña de administrador <tmpl_var _("webui", "webui_product_name")> actual en este campo. </p>
         <h3><tmpl_var _("webui", "backup_restore_backup_now_button")></h3>
         <p> Haga clic en el botón Descargar para descargar una copia del archivo de configuración actual a su computadora. Si su explorador indica que guarde el archivo, puede cambiar el nombre si lo desea. </p>

         <h2><tmpl_var _("webui", "backup_restore_the_restore_sub_header_text")></h2>

         <h3>Contraseña de administrador</h3>
         <p> Ingrese la contraseña de administrador <tmpl_var _("webui", "webui_product_name")> actual en este campo. </p>
         <h3><tmpl_var truncate(_("webui", "backup_restore_file_select_label"), (size(_("webui", "backup_restore_file_select_label")) - size(":")))></h3>
         <p> Seleccione el archivo de configuración que descargó anteriormente de este <tmpl_var _("webui", "webui_product_name")> a su computadora. </p>
         <h3>Botón Restablecer ahora</h3>
         <p>Después de seleccionar un archivo de configuración, haga clic en este botón para comenzar la carga del archivo. Después de cargarlo, el archivo de configuración se aplica de inmediato, y este dispositivo se reinicia. </p>
         <p class="note">
                 <strong>Nota:</strong> Al cargar un archivo de configuración se cambian TODOS los ajustes existentes para que coincidan con el archivo de configuración. Todas las conexiones existentes se romperán con este <tmpl_var _("webui", "webui_product_name")>, incluida esta sesión del explorador web. </p>

         <h2><tmpl_var _("webui", "backup_restore_factory_restore_sub_header_text")></h2>
         <p> Haga clic en el botón <strong>Restablecer la configuración de fábrica</strong> para restablecer todos los ajustes a sus valores predeterminados de fábrica. Esto provoca un reinicio, rompiendo todas las conexiones existentes a este <tmpl_var _("webui", "webui_product_name")>, incluida esta sesión del explorador web. </p>
</div>
 <!-- id="backup_restore" -->
