<option value="<tmpl_var preferredTechnologyAuto>"<tmpl_if IN_SET(NetworkTechnology, preferredTechnologyAuto)> selected="selected"</tmpl_if> ><tmpl_var _("webui", "lab_test_info_technology_global_text")></option> <!-- Global -->
<option value="<tmpl_var preferredTechnologyLTECDMA>"<tmpl_if IN_SET(NetworkTechnology, preferredTechnologyLTECDMA)> selected="selected"</tmpl_if> ><tmpl_var _("webui", "lab_test_info_technology_lte_cdma_text")></option> <!-- LTE/CDMA -->
<option value="<tmpl_var preferredTechnologyLTEGSMUMTSHSPA>"<tmpl_if IN_SET(NetworkTechnology, preferredTechnologyLTEGSMUMTSHSPA)> selected="selected"</tmpl_if> ><tmpl_var _("webui", "lab_test_info_technology_lte_gsm_umts_hspa_text")></option> <!-- LTE/GSM/UMTS/HSPA -->
<option value="<tmpl_var preferredTechnologyLTEOnly>"<tmpl_if IN_SET(NetworkTechnology, preferredTechnologyLTEOnly)> selected="selected"</tmpl_if> ><tmpl_var _("webui", "lab_test_info_technology_lte_only_text")></option> <!-- LTE only -->
<option value="<tmpl_var preferredTechnologyGSMUMTSHSPAOnly>"<tmpl_if IN_SET(NetworkTechnology, preferredTechnologyGSMUMTSHSPAOnly)> selected="selected"</tmpl_if> ><tmpl_var _("webui", "lab_test_info_technology_gsm_umts_hspa_only_text")></option> <!-- GSM/UMTS/HSPA only -->
<option value="<tmpl_var preferredTechnologyCDMAOnly>"<tmpl_if IN_SET(NetworkTechnology, preferredTechnologyCDMAOnly)> selected="selected"</tmpl_if> ><tmpl_var _("webui", "lab_test_info_technology_cdma_only_text")></option> <!-- CDMA only -->
