<!-- adv_mns -->
<div id="adv_mns">
	<h1>Selección manual de la red</h1>
	<h2>Descripción</h2>
	<p> Su Nuestro Jetpack selecciona automáticamente la red móvil óptima. Si usa redes basadas en GSM, también puede seleccionar una red manualmente. Esta función de selección manual de red solo sirve si hay varias redes disponibles. Si se utiliza esta función, este dispositivo se conecta solo a la red especificada e ignora otras redes disponibles. </p>

	<h2>Estado</h2>
	<p> Esta sección indica si está en uso una Selección de red automática o manual. Si está en uso la Selección de red manual, también se muestra la red especificada. </p>

	<h2>Configuración de red</h2>
	<h3>Tecnología de red preferida</h3>
	<p>
	Este campo muestra el modo de red actual (por ejemplo, LTE/UTMS).
	</p>

	<h3>Selección manual de la red</h3>
	<div class="blockgroup">
	<p>
	Este campo muestra “Disponible” cuando hay otras redes disponibles para su selección.  Cuando una red se haya seleccionado manualmente, se mostrará el nombre de la red.
	</p>
	<p>
		Para usar la selección manual, haga clic en Seleccionar <b>red manualmente</b> (Select network manually) > <b>Buscar redes</b> (Scan for Networks) > <b>Continuar</b> (Continue).
	</p>
	<p>
		El Jetpack buscará las redes disponibles. Elija una red y haga clic en <b>Seleccionar</b>.
	</p>
	<p>
		Se mostrará la red actual.
	</p>	
	<p>
		Haga clic en <b>X</b> para cerrar la ventana, use los botones para <b>Seleccionar una red automáticamente</b> o <b>Seleccionar una red diferente</b>.
	</p>	
	</div>
	
</div>

<!-- id="adv_mns" -->

