<!-- mns -->
<div id="mns">
	<h1>Sélection du réseau</h1>
	<h2>Vue d'ensemble</h2>
	<p> Cet appareil sélectionne automatiquement le réseau mobile optimal. Si vous utilisez des réseaux GSM, vous pouvez également sélectionner un réseau manuellement. Cette fonction « <tmpl_var _("webui", "menu_adv_mns_text")> » n'est utile que si plusieurs réseaux sont accessibles. Si cette fonction est utilisée, cet appareil se connecte uniquement au réseau spécifié et ignore les autres réseaux disponibles. </p>

	<h2>Voyant</h2>
	<p> Cette section précise si c'est la sélection automatique ou manuelle de réseau qui est utilisée. Si la sélection manuelle de réseau est utilisée, le réseau spécifié est aussi affiché. </p>

	<h2>Opération</h2>
	<h3><tmpl_var _("webui","adv_mns_scan_for_networks_btn")></h3>
	<p> Si la sélection manuelle de réseau est possible, ce bouton est affiché. Cliquez sur ce bouton si vous souhaitez sélectionner manuellement un réseau. Le modem recherche alors tous les réseaux accessibles. Cette recherche peut prendre jusqu'à deux minutes. </p>

	<p> Remarque : Si ce bouton n'est pas affiché, la sélection manuelle de réseau n'est pas possible là ou vous vous trouvez, sur votre réseau actuel. </p>

	<h3>Liste de réseaux</h3>
	<div class="blockgroup">
	<p> Tous les réseaux accessibles sont affichés dans la liste des réseaux une fois que la recherche de réseaux a été effectuée. Vous pouvez effectuer l'une des opérations suivantes : </p>
	<ul>
		<li> Annuler : Utilisez cette option pour conserver la sélection automatique de réseau. </li>
		<li> Rafraîchir : Utilisez cette option pour recommencer la recherche si le réseau désiré ne figure pas dans la liste. Vous devrez peut-être vous déplacer pour améliorer le signal. </li>

		<li> Sélectionner : utilisez cette option pour activer la sélection manuelle du réseau avec le réseau spécifié. Notez que vous ne pourrez peut-être pas vous connecter à tous les réseaux listés. Si votre fournisseur de services ne possède pas d'accord d'itinérance avec le réseau sélectionné, la tentative de connexion échouera. </li>
	</ul>

	<h3><tmpl_var _("webui","adv_mns_revert_to_automatic_btn")></h3>
	<p> Si la sélection manuelle du réseau est utilisée, ce bouton est affiché. Cliquez sur ce bouton pour passer de la sélection manuelle de réseau à la sélection automatique de réseau. </p>

	<h3>Revenir à l'écran Réseaux</h3>
	<p> Utilisez ce lien pour retourner à l'écran Réseaux. </p>
		
	</div>
	
</div>

<!-- id="mns" -->

