<!-- mns -->
<div id="mns">
	<h1>Manual Network Selection</h1>
	<h2>Overview</h2>
	<p>
	Your Jetpack automatically selects the optimal mobile network. If using GSM-based networks, you can also select a network manually. This "<tmpl_var _("webui", "menu_adv_mns_text")>" feature is only useful if multiple networks are available. If this feature is used, this device connects only to the specified network and ignores other available networks.
	</p>

	<h2>Status</h2>
	<p>
	This section indicates if Automatic or Manual Network Selection is in use.
	If Manual Network Selection is in use, the specified network is also displayed.
	</p>

	<h2>Network Settings</h2>
	<h3>Network mode</h3>
	<p>
	This field shows the current network mode. (E.g., LTE/UTMS).
	</p>

	<h3>Manual Network Selection</h3>
	<div class="blockgroup">
	<p>
	This fields shows “Available” when other networks are available for selection.  When a network has been manually selected, the network’s name will be shown.
	</p>
	<p>
		To use manual selection, click Select <b>network manually</b> > <b>Scan for Networks</b> > <b>Continue</b>.
	</p>
	<p>
		The Jetpack will scan for available networks. Choose a network and click <b>Select</b>.
	</p>
	<p>
		The current network will be displayed.
	</p>	
	<p>
		Click <b>X</b> to close the window use the buttons to <b>Select a network automatically</b> or <b>Select a different network</b>.
	</p>	
	</div>
	
</div>

<!-- id="mns" -->

