<!-- Vpn -->
<div id="vpn">
        
	<h2>نظرة عامة</h2>
         <p>استخدم هذه الميزة لإنشاء اتصال نفقي بخادم OpenVPN وتوجيه كل حركة المرور على الأجهزة المتصلة عبر ذلك النفق.</p>
        
	<h2>الاتصال التلقائي بشبكة VPN</h2>
         
         <p>إذا تم تشغيله، فسيتم إنشاء نفق VPN تلقائيًا عند الاتصال بالإنترنت. أما إذا كان قيد إيقاف التشغيل، فيجب عليك إنشاء اتصال VPN يدويًا.</p>

	<h2>اتصال VPN</h2>

         <h3>حالة الاتصال</h3>
         <p>يعرض حالة اتصال VPN.</p>

         <h3>مدة الاتصال</h3>
         <p>يعرض المدة الزمنية التي تم تأسيس اتصال VPN لها.</p>
         <h3>اتصال</h3>
         <p>انقر فوق الزر "Connect (اتصال)" للاتصال بخادم VPN الذي تم تكوينه باستخدام إعدادات VPN.</p>
	 <h3>عرض السجل</h3>
         <p>عند إنشاء اتصال OpenVPN، انقر فوق الزر "View log (عرض السجل)" لعرض سجل اتصال VPN.</p>

	<h2>إعدادات VPN</h2>

	<h3>ملفات الإعداد</h3>
         <p>اسحب وأسقط ملفات تكوين OpenVPN من مزود OpenVPN في منطقة تحميل الملف.</p>
	<h3>اسم المستخدم</h3>
         <p>أدخل اسم مستخدم اتصال OpenVPN الخاص بك هنا.</p>
	<h3>كلمه المرور</h3>
         <p>أدخل كلمة مرور اتصال OpenVPN هنا.</p>
	<h3>مسح جميع إعدادات VPN</h3>
         <p>انقر فوق الزر "Clear all VPN settings (مسح كل إعدادات VPN)" لحذف ملفات VPN، وسجلات VPN وإعادة تعيين جميع إعدادات VPN إلى الحالة الأصلية غير المكونة.</p>
        
</div>
 <!-- id="Vpn" -->
