<div id="inseego_connect">
	<h1><tmpl_var _("webui", "inseego_connect_help_title_text")></h1>

	<h2><tmpl_var _("webui", "inseego_connect_cloud_services_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_label")></h3>
	<p>
		Utilice este control de ENCENDIDO / APAGADO para encender o apagar la función de conexión Inseego.
	</p>
	
	<h2><tmpl_var _("webui", "inseego_connect_status_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_connection_state_label")></h3>
	<p>
		Este es un informe sobre la conexión de sus dispositivos al servidor de Inseego Connect.<br>
		Arriba: el dispositivo se está comunicando con los servidores Inseego Connect, <br>
		Inactivo: el dispositivo no se comunica con los servidores de Inseego Connect.<br>
	</p>

	<h3><tmpl_var _("webui", "inseego_connect_last_reported_label")></h3>
	<p>
		Esto es igual a la hora en su dispositivo a la que envió por última vez un paquete a los servidores de Inseego Connect.
	</p>

	<h3><tmpl_var _("webui", "inseego_connect_interval_label")></h3>
	<p>
		Este es el intervalo en el que su dispositivo enviará paquetes al servidor Inseego Connect.	
	</p>
</div>

