<div id="customer_care">
	<h1><tmpl_var _("webui", "customer_care_menu_text")></h1>
	<h2>Vue d'ensemble</h2>
	<p>
		Cette page contient des liens et des coordonnées utiles si vous avez des problèmes ou des questions.
	</p>

	<h2><tmpl_var _("webui", "customer_care_self_support_text")></h2>
	<p>
		Utilisez ces liens pour en savoir plus sur ce type d'appareils ou pour accéder au soutien en ligne pour ce MiFi.
	</p>
</div>
