<option value="30000"<tmpl_if IN_SET(screenTimeout, "30000")> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;30&nbsp;<tmpl_var _("webui", "webui_app_seconds_text")></option>
<option value="60000"<tmpl_if IN_SET(screenTimeout, "60000")> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;1&nbsp;<tmpl_var _("webui", "webui_app_minute_text")></option>
<option value="300000"<tmpl_if IN_SET(screenTimeout, "300000")> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;5&nbsp;<tmpl_var _("webui", "webui_app_minutes_text")></option>
<option value="600000"<tmpl_if IN_SET(screenTimeout, "600000")> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_after_text")>&nbsp;10&nbsp;<tmpl_var _("webui", "webui_app_minutes_text")></option>
<option value="0"<tmpl_if IN_SET(screenTimeout, "0")> selected="selected"</tmpl_if>><tmpl_var _("webui", "webui_app_never_text")></option>
