<Config>
	<Branding>
		<ProductSKU>2000</ProductSKU>	<!-- product for which this settings file is to be used (e.g. 6620L) -->
		<Model>FX2000</Model>									<!-- shown in web/device UI for customer support -->
		<CarrierBrand>FX2000</CarrierBrand>			<!-- shown in web/device UI for customer support -->
		<CuteVersion>3A</CuteVersion>							<!-- short/cute FW version - shown in web/device UI for customer support -->
	</Branding>
</Config>
