@font-face
{
	font-family: "NHaasGroteskTXPro-75Bd";
	src: url("../../../assets/fonts/NHaasGroteskTXPro-75Bd.eot?") format("eot"), url("../../../assets/fonts/NHaasGroteskTXPro-75Bd.woff") format("woff"), url("../../../assets/fonts/NHaasGroteskTXPro-75Bd.ttf") format("truetype"), url("../../../assets/fonts/NHaasGroteskTXPro-75Bd.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: "NHaasGroteskTXPro-55Rg";
	src: url("../../../assets/fonts/NHaasGroteskTXPro-55Rg.eot?") format("eot"), url("../../../assets/fonts/NHaasGroteskTXPro-55Rg.woff") format("woff"), url("../../../assets/fonts/NHaasGroteskTXPro-55Rg.ttf") format("truetype"), url("../../../assets/fonts/NHaasGroteskTXPro-55Rg.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
body,p{
    font-family: "NHaasGroteskTXPro-55Rg";
}

.error_page h4 {
    font-size: 16px;
    margin-bottom: 13px;
}

.product-img {
	margin-right: -130px;
	margin-top: -115px;
}

.footer {
	background-color: #F6F6F6;
}
