<!-- Help  -->

<div id="overview">
	<h2>Descripción general</h2>
		<p>
			Bienvenido a su MiFi <tmpl_var _("webui", "webui_product_number")> Jetpack.<br>
Con su Jetpack, usted puede:
		</p>

		<ul class="list-style">
			<li> Manténgase conectado cuando viaje a los EE. UU. o al extranjero* (en más de 200 países).*Se requiere un plan de datos internacional. </li>
			
			<li> Conectar hasta 15 dispositivos con acceso a Wi-Fi a Internet: computadoras portátiles, tabletas, impresoras, consolas de videojuegos y más. </li>

			<li> Conectar su computadora Windows o Mac a través del puerto USB para acceder a Internet. </li>

			<li> Compartir la red de Invitados con otros usuarios sin tener que compartir su propia contraseña de Wi-Fi. </li>

			<li> Obtener hasta 24 horas de duración de la batería con una sola carga. </li>

			<li> Usar su Jetpack para cargar otros dispositivos conectándolos al puerto USB-C. </li>

			<li> Compartir contenido de forma segura desde una memoria USB conectada (tipo C) con dispositivos conectados a Wi-Fi. </li>

			<li> Usar la pantalla táctil para verificar el uso de datos y controlar la configuración del Jetpack. </li>

			<li> Usar este sitio web para verificar el uso de datos y controlar la configuración avanzada. </li>

		</ul>
		
</div>

<div id="setup">
	<h2>Configurando su Jetpack</h2>
	<h2>Paso 1: activación de su Jetpack</h2>
		<p>
			<tmpl_var _("webui", "help_setup_step1_text")>
		</p>

	<h2>Paso 2: conexión de dispositivos a la red Wi-Fi de su Jetpack</h2>
		<p>Presione <strong>Nombre/Contraseña de Wi-Fi</strong> en la pantalla del Jetpack para ver el nombre y la contraseña de la red Wi-Fi Principal. Deslice hacia un costado para ver el nombre y la contraseña de la red de Invitados.
		</p>	
		<p>
			En su dispositivo habilitado para Wi-Fi, busque la red a la que desee conectarse en la lista de redes disponibles e ingrese la contraseña cuando se le solicite.
		</p>
		<p>
			Nota: Para mayor seguridad, comparta la red de Invitados con otros usuarios.
		</p>		
</div>
<div id="tips">
<h2>Consejos</h2>
			<h2>La tarjeta SIM del Jetpack</h2>
				<p> La tarjeta SIM está preinstalada. Para cambiar la tarjeta SIM, retire la tapa de la batería y la batería. </p>

			<h2>Dispositivos conectados</h2>
			<p>La tarjeta central en la pantalla de inicio del Jetpack muestra la cantidad de dispositivos conectados a la red Principal y a la de Invitados. Presione esta tarjeta para ver la pantalla Dispositivos conectados y luego seleccione una categoría para ver información más detallada acerca de los <strong>dispositivos conectados</strong> o bloqueados.</p>

			<h2>Alertas de audio</h2>
			<p>Puede personalizar las alertas de audio de su Jetpack. Desde la pantalla de inicio de su Jetpack, seleccione <strong>Menú</strong> (Menu) > <strong>Configuración</strong> (Settings) > <strong>Alertas de audio</strong> (Audio Alerts).</p>

			<h2>Duración de la batería</h2>
			<p>Puede ahorrar batería ajustando la configuración de Tiempo de espera de pantalla y Modo de suspensión de su Jetpack. La encontrará en <strong>Menú</strong> (Menu) > <strong>Configuración</strong> (Settings).</p>

			<h2>Configuración protegida de Wi-Fi (WPS)</h2>
				<p> La WPS le permite conectar dispositivos con un botón WPS a la red Wi-Fi de su Jetpack sin ingresar la contraseña. Desde la pantalla de inicio, diríjase a <strong>Menú</strong> (Menu) > <strong>Configuración protegida de Wi-Fi (WPS)</strong> (Wi-Fi Protected Setup) y seleccione la red Principal o de Invitados y seleccione el <strong>botón Usar WPS</strong> o <strong>Ingresar PIN</strong>. Luego, siga las instrucciones en pantalla. </p>	

			<h2>La red wifi para Invitados</h2>
			<p>
				Para mayor seguridad, comparta la red de Invitados para dar acceso a Internet a otros. Su red Wi-Fi de Invitados tiene un nombre de red y una contraseña diferentes de la red Principal y los dispositivos en la red de Invitados no pueden acceder al sitio web de Administrador de Jetpack.
			</p>

</div>
<div id="security">
	<h2>Funciones de seguridad para Administradores <tmpl_var _("webui", "webui_product_name")> </h2>
	<p> Si usted es el administrador <tmpl_var _("webui", "webui_product_name")>, puede utilizar la configuración de la interfaz web <tmpl_var _("webui", "webui_product_name_with_suffix")> para limitar lo que los usuarios <tmpl_var _("webui", "webui_product_name")> pueden hacer en la pantalla táctil. En la tabla siguiente se enumeran los ajustes disponibles de la interfaz web y su efecto en la pantalla táctil.</p>
	 <h2>Configuraciones que afectan la pantalla táctil Jetpack</h2>  
<table class="portForwardingTable" id="">
 	<thead>
		<tr class="">
			<th class=""> Parámetros/Operación</th>
			<th class="">Página web</th>
			<th class="">Activada</th>
			<th class="">Desactivada</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td> Ocultar la contraseña de Administrador en la pantalla</td>
			<td> Inicio > <br>Menú desplegable > Parámetros del administrador</td>
			<td> La contraseña de administrador no se muestra en la pantalla táctil.</td>
			<td> La contraseña de administrador se puede ver en la pantalla táctil.</td>
		</tr>

		<tr>
			<td> Permitir que los cambios de parámetros de Wi-Fi se realicen desde la pantalla <tmpl_var _("webui", "webui_product_name")>.</td>
			<td> Wifi > Parámetros </td>
			<td> Funcionamiento normal.</td>
			<td> En la pantalla, la opción de <b>Wi-Fi</b> todavía está disponible, pero solo muestra un mensaje. No se puede cambiar la configuración de Wi-Fi desde la pantalla táctil.</td>
		</tr>

		<tr>
			<td> Ocultar el Nombre de red principal (SSID) en la pantalla <tmpl_var _("webui", "webui_product_name")></td>
			<td> Wi-Fi > Principal </td>
			<td> Cuando está marcada, el nombre de la red Principal no se muestra en ninguna parte de la pantalla táctil.</td>
			<td> Cuando no está marcada, el nombre de la red Principal se puede ver en la pantalla táctil.</td>
		</tr>

		<tr>
			<td> Ocultar la contraseña de red principal en la pantalla <tmpl_var _("webui", "webui_product_name")></td>
			<td> Wi-Fi > Principal </td>
			<td> Cuando está marcada, la contraseña de la red Principal no se muestra en ninguna parte de la pantalla táctil.</td>
			<td> Cuando no está marcada, la contraseña de la red Principal se puede ver en la pantalla táctil.</td>
		</tr>
		
		<tr>
			<td> Ocultar el Nombre de la red de invitados (SSID) en la pantalla <tmpl_var _("webui", "webui_product_name")></td>
			<td> Wi-Fi > Invitado</td>
			<td> Cuando está marcada, el nombre de la red de Invitados no se muestra en ninguna parte de la pantalla táctil.</td>
			<td> Cuando no está marcada, el nombre de la red de Invitados se puede ver en la pantalla táctil.</td>
		</tr>

		<tr>
			<td> Ocultar la contraseña de la red de invitados en la pantalla <tmpl_var _("webui", "webui_product_name")></td>
			<td> Wi-Fi > Invitado</td>
			<td> Cuando está marcada, la contraseña de la red de Invitados no se muestra en ninguna parte de la pantalla táctil.</td>
			<td> Cuando no está marcada, la contraseña de la red de Invitados se puede ver en la pantalla táctil.</td>
		</tr>
		<tr>
			<td> WPS (red principal)</td>
			<td> Wi-Fi > Principal</td>
			<td> Cuando está marcada, la WPS para la red Wi-Fi Principal está disponible en el menú Wi-Fi de la pantalla táctil.</td>
			<td> Cuando no está marcada, la WPS no se puede usar en la red Wi-Fi Principal.</td>
		</tr>
		<tr>
			<td> WPS (red de invitados)</td>
			<td> Wi-Fi > Invitado</td>
			<td> Cuando está marcada, la WPS para la red Wi-Fi de Invitados está disponible en el menú de Wi-Fi de la pantalla táctil.</td>
			<td> Cuando no está marcada, la WPS no se puede usar en la red Wi-Fi de Invitados.</td>
		</tr>
		
		<tmpl_if ShowPromptOnUSB>
		<tr>
			<td> Indicador sobre la conexión USB</td>
			<td> <tmpl_var _("webui", "webui_product_name")> Parámetros > Preferencias</td>
			<td> Cuando está marcada, se muestra un mensaje en la pantalla táctil cuando se conecta una computadora o un dispositivo USB. </td>
			<td> Cuando no está marcada, no se muestra ninguna solicitud de USB.</td>
		</tr>
		</tmpl_if>
		<tr>
			<td> Permitir restablecimiento de fábrica desde el Jetpack</td>
			<td> <tmpl_var _("webui", "webui_product_name")> Parámetros > Preferencias</td>
			<td> Cuando está encendido, el Jetpack se puede restablecer a la configuración predeterminada de fábrica usando la pantalla táctil o el botón debajo de la tapa de la batería.</td>
			<td> Cuando está apagado, el Jetpack solo se puede restablecer a la configuración predeterminada de fábrica utilizando el sitio web de Administrador.</td>
		</tr>
		<tr>
			<td> Permitir cambios de Parámetros en la pantalla <tmpl_var _("webui", "webui_product_name")></td>
			<td> <tmpl_var _("webui", "webui_product_name")> Parámetros > Preferencias</td>
			<td> Cuando está encendido, algunas configuraciones del Jetpack se pueden ver y modificar usando la pantalla táctil. (La configuración avanzada solo está disponible a través del sitio web de Administrador).</td>
			<td> Cuando está apagado, la configuración del Jetpack solo se puede ver y modificar usando el sitio web de Administrador.</td>
		</tr>
		<tr>
			<td> Mostrar <tmpl_var _("webui", "help_mifi_share_link")> en la pantalla <tmpl_var _("webui", "webui_product_name_with_suffix")> </td>
			<td> <tmpl_var _("webui", "help_mifi_share_link")></td>
			<td> Cuando está encendido, la información y la configuración de MiFi Share son visibles en la pantalla táctil del Jetpack. </td>
			<td> Cuando está apagado, la información y la configuración de MiFi Share no se ven en la pantalla táctil del Jetpack.</td>
		</tr>

	</tbody>

</table>

</div>
