<!-- Help  -->

<div id="overview">
	<h2>Overview</h2>
		<p>
			Welcome to your MiFi <tmpl_var _("webui", "webui_product_number")> Jetpack.<br>
With your Jetpack, you can:
		</p>

		<ul class="list-style">
			<li>
				Stay connected when traveling in the US or abroad* (in more than 200 countries). <br>*international data plan required
			</li>
			
			<li>
				Connect up to 15 Wi-Fi enabled devices to the internet - laptops, tablets, printers, gaming consoles and more.
			</li>

			<li>
				Connect your Windows or Mac computer via USB for internet access.
			</li>

			<li>
				Share the Guest network with other users without having to share your own Wi-Fi password.
			</li>

			<li>
				Get up to 24 hours of battery life on a single charge.
			</li>

			<li>
				Use your Jetpack to charge other devices by connecting them to the USB-C port.
			</li>

			<li>
				Securely share content from a connected USB (type C) thumb drive with Wi-Fi connected devices.
			</li>

			<li>
				Use the touchscreen to check data usage and control Jetpack settings.
			</li>

			<li>
				Use this website to check data usage and control advanced settings.
			</li>
		
		</ul>
		
</div>

<div id="setup">
	<h2>Setting up your Jetpack</h2>
	<h2>Step 1 - Activating your Jetpack</h2>
		<p>
			<tmpl_var _("webui", "help_setup_step1_text")>
		</p>

	<h2>Step 2 – Connecting Devices to your Jetpack’s Wi-Fi Network</h2>
		<p>Tap <strong>Wi-Fi Name/Password</strong> on the <tmpl_var _("webui", "webui_product_name_with_suffix")> screen to see the Primary Wi-Fi network’s name and password. Swipe to see the Guest network’s name and password.
		</p>	
		<p>
			On your Wi-Fi enabled device, find the network you want to connect to on the list of available networks and enter the password when prompted.
		</p>
		<p>
			Note: For added security, share the Guest network with other users.
		</p>		
</div>
<div id="tips">
<h2>Tips</h2>
			<h2>The <tmpl_var _("webui", "webui_product_name_with_suffix")> SIM card</h2>
				<p>
					The SIM card is pre-installed. To change the SIM, remove the battery cover and the battery.
				</p>

			<h2>Connected Devices</h2>
			<p>The center card on the <tmpl_var _("webui", "webui_product_name_with_suffix")> Home screen shows the number of devices connected to the Primary and Guest networks. Tap this card to see the <strong>Connected Devices</strong> screen then tap a category to see more detailed information on connected or blocked devices.</p>
			<h2>Audio Alerts</h2>
			<p>You can customize your <tmpl_var _("webui", "webui_product_name_with_suffix")> audio alerts. From your <tmpl_var _("webui", "webui_product_name_with_suffix")> Home screen, tap <strong>Menu</strong> > <strong>Settings</strong> > <strong>Audio Alerts</strong>.</p>
			<h2>Battery Life</h2>
			<p>You can save battery life by adjusting your <tmpl_var _("webui", "webui_product_name_with_suffix")> Screen Timeout and Sleep Mode settings. You’ll find them under <strong>Menu</strong> > <strong>Settings</strong>.</p>

			<h2>Wi-Fi Protected Setup (WPS)</h2>
				<p>
					WPS lets you connect devices with a WPS button to your <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi network without entering the password. From the Home screen, go to <strong>Menu</strong> > <strong>Wi-Fi Protected Setup (WPS)</strong> and select the Primary or Guest network and choose <strong>Use WPS Button</strong> or <strong>Enter PIN</strong>. Then follow the onscreen instructions.
				</p>	

			<h2>The Guest Wi-Fi Network</h2>
			<p>
				For added security, share the Guest network to give other’s internet access. Your Guest Wi-Fi network has a separate network name and password from the Primary network and devices on the Guest network can’t access the <tmpl_var _("webui", "webui_product_name_with_suffix")> Admin website.
			</p>

</div>
<div id="security">
	<h2>Security Features for <tmpl_var _("webui", "webui_product_name")> Administrators </h2>
	<p> If you are the <tmpl_var _("webui", "webui_product_name")> Administrator, you can use settings within the <tmpl_var _("webui", "webui_product_name_with_suffix")> Web interface to limit what <tmpl_var _("webui", "webui_product_name")> users can do on the touchscreen. The following table lists the available Web interface settings and their effect on the touchscreen.</p>
	 <h2>Settings Affecting the <tmpl_var _("webui", "webui_product_name")> Touchscreen</h2>  
<table class="portForwardingTable" id="">
 	<thead>
		<tr class="">
			<th class=""> Setting/Operation</th>
			<th class="">Web Page</th>
			<th class="">On</th>
			<th class="">Off</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td> Hide Admin Password on the Screen</td>
			<td> Home > Drop down <br>menu > Admin Settings</td>
			<td> Admin password is not shown anywere on the touchscreen.</td>
			<td> Admin Password can be viewed on the touchscreen.</td>
		</tr>

		<tr>
			<td> Allow Wi-Fi setting changes to be made from the <tmpl_var _("webui", "webui_product_name")> screen.</td>
			<td> Wifi > Settings </td>
			<td> Normal operation.</td>
			<td> On the screen, the <b>Wi-Fi</b> option is still available, but only displays a message. No Wi-Fi settings can be changed from the touchscreen.</td>
		</tr>

		<tr>
			<td> Hide Primary network name (SSID) on the <tmpl_var _("webui", "webui_product_name")> screen</td>
			<td> Wi-Fi > Primary </td>
			<td> When checked, the Primary network name is not shown anywhere on the touchscreen.</td>
			<td> When unchecked, the Primary network name can be viewed on the touchscreen.</td>
		</tr>

		<tr>
			<td> Hide (Primary network) password on the <tmpl_var _("webui", "webui_product_name")> screen</td>
			<td> Wi-Fi > Primary </td>
			<td> When checked, the Primary network password is not shown anywhere on the touchscreen.</td>
			<td> When unchecked, the Primary network password can be viewed on the touchscreen.</td>
		</tr>
		
		<tr>
			<td> Hide Guest network name (SSID) on the <tmpl_var _("webui", "webui_product_name")> screen</td>
			<td> Wi-Fi > Guest</td>
			<td> When checked, the Guest network name is not shown anywhere on the touchscreen.</td>
			<td> When unchecked, the Guest network name can be viewed on the touchscreen.</td>
		</tr>

		<tr>
			<td> Hide (Guest network) password on the <tmpl_var _("webui", "webui_product_name")> screen</td>
			<td> Wi-Fi > Guest</td>
			<td> When checked, the Guest network password is not shown anywhere on the touchscreen.</td>
			<td> When unchecked, the Guest network password can be viewed on the touchscreen.</td>
		</tr>
		<tr>
			<td> WPS (Primary Network)</td>
			<td> Wi-Fi > Primary</td>
			<td> When checked, WPS for the Primary Wi-Fi network is available on the touchscreen Wi-Fi menu.</td>
			<td> When unchecked, WPS cannot be used on the Primary Wi-Fi network.</td>
		</tr>
		<tr>
			<td> WPS (Guest Network)</td>
			<td> Wi-Fi > Guest</td>
			<td> When checked, WPS for the Guest Wi-Fi network is available on the touchscreen Wi-Fi menu</td>
			<td> When unchecked, WPS cannot be used on the Guest Wi-Fi network.</td>
		</tr>
		
		<tmpl_if ShowPromptOnUSB>
		<tr>
			<td> Prompt on USB Connection</td>
			<td> <tmpl_var _("webui", "webui_product_name")> Settings > Preferences</td>
			<td> When checked, a prompt is shown on the touchscreen when a computer or USB device is connected. </td>
			<td> When unchecked, no USB prompt is shown.</td>
		</tr>
		</tmpl_if>
		<tr>
			<td> Allow factory reset from the <tmpl_var _("webui", "webui_product_name")></td>
			<td> <tmpl_var _("webui", "webui_product_name")> Settings > Preferences</td>
			<td> When on, the <tmpl_var _("webui", "webui_product_name")> can be reset to factory default settings using the touchscreen or the button under the battery cover.</td>
			<td> When off, the <tmpl_var _("webui", "webui_product_name")> can only be reset to factory default settings using the Admin website.</td>
		</tr>
		<tr>
			<td> Allow settings changes on the <tmpl_var _("webui", "webui_product_name")> screen</td>
			<td> <tmpl_var _("webui", "webui_product_name")> Settings > Preferences</td>
			<td> When on, some Jetpack settings can be viewed and changed using the touchscreen. (Advanced settings are only available through the Admin website.)</td>
			<td> When off, Jetpack settings can only be viewed and changed using the Admin website.</td>
		</tr>
		<tr>
			<td> Show <tmpl_var _("webui", "help_mifi_share_link")> on the <tmpl_var _("webui", "webui_product_name_with_suffix")> screen </td>
			<td> <tmpl_var _("webui", "help_mifi_share_link")></td>
			<td> When on, MiFi Share info and settings are visible on the Jetpack’s touchscreen. </td>
			<td> When on, MiFi Share info and settings are hidden on the Jetpack’s touchscreen.</td>
		</tr>

	</tbody>

</table>

</div>
