<!-- MAC Filter -->
<div id="macfilter">
	<h1><tmpl_var _("webui", "adv_macfilter_menu_text")></h1>
	<h2>Overview</h2>
	<p>You can use the MAC filter to limit access to the <tmpl_var _("webui", "webui_product_name_with_suffix")> Primary network to devices you choose.</p>

	<p>Note: This filter doesn’t effect devices connected via the guest network or USB.</p>	
	
	<h2>Setting Up the MAC Filter</h2>
	<p>Before you turn the filter on, select MAC Address Filter for the devices you want to have access to the primary network. If you don’t see the device you want in the list, you can refresh the list or add a new device.</p>

	<p>Note: Your device must be selected to turn the filter on.</p>

	<p>Once you’ve made your selection, click Save Changes.</p>

	<p>Use the MAC filter switch to turn the filter on and off.</p>

	<p>To remove a device from the device list, select Delete for the device and Save Changes.</p>

	<h2>Blocking Devices vs. MAC Filter</h2>

	<p>If a device is added to the MAC Filter but also blocked, it will not be able to connect.</p>

 </div>
<!--  macfilter  -->
