<!-- MAC Filter -->
<div id="adv_macfilter">
	<h1><tmpl_var _("webui", "adv_macfilter_menu_text")></h1>
	<h2>Descripción</h2>
	<p>Puede usar el filtro MAC para limitar el acceso a la red Principal de <tmpl_var _("webui", "webui_product_name")> a los dispositivos que usted elija.</p>

	<p>Nota: Este filtro no afecta a los dispositivos conectados a través de la red de Invitados o USB.</p>	
	
	<h2>Configurar el filtro MAC</h2>
	<p>Antes de activar el filtro, seleccione Filtro de dirección MAC para los dispositivos a los que desea que tengan acceso a la red Principal. Si no aparece el dispositivo que desea en la lista, puede actualizar la lista o agregar un nuevo dispositivo.</p>

	<p>Nota: Su dispositivo debe estar seleccionado para activar el filtro.</p>

	<p>Una vez que haya hecho su selección, haga clic en Guardar cambios.</p>

	<p>Use el interruptor del filtro MAC para activar y desactivar el filtro.</p>

	<p>Para eliminar un dispositivo de la lista de dispositivos, seleccione Eliminar para el dispositivo y luego Guardar cambios.</p>

	<h2>Dispositivos de bloqueo comparados con el filtro MAC</h2>

	<p>Si se agrega un dispositivo al filtro MAC pero también está bloqueado, no podrá conectarse.</p>
 </div>
<!--  adv_macfilter  -->
