<!-- Port Forwarding -->
<div id="port_forward">
	<h1>إعادة توجيه المنفذ</h1>
	<h2>نظرة عامة</h2>
	<p>تسمح ميزة إعادة توجيه المنفذ بإعادة توجيه حركة المرور الواردة من الإنترنت إلى جهاز كمبيوتر أو جهاز معين على شبكة Wi-Fi الخاصة بك. عادة، يمنع جدار الحماية المدمج حركة المرور الواردة من الإنترنت. يمكنك استخدام إعادة توجيه المنفذ للسماح لمستخدمي الإنترنت بالوصول إلى أي خادم تقوم بتشغيله على جهاز الكمبيوتر الخاص بك، مثل خادم ويب أو FTP أو خادم بريد إلكتروني. بالنسبة لبعض الألعاب المشغلة عبر الإنترنت، يجب استخدام ميزة إعادة توجيه المنفذ لكي تعمل الألعاب بشكل صحيح. لاحظ أن استخدام ميزة إعادة توجيه المنفذ يخلق خطرًا أمنيًا ويجب أن يظل متوقفًا عن التشغيل عندما لا يكون مطلوبًا.</p>
<p><strong>ملاحظة:</strong> توفر لك بعض شبكات الجوال اللاسلكية عنوان IP على شبكتها الخاصة بدلاً من عنوان IP للإنترنت. في هذه الحالة، لا يمكن استخدام إعادة توجيه المنفذ لأن مستخدمي الإنترنت لا يمكنهم الوصول إلى عنوان IP الخاص بك.</p>

	<h2>تطبيقات إعادة توجيه المنفذ</h2>
	<h3>خانات اختيار التطبيق</h3>
		<p>يتم سرد عدد من تطبيقات الخادم الشائعة. لاستخدام أي من هذه التطبيقات، اتبع هذا الإجراء:</p>
		<ol>
			<li>1. قم بتثبيت التطبيق على جهاز كمبيوتر متصل بشبكة Wi-Fi لهذا الجهاز.</li>
			<li>2. على الكمبيوتر، تحقق من عنوان IP الخاص بالجهاز لشبكة Wi-Fi. بدلاً من ذلك، يمكنك التحقق من عنوان IP الخاص بالكمبيوتر على شاشة الأجهزة المتصلة.</li>
			<li>3. في هذه الشاشة، أدخل عنوان IP للكمبيوتر في الحقل <strong>عنوان IP للجهاز المتصل</strong> بجانب التطبيق.</li>
			<li>4. قم بتشغيل هذا التطبيق على هذه الشاشة عن طريق تحديد خانة الاختيار الخاصة به.</li>
			<li>5. احفظ التغييرات.</li>
			<li>6. على شاشة <strong>الحالة الحالية</strong>، قم بتدوين عنوان IP الخاص بالإنترنت لهذا الجهاز.</li>
			<li>7. اطلب من المستخدمين على الإنترنت الاتصال بعنوان IP الخاص بالإنترنت لهذا الجهاز. سيُعاد توجيه طلبات الاتصال هذه إلى عنوان IP المحدد في الخطوة 3.</li>
		</ol>

	<h2>تطبيقات مخصصة</h2>
	<p>تتيح لك هذه الميزة تحديد تطبيقاتك الخاصة. بمجرد تحديد هذه التطبيقات، يمكن تشغيل هذه التطبيقات أو إيقاف تشغيلها بنفس طريقة التطبيقات المحددة مسبقًا. لتحديد تطبيق ما، تحتاج إلى معرفة المنافذ والبروتوكول (TCP، UDP) التي يستخدمها التطبيق لحركة المرور الواردة. للبدء، انقر فوق الزر <strong>Add Custom Application (إضافة تطبيق مخصص)</strong> ثم قدم البيانات التالية.</p>
	<h3>خانة اختيار التطبيق</h3>
	<p>استخدم هذا لتشغيل تطبيق بعد تعريفه.</p>
	<h3>اسم التطبيق</h3>
	<p>أدخل اسمًا مناسبًا للتطبيق الذي تحدده.</p>

	<h3>عنوان IP للجهاز المتصل</h3>
	<p>أدخل عنوان IP للجهاز المتصل الذي سيتلقى حركة المرور هذه.</p>

	<h3>نوع المنفذ وأرقام المنفذ</h3>
		<p>يحتوي كل تطبيق على نطاق منفذ خاص به. أدخل بداية ونهاية نطاق المنفذ لكل تطبيق.</p>
		<div class="blockgroup">
			<ul>
				<li>بالنسبة إلى نطاق منفذ، أدخل بداية النطاق في الحقل <strong>من</strong> ونهاية النطاق في الحقل <strong>إلى</strong>.</li>
				<li>بالنسبة لمنفذ التحويل، أدخل رقم المنفذ في كل من الحقلين <strong>خارجي</strong> و<strong>داخلي</strong>.</li>
			</ul>
		</div>
	<h3>بروتوكول</h3>
	<p>لكل نطاق منفذ، حدد البروتوكول (TCP أو UDP) المستخدم بواسطة نطاق المنفذ هذا.</p>
		
	<h3>حذف</h3>
	<p>استخدم خانة الاختيار هذه لحذف تطبيق مخصص.</p>
</div>
<!-- id="port_forward" -->

