<div id="customer_care">
	<h1><tmpl_var _("webui", "customer_care_menu_text")></h1>
	<h2>Visión general</h2>
	<p>
		Esta página proporciona enlaces e información de contacto para ayudarlo si tiene algún problema o pregunta.
	</p>

	<h2><tmpl_var _("webui", "customer_care_self_support_text")></h2>
	<p>
		Utilice estos vínculos para obtener más información sobre este tipo de dispositivo o acceda a la asistencia en línea para este <tmpl_var _ ("webui", "webui_product_name")>.
	</p>
</div>
