<!-- Port Forwarding -->
<div id="port_forward">
	<h1>Port Forwarding</h1>
	<h2>Panoramica</h2>
	<p>La funzione Port Forwarding consente di inoltrare il traffico in entrata da Internet a un determinato computer o dispositivo presente sulla rete Wi-Fi. Normalmente, il firewall integrato blocca il traffico in entrata da Internet. Utilizza il Port Forwarding per consentire agli utenti di Internet di accedere a qualsiasi server che sia in esecuzione sul tuo computer, ad esempio un server Web, FTP o e-mail. Per alcuni giochi online, è necessario utilizzare il Port Forwarding affinché i questi funzionino correttamente. Si noti che l&#39;uso del Port Forwarding crea un rischio per la sicurezza e, quando non necessario, dovrebbe rimanere inattivo.</p>
<p><strong>Nota:</strong> Alcune reti mobili forniscono un indirizzo IP sulla propria rete anziché un indirizzo IP Internet. In tal caso, il Port Forwarding non può essere utilizzato poiché gli utenti di Internet non sono in grado raggiungere il tuo indirizzo IP.</p>

	<h2>Applicazioni di port forwarding</h2>
	<h3>Caselle di controllo dell&#39;applicazione</h3>
		<p>Qui trovi un elenco di alcune applicazioni server comuni. Per utilizzare una di queste applicazioni, attenersi alla seguente procedura:</p>
		<ol>
			<li>1. Installa l&#39;applicazione su un computer connesso alla rete Wi-Fi del dispositivo.</li>
			<li>2. Controlla l’indirizzo IP della rete Wi-Fi tramite il computer. In alternativa, puoi controllare l&#39;indirizzo IP del computer nella schermata dei dispositivi connessi.</li>
			<li>3. In questa schermata, inserisci l&#39;indirizzo IP del computer nel campo <strong>Indirizzo IP del dispositivo connesso</strong> di fianco all&#39;applicazione.</li>
			<li>4. Attiva l’applicazione in questa schermata selezionando la relativa casella di controllo.</li>
			<li>5. Salvare le modifiche.</li>
			<li>6. Prendere nota dell&#39;indirizzo IP Internet di questo dispositivo nella schermata <strong>Stato corrente</strong>.</li>
			<li>7. Chiedere agli utenti su Internet di connettersi all&#39;indirizzo IP Internet di questo dispositivo. Queste richieste di connessione verranno inoltrate all&#39;indirizzo IP specificato al passaggio 3.</li>
		</ol>

	<h2>Applicazioni personalizzate</h2>
	<p>Questa funzione consente di definire le proprie applicazioni. Una volta definite, queste applicazioni possono essere attivate e disattivate nello stesso modo delle applicazioni predefinite. Per definire un&#39;applicazione, è necessario conoscere le porte e il protocollo (TCP, UDP) che l’applicazione utilizza per il traffico in entrata. Per iniziare, fai clic sul pulsante <strong>Aggiungi applicazione personalizzata</strong>, quindi fornisci i seguenti dati.</p>
	<h3>Casella di controllo dell&#39;applicazione</h3>
	<p>Utilizzala per attivare un&#39;applicazione dopo averla definita.</p>
	<h3>Nome dell&#39;applicazione</h3>
	<p>Immetti un nome adatto per l&#39;applicazione che stai definendo.</p>

	<h3>Indirizzo IP del dispositivo connesso</h3>
	<p>Inserisci l&#39;indirizzo IP del dispositivo connesso che riceverà il traffico.</p>

	<h3>Tipo di porta e numeri di porta</h3>
		<p>Ogni applicazione dispone del proprio intervallo di porte. Immetti l&#39;inizio e la fine dell&#39;intervallo di porte per ciascuna applicazione.</p>
		<div class="blockgroup">
			<ul>
				<li>Per un intervallo di porte, immetti l&#39;inizio dell&#39;intervallo nel campo <strong>Da</strong> e la fine dell&#39;intervallo nel campo <strong>Fino a</strong>.</li>
				<li>Per una porta di traslazione, immetti il numero di porta in entrambi campi<strong>Ext</strong> e <strong>Int</strong>.</li>
			</ul>
		</div>
	<h3>Protocollo</h3>
	<p>Per ciascun intervallo di porte, seleziona il protocollo (TCP o UDP) che tale intervallo deve utilizzare.</p>
		
	<h3>Elimina</h3>
	<p>Utilizza questa casella di controllo per eliminare un&#39;applicazione personalizzata.</p>
</div>
<!-- id="port_forward" -->

