<!-- Login -->
<div id="login">
	<h1><tmpl_var _("webui", "webui_product_name")> MiFi <tmpl_var _("webui", "webui_product_number")> Logga in</h1>
	<p>Ange Admin-l
senordet f
r <tmpl_var _("webui", "webui_product_name")> f
r att forts
tta.</p>
	<tmpl_if showForgotPassword>
	<p>Om du inte k
nner till l
senordet anv
nder du alternativet<strong>Jag har gl
mt Admin-l
senordet</strong>.</p>
	</tmpl_if>
	<p>Om du anger ett felaktigt l
senord f
nger kommer du att bli utl
r att rensa det h
ste du starta om <tmpl_var _("webui", "webui_product_name")>.</p>
<!-- id="login" -->
