<!-- MAC Filter -->
<div id="macfilter">
	<h1><tmpl_var _("webui", "adv_macfilter_menu_text")></h1>
	<h3><tmpl_var _("webui", "adv_macfilter_refresh_button")></h3>
	<div class="blockgroup">
	<li>MAC
	<li>MAC
	<li>MAC
	<h3><tmpl_var _("webui", "adv_macfilter_add_device_button")></h3>
<!--  macfilter  -->
