<div id="gps_status">
	<h1><tmpl_var _("webui", "gps_status_menu_text")></h1>
	<h2>Vis
o geral</h2>
	<p> Este dispositivo <tmpl_var _("webui", "webui_product_name")> tem um receptor de GPS incorporado. O receptor de GPS determina sua localiza
o atual, mesmo que em um ambiente interno. <tmpl_if GPSOverWiFiEnableShow>A localiza
o atual 
 mostrada nesta p
gina e as informa
es de localiza
o podem ser compartilhadas com computadores conectados usando o recurso GPS por Wi-Fi.</tmpl_if>
	<h2>Uso do GPS</h2>
	<tmpl_if GPSEnableShow>
		<h3><tmpl_var _("webui", "gps_status_enable_label")></h3>
		<p> Use este controle liga/desliga para ativar ou desativar o recurso do GPS conforme necessidade. </p>
		<h3><tmpl_udf GET_PO_TEXT("gps_status_startup_state_label", gProductName)></h3>
		<p>Esta configura
o determina quando o receptor de GPS ser
 desligado, uma vez que esteja ligado.</p>
		<p>Se estiver ligado, o receptor de GPS desligar
 quando o <tmpl_var _("webui", "webui_product_name")> for desligado. Ser
rio ativ
-lo novamente da pr
xima vez que o receptor de GPS for necess
rio.</p>
	</tmpl_if>
		<h3>Status do GPS</h3>
		<p> Se o receptor de GPS ainda n
o tiver obtido um ponto (localiza
o), o status <strong>Procurando</strong> 
 exibido. Quando o ponto tiver sido obtido, as informa
es de localiza
o atual a seguir s
o exibidas e um mapa do Google aparece para indicar visualmente a localiza
o atual. </p>
		<h2><tmpl_var _("webui", "gps_status_map_section_header_text")></h2>
		<h3><tmpl_var truncate(_("webui", "gps_status_latitude_label"), (size(_("webui", "gps_status_latitude_label")) - size(":")))></h3>
		<p> A Latitude do 
ltimo ponto de localiza
		<h3><tmpl_var truncate(_("webui", "gps_status_longitude_label"), (size(_("webui", "gps_status_longitude_label")) - size(":")))></h3>
		<p> A Longitude do 
ltimo ponto de localiza
		<h3><tmpl_var truncate(_("webui", "gps_status_altitude_label"), (size(_("webui", "gps_status_altitude_label")) - size(":")))></h3>
		<p> A Altitude do 
ltimo ponto de localiza
		<h3><tmpl_var truncate(_("webui", "gps_status_accuracy_label"), (size(_("webui", "gps_status_accuracy_label")) - size(":")))></h3>
 uma medi
o da precis
o da posi
o horizontal obtida pelo receptor de GPS. </p>
		<tmpl_if GPSOverWiFiEnableShow>
			<tmpl_if GPSPortNumberShow>		
				<h2><tmpl_var _("webui", "gps_status_enable_sub_header_text")></h2>
				<h3><tmpl_var truncate(_("webui", "gps_status_gps_over_wifi_label"), (size(_("webui", "gps_status_gps_over_wifi_label")) - size(":")))></h3>
				<p>Os dados do GPS s
o fornecidos pelo <tmpl_var  _("webui", "webui_product_name")> na forma de fluxo de texto NMEA (National Marine Electronics Association). </p>
				<p>O uso de uma porta NMEA (GPS) 
todo padr
o para que os aplicativos acessem um fluxo de dados de GPS no Windows e em outras plataformas computacionais. Para criar essa porta, 
 preciso baixar e instalar o driver do GPS por Wi-Fi para a sua plataforma. Esse driver criar
 a porta NMEA, obter
 os dados de GPS do <tmpl_var  _("webui", "webui_product_name")> e disponibilizar
 esses dados de GPS para aplicativos que reconhecem NMEA. </p>
				<h3><tmpl_var truncate(_("webui", "gps_status_port_number_label"), (size(_("webui", "gps_status_port_number_label")) - size(":")))></h3>
				<p> Este 
mero da porta usado pelo software do driver no seu computador para estabelecer uma conex
o a este dispositivo e obter os dados de GPS. A menos que haja uma raz
o justific
vel, voc
o deve alterar o n
mero da porta. </p>
			</tmpl_if>
		</tmpl_if>
	<tmpl_if GPSDownloadDriversShow>
		<h3><tmpl_var _("webui", "gps_status_wifi_driver_download_link")></h3>
		<p> Use-a para acessar a p
gina de download dos drivers dispon
veis. <tmpl_if GPSOverWiFiEnableShow>Esses drivers s
o necess
rios para usar o recurso GPS por Wi-Fi.</tmpl_if>
	</tmpl_if>
