<!-- mns -->
<div id="mns">
tverksval</h1>
versikt</h2>
	<p>Den h
r enheten v
ljer automatiskt det optimala mobiln
tet. Om du anv
nder GSM-baserade n
tverk kan du 
lja ett n
tverk manuellt. Denna 
<tmpl_var _("webui", "menu_adv_mns_text")>
-funktion 
r bara anv
ndbar om flera n
ngliga. Om den h
r funktionen anv
nds ansluter enheten endast till det specificerade n
tverket och ignorerar andra tillg
ngliga n
tverk.</p>
	<h2>Status</h2>
	<p>Det h
r avsnittet indikerar om automatiskt eller manuellt n
tverksval anv
nds. Om manuellt n
tverksval anv
nds, visas 
ven det specificerade n
tverket.</p>
	<h2>Drift</h2>
	<h3><tmpl_var _("webui","adv_mns_scan_for_networks_btn")></h3>
	<p>Om manuellt n
tverksval 
r knappen tillg
nglig. Klicka p
r knappen om du vill v
lja ett n
tverk manuellt. Modemet skannar sedan efter alla tillg
ngliga n
tverk. Den h
r skanningen kan ta upp till tv
 minuter.</p>
	<p>Obs! Om den h
r knappen inte visas s
r manuellt n
tverksval inte tillg
ngligt p
 din nuvarande plats med ditt nuvarande n
tverk.</p>
tverkslista</h3>
	<div class="blockgroup">
	<p>Alla tillg
ngliga n
tverk visas i n
tverkslistan n
tverksskanning har slutf
rts. Du kan sedan utf
ra en av f
rder:</p>
		<li>Avbryt 
nd det h
r alternativet f
r att beh
lla automatisk n
tverksval.</li>
		<li>Uppdatera 
nd detta f
r att skanna igen om det 
nskade n
tverket inte listas. Du kan beh
ndra din plats f
ttra signalen.</li>
nd det h
r alternativet f
r att aktivera manuellt n
tverksval med det specificerade n
tverket. Observera att det eventuellt inte 
jligt att ansluta till alla listade n
tverk. Om din tj
nsteleverant
r inte har ett roamingavtal med det valda n
tverket kommer anslutningsf
ket att misslyckas.</li>
	<h3><tmpl_var _("webui","adv_mns_revert_to_automatic_btn")></h3>
	<p>Om manuellt n
tverksval anv
r denna knapp synlig. Klicka p
r knappen f
n manuellt till automatiskt n
tverksval.</p>
tverkssk
rmen</h3>
nd den h
 till sk
tverk.</p>
<!-- id="mns" -->
