<!-- Data Usage -->
<div id="data_usage">
	<h1><tmpl_var _("webui", "data_usage_menu_text")></h1>
	<h2>Vue d
ensemble</h2>
	<p>Cet 
cran affiche une illustration graphique de la consommation de donn
es sur votre forfait de donn
es mobile, 
 condition que des informations sur la consommation de donn
es soient disponibles.</p>
	<h2>Estimation de la consommation de donn
affichage varie en fonction de votre forfait, mais il contient g
ralement les informations suivantes.</p>
	<div class="blockgroup">
		<li>Estimation de la consommation de donn
es pour votre forfait dans le cadre du cycle de facturation actuel, jusqu
 la date indiqu
		<li>Le type de forfait et la limite de donn
es sur votre forfait.</li>
		<li>Une repr
sentation graphique de la consommation de donn
es pour votre forfait dans le cadre du cycle de facturation actuel.</li>
		<li>Pour les forfaits partag
s, une indication des donn
es utilis
es sur cet appareil particulier.</li>
		<li>La date 
 laquelle le cycle de facturation actuel se termine.</li>
