<!-- Status Logs -->
<div id="status_logs">
	<h1><tmpl_var _("webui", "status_logs_menu_text")></h1>
levaade</h2>
	<p>Logiteave on kasulik t
rkeotsinguks, kuid ei ole n
utav tavap
raseks t
	<h2>Seaded</h2>
	<h3><tmpl_var _("webui", "status_logs_enable_logs_label")></h3>
litage logid vastavalt vajadusele sisse.</p>
	<h3><tmpl_var _("webui", "status_logs_delete_sys_logs_label")></h3>
	<p>See s
rab, kui kaua s
steemi logiandmeid s
ilitatakse. Valige soovitud suvand.</p>
	<p>Pange t
hele, et kui logi on t
is, kustutatakse vanimad andmed olenemata sellest seadest.</p>
	<h2>Logiandmed</h2>
	<p>Esitatud vahekaartidel saate valida vaadatavate logiandmete t
	<h3><tmpl_var _("webui", "status_logs_mobile_network_log_href")></h3>
	<p>See logi sisaldab andmeid mobiilsidev
henduste kohta.</p>
	<h3><tmpl_var _("webui", "status_logs_system_log_href")></h3>
	<p>See logi salvestab selles seadmes toimunud s
ndmused (v.a mobiilandmeside
hendused).</p>
	<h2>Nupud</h2>
	<h3><tmpl_var _("webui", "status_logs_clear_log_btn")></h3>
	<p>Selle nupu kl
psamisel kustutatakse k
ik olemasolevad logiandmed. See muudab uute andmete lugemise lihtsamaks.</p>
	<h3><tmpl_var _("webui", "status_logs_refresh_btn")></h3>
	<p>Kasutage seda kuvatavate logiandmete v
rskendamiseks.</p>
	<h3><tmpl_var _("webui", "status_logs_download_btn")></h3>
	<p>Kasutage seda nuppu, kui soovite logiandmeid arvutisse v
hendatud seadmesse laadida.</p>
<!-- end Status Logs -->
