<!-- Port Forwarding -->
<div id="port_forward">
	<h1>Enrutamiento de puertos</h1>
	<h2>Descripci
	<p>La funci
n de Enrutamiento de puertos permite que el tr
fico entrante de Internet se reenv
e a una computadora o un dispositivo particulares en su red de Wi-Fi. Normalmente, el firewall incorporado bloquea el tr
fico entrante de Internet. Se usa el Enrutamiento de puertos para permitir a los usuarios de Internet acceder a cualquier servidor que se ejecute en la computadora, como un servidor web, FTP o de correo electr
nico. En el caso de algunos juegos en l
nea, se debe usar el Enrutamiento de puertos para que los juegos funcionen correctamente. Tenga en cuenta que el uso del Enrutamiento de puertos crea un riesgo para la seguridad y debe permanecer desactivado cuando no se requiera. </p>
<p><strong>Nota:</strong> Algunas redes inal
mbricas m
viles le proporcionan una direcci
n de IP en su propia red en lugar de una direcci
n de IP en Internet. En este caso, el Enrutamiento de puertos no se puede usar porque los usuarios de Internet no pueden ponerse en contacto con su direcci
n de IP. </p>
	<h2>Aplicaciones de Enrutamiento de puertos</h2>
	<h3>Casillas de verificaci
n de las aplicaciones</h3>
		<p> Se enumera una cantidad de aplicaciones comunes del servidor. Para usar cualquiera de estas aplicaciones, siga el procedimiento que se presenta a continuaci
			<li>1. Instale la aplicaci
n en una computadora que est
 conectada a la red de Wi-Fi de este dispositivo.</li>
			<li>2. En la computadora, verifique su direcci
n de IP para la red de Wi-Fi. De forma alternativa, puede verificar la direcci
n de IP de la computadora en la pantalla Dispositivos conectados.</li>
			<li>3. En esta pantalla, ingrese la direcci
n de IP de su computadora en el campo <strong>Direcci
n de IP de dispositivo conectado</strong> al lado de la aplicaci
			<li>4. Active esta aplicaci
n en esta pantalla al marcar su casilla de verificaci
			<li>5. Guarde los cambios.</li>
			<li>6. En la pantalla <strong>Estado actual</strong>, tome nota de la direcci
n de IP en Internet de este dispositivo.</li>
			<li>7. P
dales a los usuarios en Internet que se conecten a la direcci
n de IP en Internet de este dispositivo. Estas solicitudes de conexi
n se reenviar
n a la direcci
n de IP especificada en el paso 3.</li>
	<h2>Aplicaciones personalizadas</h2>
	<p>Esta funci
n le permite definir sus propias aplicaciones. Una vez definidas, estas aplicaciones se pueden activar y desactivar de la misma manera que las aplicaciones predefinidas. Para definir una aplicaci
n, debe conocer los puertos y el protocolo (TCP, UDP) usados por la aplicaci
n para el tr
fico entrante. Para comenzar, haga clic en el bot
n <strong>Agregar aplicaci
n personalizada</strong> y luego ingrese los datos siguientes. </p>
	<h3>Casilla de verificaci
n de la aplicaci
	<p>Use esta casilla para activar una aplicaci
s de haberla definido. </p>
	<h3>Nombre de la aplicaci
	<p> Ingrese un nombre adecuado para la aplicaci
n que define. </p>
	<h3>Direcci
n de IP del dispositivo conectado</h3>
	<p> Ingrese la direcci
n de IP del dispositivo conectado que recibir
 este tr
fico. </p>
	<h3>Tipo de puerto y n
meros de puerto</h3>
		<p>Cada aplicaci
n posee su propio rango de puertos. Ingrese el comienzo y el final del rango de puertos para cada aplicaci
		<div class="blockgroup">
				<li>Para un rango de puertos, ingrese el comienzo del rango en el campo <strong>Desde</strong> y el fin del rango en el campo <strong>Hasta</strong>.</li>
				<li>Para un puerto de traducci
n, ingrese el n
mero de puerto en los campos <strong>Ext</strong> e <strong>Int</strong>.</li>
			</ul>
		</div>
	<h3>Protocolo</h3>
	<p> Para cada rango de puertos, seleccione el protocolo (TCP o UDP) usado por ese rango de puertos. </p>
	<h3>Eliminar</h3>
	<p>Use esta casilla de verificaci
n para eliminar una aplicaci
n personalizada. </p>
<!-- id="port_forward" -->
