<!-- Manual DNS -->
<div id="manual_dns">
	<h1><tmpl_var _("webui", "adv_manual_dns_menu_text")></h1>
	<h2>Descripci
n general</h2>
	<p>Por lo general, la direcci
n DNS se proporciona autom
ticamente. Esta p
gina le permite especificar manualmente un DNS, si es necesario.
	<h2>Ajustes</h2>
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_enable_label"), (size(_("webui", "adv_manual_dns_enable_label")) - size(":")))></h3>
	<p>Utilice estos ajustes para activar o desactivar la funci
n DNS manual. Si est
 activada, se deben proporcionar los siguientes datos.
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_address1_label"), (size(_("webui", "adv_manual_dns_address1_label")) - size(":")))>
	<p>Ingrese la direcci
n de IP del DNS principal deseado. Esta direcci
n es obligatoria para utilizar la funci
n de DNS manual.
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_address2_label"), (size(_("webui", "adv_manual_dns_address2_label")) - size(":")))>
	<p>Ingrese la direcci
n de IP del DNS secundario deseado (de respaldo).
		Esta direcci
n es opcional y puede quedar en blanco si se desea.
<!-- id="manual_dns" -->
