<div id="inseego_connect">
	<h1><tmpl_var _("webui", "inseego_connect_help_title_text")></h1>
	<h2><tmpl_var _("webui", "inseego_connect_cloud_services_text")></h2>
		Inseego Connect es un producto de plataforma en la nube que proporciona visibilidad de 360 grados y accesibilidad segura a su implementaci
n desde una 
nica plataforma. Utilice esta p
gina para habilitar y configurar los ajustes para la conexi
n con Inseego Connect.
	<h3><tmpl_var _("webui", "inseego_connect_label")></h3>
		De forma predeterminada, la conexi
n a Inseego Connect est
 DESACTIVADA. Deslice el control deslizante ENCENDIDO/APAGADO en ENCENDIDO para habilitar la conexi
	<h2><tmpl_var _("webui", "inseego_connect_status_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_connection_state_label")></h3>
		Es un informe sobre la conexi
n de sus dispositivos al servidor de Inseego Connect. <br>
		Arriba: el dispositivo se est
 comunicando con los servidores de Inseego Connect, <br>   
	Abajo: el dispositivo no se comunica con los servidores de Inseego Connect.<br>
	<h3><tmpl_var _("webui", "inseego_connect_last_reported_label")></h3>
		Es igual a la hora en su dispositivo a la que envi
ltima vez un paquete a los servidores de Inseego Connect.
	<h3><tmpl_var _("webui", "inseego_connect_interval_label")></h3>
		Este es el intervalo en el que su dispositivo enviar
 paquetes al servidor de Inseego Connect.
		NOTA: Un intervalo m
s corto significa m
s consumo de datos.
	<h3><tmpl_var _("webui", "inseego_connect_mobile_app_text")></h3>
		Utilice el enlace para descargar la aplicaci
vil de Inseego Connect.
