<!-- Change Admin Password  -->
<div id="set_passcode">
 <tmpl_var _("webui", "webui_product_name")> 
 <tmpl_var _("webui", "webui_product_name")></h2>
<tmpl_var _("webui", "webui_product_name")> 
 <tmpl_var _("webui", "webui_product_name")> 
 <tmpl_var _("webui", "webui_product_name")> 
 <tmpl_var _("webui", "webui_product_name")> 
	<tmpl_if showDisplayPascode>
 <tmpl_var _("webui", "webui_product_name")></h2>
 *********. 
 Jetpack.</p>
	</tmpl_if>
 <tmpl_var _("webui", "webui_product_name")></h2>
	<h3><tmpl_var truncate(_("webui", "set_passcode_confirm_passcode_label"), (size(_("webui", "set_passcode_confirm_passcode_label")) - size(":")))></h3>
	<h3><tmpl_var truncate(_("webui", "set_passcode_security_question_label"), (size(_("webui", "set_passcode_security_question_label")) - size(":")))></h3>
 "I forgot the Admin Password (
	<h3><tmpl_var truncate(_("webui", "set_passcode_security_answer_label"), (size(_("webui", "set_passcode_security_answer_label")) - size(":")))></h3>
<!-- id="set_passcode" -->
