<!-- WiFi Advanced -->
<div id="wifi_advanced">
valga</h2>
	<p>Paprastai galima palikti numatyt
 nuostat
 vertes, ta
iau prireikus galite jas koreguoti, kad atitikt
jungimo / i
jungimo valdiklis</h2>
	<p>Naudokite 
 valdikl
dami prireikus 
jungti arba i
jungus, <tmpl_var _("webui", "webui_product_name_with_suffix")> 
 tinklas bus nepasiekiamas, tod
l liks vienintelis b
das prisijungti prie <tmpl_var _("webui", "webui_product_name")> 
 naudoti USB laid
	<h3>Leisti atlikti 
 nuostat
 pakeitimus 
 ekrane</h3>
	<p>Naudokite 
 valdikl
dami prireikus 
jungti arba i
jungus, 
 tinklas bus nepasiekiamas, tod
l liks vienintelis b
das prisijungti 
 naudoti USB laid
	<h3><tmpl_var _("webui", "wifi_advanced_max_connections_label")></h3>
	<p>Nustatykite, kiek 
 vienu metu gali prisijungti prie <tmpl_var _("webui", "webui_product_name_with_suffix")> 
 tinklo (-
	<h2><tmpl_var _("webui", "wifi_advanced_profile_title")></h2>
i nuostata apibr
ia, kaip naudojamas kiekvienas da
 diapazonas (2,4 GHz ir 5 GHz) ir ar pasiekiamas sve
 tinklas.</p>
	<tmpl_if SwapToggleButtonAction>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_ghz_band_label")></h3>
		<p>Rodomas 2,4 GHz 802.11 re
imas, kuris aptinkamas automati
kai.</p>
	<tmpl_else>
		<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_ghz_band_label")></h3>
		<p>Nor
dami pritaikyti 
 diapazon
 pagrindiniam tinklui, sve
io tinklui arba t
 diapazon
jungti, pasirinkite pageidaujam
 parinkt
	</tmpl_if>
	<h3><tmpl_var _("webui", "wifi_advanced_five_ghz_band_label")></h3>
dami pritaikyti 
 diapazon
 pagrindiniam tinklui, sve
io tinklui arba t
 diapazon
jungti, pasirinkite pageidaujam
 parinkt
. Atminkite, kad negalite i
jungti abiej
nio diapazon
	<h2><tmpl_var _("webui", "wifi_advanced_two_point_four_g_band_options_title")></h2>
	<p>Kaip numatyta, 
ios nuostatos yra pasl
ptos, ta
iau galite spustel
ti antra
, kad jos b
 matomos. 
ios nuostatos naudojamos veikiant 2,4 GHz da
nio diapazonui.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_802_11_mode_label")></h3>
	<p>Jei reikia, 
 nuostat
 naudokite 
imui pakeisti. Paprastai paliekama numatytoji 
ios nuostatos vert
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_channel_label")></h3>
ti palikta vert
 <strong>Automatin
</strong>, nebent jums reikia pasirinkti konkret
 savo aplinkai.</p>
	<h2><tmpl_var _("webui", "wifi_advanced_five_g_options_title")></h2>
	<p>Kaip numatyta, 
ios nuostatos yra pasl
ptos, ta
iau galite spustel
ti antra
, kad jos b
 matomos. 
ios nuostatos naudojamos veikiant 5 GHz da
nio diapazonui.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_802_11_mode_label")></h3>
	<p>Jei reikia, 
 nuostat
 naudokite 
imui pakeisti. Paprastai n
asties keisti numatytosios vert
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_bandwidth_label")></h3>
	<p>Pasirinkite norim
 parinkt
ti naudojama numatytoji vert
, nebent b
. Tokiu atveju suma
 juostos plot
iau.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_channel_label")></h3>
ti palikta vert
 <strong>Automatin
</strong>, nebent jums reikia pasirinkti konkret
 savo aplinkai.</p>
<!-- id="wifi_advanced" -->
