<!-- Vpn -->
<div id="vpn">
        
	<h2>Oversigt</h2>
         <p>Brug denne funktion til at etablere en tunnelforbindelse til en OpenVPN-server og dirigere al trafik p
 tilsluttede enheder gennem tunnelen.</p>
        
	<h2>Forbind automatisk VPN</h2>
         
         <p>Hvis den er sl
et TIL, etableres VPN-tunnelen automatisk, n
r der oprettes en internetforbindelse. Hvis den er sl
et FRA, skal du oprette VPN-forbindelsen manuelt.</p>
	<h2>VPN-forbindelse</h2>
         <h3>Tilslutningsstatus</h3>
         <p>Viser status for VPN-forbindelsen.</p>
         <h3>Tilslutningstid</h3>
         <p>Viser, hvor lang tid VPN-forbindelsen er etableret for.</p>
         <h3>Forbind</h3>
         <p>Klik p
 knappen Opret forbindelse for at oprette forbindelse til VPN-serveren, der er konfigureret ved hj
lp af VPN-indstillinger.</p>
	 <h3>Vis log</h3>
         <p>N
r der er oprettet en OpenVPN-forbindelse, skal du klikke p
 knappen Vis log for at f
 vist VPN-forbindelsesloggen.</p>
	<h2>VPN-indstillinger</h2>
	<h3>Ops
tning af filer</h3>
         <p>Tr
k og slip OpenVPN-konfigurationsfilerne fra din OpenVPN-udbyder i filupload-omr
det.</p>
	<h3>Brugernavn</h3>
         <p>Indtast dit brugernavn til OpenVPN-forbindelsen her.</p>
	<h3>Adgangskode</h3>
         <p>Indtast din adgangskode til OpenVPN-forbindelsen her.</p>
	<h3>Ryd alle VPN-indstillinger</h3>
         <p>Klik p
 knappen Slet alle VPN-indstillinger for at slette VPN-filer, VPN-logfiler og nulstille alle VPN-indstillinger til den oprindelige ikke-konfigurerede tilstand.</p>
        
 <!-- id="Vpn" -->
