<!-- LAN -->
<div id="lan">
	<h1><tmpl_var _("webui", "adv_lan_menu_text")></h1>
	<h2><tmpl_var _("webui", "adv_lan_ip4_sub_header_text")></h2>
	<tmpl_if LANIPAddressShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_address_label"), (size(_("webui", "adv_lan_ip4_address_label")) - size(":")))></h3>
	</tmpl_if>
	<tmpl_if LANSubnetMaskShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_subnet_mask_label"), (size(_("webui", "adv_lan_ip4_subnet_mask_label")) - size(":")))></h3>
255.255.255.0
	</tmpl_if>
	<tmpl_if LANMacAddressShow>	
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_mac_address_label"), (size(_("webui", "adv_lan_ip4_mac_address_label")) - size(":")))></h3>
		<p>MAC
	</tmpl_if>
	<tmpl_if LANDHCPEnableShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_dhcp_enable_label"), (size(_("webui", "adv_lan_ip4_dhcp_enable_label")) - size(":")))></h3>
	</tmpl_if>
	<tmpl_if LANLANDHCPLeaseTimeShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_dhcp_lease_time_label"), (size(_("webui", "adv_lan_ip4_dhcp_lease_time_label")) - size(":")))></h3>
	</tmpl_if>
	<tmpl_if LANDHCPStartAddressShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_dhcp_range_begin_label"), (size(_("webui", "adv_lan_ip4_dhcp_range_begin_label")) - size(":")))></h3>
	</tmpl_if>
	<tmpl_if LANDHCPEndAddressShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_current_dhcp_range_label"), (size(_("webui", "adv_lan_ip4_current_dhcp_range_label")) - size(":")))></h3>
	</tmpl_if>
	<tmpl_if LANReservedIPAddressShow>		
	<h3><tmpl_var truncate(_("webui", "adv_lan_reservedIp_button"), (size(_("webui", "adv_lan_reservedIp_button")) - size(":")))></h3>
<tmpl_var _("webui", "webui_product_name")>
	</tmpl_if>
	<tmpl_if ipv6Supported>		
		<h2><tmpl_var _("webui", "adv_lan_ip6_sub_header_text")></h2>
		<tmpl_if showIPv6EnableOption>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip6_enable_label"), (size(_("webui", "adv_lan_ip6_enable_label")) - size(":")))></h3>
		</tmpl_if>	
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip6_link_local_label"), (size(_("webui", "adv_lan_ip6_link_local_label")) - size(":")))></h3>
 Link-Local
	</tmpl_if>	
<!-- id="lan" -->
