<!-- Status Logs -->
<div id="status_logs">
	<h1><tmpl_var _("webui", "status_logs_menu_text")></h1>
	<h3><tmpl_var _("webui", "status_logs_enable_logs_label")></h3>
	<h3><tmpl_var _("webui", "status_logs_delete_sys_logs_label")></h3>
	<h3><tmpl_var _("webui", "status_logs_mobile_network_log_href")></h3>
	<h3><tmpl_var _("webui", "status_logs_system_log_href")></h3>
	<h3><tmpl_var _("webui", "status_logs_clear_log_btn")></h3>
	<h3><tmpl_var _("webui", "status_logs_refresh_btn")></h3>
	<h3><tmpl_var _("webui", "status_logs_download_btn")></h3>
<!-- end Status Logs -->
