<!-- SIM Lock -->
<div id="sim">
        <h1><tmpl_var _("webui", "adv_sim_manager_menu_text")></h1>
        <h2>P
rskats</h2>
        <p>SIM karti, kas ievietota j
su <tmpl_var _("webui", "webui_product_name")>, var blo
t, izmantojot PIN kodu. Ja SIM karte ir blo
ta, pirms savienojuma ar mobilo t
klu izveides ir j
ievada PIN kods. Kad PIN kods ir ievad
ts, tas tiek saglab
kamajai izsl
anai.</p>
	<p>Papildus iesp
jai nepiecie
t SIM kartes PIN kodu 
 varat ar
t SIM karti vai main
t SIM kartes PIN kodu. Parasti, lai main
tu SIM karti, ir j
ais PIN kods. Novatel Wireless SIM kartes noklus
juma PIN kods ir pieejams pie pakalpojumu sniedz
	<h3><tmpl_var truncate(_("webui", "adv_sim_manager_pin_lock_feature_label"), (size(_("webui", "adv_sim_manager_pin_lock_feature_label")) - size(":")))></h3>
		<p>Lauks nor
da, vai PIN koda blo
anas funkcija tiek vai netiek izmantota. Ja iestat
jums ir iesl
gts, PIN koda blo
ana ir iesl
gta, un, lai izveidotu savienojumu ar mobilo t
ievada SIM kartes PIN kods. Ja iestat
jums ir izsl
gts, PIN koda blo
anas funkcija nav iesl
gta, un SIM kartes PIN kods nav j
ievada.</p>
	<h3><tmpl_var truncate(_("webui", "adv_sim_manager_status_label"), (size(_("webui", "adv_sim_manager_status_label")) - size(":")))></h3>
	<p>Lauk
ts SIM kartes pa
jais statuss. Iesp
bas.</p>
	<div class="blockgroup">
	        <ul>
	        <li>Gatavs 
is ir norm
voklis. SIM kartes PIN kods netiek izmantots.</li>
	        <li>PIN koda blo
 lai izmantotu mobilo t
ievada SIM kartes PIN kods.</li>
	        <li>PUK koda blo
 lai turpin
ievada SIM kartes PUK kods. PUK kodu varat sa
emt no sava pakalpojumu sniedz
ja.</li>
	        <li>Atblo
 SIM kartes PIN kods ir nepiecie
ams, bet tas jau ir ievad
ts.</li>
	        <li>Nav SIM kartes 
 SIM karte netika noteikta. Ja jums ir SIM karte, p
rbaudiet, vai t
 ir ievietota pareizi.</li>
	        <li>SIM kartes k
 tika noteikta SIM karte, bet t
 neatbild
ts, un to nevar izmantot.</li>       
	        </ul>
        <h2>SIM kartes darb
bas</h2>
        <p>Pieejam
bas ir atkar
gas no pa
 SIM kartes statusa. Visas iesp
bas ir nor
tas un izskaidrotas t
		<h3>PIN koda blo
ana</h3>
		<p>Ja SIM karte pa
laik ir blo
ta ar PIN kodu, tiek par
ta uzvedne ievad
t PIN kodu. 
k daudz rei
siet nepareizu PIN kodu, SIM karte tiek blo
ta ar PUK kodu. Skait
da, cik nepareizu ierakstu izrais
s PUK koda blo
anu. Kad izmantota blo
ana ar PUK kodu, PUK kods ir j
su pakalpojumu sniedz
		<h3>PUK koda blo
ana</h3>
		<p>Ja SIM karte pa
laik ir blo
ta ar PUK kodu, vien
ba ir ievad
t PUK kodu. 
k daudz rei
siet nepareizu PUK kodu, SIM karte k
s neatgriezeniski nelietojama. Jums b
jas jauna SIM karte. Skait
da atliku
o ievades m
jumu skaitu.</p>
		<h3><tmpl_var _("webui", "adv_sim_manager_enable_pin_lock_option")></h3>
di SIM karte tiek iestat
ievada PIN kods, lai izveidotu savienojumu ar mobilo t
klu. Lai veiktu 
bu, ir j
ievada pa
jais PIN kods.</p>
		<h3><tmpl_var _("webui", "adv_sim_manager_disable_pin_option")></h3>
o iestat
jumu var izmantot, lai izsl
gtu iepriek
gtu PIN koda blo
anu un lai PIN koda ievad
ana vairs neb
tu nepiecie
ama savienojuma ar mobilo t
klu izveidei. Lai veiktu 
bu, ir j
ievada pa
jais PIN kods.</p>
		<h3><tmpl_var _("webui", "adv_sim_manager_change_pin_option")></h3>
		<p>Lai main
o PIN kodu, atlasiet 
o opciju un p
c tam ievadiet nepiecie
amos datus:</p>
		<div class="blockgroup">
			<li>Pa
jais PIN kods</li>
			<li>Jaunais PIN kods</li>
			<li>Apstipriniet jauno PIN kodu</li>
			</ul>
		</div>
		<p><tmpl_var _("webui", "adv_sim_manager_name_text")></p>
<!-- id="sim" -->
