<!-- Reserved IP Addresses -->
<div id="reserved_ip">
		<h1>Reserverte IP-adresser</h1>
		<h2>Oversikt</h2>
		<p>Denne funksjonen kan brukes til 
 sikre at en tilkoblet enhet alltid tildeles den samme IP-adressen av <tmpl_var _("webui", "webui_product_name")>. Klikk p
 denne knappen for 
 tilgang til konfigurasjonsskjermen for denne funksjonen.</p>
		<h3>DHCP-adresseomr
		<p>Her vises det gjeldende DHCP-adresseomr
det. Alle reserverte IP-adresser m
re innenfor dette omr
det.</p>
		<h2>Tabell over reserverte IP-adresser</h2>
		<p>Opprinnelig vil denne tabellen v
re tom og skjult. Hvis du vil legge til en rad i denne tabellen, klikker du p
 knappen 
Legg til reservert IP
. Legg til s
 mange rader du trenger. Hver rad har f
lgende felt.</p>
		<h3>Aktiver</h3>
		<p>Bruk denne avkryssingsruten for 
 aktivere eller deaktivere hver oppf
ring (rad) etter behov. Hvis den er aktivert, vil den angitte IP-adressen tilordnes den spesifiserte enheten. Hvis den er deaktivert, er IP-adressen tilgjengelig for alle tilkoblede enheter.</p>
		<h3>Enhetstype</h3>
		<p>Velg det mest passende alternativet for den tilkoblede enheten.</p>
		<h3>Enhetsnavn</h3>
		<p>Hvis 
nskelig, kan du oppgi et beskrivende navn for den tilkoblede enheten. Dette feltet kan v
re tomt.</p>
		<h3>MAC-adresse</h3>
		<p>Dette feltet er viktig. Angi MAC-adressen til den tilkoblede enheten. Hvis den tilkoblede enheten har mer enn ett nettverksgrensesnitt (for eksempel b
de wifi og ethernet), m
 du angi du MAC-adressen til grensesnittet som skal brukes til 
 koble til <tmpl_var _("webui", "webui_product_name")>.</p>
		<h3>IP-adresse</h3>
		<p>Angi IP-adressen du 
 tilordne til denne tilkoblede enheten. Denne IP-adressen m
re innenfor DHCP-adresseomr
det som er vist ovenfor.</p>
<!-- id="reserved_ip" -->
