<!-- Change Admin Password  -->
<div id="set_passcode">
	<h1>Administratora parole</h1>
rskats</h2>
	<p>Administratora parole tiek izmantota, lai pierakst
 <tmpl_var _("webui", "webui_product_name")> administratora vietn
. Lapa <em>Administratora parole</em> 
auj main
t administratora paroli un iestat
as ar administratora paroli saist
bas opcijas.</p>
	<h2>Main
t <tmpl_var _("webui", "webui_product_name")> administratora paroli</h2>
	<p>Lai main
jo administratora paroli, vispirms t
k redzamaj
ievada pa
 administratora parole. P
c tam ekr
ns tiks atjaunin
ts, un taj
s pieejama opcija, lai iestat
tu jaunu administratora paroli un ievad
bas jaut
jumu gad
jumam, ja administratora parole ir pazaud
 <tmpl_var _("webui", "webui_product_name")> administratora parole</h3>
 ievadiet pa
jo <tmpl_var _("webui", "webui_product_name")> administratora paroli. 
k daudz rei
sit nepareizu v
 <tmpl_var _("webui", "webui_product_name")> administratora vietne tiks blo
ta. Lai no
anu, <tmpl_var _("webui", "webui_product_name")> ir j
	<tmpl_if showDisplayPascode>
t <tmpl_var _("webui", "webui_product_name")> administratora paroli</h2>
		<p>Ja 
is iestat
jums ir iesl
gts, tiek par
ts ********. Ja 
is iestat
jums ir izsl
gts, administratora paroli var nolas
t Jetpack displej
	</tmpl_if>
	<h2>Main
t <tmpl_var _("webui", "webui_product_name")> administratora paroli</h2>
	<h3>Jauna administratora parole</h3>
	<p>Ievadiet jauno administratora paroli, izmantojot tikai burtus, ciparus un standarta pieturz
mju simbolus. Parol
t vismaz 8 rakstz
	<h3><tmpl_var truncate(_("webui", "set_passcode_confirm_passcode_label"), (size(_("webui", "set_passcode_confirm_passcode_label")) - size(":")))></h3>
rtoti ievadiet jauno administratora paroli 
	<h3><tmpl_var truncate(_("webui", "set_passcode_security_question_label"), (size(_("webui", "set_passcode_security_question_label")) - size(":")))></h3>
bas jaut
jums tiek izmantots, ja administratora parole ir pazaud
ta un tiek izmantota opcija "Es aizmirsu administratora paroli". Atlasiet v
lamo jaut
jumu un sniedziet atbildi t
k redzamaj
	<h3><tmpl_var truncate(_("webui", "set_passcode_security_answer_label"), (size(_("webui", "set_passcode_security_answer_label")) - size(":")))></h3>
	<p>Sniedziet atbildi uz iepriek
bas jaut
, ka atbildes ir re
gas.</p>
<!-- id="set_passcode" -->
