<!-- Port Forwarding -->
<div id="port_forward">
	<h1>Portweiterleitung</h1>
bersicht</h2>
	<p>Die Portweiterleitungs-Funktion erm
glicht es, das eingehender Verkehr aus dem Internet an einen bestimmten Computer oder ein bestimmtes Ger
t in Ihrem WLAN-Netzwerk weitergeleitet wird. Normalerweise blockiert die integrierte Firewall eingehenden Verkehr aus dem Internet. Sie verwenden die Portweiterleitung, um Internetbenutzern den Zugriff auf jeden Server zu erm
glichen, den Sie auf Ihrem Computer betreiben, z.
B. einen Web-, FTP- oder E-Mail-Server. Bei einigen Onlinespielen muss die Portweiterleitung verwendet werden, damit sie korrekt funktionieren. Beachten Sie, dass die Nutzung der Portweiterleitung ein Sicherheitsrisiko darstellt und ausgeschaltet bleiben sollte, wenn Sie sie nicht ben
tigen.</p>
<p><strong>Hinweis:</strong> Einige mobile drahtlose Netzwerke stellen Ihnen statt einer Internet-IP-Adresse eine IP-Adresse in ihrem eigenen Netzwerk zur Verf
gung. In diesem Fall kann die Portweiterleitung nicht verwendet werden, da Internetbenutzer Ihre IP-Adresse nicht erreichen k
nnen.</p>
	<h2>Portweiterleitungs-Anwendungen</h2>
	<h3>Anwendungskontrollk
stchen</h3>
		<p>Es wird eine Reihe g
ngiger Serveranwendungen aufgef
hrt. Gehen Sie wie folgt vor, um eine dieser Anwendungen zu verwenden:</p>
			<li>1. Installieren Sie die Anwendung auf einem Computer, der mit dem WLAN-Netzwerk dieses Ger
ts verbunden ist.</li>
			<li>2. 
fen Sie auf dem Computer die IP-Adresse f
r das WLAN-Netzwerk. Alternativ k
nnen Sie die IP-Adresse des Computers auf dem Bildschirm 
Verbundene Ger
fen.</li>
			<li>3. Geben Sie auf diesem Bildschirm die IP-Adresse des Computers in das Feld <strong>IP-Adresse des verbundenen Ger
ts</strong> neben der Anwendung ein</li>
			<li>4. Aktivieren Sie die Anwendung auf diesem Bildschirm, indem Sie das entsprechende Kontrollk
stchen markieren.</li>
			<li>5. Sichern Sie Ihre 
nderungen.</li>
			<li>6. Notieren Sie sich die auf dem Bildschirm <strong>Aktueller Status</strong> angezeigte Internet-IP-Adresse des Ger
			<li>7. Bitten Sie Internetbenutzer, sich mit der Internet-IP-Adresse dieses Ger
ts zu verbinden. Diese Verbindungsanfragen werden an die in Schritt
3 angegebene IP-Adresse weitergeleitet.</li>
	<h2>Benutzerdefinierte Anwendungen</h2>
ber diese Funktion k
nnen Sie Ihre eigenen Anwendungen definieren. Einmal definiert, k
nnen diese Anwendungen auf die gleiche Weise wie vordefinierte Anwendungen aktiviert oder deaktiviert werden. Um eine Anwendung zu definieren, m
ssen Sie die Ports und das Protokoll (TCP, UDP) kennen, die von der Anwendung f
r eingehenden Datenverkehr verwendet werden. Klicken Sie zu Beginn auf die Schaltfl
che <strong>Benutzerdefinierte Anwendung hinzuf
gen</strong> und geben Sie dann die folgenden Daten ein.</p>
	<h3>Anwendungskontrollk
stchen</h3>
	<p>Damit k
nnen Sie eine Anwendung aktivieren, nachdem Sie sie definiert haben.</p>
	<h3>Anwendungsname</h3>
	<p>Geben Sie einen geeigneten Namen f
r die Anwendung ein, die Sie definieren.</p>
	<h3>IP-Adresse des verbundenen Ger
	<p>Geben Sie die IP-Adresse des verbundenen Ger
ts ein, das diesen Datenverkehr empfangen soll.</p>
	<h3>Porttyp und Portnummern</h3>
		<p>Jede Anwendung hat ihren eigenen Portbereich. Geben Sie f
r jede Anwendung den Start und das Ende des Portbereichs ein.</p>
		<div class="blockgroup">
				<li>Geben Sie f
r einen Portbereich den Anfang des Bereichs in das Feld <strong>Von</strong> und das Ende des Bereichs in das Feld <strong>Bis</strong> ein.</li>
				<li>Geben Sie f
r einen 
bersetzungsport die Portnummer in das Feld <strong>Extern</strong> und auch in das Feld <strong>Intern</strong> ein.</li>
			</ul>
		</div>
	<h3>Protokoll</h3>
hlen Sie f
r jeden Portbereich das von diesem Portbereich verwendete Protokoll (TCP oder UDP) aus.</p>
schen</h3>
ber dieses Kontrollk
stchen k
nnen Sie eine benutzerdefinierte Anwendung l
schen.</p>
<!-- id="port_forward" -->
