<!-- MAC Filter -->
<div id="macfilter">
	<h1><tmpl_var _("webui", "adv_macfilter_menu_text")></h1>
rskats</h2>
	<p>MAC filtra funkcija, ja t
 ir iesl
aus piek
im Wi-Fi t
klam nevienai ier
cei, kas nav iek
auta sarakst
 MAC adre
u filtrs. Filtrs attiecas tikai uz Wi-Fi t
klu, un tas neietekm
 USB ier
ces.</p>
	<h2>Iesl
anas/izsl
anas vad
kla</h2>
	<p>Izmantojiet 
klu, lai p
c nepiecie
bas iesl
gtu vai izsl
gtu MAC filtru. Pirms iesl
anas ir j
s, ka da
ces ir at
, ka, iesl
dzot MAC filtru, visas pievienot
ces, kas nav iek
autas sarakst
 "MAC adre
u filtrs", tiks nekav
joties atvienotas.</p>
	<h2>Ier
u saraksts</h2>
tas visas zin
emot USB ier
ces. Izmantojiet pieejam
as, lai iek
autu ier
ces sarakst
 "MAC adre
u filtrs" vai izsl
gtu no t
	<h3><tmpl_var _("webui", "adv_macfilter_refresh_button")></h3>
	<p>Izmantojiet atsvaidzin
anas pogu, lai p
c nepiecie
bas atjaunin
tu sarakstu.</p>
	<h2>Darb
	<h3>Blo
 ar MAC filtru</h3>
u un MAC filtra mijiedarb
	<div class="blockgroup">
	<li>Blo
ces vienm
r tiek blo
tas Wi-Fi t
 neatkar
, vai MAC filtrs ir iesl
gts vai izsl
gts.</li>
	<li>Ja MAC filtrs ir iesl
gts un ier
ce ir sarakst
ts", bet nav iek
auta sarakst
 "MAC adre
u filtrs", t
s izveidot savienojumu. Gan MAC filtrs, gan blo
aus izveidot savienojumu.</li>
	<li>Ja MAC filtrs ir iesl
gts un ier
ce ir iek
auta sarakst
 "MAC adre
u filtrs", ier
s izveidot savienojumu. P
c savienojuma izveides to var blo
emot to no saraksta "MAC adre
u filtrs" vai izmantojot funkciju Blo
t. Parasti funkcija Blo
izmanto pagaidu blo
anai, bet MAC filtrs 
anai.</li>
	<h3><tmpl_var _("webui", "adv_macfilter_add_device_button")></h3>
	<p>Izmantojiet 
o pogu, lai ier
u sarakstam pievienotu jaunu ier
<!--  macfilter  -->
