<!-- ZTP -->
<div id="ztp">
	<h1><tmpl_var _("webui", "ztp_menu_text")></h1>
	<h2><tmpl_var _("webui", "ztp_header")></h2>
nd den h
r fliken f
r att initiera Zero Touch Provisioning (ZTP) n
r enheter integreras i Inseego 5G SD EDGE<sup>TM</sup> Manager.</p>
	<h3>Protokoll</h3> <p>Anv
nd TLS-kryptering som protokoll.</p>
	<p><b>VARNING:</b>TLS-kryptering rekommenderas starkt. Testet 
r i oformaterad text och endast f
l. Ditt n
tverks s
kerhet kan 
ventyras om testet anv
r drifts
ttning.</p>
	<h3>URL-/IP-adress</h3><p>Ange dom
nen som anv
r din EDGE Manager-instans.</p><br/>
	Klicka p
ndringar f
r att initiera ZTP.
