<!-- Port Filtering -->
<div id="port_filtering">
	<h1>Porttien suodatus</h1>
	<h2>Yleiskatsaus</h2>
	<p>Port Filtering (Porttien suodatus) -ominaisuudella voit tarvittaessa est
n Internet-liikenteen. Jos t
 asetus on kytketty p
lle, vain valituista sovelluksista saapuva liikenne p
see Internetiin. Liikenne tunnistetaan porttien numeroiden perusteella. Jotkin sovellukset on m
ritetty ennalta. Voit m
sovelluksia, mutta sinulla on oltava tarkat tiedot niiden sovellusten k
 ja luomasta liikenteest
, jotka haluat m
	<h2>Sovellukset</h2>
	<h3>Sovellusten valintaruudut</h3>
 valintaruutuja k
 voit sallia jokaiselle sovellukselle p
syn Internetiin, kun Port Filtering (Porttien suodatus) -ominaisuus on kytketty p
lle. Valituista sovelluksista saapuva liikenne p
see Internetiin. Muutoin liikenne on estetty.</p>
	<h2>Mukautetut sovellukset</h2>
n ominaisuuden avulla voit m
 omat sovelluksesi 
 jopa 10 sovellusta. Kun n
 sovellukset on m
ritetty, ne voidaan kytke
lle ja pois p
 samalla tavalla kuin ennalta m
ritetyt sovellukset. Jotta voit m
 sovelluksen, sinun on tiedett
 portit ja protokolla (TCP, UDP), joita sovellus k
n liikenteeseen. Aloita napsauttamalla <strong>Add Custom Application</strong> (Lis
 mukautettu sovellus) -painiketta ja anna sitten seuraavat tiedot.</p>
	<p>Huomaa, ett
 mukautettuun sovellukseen tehtyj
 muutoksia ei tallenneta, ennen kuin 
Save Changes
 (Tallenna muutokset) -painikkeella tallennetaan koko sivun sis
	<h3>Sovelluksen valintaruutu</h3>
n valintaruudun avulla voit kytke
 sovelluksen p
lle sen j
lkeen, kun olet m
nyt sen. Jos t
 on valittu, t
 sovelluksesta saapuva liikenne p
see Internetiin. Muutoin liikenne on estetty.</p>
	<h3>Sovelluksen nimi</h3>
	<p>Anna m
llesi sovellukselle sopiva nimi.</p>
	<h3>Porttialue (aloitusportti/lopetusportti)</h3>
		<p>Kullakin sovelluksella on oma porttialueensa. Sy
 kunkin sovelluksen porttialueen alku ja loppu.</p>
		<div class="blockgroup">
				<li>Sy
iselle portille portin numero sek
 <strong>Start Port</strong> (Aloitusportti)- ett
 <strong>End Port</strong> (Lopetusportti) -kentt
				<li>Sy
 porttialueelle alueen alku <strong>Start Port</strong> (Aloitusportti) -kentt
n ja alueen loppu <strong>End Port</strong> (Lopetusportti) -kentt
			</ul>
		</div>
	<h3>Protokolla</h3>
	<p>Valitse kullekin porttialueelle protokolla (TCP tai UDP), jota kyseinen porttialue k
	<h3>Poista</h3>
n valintaruudun avulla voit poistaa mukautetun sovelluksen.</p>
<!-- id="port_filtering" -->
