<!-- Manual DNS -->
<div id="manual_dns">
	<h1><tmpl_var _("webui", "adv_manual_dns_menu_text")></h1>
versikt</h2>
	<p>Normalt anges DNS-adressen automatiskt. P
r sidan kan du specificera en DNS manuellt, om s
	<h2>Inst
llningar</h2>
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_enable_label"), (size(_("webui", "adv_manual_dns_enable_label")) - size(":")))></h3>
nd den h
llningen f
 eller st
nga av funktionen Manuell DNS. Om den 
slagen m
ljande data tillhandah
llas.</p>
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_address1_label"), (size(_("webui", "adv_manual_dns_address1_label")) - size(":")))></h3>
	<p>Ange IP-adressen till 
nskad prim
r DNS. Den h
r adressen kr
r att anv
nda funktionen Manuell DNS.</p>
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_address2_label"), (size(_("webui", "adv_manual_dns_address2_label")) - size(":")))></h3>
	<p>Ange IP-adressen f
nskad sekund
r (reserv) DNS. Denna adress 
r valfri och kan l
mnas tom om s
nskas.</p>
<!-- id="manual_dns" -->
