<div id="customer_care">
	<h1><tmpl_var _("webui", "customer_care_menu_text")></h1>
	<h2>Vue d'ensemble</h2>
		Cette page contient des liens et des coordonn
es utiles si vous avez des probl
mes ou des questions.
	<h2><tmpl_var _("webui", "customer_care_self_support_text")></h2>
		Utilisez ces liens pour en savoir plus sur ce type d'appareils ou pour acc
der au soutien en ligne pour ce MiFi.
