<!-- adv_mns -->
<div id="adv_mns">
	<h1>Sele
o de rede</h1>
	<h2>Vis
o geral</h2>
	<p> Este dispositivo seleciona automaticamente a rede m
vel ideal. Se estiver usando redes baseadas em GSM, voc
m pode selecionar uma rede manualmente. Esse recurso "<tmpl_var _("webui", "menu_adv_mns_text")>" s
til se houver v
rias redes dispon
veis. Se esse recurso for usado, este dispositivo se conecta apenas 
 rede especificada e ignora as outras redes dispon
veis. </p>
	<h2>Status</h2>
	<p> Esta se
o indica qual Sele
o de Rede est
 em uso, a Manual ou a Autom
tica. Se a Sele
o de Rede Manual estiver em uso, a rede especificada tamb
 exibida. </p>
	<h2>Opera
	<h3><tmpl_var _("webui","adv_mns_scan_for_networks_btn")></h3>
	<p> Se a Sele
o de Rede Manual for poss
vel, este bot
vel. Clique nesse bot
o se desejar selecionar uma rede manualmente. O modem, ent
o, faz uma busca de todas as redes dispon
veis. Essa busca pode levar at
 dois minutos. </p>
	<p> Observa
o: Se esse bot
o for exibido, 
 porque a Sele
o de Rede Manual n
vel no local onde voc
 se encontra usando sua rede atual. </p>
	<h3>Lista de redes</h3>
	<div class="blockgroup">
	<p> Todas as redes dispon
veis ser
o exibidas na Lista de redes assim que a busca de redes for conclu
da. Em seguida, voc
 pode efetuar uma das seguintes opera
es: </p>
		<li> Cancelar - use esta op
o para manter a sele
o de rede autom
tica. </li>
		<li> Atualizar - use esta op
o para fazer uma nova busca se a rede desejada n
o estiver listada. Talvez seja necess
rio mudar a sua localiza
o para melhorar o sinal. </li>
		<li> Selecionar - use esta op
o para ativar a sele
o de rede manual com a rede especificada. Observe que talvez n
o seja poss
vel se conectar a todas as redes listadas. Se o seu provedor de servi
o tiver um acordo de roaming com a rede selecionada, haver
 uma falha na tentativa de conex
o. </li>
	<h3><tmpl_var _("webui","adv_mns_revert_to_automatic_btn")></h3>
	<p> Se a Sele
o de Rede Manual estiver em uso, este bot
vel. Clique nesse bot
o para mudar a sele
o de rede de manual para autom
tica. </p>
	<h3>Retornar 
 tela de rede</h3>
	<p> Use este link para retornar 
 tela de Redes. </p>
<!-- id="adv_mns" -->
