<!-- Port Forwarding -->
<div id="port_forward">
	<h1>Prievado persiuntimas</h1>
valga</h2>
	<p>Prievado persiuntimo funkcija leid
 interneto gaunam
 konkret
 tinklo kompiuter
. Paprastai integruotoji u
karda blokuoja i
 interneto gaunam
. Prievado persiuntimo funkcij
 naudojate tam, kad interneto naudotojai gal
 pasiekti bet kur
 kompiuteryje veikiant
, pvz., 
iniatinklio, FTP arba el. pa
to server
. Kad kai kurie internetiniai 
aidimai tinkamai veikt
, reikia naudoti prievado persiuntimo funkcij
. Atminkite, kad, naudojant prievado persiuntimo funkcij
, kyla pavojus saugumui, tod
l, kai nereikia, ji turi b
jungta.</p>
<p><strong>Pastaba.</strong> Kai kurie mobiliojo belaid
io tinklai suteikia savo tinklo, o ne interneto IP adres
. Tokiu atveju prievado persiuntimo negalima naudoti, nes interneto naudotojai negal
s pasiekti j
 IP adreso.</p>
	<h2>Prievado persiuntimo programos</h2>
	<h3>Program
ymimieji langeliai</h3>
		<p>Parodomos kelios bendrosios serverio programos. Nor
dami naudoti bet kuri
 program
, atlikite toki
diekite program
 kompiuteryje, kuris prijungtas prie 
renginio 
 tinklo.</li>
			<li>Kompiuteryje patikrinkite jo 
 tinklo IP adres
. Taip pat galite patikrinti kompiuterio IP adres
 prijungt
 ekrane.</li>
iame ekrane 
veskite kompiuterio IP adres
 prie programos esan
iame lauke <strong>Prijungto 
renginio IP adresas</strong>.</li>
junkite 
 program
iame ekrane pa
dami jos 
ykite pakeitimus.</li>
			<li>Ekrane <strong>Dabartin
sena</strong> pasi
renginio interneto IP adres
			<li>Papra
ykite interneto naudotoj
 prisijungti prie 
renginio interneto IP adreso. 
klausos bus persi
stos 3 veiksme nurodytu IP adresu.</li>
	<h2>Pasirinktin
s programos</h2>
i funkcija leid
ia jums nustatyti savo programas. Nusta
ias programas, jas galima 
jungti arba i
jungti tuo pa
du, kaip ir i
 anksto nustatytas programas. Nor
dami nustatyti program
, turite 
inoti prievadus ir protokol
 (TCP, UDP), kuriuos programa naudoja gaunamam duomen
 srautui. Nor
dami paleisti, spustel
kite mygtuk
 <strong>Prid
ti pasirinktin
 program
</strong> ir pateikite toliau nurodytus duomenis.</p>
	<h3>Programos 
ymimasis langelis</h3>
	<p>Naudokite j
, jei norite 
jungti program
	<h3>Programos pavadinimas</h3>
veskite tinkam
 programos, kuri
 nustatote, pavadinim
	<h3>Prijungto 
renginio IP adresas</h3>
veskite prijungto 
renginio, kuris gaus 
, IP adres
	<h3>Prievado tipas ir prievad
 numeriai</h3>
		<p>Kiekviena programa turi savo prievad
 diapazon
veskite kiekvienos programos prievad
 diapazono prad
 ir pabaig
		<div class="blockgroup">
				<li>Nor
dami nustatyti prievad
 diapazon
, lauke <strong>Nuo</strong> 
veskite diapazono prad
, o lauke <strong>Iki</strong> 
 diapazono pabaig
				<li>Nor
dami konvertuoti prievad
veskite prievado numer
 abiejuose laukuose: <strong>I
or.</strong> ir <strong>Vid.</strong>.</li>
			</ul>
		</div>
	<h3>Protokolas</h3>
	<p>Kiekvienam prievad
 diapazonui pasirinkite protokol
 (TCP arba UDP), naudojam
 tame prievad
 diapazone.</p>
alinti</h3>
	<p>Naudokite 
 pasirinktinei programai pa
alinti.</p>
<!-- id="port_forward" -->
