<div id="customer_care">
	<h1><tmpl_var _("webui", "customer_care_menu_text")></h1>
	<h2>Yleiskatsaus</h2>
 sivulla on linkkej
 ja yhteystietoja, joiden kautta saat ohjeita, jos sinulla on ongelmia tai kysymyksi
	<h2><tmpl_var _("webui", "customer_care_links_sub_header_verizon_text")></h2>
 linkeist
 Verizon Wireless -verkkosivustolle.</p>
	<h2><tmpl_var _("webui", "customer_care_support_sub_header_verizon_text")></h2>
 linkeist
 saat lis
tietoja t
ntyyppisest
 laitteesta tai p
n <tmpl_var _("webui", "webui_product_name")>-laitteen verkossa k
n tukipalveluun.</p>
	<h2><tmpl_var _("webui", "customer_care_numbers_sub_header_verizon_text")></h2>
	<p>Soita tarvittaessa Verizon Wirelessin asiakaspalveluun t
 esitettyyn puhelinnumeroon.</p>
