<!-- Port Forwarding -->
<div id="port_forward">
	<h1>Porta p
ana</h1>
rskats</h2>
	<p>Porta p
anas funkcija 
auj no interneta ien
o trafiku p
t uz noteiktu datoru vai ier
ci Wi-Fi t
. Parasti ieb
tais ugunsm
 no interneta ien
s izmantojat portu p
anu, lai at
autu interneta lietot
jiem piek
t jebkuram serverim, kas darbojas j
su dator
a, FTP vai e-pasta serverim. Da
saistes sp
m porta p
ana ir j
izmanto, lai sp
les darbotos pareizi. 
, ka porta p
anas izmanto
ana rada dro
bas risku, un tai j
gtai, kad t
 nav nepiecie
ama.</p>
<p><strong>Piez
me.</strong> Da
i mobilie bezvadu t
kli nodro
ina IP adresi sav
, nevis interneta IP adresi. 
 portu p
anu nevar izmantot, jo interneta lietot
ji nevar sasniegt j
su IP adresi.</p>
	<h2>Porta p
anas lietojumprogrammas</h2>
	<h3>Lietojumprogrammu izv
		<p>Ir nor
tas vair
kas izplat
tas servera lietojumprogrammas. Lai izmantotu k
m lietojumprogramm
m, izpildiet t
k aprakst
to proced
			<li>Instal
jiet lietojumprogrammu dator
, kas ir savienots ar 
ces Wi-Fi t
klu.</li>
			<li>Dator
rbaudiet t
 Wi-Fi t
kla IP adresi. Varat ar
t datora IP adresi ekr
 Savienot
ces.</li>
 ievadiet datora IP adresi lauk
 <strong>Pievienot
ces IP adrese</strong> blakus lietojumprogrammai.</li>
			<li>Iesl
o lietojumprogrammu 
			<li>Saglab
jiet izmai
as.</li>
			<li>Ekr
 <strong>Pa
jais statuss</strong> pierakstiet 
ces interneta IP adresi.</li>
			<li>L
dziet interneta lietot
jiem izveidot savienojumu ar 
ces interneta IP adresi. 
ie savienojuma piepras
jumi tiks p
ti uz IP adresi, kas nor
ta 3. darb
	<h2>Piel
gotas lietojumprogrammas</h2>
 funkcija 
auj defin
t savas lietojumprogrammas. Kad 
s lietojumprogrammas ir defin
s var iesl
gt vai izsl
 iepriek
tas lietojumprogrammas. Lai defin
tu lietojumprogrammu, j
zina porti un protokols (TCP, UDP), ko lietojumprogramma izmanto ien
ajam trafikam. Lai s
ktu, noklik
iniet uz pogas <strong>Pievienot piel
gotu lietojumprogrammu</strong> un p
c tam nor
tos datus.</p>
	<h3>Lietojumprogrammas izv
	<p>Izmantojiet 
o opciju, lai iesl
gtu lietojumprogrammu p
anas.</p>
	<h3>Lietojumprogrammas nosaukums</h3>
	<p>Ievadiet defin
jamajai lietojumprogrammai piem
rotu nosaukumu.</p>
	<h3>Pievienot
ces IP adrese</h3>
	<p>Ievadiet t
s pievienot
ces IP adresi, kas sa
o trafiku.</p>
	<h3>Porta tips un porta numuri</h3>
		<p>Katrai lietojumprogrammai ir savs portu diapazons. Ievadiet katras lietojumprogrammas portu diapazona s
kumu un beigas.</p>
		<div class="blockgroup">
				<li>Portu diapazonam ievadiet diapazona s
kumu lauk
 <strong>No</strong> un diapazona beigas lauk
 <strong>L
dz</strong>.</li>
				<li>P
anas portam ievadiet porta numuru gan lauk
 <strong>
jais</strong>, gan lauk
 <strong>Iek
jais</strong>.</li>
			</ul>
		</div>
	<h3>Protokols</h3>
	<p>Katram portu diapazonam atlasiet protokolu (TCP vai UDP), ko izmanto 
is portu diapazons.</p>
	<p>Izmantojiet 
u, lai dz
stu piel
gotu lietojumprogrammu.</p>
<!-- id="port_forward" -->
