<script type="text/javascript">
	/* <![CDATA[ */
        var previousConnectionStatus = "";                       
        var simReady = false;
        <tmpl_if ShowInseegoConnectInfo>
        	var isUrlChanged = false;
        	var isKeyChanged = false;
        	var isTimeChanged = false;
        </tmpl_if>	
	$(function()
		if ("<tmpl_var reboot>" === "true") {
			window.location.href = "<tmpl_udf GET_URI('restarting')>";
		$(document).ajaxSuccess(function(e, xhr, settings) {
			if ((xhr.responseText) && (settings.dataType == "json")) {
				try {
					var obj = jQuery.parseJSON(xhr.responseText || "null");
					var simStatusObj;
					var connStatusObj;
					if(typeof obj.statusData.isDualSimSupported != "undefined")
						if(obj.statusData.isDualSimSupported == 1) {
							if(obj.statusData.statusBarActiveSimSlot == 2) {
								simStatusObj = "statusBarSim2Status";
								connStatusObj = "statusBarSim2ConnectionState";
							} else {
								simStatusObj = "statusBarSimStatus";
								connStatusObj = "statusBarConnectionState";
							}
						} else {
							simStatusObj = "statusBarSimStatus";
							connStatusObj = "statusBarConnectionState";
					if (typeof obj.statusData[simStatusObj] !== "undefined") {
						switch (obj.statusData[simStatusObj]) {
							case $.uiEnums.SIMSTATUS_READY:
								simReady = true;
								break;
							case $.uiEnums.SIMSTATUS_NOT_FOUND:
								$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_sim_status_no_sim_text")>');
								toggleConnection("connect", true);
								break;
							case $.uiEnums.SIMSTATUS_PIN_LOCKED:
								$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_sim_status_pin_locked_text")>');
								toggleConnection("connect", true);
								break;
							case $.uiEnums.SIMSTATUS_PUK_LOCKED:
								$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_sim_status_puk_locked_text")>');
								toggleConnection("connect", true);
								break;
							case $.uiEnums.SIMSTATUS_NOT_SUPPORTED:
								$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_sim_status_sim_error_text")>');
								toggleConnection("connect", true);
								break;
							case $.uiEnums.SIMSTATUS_ERROR:
								$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_sim_status_sim_error_text")>');
								toggleConnection("connect", true);
								break;
					if (simReady) {
						if ((typeof obj.statusData[connStatusObj] !== "undefined") && (previousConnectionStatus !== obj.statusData[connStatusObj])) {
							if (obj.statusData[connStatusObj] !== "") previousConnectionStatus = obj.statusData[connStatusObj];
							switch (obj.statusData[connStatusObj]) {
								case $.uiEnums.WANSTATE_NOSERVICE:
									$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_network_no_service_text")>');
									toggleConnection("connect", true);
									break;
								case $.uiEnums.WANSTATE_INITIALIZING:
									$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_network_initializing_text")>');
									toggleConnection("connect", true);
									break;
								case $.uiEnums.WANSTATE_SEARCHING:
									$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_network_searching_text")>');
									toggleConnection("connect", true);
									break;
								case $.uiEnums.WANSTATE_UNACTIVATED:
									$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_sim_status_not_activated_text")>');
									toggleConnection("connect", true);
									break;
								case $.uiEnums.WANSTATE_IDLE:
									$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_network_ready_text")>');
									toggleConnection("connect");
									break;
								case $.uiEnums.WANSTATE_CONNECTING:
									$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_network_connecting_text")>');
									toggleConnection("connect", true);
									break;
								case $.uiEnums.WANSTATE_DISCONNECTING:
									$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_network_disconnecting_text")>');
									toggleConnection("disconnect", true);
									break;
								case $.uiEnums.WANSTATE_ACTIVATING:
									$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_sim_status_activation_started_text")>');
									toggleConnection("connect", true);
									break;
								case $.uiEnums.WANSTATE_PCO2:
									$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_sim_status_account_restricted_text")>');
									toggleConnection("connect", true);
									break;
								case $.uiEnums.WANSTATE_PCO3:
									$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_sim_status_account_out_of_credit_text")>');
									toggleConnection("connect", true);
									break;
								case $.uiEnums.WANSTATE_PCO5:
									$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_sim_status_account_not_active_text")>');
									toggleConnection("connect", true);
									break;
								case $.uiEnums.WANSTATE_CONNECTED:
									$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_network_connected_text")>');
									toggleConnection("disconnect");
									break;
								case $.uiEnums.WANSTATE_DORMANT:
									$("#networkStatusCol").html('<tmpl_var _("webui", "webui_app_network_dormant_text")>');
									toggleConnection("disconnect");
									break;
								default:
									$("#networkStatusCol").html(obj.statusData[connStatusObj]);
									toggleConnection("connect");
									break;
							}
				} catch(e) {}
		$("#connectDisconnect").on("click", function() {
			statusStop();
			if($.trim($(this).text()) == '<tmpl_var _("webui_app_connect_text")>') {
				$("#networkStatusCol").html('<tmpl_var _("webui_app_network_connecting_text")>');
				toggleConnection("connect", true);
				$.get("/srv/connect").always(statusStart);
			} else if($.trim($(this).text()) == '<tmpl_var _("webui_app_disconnect_text")>') {
				$("#networkStatusCol").html('<tmpl_var _("webui_app_network_disconnecting_text")>');
				toggleConnection("disconnect", true);
				$.get("/srv/disconnect").always(statusStart);
		<tmpl_if ShowInseegoConnectInfo>
			$("#retryTime").change(function(){
				if(<tmpl_var retryTime> != $("#retryTime").val()){
					isTimeChanged = true;
				} else {
					isTimeChanged = false;
			$("#inseegoUrl").change(function(){
				if("<tmpl_var inseegoUrl>"!= $("#inseegoUrl").val()){
					isUrlChanged = true;
				} else {
					isUrlChanged = false;
			$("input:radio[name='keyOptions']").change(function(){
				if(<tmpl_var keyOption> != $(this).val()){
					isKeyChanged = true;
				} else {
					isKeyChanged = false;
			$("#saveButton").on("click",function(e) {
				if(isUrlChanged || isKeyChanged || isTimeChanged) {
					$("#isrebootrequired").val(1);
					e.preventDefault();
					modalPopup.createWindow(
						'<tmpl_var _("webui", "webui_modal_title_confirm_text")>',
						'<p><tmpl_var _("webui", "lab_test_info_device_reboot_text")></p>',
						530,
						200,
						[{
							text : '<tmpl_var _("webui", "webui_modal_cancel_button")>',
	                        className : "cancel",
	                        trigger : function () {
	                            UndoInseegoConnectChanges();
	                        }
	                }, {
	                        text : '<tmpl_var _("webui", "webui_modal_confirm_button")>',
	                        className : "primary",
	                        trigger : function() {
	                                $("#lab_test_info_form").submit();
	                        }
	                }], null, function(){
	                        UndoInseegoConnectChanges();
	                });
		</tmpl_if>
		<tmpl_if showDeviceMode>	
			function deviceModePopUp(ele) {
				modalPopup.createWindow(
					'<tmpl_var _("webui", "webui_modal_title_confirm_text")>',
					'<p><tmpl_var _("webui", "lab_test_info_device_mode_message")></p>',
					530,
					200,
						text : '<tmpl_var _("webui", "webui_modal_ok_button")>',
						className : "primary",
						trigger : function() {
							window.location.reload(true);
			$("#endUserMode").on("click", function(e) {
				e.preventDefault();
				$.ajax({
					url : '<tmpl_udf GET_URI("lab_test_info_enable_end_user_mode")>',
					type : "POST",
					data : {
						gSecureToken : "<tmpl_var gSecureToken>"
					dataType : "json",
					success : function(){
						deviceModePopUp(this);
			<tmpl_if ShowEnterpriseMode>
				$("#enterpriseMode").on("click", function(e) {
					e.preventDefault();
					$.ajax({
						url : '<tmpl_udf GET_URI("lab_test_info_enable_enterprise_mode")>',
						type : "POST",
						data : {
							gSecureToken : "<tmpl_var gSecureToken>"
						},
						dataType : "json",
						success : function(){
							deviceModePopUp(this);
					});
			</tmpl_if>
			$("#debugMode").on("click", function(e) {
				e.preventDefault();
				$.ajax({
					url : '<tmpl_udf GET_URI("lab_test_info_enable_debug_mode")>',
					type : "POST",
					data : {
						gSecureToken : "<tmpl_var gSecureToken>"
					dataType : "json",
					success : function(){
						deviceModePopUp(this);
		</tmpl_if>
	function UndoInseegoConnectChanges()
		if(isTimeChanged) {
			$("#retryTime").val(<tmpl_var retryTime>);
		if(isUrlChanged){
			var url = '<tmpl_var inseegoUrl>';
			url = $("<div/>").html(url).text();
			$("#inseegoUrl").val(url);
		isTimeChanged = false;
		isUrlChanged = false;
		isKeyChanged = false;
	function statusStop()
		if ($.statusBar) $.statusBar("stop");
	function statusStart()
		if ($.statusBar) $.statusBar("start");
	function toggleConnection(state, disable)
		var disable = disable || false;
		var str = "";
		if (state === "connect") {
			str = '<tmpl_var _("webui", "webui_app_connect_text")>';
			dataConnected = false;
		} else {
			str = '<tmpl_var _("webui", "webui_app_disconnect_text")>';
			dataConnected = true;
		$("#connectDisconnect").html(str).prop("disabled", disable);
	/* ]]> */
</script>
<tmpl_if errorCount>
	<div class="notification app error">
		<div class="notification_inner">
				<tmpl_var _("webui", "webui_save_code_failed_text")>
		</div>
</tmpl_if>
<tmpl_if gPostSuccess>
	<div class="notification app success">
		<div class="notification_inner">
				<tmpl_var _("webui", "webui_save_code_success_text")>
		</div>
</tmpl_if>
<h1 class="pageHead sectionHead"><tmpl_var _("webui", "lab_test_info_menu_text")></h1>
<tmpl_if showAppVersion>
        <h2 class="sectionHead"><tmpl_var _("webui", "lab_test_info_current_software_sub_header_text")></h2>
        <tmpl_unless IN_SET(appVersion, "unknown")>
                <div class="form-group">
                        <div class="label"><tmpl_var _("webui", "lab_test_info_app_version_label")></div>
                        <div class="input" id="appVersion"><tmpl_var appVersion></div>
                </div><!-- /.row -->
        </tmpl_unless>
</tmpl_if>
<tmpl_if ShowConnectionControls>
	<h3 class="sectionHead"><tmpl_var _("webui", "lab_test_info_connection_ctrls_sub_header")></h3>
	<div class="table">
		<div class="row noblock clearfix">
			<div class="col label" id="labTestInfoConnectionStatus">
				<h4><label><tmpl_var _("webui", "lab_test_info_connection_status_label")></label></h4>
			</div>
			<div class="col textCol" id="networkStatusCol">
				<label><tmpl_var ConnectionStatus></label>
			</div>
		</div>
	<div id="connect" class="button_container align-right clearfix">
		<button id="connectDisconnect" type="button" class="secondary" <tmpl_if connectDisconnectButtonDisableStatus>disabled="disabled"</tmpl_if>>
			<tmpl_var connectDisconnectButtonText>
		</button>
<tmpl_else>
	<h2 class="sectionHead"><tmpl_var _("webui", "lab_test_info_settings_header")></h2>
</tmpl_if>
<form id="lab_test_info_form" method="POST" action="<tmpl_udf GET_URI('lab_test_info')>">
	<input type="hidden" name="gSecureToken" id="gSecureToken" value="<tmpl_var gSecureToken>" />
	<input type="hidden" name="isrebootrequired" id ="isrebootrequired" value="" />
	<div class="table">
		<div class="form-group">
			<div id="autoConnectLabel" class="label">
				<label for="ConnectionType"><tmpl_var _("webui", "lab_test_info_auto_connect_label")></label>
			</div>
			<div class="input">
				<select name="ConnectionType" id="ConnectionType">
					<tmpl_include "connection_options.tmpl">
				</select>
			</div>
		</div>
		<div class="form-group">
			<div id="networkTechnologyLabel" class="label">
				<label for="NetworkTechnology"><tmpl_var _("webui", "lab_test_info_network_technology_label")></label>
			</div>
			<div class="input">
				<select name="NetworkTechnology" id="NetworkTechnology">
					<tmpl_include "network_technology_options.tmpl">
				</select>
			</div>
		</div>
		<tmpl_if showIpptMode>
			<div class="form-group">
				<div class="label">
					<h4><label for="IpPassthroughEnabled"><tmpl_var _("webui", "lab_test_info_ippt_status_label")></label></h4>
				</div>
				<div class="input">
					<select name="IpPassthroughEnabled" id="IpPassthroughEnabled">
						<tmpl_include "ippassthrough_options.tmpl">
					</select>
				</div>
				<div class="help">
					<tmpl_var _("webui", "lab_test_info_ippt_status_help_text")>
				</div>
			</div>
		</tmpl_if>
	<tmpl_if ShowInseegoConnectInfo>
	<tmpl_if gIsDeviceAgent>
		<h2 class="sectionHead"><tmpl_var _("webui", "lab_test_info_inseego_connect_subheader_text")></h2>
		<div class="form-group">
			<div class="label">
				 <label for="inseegoUrl"><tmpl_var _("webui", "lab_test_info_inseego_connect_url_label")></label>
			</div>
			<div class="input">
				<input type="text" name="inseegoUrl" id="inseegoUrl" value="<tmpl_var inseegoUrl>"/>
			</div>
		</div>
		<div class="form-group">
			<div class="label ">
				<label for="keyOptions"> <tmpl_var _("webui", "lab_test_info_inseego_connect_key_label")></label>
			</div>
			<div class="input keyAdjust">
				<span class="keyOptions">
				<input type="radio" name="keyOptions" id="keyReleaseOption" value="1"<tmpl_if IN_SET(keyOption, 1)> checked="checked"</tmpl_if>/><tmpl_var _("webui", "lab_test_info_inseego_connect_key_release_text")>
				</span>
				<span class="keyOptions">
				<input type="radio" name="keyOptions" id="keyTestOption" value="0"<tmpl_if IN_SET(keyOption, 0)> checked="checked"</tmpl_if>/><tmpl_var _("webui", "lab_test_info_inseego_connect_key_test_text")>
				</span>
			</div>
			<div id="keyInfo" class="help">
				<tmpl_var _("webui", "lab_test_info_key_help_text")>
			</div>
		</div>
		<div class="form-group">
			<div class="label">
				<label for="retryTime"><tmpl_var _("webui", "lab_test_info_inseego_connect_registration_retry_label")></label>
			</div>
			<div class="input">
				<input type="text" name="retryTime" id="retryTime" value="<tmpl_var retryTime>"/>
			</div>
			<div class="help">
				<tmpl_var _("webui", "lab_test_info_seconds_text")>
			</div>
		</div>
		<tmpl_if showSetupDemo>
			<div class="row clearfix">
				<div class="col label">
					<h4><label for="setupDemo"><tmpl_var _("webui", "lab_test_info_setup_demo_label")></label></h4>
				</div>
				<div class="col input">
					<input type="checkbox" name="setupDemo" id="setupDemo" <tmpl_if IN_SET(setupDemo, "on", "1")> checked="checked"</tmpl_if>/>
				</div>
			</div>
		</tmpl_if>
	</tmpl_if>
	</tmpl_if>
	<div class="button_container align-field clearfix">
		<button type="submit" class="primary" id="saveButton">
			<tmpl_var _("webui", "webui_save_button")>
		</button>
<tmpl_if showDeviceMode>
	<fieldset id="DeviceMode">
		<h3 class="sectionHead">Device Mode</h3>
		<div class="button_container clearfix">
			<button id="endUserMode" class="secondary" >
				<tmpl_var _("webui", "lab_test_info_end_user_mode_button")>
			</button>
			<button id="debugMode" class="secondary" >
				<tmpl_var _("webui", "lab_test_info_debug_mode_button")>
			</button>
			<tmpl_if ShowEnterpriseMode>
				<button id="enterpriseMode" class="secondary" >
					<tmpl_var _("webui", "lab_test_info_enterprise_mode_button")>
				</button>
			</tmpl_if>
		</div>
	</fieldset>
</tmpl_if>
<fieldset class="last">
	<h3 class="sectionHead"><tmpl_var _("webui","lab_test_info_diagnostics_info_sub_header")></h3>
	<div id="diagInfo">
		<pre><tmpl_var diagInfo></pre>
</fieldset>
