<div id="inseego_connect">
	<h1><tmpl_var _("webui", "inseego_connect_help_title_text")></h1>
	<h2><tmpl_var _("webui", "inseego_connect_cloud_services_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_label")></h3>
	<p>Izmantojiet 
anas/izsl
anas vad
klu, lai iesl
gtu vai izsl
gtu Inseego Connect funkciju.</p>
	<h2><tmpl_var _("webui", "inseego_connect_status_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_connection_state_label")></h3>
rskats par ier
u savienojumu ar Inseego Connect serveri. <br> Uz aug
ce sazin
s ar Inseego Connect serveriem, <br> uz leju: ier
ce nesazin
s ar Inseego Connect serveriem.<br></p>
	<h3><tmpl_var _("webui", "inseego_connect_last_reported_label")></h3>
	<p>Tas ir vien
ds ar laiku j
jo reizi paket
 tika nos
ta uz Inseego Connect serveriem.</p>
	<h3><tmpl_var _("webui", "inseego_connect_interval_label")></h3>
is ir interv
s paketes uz Inseego Connect serveri.</p>ir interv
s paketes uz Inseego Connect serveri.</p>
