<!-- Backup and Restore -->
<div id="backup_restore">
         <h1><tmpl_var _("webui", "backup_restore_menu_text")></h1>
         <h2>Ap
valga</h2>
         <p>Naudodami 
 funkcij
 sukurkite atsargin
racijos nuostat
 (atsisi
renginio 
 kompiuteryje esant
 arba atkurkite (
kelkite) anks
racijos fail
iame konfig
racijos faile yra visos 
renginio, mar
ruto parinktuvo ir sistemos funkcij
 nuostatos. Jame n
 4G modemo nuostat
 ar duomen
. Atminkite, kad fail
 galite atkurti tik tame pa
renginyje, i
 kurio jis buvo gautas.</p>
         <p>
iame ekrane taip pat galima i
 naujo nustatyti gamyklines numatyt
sias vis
 nuostat
 vertes.</p>
         <h2><tmpl_var _("webui", "backup_restore_the_backup_sub_header_text")></h2>
         <h3>Administratoriaus slapta
odis</h3>
         <p>
iame lauke 
veskite dabartin
 <tmpl_var _("webui", "webui_product_name")> administratoriaus slapta
         <h3><tmpl_var _("webui", "backup_restore_backup_now_button")></h3>
         <p>Nor
dami atsisi
sti dabartin
s konfig
racijos failo kopij
 kompiuter
, spustel
kite mygtuk
. Jei nar
site paraginti 
yti fail
, jei nor
site, gal
 pervardyti.</p>
         <h2><tmpl_var _("webui", "backup_restore_the_restore_sub_header_text")></h2>
         <h3>Administratoriaus slapta
odis</h3>
         <p>
iame lauke 
veskite dabartin
 <tmpl_var _("webui", "webui_product_name")> administratoriaus slapta
         <h3><tmpl_var truncate(_("webui", "backup_restore_file_select_label"), (size(_("webui", "backup_restore_file_select_label")) - size(":")))></h3>
         <p>Pasirinkite konfig
racijos fail
iau atsisiunt
io <tmpl_var _("webui", "webui_product_name")> 
 savo kompiuter
         <h3>Mygtukas 
Atkurti dabar
         <p>Pasirink
racijos fail
, spustel
 ir prad
kite failo 
limo proces
lus, konfig
racijos failas i
kart pritaikomas, o 
renginys paleid
 naujo.</p>
         <p class="note"><strong>Pastaba.</strong> 
keliant konfig
racijos fail
iamos VISOS esamos nuostatos, kad atitikt
racijos fail
. Gali b
ti pakeistos dabartin
 nuostatos ir nutraukti visi esami ry
iuo <tmpl_var _("webui", "webui_product_name")>, 
skaitant 
iniatinklio nar
         <h2><tmpl_var _("webui", "backup_restore_factory_restore_sub_header_text")></h2>
         <p>Spustel
kite mygtuk
 <strong>Atkurti gamyklines numatyt
sias nuostatas</strong>, kad b
 naujo nustatytos gamyklin
s numatytosios vis
 nuostat
l to paleid
 naujo ir gali b
ti pakeistos dabartin
 nuostatos, nutraukiant visus esamus ry
iuo <tmpl_var _("webui", "webui_product_name")>, 
skaitant 
iniatinklio nar
 <!-- id="backup_restore" -->
