<!-- Messages -->
<div id="sms">
	<h1><tmpl_var _("webui", "sms_menu_text")></h1>
rskats</h2>
as parasti s
su pakalpojumu sniedz
t atbild
c atbildes funkcija nav nodro
	<h2>Saturs</h2>
	<tmpl_if showMessageCounter>
		<h3>Zi
ojumu skait
		<p>Divi skait
da nelas
to (jauno) zi
ojumu skaitu un kop
ojumu skaitu.</p>	
, ka visi zi
ojumi ir iestat
ti", kad tie tiek par
	</tmpl_if>
ojumu saraksts</h3>
	<p>Visi zi
ojumi tiek nor
ti datumu sec
ti (jauni) zi
ojumi tiek nor
ti ar ikonu. Zi
ojumi tiek autom
tiski atz
ti", tikl
dz tie tiek par
 lapas atv
anas reiz
 tie vairs netiks r
	<tmpl_if showDeleteAllButton>
		<h3><tmpl_var _("webui", "sms_delete_all_button")></h3>
 poga atrodas zi
ojumu saraksta beig
s. Izmantojiet to p
c nepiecie
bas, lai dz
stu visus zi
ojumus.</p>
	</tmpl_if>
