<!-- wifi_guest_settings -->
<div id="wifi_guest_settings">	
	<h1>Wi-Fi 
 viesu t
kls</h1>
		Viesu Wi-Fi t
klu var lietot, lai nodro
tu pagaidu piek
uvi internetam, izmantojot <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi t
klu. Lai izveidotu savienojumu ar viesu Wi-Fi t
klu, pievienotaj
izmanto 
 redzamie Wi-Fi iestat
		Lai iesl
gtu viesu t
klu, izmantojiet 
a administratora interfeisa ekr
nu Wi-Fi Visp
gi vai <tmpl_var _("webui", "webui_product_name_with_suffix")> sk
na programmas Wi-Fi opciju "Wi-Fi joslas atlase".
	<h3><tmpl_var _("webui", "wifi_guest_ssid_label")></h3>
di tiek iestat
ts viesu Wi-Fi t
kla nosaukums vai SSID. Ievadiet piem
rotu nosaukumu. Nosaukum
dz 32 rakstz
	<h3><tmpl_var _("webui", "wifi_guest_security_label")></h3>
		Atlasiet v
lamo Wi-Fi dro
bas opciju.
			<strong><tmpl_var _("webui", "wifi_security_none_text")></strong> 
m person
su Wi-Fi trafiku un izmantot j
su datu pl
nu, lai piek
tu internetam. Ja vien iesp
jas izmanto
			<strong><tmpl_var _("webui", "wifi_security_wpa2_text")></strong> ir jaun
 metode, un, ja iesp
izmanto.
			<strong><tmpl_var _("webui", "wifi_security_wpa2_mix_text")></strong> var izmantot, ja da
as no vec
m neatbalsta WPA2.
			<strong><tmpl_var _("webui","wifi_security_wpa3_transition_text")></strong> var izmantot WPA2 un WPA3 s
	<h3><tmpl_var _("webui", "wifi_guest_password_label")></h3>
		Ja lauk
 <strong>Dro
ba</strong> ir atlas
ts iestat
jums <strong>Neviens</strong>, ir nepiecie
ama Wi-Fi parole.
 ievadiet Wi-Fi paroli. Varat ar
 izmantot pogu "
t jaunu atsl
gu", lai 
bas principa ievietotu sp
gu paroli. Neaizmirstiet saglab
as, ja izmantojat 
o opciju.
ie iestat
c noklus
juma ir pasl
u varat noklik
t uz virsraksta/saites, lai padar
tu tos redzamus. 
		Parasti 
m var atst
t noklus
bas, bet, ja nepiecie
s var main
t atbilsto
tajai videi.
	<h3><tmpl_udf GET_PO_TEXT("wifi_guest_show_ssid_label", gProductName)></h3>
is iestat
jums ir atz
ts, Wi-Fi nosaukums ir nolas
ms <tmpl_var _("webui", "webui_product_name_with_suffix")> sk
, izmantojot izv
lnes opciju "Wi-Fi". Ja izv
a nav atz
ta, nosaukums redzams k
 ******.
	<h3><tmpl_udf GET_PO_TEXT("wifi_guest_show_password_label", gProductName)></h3>
is iestat
jums ir atz
ts, Wi-Fi parole ir nolas
ma <tmpl_var _("webui", "webui_product_name_with_suffix")> sk
, izmantojot izv
lnes opciju "Wi-Fi". Ja t
 nav atz
ta, parole tiek r
 ******.
	<h3><tmpl_var _("webui", "wifi_guest_broadcast_ssid_label")></h3>
is iestat
jums ir atz
is Wi-Fi t
kls tiek par
su pievienotaj
s pieejamo Wi-Fi t
klu sarakst
 nav atz
s neredzams.
	<tmpl_if showWiFiGuestWPS>
		<h3><tmpl_var _("webui", "wifi_guest_wps_label")></h3>
			Wi-Fi aizsarg
ana (WPS) ir sist
ma, kas 
auj Wi-Fi ier
m izveidot savienojumu ar Wi-Fi t
klu, manu
li neievadot t
kla atsl
gu. Ja v
laties izmantot WPS, atz
o opciju.
	</tmpl_if>
	<h3><tmpl_var _("webui", "wifi_guest_privacy_label")></h3>
is iestat
jums ir atz
ts, katra pievienot
ce tiek izol
ta no vis
m pievienotaj
di tiek pan
kta papildu dro
ba, ja da
as pievienot
ces nav zin
mas vai nav piln
 uzticamas. Norm
lai darb
<!-- id="wifi_guest_settings" -->
