<div id="inseego_connect">
	<h1><tmpl_var _("webui", "inseego_connect_help_title_text")></h1>
	<h2><tmpl_var _("webui", "inseego_connect_cloud_services_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_label")></h3>
 ON/OFF (
 Inseego connect 
	<h2><tmpl_var _("webui", "inseego_connect_status_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_connection_state_label")></h3>
 Inseego Connect. <br> 
 Inseego Connect
 Inseego Connect.<br></p>
	<h3><tmpl_var _("webui", "inseego_connect_last_reported_label")></h3>
 Inseego Connect.</p>
	<h3><tmpl_var _("webui", "inseego_connect_interval_label")></h3>
 Inseego Connect.</p>
 Inseego Connect.</p>
