<!-- Data Usage -->
<div id="data_usage">
	<h1><tmpl_var _("webui", "data_usage_menu_text")></h1>
levaade</h2>
	<p>Sellel ekraanil kuvatakse graafiline pilt teie mobiilse andmeside paketi andmekasutusest, eeldusel et andmekasutusteave on saadaval.</p>
	<h2>Andmete hinnanguline kasutus</h2>
	<p>Kuva varieerub olenevalt paketist, kuid sisaldab 
ldjuhul j
rgmist teavet.</p>
	<div class="blockgroup">
		<li>Teie paketi hinnanguline andmekasutus praeguse arveldusts
kli jooksul kuni n
idatud kuup
evani.</li>
		<li>Paketi t
p ja andmelimiit teie paketis.</li>
		<li>Paketi andmekasutuse graafiline esitus praeguse arveldusts
kli jooksul.</li>
		<li>Jagatud pakettide puhul n
idatakse selle konkreetse seadme kasutatud andmemahtu.</li>
		<li>Kuup
ev, kui praegune arveldusts
peb.</li>
