<!-- Vpn -->
<div id="vpn">
        
versikt</h2>
         <p>Anv
nda den h
r funktionen f
r att uppr
tta en tunnelanslutning till en OpenVPN-server och dirigera all trafik p
 anslutna enheter genom tunneln.</p>
        
	<h2>Automatisk anslutning av VPN</h2>
         
         <p>Om denna funktion 
 kommer VPN-tunneln att uppr
ttas automatiskt n
r en internetuppkoppling g
rs. Om den 
ste du uppr
tta VPN-anslutningen manuellt.</p>
	<h2>VPN-anslutning</h2>
         <h3>Anslutningsstatus</h3>
         <p>Visar status f
r VPN-anslutningen.</p>
         <h3>Anslutningstid</h3>
         <p>Visar hur l
ng tid VPN-anslutningen har varit uppr
ttad.</p>
         <h3>Anslut</h3>
         <p>Klicka p
 knappen Anslut f
r att ansluta till VPN-servern som 
r konfigurerad med VPN-inst
llningar.</p>
	 <h3>Visa logg</h3>
         <p>N
r en OpenVPN-anslutning har uppr
ttats klickar du p
 knappen Visa logg f
r att visa VPN-anslutningsloggen.</p>
	<h2>VPN-inst
llningar</h2>
	<h3>Konfigurationsfiler</h3>
         <p>Dra och sl
pp OpenVPN-konfigurationsfilerna fr
n din OpenVPN-leverant
r i filuppladdningsomr
det.</p>
	<h3>Anv
ndarnamn</h3>
         <p>Ange ditt anv
ndarnamn f
r OpenVPN-anslutning h
senord</h3>
         <p>Ange ditt l
senord f
r OpenVPN-anslutning h
	<h3>Rensa alla VPN-inst
llningar</h3>
         <p>Klicka p
 knappen Rensa alla VPN-inst
llningar f
r att radera VPN-filer, VPN-loggar och 
lla alla VPN-inst
llningar till ursprungligt icke-konfigurerat skick.</p>
        
 <!-- id="Vpn" -->
