<div id="customer_care">
	<h1><tmpl_var _("webui", "customer_care_menu_text")></h1>
valga</h2>
iame puslapyje pateikiami saitai ir kontaktin
 informacija, pad
sianti jums i
kilus problemoms ar klausimams.</p>
	<h2><tmpl_var _("webui", "customer_care_links_sub_header_verizon_text")></h2>
	<p>Naudokite 
iuos saitus, kad pasiektum
Verizon Wireless
 svetain
	<h2><tmpl_var _("webui", "customer_care_support_sub_header_verizon_text")></h2>
	<p>Naudokite 
iuos saitus, jei norite daugiau su
inoti apie 
io tipo 
 arba pasiekti 
io <tmpl_var _("webui", "webui_product_name")> palaikym
 tinkle.</p>
	<h2><tmpl_var _("webui", "customer_care_numbers_sub_header_verizon_text")></h2>
	<p>Jei reikia, skambinkite 
Verizon Wireless
 aptarnavimo tarnybai 
ia rodomu telefono numeriu.</p>
