<!-- mns -->
<div id="mns">
	<h1>Netzwahl</h1>
bersicht</h2>
	<p>Dieses Ger
hlt das optimale Mobilfunknetz automatisch aus. Wenn Sie GSM-basierte Netze verwenden, ist auch eine manuelle Netzwahl m
glich. Diese 
<tmpl_var _("webui", "menu_adv_mns_text")>
-Funktion ist nur dann n
tzlich, wenn mehrere Netzwerke verf
gbar sind. Wenn diese Funktion verwendet wird, verbindet sich dieses Ger
t nur mit dem angegebenen Netzwerk und ignoriert andere verf
gbare Netzwerke.</p>
	<h2>Status</h2>
	<p>In diesem Abschnitt wird angegeben, ob die Netzwahl automatisch oder manuell erfolgt. Bei der manuellen Netzwahl wird das angegebene Netzwerk ebenfalls angezeigt.</p>
	<h2>Betrieb</h2>
	<h3><tmpl_var _("webui","adv_mns_scan_for_networks_btn")></h3>
	<p>Wenn die manuelle Netzwahl m
glich ist, steht diese Schaltfl
che zur Verf
gung. Klicken Sie auf diese Schaltfl
che, wenn Sie ein Netzwerk manuell ausw
chten. Das Modem sucht dann nach allen verf
gbaren Netzwerken. Die Suche kann bis zu zwei Minuten dauern.</p>
	<p>Hinweis: Wird diese Schaltfl
che nicht angezeigt, ist die manuelle Netzwahl an Ihrem aktuellen Standort unter Verwendung des aktuellen Netzwerks nicht verf
gbar.</p>
	<h3>Netzwerkliste</h3>
	<div class="blockgroup">
	<p>Alle verf
gbaren Netzwerke werden in der Netzwerkliste angezeigt, sobald die Netzwerksuche abgeschlossen ist. Sie k
nnen dann einen der folgenden Vorg
nge durchf
hren:</p>
		<li>Abbrechen: Verwenden Sie diese Option, um die automatische Netzwahl beizubehalten.</li>
		<li>Aktualisieren: Verwenden Sie diese Option, um eine erneute Suche durchzuf
hren, wenn das gew
nschte Netzwerk nicht aufgelistet ist. M
glicherweise m
ssen Sie Ihren Standort 
ndern, um das Signal zu verbessern.</li>
		<li>Ausw
hlen: Verwenden Sie diese Option, um die manuelle Netzwahl mit dem angegebenen Netzwerk zu aktivieren. Beachten Sie, dass es m
glicherweise nicht m
glich ist, eine Verbindung zu allen aufgef
hrten Netzwerken herzustellen. Wenn Ihr Dienstanbieter kein Roaming-Abkommen mit dem ausgew
hlten Netzwerk hat, schl
gt der Verbindungsversuch fehl.</li>
	<h3><tmpl_var _("webui","adv_mns_revert_to_automatic_btn")></h3>
	<p>Wenn die manuelle Netzwahl verwendet wird, steht diese Schaltfl
che zur Verf
gung. Klicken Sie auf diese Schaltfl
che, um von der manuellen zur automatischen Netzwahl zu wechseln.</p>
	<h3>Zur
ck zum Bildschirm 
Netzwerke
ber diesen Link gelangen Sie zur
ck zum Bildschirm 
Netzwerke
<!-- id="mns" -->
