<!-- Vpn -->
<div id="vpn">
        
	<h2>Oversikt</h2>
         <p>Bruk denne funksjonen til 
 etablere en tunnelforbindelse til en OpenVPN-server og rute all trafikk p
 tilkoblede enheter gjennom tunnelen.</p>
        
	<h2>Koble VPN automatisk</h2>
         
         <p>Hvis P
, opprettes VPN-tunnelen automatisk n
r en internettforbindelse opprettes. Hvis AV, m
 du opprette VPN-tilkoblingen manuelt.</p>
	<h2>VPN-tilkobling</h2>
         <h3>Tilkoblingsstatus</h3>
         <p>Viser status for VPN-tilkoblingen.</p>
         <h3>Tilkoblingstid</h3>
         <p>Viser hvor lang tid VPN-tilkoblingen er opprettet for.</p>
         <h3>Koble til</h3>
         <p>Klikk p
 tilkoblingsknappen for 
 koble til VPN-serveren som er konfigurert ved hjelp av VPN-innstillinger.</p>
	 <h3>Se logg</h3>
         <p>N
r en OpenVPN-tilkobling er opprettet, klikker du p
 Vis logg-knappen for 
 vise VPN-tilkoblingsloggen.</p>
	<h2>VPN-innstillinger</h2>
	<h3>Konfigurasjonsfiler</h3>
         <p>Dra og slipp OpenVPN-konfigurasjonsfilene fra OpenVPN-leverand
ren din i filopplastningsomr
det.</p>
	<h3>Brukernavn</h3>
         <p>Skriv inn brukernavn for OpenVPN-tilkoblingen her.</p>
	<h3>Passord</h3>
         <p>Skriv inn passord for OpenVPN-tilkobling her.</p>
	<h3>Fjern alle VPN-innstillinger</h3>
         <p>Klikk p
 Slett alle VPN-innstillinger-knappen for 
 slette VPN-filer, VPN-logger og tilbakestille alle VPN-innstillinger til den opprinnelige ikke-konfigurerte tilstanden.</p>
        
 <!-- id="Vpn" -->
