<!-- Software Update -->
<div id="software_update">
	<h1><tmpl_var _("webui", "software_update_menu_text")></h1>
levaade</h2>
		<p>Tarkvarav
rskendused edastatakse mobiilsidev
rgu kaudu automaatselt. Sellel lehel saate neid v
rskendusi j
lgida.</p>
	<h2><tmpl_var _("webui", "software_update_current_software_sub_header_text")></h2>
	<h3>Praegune tarkvaraversioon</h3>
		<p>See v
itab seadmesse paigaldatud tarkvara versiooni.</p>
	<tmpl_if SoftwareUpdateCheckShow>
		<tmpl_if ConfigurationVersionShow>
			<h3><tmpl_var _("webui", "software_update_current_software_configuration_version_label")></h3>
				<p><tmpl_var _("webui", "software_update_current_software_configuration_version_help_label")></p>
		</tmpl_if>
		<h2><tmpl_var _("webui", "software_update_check_for_update_sub_header_text")></h2>
		<h3><tmpl_var _("webui", "software_update_check_for_update_time_label")></h3>
		<p>See v
itab, millal <tmpl_var _("webui", "webui_product_name")> viimati kontrollis, kas v
rskendus on saadaval. V
rskendust saate k
sitsi kontrollida nupuga Otsi uuendusi.</p>
		<h3>Nupp Otsi uuendusi</h3>
		<p>Selle abil saate kontrollida, kas seadme <tmpl_var _("webui", "webui_product_name")> jaoks on saadaval v
rskendus. Tavaliselt ei ole see vajalik, kuna v
rskendused t
ugatakse automaatselt seadmele <tmpl_var _("webui", "webui_product_name")>. Kui teete selle kontrolli ja v
rskendus on saadaval, laaditakse see automaatselt alla.</p>
	</tmpl_if>
	<h3><tmpl_var _("webui", "software_update_check_for_update_status_label")></h3>
		<p>Tavaliselt on see t
hi, kuid kui otsite v
rskendust, kuvatakse selle kontrolli tulemus siin. Kui v
rskendust alla laaditakse, kuvatakse siin ka allalaadimise edenemine.</p>
	<h2><tmpl_var _("webui", "software_update_last_update_sub_header_text")></h2>
		<p>See paneel kuvab viimase tarkvarauuenduse 
ksikasjad.</p>
	<h2><tmpl_var _("webui", "software_update_history_sub_header_show_text")></h2>
		<p>Seda paneeli saab avada lingil/pealkirjal kl
psates. S
rskenduste ajalugu sisaldab sellesse seadmesse allalaaditud ja paigaldatud viimaste <tmpl_var SoftwareUpdateHistoryCount> v
rskenduste 
ksikasju. Kui v
rskendusi pole paigaldatud, n
itab see paneel praegust tarkvaraversiooni.</p>
<!-- end Software Update -->
