<!-- Manual DNS -->
<div id="manual_dns">
	<h1><tmpl_var _("webui", "adv_manual_dns_menu_text")></h1>
	<h2>Oversigt</h2>
	<p>Normalt leveres DNS-adressen automatisk. Denne side giver dig mulighed for manuelt at specificere en DNS om n
dvendigt.</p>
	<h2>Indstillinger</h2>
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_enable_label"), (size(_("webui", "adv_manual_dns_enable_label")) - size(":")))></h3>
	<p>Brug denne indstilling til at t
nde eller slukke for den manuelle DNS-funktion. Hvis den er t
ndt, skal f
lgende data leveres.</p>
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_address1_label"), (size(_("webui", "adv_manual_dns_address1_label")) - size(":")))></h3>
	<p>Indtast IP-adressen p
nskede prim
re DNS. Denne adresse er p
vet for at bruge funktionen Manuel DNS.</p>
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_address2_label"), (size(_("webui", "adv_manual_dns_address2_label")) - size(":")))></h3>
	<p>Indtast IP-adressen p
nskede sekund
re (backup) DNS. Denne adresse er valgfri og kan eventuelt efterlades tom.</p>
<!-- id="manual_dns" -->
