<!-- Backup and Restore -->
<div id="backup_restore">
         <h1><tmpl_var _("webui", "backup_restore_menu_text")></h1>
         <h2>P
rskats</h2>
         <p>Izmantojiet 
o funkciju, lai dubl
tu (lejupiel
tu) konfigur
cijas iestat
jumu kopiju no 
ces dator
 vai atjaunotu (aug
tu) iepriek
tu konfigur
cijas failu. 
 konfigur
cijas fail
 ir visi ier
ces, mar
ja un sist
mas funkciju iestat
jumi. Taj
 nav 4G modema iestat
jumu vai datu. 
, ka failu var atjaunot tikai taj
, no kuras tas n
cis.</p>
         <p>
 visus iestat
jumus atiestat
cas noklus
         <h2><tmpl_var _("webui", "backup_restore_the_backup_sub_header_text")></h2>
         <h3>Administratora parole</h3>
         <p>
 ievadiet pa
jo <tmpl_var _("webui", "webui_product_name")> administratora paroli.</p>
         <h3><tmpl_var _("webui", "backup_restore_backup_now_button")></h3>
         <p>Noklik
iniet uz pogas Lejupiel
t, lai dator
 lejupiel
 konfigur
cijas faila kopiju. Ja p
kprogramm
 tiek par
ta uzvedne ar aicin
jumu saglab
t failu, varat to p
         <h2><tmpl_var _("webui", "backup_restore_the_restore_sub_header_text")></h2>
         <h3>Administratora parole</h3>
         <p>
 ievadiet pa
jo <tmpl_var _("webui", "webui_product_name")> administratora paroli.</p>
         <h3><tmpl_var truncate(_("webui", "backup_restore_file_select_label"), (size(_("webui", "backup_restore_file_select_label")) - size(":")))></h3>
         <p>Atlasiet konfigur
cijas failu, kuru iepriek
 lejupiel
 <tmpl_var _("webui", "webui_product_name")> datora.</p>
         <h3>Poga Atjaunot t
         <p>P
c konfigur
cijas faila atlas
anas noklik
iniet uz 
s pogas, lai s
ktu faila aug
des konfigur
cijas fails tiek nekav
joties lietots, un ier
ce tiek restart
         <p class="note"><strong>Piez
me.</strong> Aug
jot konfigur
cijas failu, VISI eso
ie iestat
jumi tiek main
ti, lai tie atbilstu konfigur
cijas failam. T
di var tikt main
jie Wi-Fi iestat
rtraucot visus eso
os savienojumus ar 
o <tmpl_var _("webui", "webui_product_name")>, tostarp 
kprogrammas sesiju.</p>
         <h2><tmpl_var _("webui", "backup_restore_factory_restore_sub_header_text")></h2>
         <p>Noklik
iniet uz pogas <strong>Atjaunot r
cas noklus
juma iestat
jumus</strong>, lai atiestat
tu visus iestat
cas noklus
s. Tas izraisa restart
anu un var main
jos Wi-Fi iestat
jumus, p
rtraucot visus eso
os savienojumus ar 
o <tmpl_var _("webui", "webui_product_name")>, tostarp 
kprogrammas sesiju.</p>
 <!-- id="backup_restore" -->
