<div id="device_info">
	<h1><tmpl_udf GET_PO_TEXT("device_info_menu_text", gProductName)></h1>
	<h2><tmpl_var truncate(_("webui", "device_info_manufacturer_label"), (size(_("webui", "device_info_manufacturer_label")) - size(":")))></h2>
			The manufacturer of this device.
	<h2><tmpl_var truncate(_("webui", "device_info_model_label"), (size(_("webui", "device_info_model_label")) - size(":")))></h2>
			The official model name and number for this device.
	<tmpl_if showSDMVersion>
		<h2><tmpl_var truncate(_("webui", "device_info_global_sdm_version_label"), (size(_("webui", "device_info_global_sdm_version_label")) - size(":")))></h2>
			This version number relates to the device management component. The device management software component is updated automatically when needed.
	</tmpl_if>
	<div class="blockgroup">
		<h3><tmpl_var truncate(_("webui", "device_info_modem_version_label"), (size(_("webui", "device_info_modem_version_label")) - size(":")))></h3>
			For the 4G modem component, this is the version of the firmware (software) currently installed.
		<tmpl_if showWifiFwVersion>
			<h3>Wi-Fi Firmware version</h3>
				For the Wi-Fi component, this is the version of the firmware (software) currently installed.
		</tmpl_if>
		<tmpl_if showMifiOsVersion>
			<h3><tmpl_var truncate(_("webui", "device_info_os_version_label"), (size(_("webui", "device_info_os_version_label")) - size(":")))></h3>
				This is the version number for the OS (Operating System) and its components.
		</tmpl_if>
		<tmpl_if showWebUiVersion>
			<h3><tmpl_var truncate(_("webui", "device_info_web_ui_version_label"), (size(_("webui", "device_info_web_ui_version_label")) - size(":")))></h3>
				The version number for this Web Interface.
		</tmpl_if>
		<tmpl_if showLcdVersion>
			<h3><tmpl_var truncate(_("webui", "device_info_lcd_ui_version_label"), (size(_("webui", "device_info_lcd_ui_version_label")) - size(":")))></h3>
				The version number for the software controlling the device screen and the user interaction with the screen content.
		</tmpl_if>
		<h3><tmpl_var truncate(_("webui", "device_info_cute_version_label"), (size(_("webui", "device_info_cute_version_label")) - size(":")))></h3>
			The version of currently installed software. This is the main version number; the following version information relates to various software components.
		<h3><tmpl_var truncate(_("webui", "device_info_pri_version_label"), (size(_("webui", "device_info_pri_version_label")) - size(":")))></h3>
			This identifies the configuration version currently applied to this device.
