<!-- Reserved IP Addresses -->
<div id="reserved_ip">
		<h1>Rezerv
s IP adreses</h1>
rskats</h2>
o funkciju var izmantot, lai nodro
tu, ka <tmpl_var _("webui", "webui_product_name")> pie
irs pievienotajai ier
cei vienm
u IP adresi. Noklik
iniet uz 
s pogas, lai piek
s funkcijas iestat
anas ekr
nam.</p>
		<h3>DHCP adre
u diapazons</h3>
eit tiek par
jais DHCP adre
u diapazons. Vis
m rezerv
m IP adres
 diapazon
		<h2>Rezerv
to IP adre
u tabula</h2>
 tabula b
pta. Lai 
ai tabulai pievienotu rindu, noklik
iniet uz pogas "Pievienot rezerv
to IP adresi". Pievienojiet tik rindu, cik nepiecie
ams. Katr
tie lauki.</p>
		<h3>Iesp
jot</h3>
		<p>Izmantojiet 
u, lai p
c nepiecie
bas iesp
jotu vai atsp
jotu katru ierakstu (rindu). Ja t
 ir iesp
jota, attiec
 IP adrese tiks pie
irta nor
tajai ier
cei. Ja t
 ir atsp
jota, IP adrese ir pieejama vis
m pievienotaj
		<h3>Ier
ces tips</h3>
		<p>Atlasiet pievienotajai ier
cei vispiem
ko opciju.</p>
		<h3>Ier
ces nosaukums</h3>
		<p>Ja nepiecie
ams, varat ievad
t pievienotajai ier
cei apraksto
u nosaukumu. 
o lauku var atst
		<h3>MAC adrese</h3>
is lauks ir b
tisks. Ievadiet pievienot
ces MAC adresi. Ja pievienotajai ier
cei ir vair
kla interfeisi (piem
ram, Wi-Fi un Ethernet), ievadiet interfeisa MAC adresi, kas tiks izmantota savienojuma izveidei ar <tmpl_var _("webui", "webui_product_name")>.</p>
		<h3>IP adrese</h3>
		<p>Ievadiet IP adresi, kuru v
laties pie
ai pievienotajai ier
ai IP adresei j
t iepriek
 DHCP adre
u diapazon
<!-- id="reserved_ip" -->
