<!-- Port Filtering -->
<div id="port_filtering">
	<h1>Pordi filtreerimine</h1>
levaade</h2>
ljuva internetiliikluse blokeerimiseks kasutage vajaduse korral pordifiltrit. Kui see s
te on sisse l
litatud, p
seb Internetti ainult valitud rakenduste liiklus. Liiklus tuvastatakse pordinumbrite j
ned rakendused on eelnevalt m
ratletud. Saate m
ratleda t
iendavaid rakendusi, kuid peate teadma kasutatavate ja loodavate rakenduste liikluse 
ksikasju.</p>
	<h2>Rakendused</h2>
	<h3>Rakenduse m
rkeruudud</h3>
	<p>Kasutage neid m
rkeruute, et lubada internetile juurdep
s iga rakenduse puhul, kui pordi filtreerimise funktsioon on sisse l
litatud. Valitud rakenduste liiklus p
seb internetti. Vastasel korral on liiklus blokeeritud.</p>
	<h2>Kohandatud rakendused</h2>
	<p>See funktsioon v
imaldab teil m
ratleda oma rakendusi 
 kuni 10. Kui need rakendused on m
ratud, saab neid sisse ja v
litada samamoodi nagu eelm
ratud rakendusi. Rakenduse m
ratlemiseks peate teadma v
ljuva liikluse jaoks kasutatavaid porte ja protokolli (TCP, UDP). Alustamiseks kl
psake nuppu <strong>Lisa kohandatud rakendus</strong>, seej
rel sisestage j
rgmised andmed.</p>
	<p>Pange t
hele, et kohandatud rakenduse muudatusi ei salvestata enne, kui lehe kogu sisu salvestamiseks kasutatakse nuppu Salvesta muudatused.</p>
	<h3>Rakenduse m
rkeruut</h3>
	<p>Kasutage seda m
rkeruutu rakenduse sissel
litamiseks p
rast selle m
ratlemist. Kui see on valitud, p
seb selle rakenduse liiklus internetti. Vastasel korral on liiklus blokeeritud.</p>
	<h3>Rakenduse nimi</h3>
	<p>Sisestage m
ratletavale rakendusele sobiv nimi.</p>
	<h3>Pordivahemik (algusport ja l
pp-port)</h3>
		<p>Igal rakendusel on oma pordivahemik. Sisestage iga rakenduse pordivahemiku algus ja l
		<div class="blockgroup">
				<li>
he pordi puhul sisestage pordi number nii v
ljale <strong>Algusport</strong> kui ka v
ljale <strong>L
pp-port</strong>.</li>
				<li>Pordivahemiku puhul sisestage vahemiku algus v
ljale <strong>Algusport</strong> ja vahemiku l
ljale <strong>L
pp-port</strong>.</li>
			</ul>
		</div>
	<h3>Protokoll</h3>
	<p>Valige iga pordivahemiku jaoks protokoll (TCP v
i UDP), mida see pordivahemik kasutab.</p>
	<h3>Kustuta</h3>
	<p>Kasutage seda m
rkeruutu kohandatud rakenduse kustutamiseks.</p>
<!-- id="port_filtering" -->
