<!-- SIM Lock -->
<div id="sim">
        <h1><tmpl_var _("webui", "adv_sim_menu_text")></h1>
        <h2>Ap
valga</h2>
        <p>SIM kortel
 <tmpl_var _("webui", "webui_product_name")>, galima u
blokuoti naudojant PIN. Jei SIM kortel
blokuota, prie
 prisijungdami prie mobiliojo ry
io tinklo turite 
vesti PIN. 
vestas PIN 
simenamas iki kito i
jungimo.</p>
iame puslapyje prireikus galite ne tik 
vesti SIM PIN, bet ir atblokuoti SIM arba pakeisti jos PIN. Paprastai norint pakeisti SIM reikia nurodyti esam
Novatel Wireless
 SIM numatyt
 PIN galite gauti i
 paslaug
	<h3><tmpl_var truncate(_("webui", "adv_sim_pin_lock_feature_label"), (size(_("webui", "adv_sim_pin_lock_feature_label")) - size(":")))></h3>
		<p>Lauke parodoma, ar naudojama PIN u
rakto funkcija, ar ne. Jei 
raktas buvo 
jungtas ir norint prisijungti prie mobiliojo ry
io tinklo reikia 
vesti SIM PIN. Jei 
rakto funkcija ne
jungta ir SIM PIN nereikia.</p>
	<h3><tmpl_var truncate(_("webui", "adv_sim_status_label"), (size(_("webui", "adv_sim_status_label")) - size(":")))></h3>
	<p>Lauke parodoma dabartin
 SIM kortel
sena. Galimos reik
	<div class="blockgroup">
	        <ul>
	        <li>
Parengta
prasta b
sena. SIM PIN nenaudojamas.</li>
	        <li>
blokuotas
 naudojant mobiliojo ry
io tinkl
 reikia 
vesti SIM PIN.</li>
	        <li>
blokuotas
 norint toliau naudoti reikia 
vesti SIM PUK. PUK galima gauti i
 paslaug
jo.</li>
	        <li>
Atblokuota
 SIM PIN reikalingas, ta
iau jau 
vestas.</li>
	        <li>
 SIM neaptikta. Jei turite SIM, patikrinkite, ar ji 
ta tinkamai.</li>
	        <li>
SIM klaida
 aptikta SIM, ta
iau ji neatsak
 taip, kaip tik
tasi, tod
l negali b
ti naudojama.</li>       
	        </ul>
        <h2>SIM operacijos</h2>
        <p>Galimi veiksmai priklauso nuo dabartin
senos. Toliau i
vardytos ir paai
kintos visos galimos operacijos.</p>
		<h3>PIN u
raktas</h3>
		<p>Jei SIM 
iuo metu u
blokuota PIN, b
site paraginti 
vesti PIN. Atminkite, kad per daug kart
vedus neteising
 PIN, SIM bus u
blokuota PUK. Puslapi
 skaitiklis parodo netinkam
blokuojamas PUK, skai
. Kai PUK u
blokuojamas, j
l reikia gauti i
 paslaug
		<h3>PUK u
raktas</h3>
		<p>Jei SIM 
iuo metu u
blokuota PUK, vienintel
 galima operacija yra 
vesti PUK. Atminkite, kad per daug kart
vedus neteising
 PUK, SIM taps visam laikui netinkama naudoti. Jums reik
s gauti nauj
 SIM. Puslapi
 skaitiklis parodo, kiek liko bandym
vesti.</p>
		<h3><tmpl_var _("webui", "adv_sim_enable_pin_lock_option")></h3>
		<p>SIM nustatoma taip, kad paleid
iant reik
vesti PIN, norint prisijungti prie mobiliojo ry
io tinklo. Nor
dami atlikti 
 operacij
, turite 
vesti dabartin
 PIN.</p>
		<h3><tmpl_var _("webui", "adv_sim_disable_pin_option")></h3>
		<p>Naudodami 
 nuostat
 galite i
jungti anks
, kad norint prisijungti prie mobiliojo ry
io tinklo nebereik
vesti PIN. Nor
dami atlikti 
 operacij
, turite 
vesti dabartin
 PIN.</p>
		<h3><tmpl_var _("webui", "adv_sim_change_pin_option")></h3>
		<p>Nor
dami pakeisti esam
 PIN, pasirinkite 
 parinkt
veskite reikiamus duomenis:</p>
		<div class="blockgroup">
			<li>Dabartinis PIN</li>
			<li>Naujas PIN</li>
			<li>Patvirtinkite nauj
 PIN</li>
			</ul>
		</div>
		<p><tmpl_var _("webui", "adv_sim_name_text")></p>
<!-- id="sim" -->
