<!-- Port Filtering -->
<div id="port_filtering">
	<h1>Portfiltrering</h1>
	<h2>Oversikt</h2>
	<p>Bruk portfiltreringsfunksjonen etter behov for 
 blokkere utg
ende internettrafikk. Hvis denne innstillingen er sl
, er det bare trafikk fra de valgte programmene som har tilgang til internett. Trafikk identifiseres ved portnumre. Noen programmer er forh
ndsdefinert. Du kan definere flere programmer, men du m
 kjenne detaljer om trafikken som brukes og genereres av programmene du 
 definere.</p>
	<h2>Programmer</h2>
	<h3>Avkryssingsruter for program</h3>
	<p>Bruk disse avmerkingsrutene for 
 gi tilgang til internett for hvert program mens portfiltreringsfunksjonen er p
. Trafikk fra utvalgte programmer kan f
 tilgang til internett. Ellers er trafikken sperret.</p>
	<h2>Tilpassede programmer</h2>
	<p>Denne funksjonen lar deg definere dine egne programmer 
 opptil ti. N
r de er definert, kan disse programmene sl
 og av p
 samme m
te som forh
ndsdefinerte programmer. For 
 definere et program, m
 du kjenne til portene og protokollen (TCP, UDP) som brukes av programmet for utg
ende trafikk. Klikk <strong>Legg til tilpasset program</strong>-knappen for 
 starte, og angi deretter f
lgende data.</p>
	<p>Merk at endringer i et tilpasset program ikke blir lagret f
r knappen 
Lagre endringer
 brukes til 
 lagre hele sideinnholdet.</p>
	<h3>Avkryssingsrute for program</h3>
	<p>Bruk denne avmerkingsruten for 
 et program etter at du har definert det. Hvis dette er valgt, kan trafikk fra dette programmet f
 tilgang til internett. Ellers er trafikken sperret.</p>
	<h3>Appnavn</h3>
	<p>Skriv inn et passende navn for programmet du definerer.</p>
	<h3>Portintervall (Startport/Sluttport)</h3>
		<p>Hvert program har sitt eget portintervall. Angi begynnelsen og slutten av portintervallet for hvert program.</p>
		<div class="blockgroup">
				<li>For en enkelt port angir du portnummeret i b
de <strong>Startport-</strong> og <strong>Sluttport</strong>-feltet.</li>
				<li>For et portintervall, angir du begynnelsen p
 intervallet i <strong>Startport-</strong> feltet og slutten av intervallet i <strong>Sluttport</strong>-feltet.</li>
			</ul>
		</div>
	<h3>Protokoll</h3>
	<p>Velg protokollen (TCP eller UDP) som brukes av det portintervallet for hvert portintervall.</p>
	<h3>Slett</h3>
	<p>Bruk denne avkryssingsruten for 
 slette et tilpasset program.</p>
<!-- id="port_filtering" -->
