<!-- Port Filtering -->
<div id="port_filtering">
	<h1>Prievad
 filtravimas</h1>
valga</h2>
	<p>Jei reikia, naudokite prievad
 filtravimo funkcij
iamam interneto duomen
 srautui blokuoti. Jei 
i nuostata 
jungta, interneto prieiga bus pasiekiama tik duomen
 srautui i
 pasirinkt
 program
. Duomen
 srautas identifikuojamas pagal prievad
 numerius. Kai kurios programos nustatytos i
 anksto. Galite nustatyti papildomas programas, ta
iau turite b
samiai susipa
 su program
, kurias norite nustatyti, naudojamu ir generuojamu duomen
 srautu.</p>
	<h2>Programos</h2>
	<h3>Program
ymimieji langeliai</h3>
	<p>Naudokite 
ymimuosius langelius, kad suteiktum
te prieig
 prie interneto kiekvienai programai, kai 
jungta prievad
 filtravimo funkcija. Interneto prieiga pasiekiama duomen
 srautui i
 pasirinkt
 program
ingu atveju srautas blokuojamas.</p>
	<h2>Pasirinktin
s programos</h2>
i funkcija leid
ia jums nustatyti iki 10 savo program
ias programas, jas galima 
jungti ir i
jungti tuo pa
du, kaip ir i
 anksto nustatytas programas. Nor
dami nustatyti program
, turite 
inoti prievadus ir protokol
 (TCP, UDP), kuriuos programa naudoja siun
iamam duomen
 srautui. Nor
dami paleisti, spustel
kite mygtuk
 <strong>Prid
ti pasirinktin
 program
</strong> ir pateikite toliau nurodytus duomenis.</p>
	<p>Atminkite, kad jokie pasirinktin
s programos pakeitimai ne
omi, kol nenuspaud
iamas mygtukas 
yti pakeitimus
, skirtas visam puslapio turiniui 
yti.</p>
	<h3>Programos 
ymimasis langelis</h3>
	<p>Naudokite 
, jei norite 
jungti program
. Jei pasirinkta, interneto prieiga pasiekiama duomen
 srautui i
ios programos. Prie
ingu atveju srautas blokuojamas.</p>
	<h3>Programos pavadinimas</h3>
veskite tinkam
 programos, kuri
 nustatote, pavadinim
	<h3>Prievad
 diapazonas (pradinis prievadas / galinis prievadas)</h3>
		<p>Kiekviena programa turi savo prievad
 diapazon
veskite kiekvienos programos prievad
 diapazono prad
 ir pabaig
		<div class="blockgroup">
				<li>Nor
dami nustatyti atskir
 prievad
veskite prievado numer
 abiejuose laukuose: <strong>Pradinis prievadas</strong> ir <strong>Galinis prievadas</strong>.</li>
				<li>Nor
dami nustatyti prievad
 diapazon
, lauke <strong>Pradinis prievadas</strong> 
veskite diapazono prad
, o lauke <strong>Galinis prievadas</strong> 
 diapazono pabaig
			</ul>
		</div>
	<h3>Protokolas</h3>
	<p>Kiekvienam prievad
 diapazonui pasirinkite protokol
 (TCP arba UDP), naudojam
 tame prievad
 diapazone.</p>
alinti</h3>
	<p>Naudokite 
 pasirinktinei programai pa
alinti.</p>
<!-- id="port_filtering" -->
