<div id="inseego_connect">
	<h1><tmpl_var _("webui", "inseego_connect_help_title_text")></h1>
	<h2><tmpl_var _("webui", "inseego_connect_cloud_services_text")></h2>
		Inseego Connect ist ein Cloud-Plattformprodukt, das einen vollst
berblick 
ber und einen sicheren Zugriff auf Ihre Bereitstellung von einer einzigen Plattform aus bietet. Auf dieser Seite k
nnen Sie Einstellungen f
r die Verbindung mit Inseego Connect aktivieren und konfigurieren.
	<h3><tmpl_var _("webui", "inseego_connect_label")></h3>
		Standardm
ig ist die Verbindung zu Inseego Connect deaktiviert. Schieben Sie den EIN-/AUS-Schieberegler auf 
, um die Verbindung zu aktivieren.
	<h2><tmpl_var _("webui", "inseego_connect_status_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_connection_state_label")></h3>
		Das ist ein Bericht, in dem die Verbindungen Ihrer Ger
te mit dem Inseego Connect-Server aufgef
hrt werden. <br>
		Nach oben: Ger
t kommuniziert mit Inseego Connect-Servern, <br>
		Nach unten: Ger
t kommuniziert nicht mit Inseego Connect-Servern.<br>
	<h3><tmpl_var _("webui", "inseego_connect_last_reported_label")></h3>
		Das entspricht der Uhrzeit auf Ihrem Ger
t, zu der es zuletzt ein Paket an die Inseego Connect-Server gesendet hat.
	<h3><tmpl_var _("webui", "inseego_connect_interval_label")></h3>
		Das ist das Intervall, in dem Ihr Ger
t Pakete an den Inseego Connect-Server sendet.
		HINWEIS: Ein k
rzeres Intervall bedeutet mehr Datennutzung.
	<h3><tmpl_var _("webui", "inseego_connect_mobile_app_text")></h3>
ber den Link k
nnen Sie die mobile Inseego Connect-App herunterladen.
