<!-- mns -->
<div id="mns">
rgu valimine</h1>
levaade</h2>
	<p>See seade valib automaatselt optimaalse mobiilsidev
rgu. GSM-p
rkude kasutamisel saate v
rgu valida ka k
sitsi. See 
<tmpl_var _("webui", "menu_adv_mns_text")>
 funktsioon on kasulik ainult siis, kui saadaval on mitu v
rku. Kui seda funktsiooni kasutatakse, loob seade 
henduse ainult m
rguga ja ignoreerib teisi saadaolevaid v
rke.</p>
	<h2>Olek</h2>
	<p>See jaotis n
itab, kas kasutatakse automaatset v
rguvalikut. Kui kasutatakse funktsiooni V
sitsi valimine, kuvatakse ka m
	<h2>Kasutamine</h2>
	<h3><tmpl_var _("webui","adv_mns_scan_for_networks_btn")></h3>
	<p>Kui V
sitsi valimine on v
imalik, on see nupp saadaval. Kl
psake seda nuppu, kui soovite v
sitsi valida. Modem otsib seej
iki saadaolevaid v
rke. Skannimiseks v
ib kuluda kuni kaks minutit.</p>
rkus. Kui seda nuppu ei kuvata, ei ole V
sitsi valimine teie praeguse asukoha v
rku kasutades saadaval.</p>
rguloend</h3>
	<div class="blockgroup">
ik saadaolevad v
rgud kuvatakse loendis V
rguloend p
rguskanni l
petamist. Seej
rel saate teha 
rgmistest toimingutest.</p>
 kasutage seda suvandit v
rgu automaatse valiku s
ilitamiseks.</li>
rskenda 
 kasutage seda uuesti skannimiseks, kui soovitud v
rku pole loendis. Signaali parandamiseks peate v
ib-olla oma asukohta muutma.</li>
		<li>Vali 
 kasutage seda suvandit v
sitsi valimise sissel
litamiseks m
rguga. Pange t
hele, et k
igi loetletud v
rkudega ei pruugi olla v
hendust luua. Kui teenusepakkujal ei ole valitud v
ndluslepingut, siis 
henduskatse eba
nnestub.</li>
	<h3><tmpl_var _("webui","adv_mns_revert_to_automatic_btn")></h3>
	<p>Kui kasutatakse V
sitsi valimist, on see nupp n
htav. Kl
psake seda nuppu, et l
lituda suvandilt V
sitsi valimine suvandile V
rgu automaatne valimine.</p>
rkude kuvale naasmine</h3>
	<p>Kasutage seda linki v
rkude kuvale naasmiseks.</p>
<!-- id="mns" -->
