<!-- WiFi Advanced -->
<div id="wifi_advanced">
	<h1>Wi-Fi</h1>
	<h2>Oversigt</h2>
	<p>Normalt kan disse Wi-Fi-indstillinger forblive u
ndrede med deres standardv
rdier, men om n
dvendigt kan du justere dem, s
 de passer til dit s
rlige milj
	<h2>Wi-Fi til/fra-kontrol</h2>
	<p>Brug denne kontrol til at sl
 Wi-Fi til eller fra efter behov. Hvis den er slukket, vil <tmpl_var _("webui", "webui_product_name_with_suffix")>s Wi-Fi-netv
rk ikke v
ngeligt, s
 den eneste m
de at oprette forbindelse til <tmpl_var _("webui", "webui_product_name")> vil v
re at bruge et USB-kabel.</p>
	<h3>Tillad, at der 
ndres Wi-Fi-indstillinger fra Jetpack-sk
rmen</h3>
	<p>Brug denne kontrol til at sl
 Wi-Fi til eller fra efter behov. Hvis den er sl
et fra, er Wi-Fi-netv
rket ikke tilg
ngeligt, s
 den eneste m
de at oprette forbindelse til det er at bruge et USB-kabel.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_max_connections_label")></h3>
	<p>Indstil, hvor mange enheder der samtidigt kan oprette forbindelse til <tmpl_var _("webui", "webui_product_name_with_suffix")>s Wi-Fi-netv
	<h2><tmpl_var _("webui", "wifi_advanced_profile_title")></h2>
	<p>Disse indstillinger bestemmer, hvordan hvert b
nd (2,4 GHz og 5 GHz) bruges, og bestemmer, om Wi-Fi-g
rket er tilg
ngeligt.</p>
	<tmpl_if SwapToggleButtonAction>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_ghz_band_label")></h3>
		<p>Den 2,4 GHz 802.11-tilstand, der automatisk registreres, vises.</p>
	<tmpl_else>
		<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_ghz_band_label")></h3>
nskede indstilling til at anvende dette b
 det prim
rket eller til at slukke for dette b
	</tmpl_if>
	<h3><tmpl_var _("webui", "wifi_advanced_five_ghz_band_label")></h3>
nskede indstilling til at anvende dette b
 det prim
rket eller til at slukke for dette b
rk, at du ikke kan slukke for begge b
	<h2><tmpl_var _("webui", "wifi_advanced_two_point_four_g_band_options_title")></h2>
	<p>Disse indstillinger er som standard skjulte, men du kan klikke p
 overskriften/linket for at g
re dem synlige. Disse indstillinger bruges, n
r 2,4 GHz-b
ndet er aktivt.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_802_11_mode_label")></h3>
	<p>Brug denne indstilling til at 
ndre Wi-Fi-tilstand om n
dvendigt. Normalt lader du denne indstilling blive st
 standardv
rdien.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_channel_label")></h3>
	<p>Denne skal blive st
 <strong>Automatisk</strong>, medmindre du har brug for at v
lge en bestemt kanal til dit milj
	<h2><tmpl_var _("webui", "wifi_advanced_five_g_options_title")></h2>
	<p>Disse indstillinger er som standard skjulte, men du kan klikke p
 overskriften/linket for at g
re dem synlige. Disse indstillinger bruges, n
r 5 GHz-b
ndet er aktivt.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_802_11_mode_label")></h3>
	<p>Brug denne indstilling til at 
ndre Wi-Fi-tilstand om n
dvendigt. Generelt er der ingen grund til at 
ndre standardv
rdien.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_bandwidth_label")></h3>
nskede mulighed. Standardv
rdien skal bruges, medmindre du oplever interferens med andre Wi-Fi-enheder. I s
 fald kan reduktion af b
ndbredden reducere interferensen.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_channel_label")></h3>
	<p>Denne skal blive st
 <strong>Automatisk</strong>, medmindre du har brug for at v
lge en bestemt kanal til dit milj
<!-- id="wifi_advanced" -->
