<!-- Login -->
<div id="login">
	<h1><tmpl_var _("webui", "webui_product_name")> Inicio de sesi
n <tmpl_var _("webui", "webui_product_number")> de MiFi</h1>
	<p> Ingrese la Contrase
a de administrador <tmpl_var _("webui", "webui_product_name")> para continuar. </p>
	<tmpl_if showForgotPassword>
	<p> Si no conoce la contrase
a, use la opci
n <strong>Olvid
 la contrase
a de administrador</strong>. </p>
	</tmpl_if>
	<p>Si ingresa una contrase
a incorrecta demasiadas veces, se bloquear
. Para cancelar el bloqueo, debe reiniciar el <tmpl_var _("webui", "webui_product_name")>. </p>
<!-- id="login" -->
