<!-- Reserved IP Addresses -->
<div id="reserved_ip">
		<h1>Rezervuoti IP adresai</h1>
		<h2>Ap
valga</h2>
 funkcij
 galima naudoti norint u
tikrinti, kad prijungtam 
renginiui <tmpl_var _("webui", "webui_product_name")> visada priskirs t
 IP adres
. Spustel
, jei norite pasiekti 
ios funkcijos s
rankos ekran
		<h3>DHCP adres
 diapazonas</h3>
ia rodomas dabartinis DHCP adres
 diapazonas. Visi rezervuoti IP adresai turi patekti 
 diapazon
		<h2>Rezervuot
 IP adres
i lentel
ia ir pasl
pta. Jei 
ioje lentel
je norite prid
ti eilut
, spustel
kite mygtuk
ti rezervuot
kite tiek eilu
, kiek reikia. Kiekvienoje eilut
je yra toliau nurodyti laukai.</p>
		<h3>Aktyvinti</h3>
		<p>Naudokite 
, jei norite prireikus aktyvinti arba i
jungti kiekvien
). Jei aktyvinta, nurodytas IP adresas bus priskirtas nurodytam 
renginiui. Jei i
jungta, IP adresas bus galimas bet kuriam prijungtam 
renginiui.</p>
renginio tipas</h3>
		<p>Pasirinkite tinkamiausi
 prijungto 
renginio parinkt
renginio pavadinimas</h3>
		<p>Jei norite, galite 
vesti apra
 prijungto 
renginio pavadinim
 galima palikti tu
		<h3>MAC adresas</h3>
is laukas yra b
veskite prijungto 
renginio MAC adres
. Jei prijungtame 
renginyje yra ne viena tinklo s
saja (pvz., ir 
, ir eternetas), 
veskite s
sajos, kuri bus naudojama jungiantis prie <tmpl_var _("webui", "webui_product_name")>, MAC adres
		<h3>IP adresas</h3>
veskite IP adres
 norite priskirti 
iam prijungtam 
renginiui. 
is IP adresas nurodytame DHCP adres
 diapazone turi b
ti pirmesnis.</p>
<!-- id="reserved_ip" -->
