<!-- Login -->
<div id="login">
	<h1><tmpl_var _("webui", "webui_product_name")> MiFi <tmpl_var _("webui", "webui_product_number")> -sis
nkirjautuminen</h1>
	<p>Jatka sy
 <tmpl_var _("webui", "webui_product_name")>-laitteen yll
n salasana.</p>
	<tmpl_if showForgotPassword>
	<p>Jos et tied
 salasanaa, k
 <strong>I Forgot the Admin Password</strong> (Unohdin yll
n salasanan) -vaihtoehtoa.</p>
	</tmpl_if>
	<p>Jos sy
n salasanan liian monta kertaa, sinut lukitaan ulos. Jotta voit poistaa t
n lukituksen, sinun on k
ynnistett
 <tmpl_var _("webui", "webui_product_name")> uudelleen.</p>
<!-- id="login" -->
