<!-- Vpn -->
<div id="vpn">
         
	<h2>Descripci
n general</h2>
        <p>
	Use esta funci
n para establecer una conexi
nel a un servidor OpenVPN y redirija todo el tr
fico en dispositivos conectados a trav
	<h2>Conectar autom
ticamente VPN</h2>
 ACTIVADO, el t
nel de VPN se establecer
ticamente toda vez que se haga una conexi
n a Internet. Si est
 DESACTIVADO, debe establecer la conexi
n VPN manualmente.
	<h2>Conexi
n VPN</h2>
        <h3>Estado de la conexi
        <p>
	Muestra el estado de la conexi
        </p>
	<h3>Tiempo de conexi
        <p>
	Muestra el per
odo de tiempo durante el cual se ha establecido la conexi
        </p>
        <h3>Conectar</h3>
        <p>
	Haga clic en el bot
n Conectar para conectarse al servidor VPN que est
 configurado usando los Par
metros de VPN.
        </p>
	<h3>Ver registros</h3>
        <p>
	Cuando se haya establecido una conexi
n OpenVPN, haga clic en el bot
n Ver registro para mostrar el registro de conexi
	<h2>Par
metros de VPN</h2>
	<h3>Archivos de configuraci
        <p>
	Arrastre y suelte los archivos de la configuraci
n de OpenVPN desde su proveedor de OpenVPN en el 
rea de carga de archivos.
	<h3>Nombre de usuario</h3>
        <p>
	Escriba su nombre de usuario de conexi
n OpenVPN aqu
	<h3>Contrase
        <p>
	Escriba su contrase
a de conexi
n OpenVPN aqu
	<h3>Borrar todos los par
metros de VPN </h3>
        <p>
	Haga clic en el bot
n Borrar todos los par
metros de VPN para eliminar los archivos de VPN, los registros de VPN y restablecer todos los par
metros de VPN al estado original no configurado.
        
 <!-- id="Vpn" -->
