<!-- mns -->
<div id="mns">
	<h1>Verkon valinta</h1>
	<h2>Yleiskatsaus</h2>
 laite valitsee automaattisesti optimaalisen matkapuhelinverkon. Jos k
t GSM-pohjaisia verkkoja, voit valita verkon my
s manuaalisesti. T
<tmpl_var _("webui", "menu_adv_mns_text")>
-ominaisuus on hy
dyllinen vain, jos k
 on useita verkkoja. Jos t
 ominaisuus on k
 laite muodostaa yhteyden vain m
ritettyyn verkkoon ja ohittaa muut k
 olevat verkot.</p>
	<h2>Tila</h2>
 osiossa ilmoitetaan, onko k
 Automatic Network Selection (Automaattinen verkon valinta) vai Manual Network Selection (Manuaalinen verkon valinta). Jos k
 on Manual Network Selection (Manuaalinen verkon valinta), n
ritetty verkko.</p>
	<h3><tmpl_var _("webui","adv_mns_scan_for_networks_btn")></h3>
	<p>Jos Manual Network Selection (Manuaalinen verkon valinta) on mahdollista, t
 painike on k
. Napsauta t
 painiketta, jos haluat valita verkon manuaalisesti. Modeemi etsii kaikki k
 olevat verkot. T
 voi kest
 jopa kaksi minuuttia.</p>
	<p>Huomautus: Jos t
 painiketta ei n
, Manual Network Selection (Manuaalinen verkon valinta) ei ole k
 nykyisess
 sijainnissasi, kun nykyinen verkkosi on k
	<h3>Verkkoluettelo</h3>
	<div class="blockgroup">
	<p>Kaikki k
 olevat verkot n
t verkkoluettelossa, kun verkkojen etsint
 on suoritettu. T
lkeen voit suorittaa jonkin seuraavista toiminnoista:</p>
		<li>Cancel (Peruuta) 
 asetuksella pid
t Automatic Network Selection (Automaattinen verkon valinta) -ominaisuuden k
		<li>Refresh (P
 voit tehd
n uudelleen, jos haluamaasi verkkoa ei ole luettelossa. Saatat joutua muuttamaan sijaintiasi signaalin parantamiseksi.</li>
		<li>Select (Valitse) 
 asetuksella voit kytke
 Manual Network Selection (Manuaalinen verkon valinta) -ominaisuuden ja m
ritetyn verkon p
lle. Huomaa, ett
 yhteyden muodostaminen kaikkiin lueteltuihin verkkoihin ei v
 ole mahdollista. Jos palveluntarjoajallasi ei ole verkkovierailusopimusta valitun verkon kanssa, yhteysyritys ep
onnistuu.</li>
	<h3><tmpl_var _("webui","adv_mns_revert_to_automatic_btn")></h3>
	<p>Jos k
 on Manual Network Selection (Manuaalinen verkon valinta), t
 painike on n
 painiketta napsauttamalla voit vaihtaa Manual Network Selection (Manuaalinen verkon valinta) -ominaisuudesta Automatic Network Selection (Automaattinen verkon valinta) -ominaisuuteen.</p>
	<h3>Palaa Networks (Verkot) -n
 linkill
 voit palata Networks (Verkot) -n
<!-- id="mns" -->
