<!-- WiFi Advanced -->
<div id="wifi_advanced">
	<h1>Wi-Fi</h1>
	<h2>Descripci
	<p> Normalmente, estas configuraciones de Wi-Fi se pueden dejar en sus valores predeterminados, pero pueden adaptarse, de ser necesario, para que se ajusten a su entorno en particular. </p>
	<h2>Control de encendido/apagado de Wi-Fi</h2>
	<p> Use este control para activar o desactivar el Wi-Fi seg
n se requiera. Si se desactiva, la red Wi-Fi <tmpl_var _("webui", "webui_product_name_with_suffix")> no estar
 disponible, de modo que la 
nica manera de conectarse al <tmpl_var _("webui", "webui_product_name")> ser
 usar un cable USB. </p>
	<h3>Permitir que se hagan cambios de par
metros de Wi-Fi desde la pantalla de Jetpack</h3>
	Use este control para activar o desactivar el Wi-Fi seg
n corresponda. Si est
 desactivado, la red de Wi-Fi no estar
 disponible, de modo que la 
nica manera de conectarse ser
 usar un cable USB.
	<h3><tmpl_var _("webui", "wifi_advanced_max_connections_label")></h3>
	<p> Determine cu
ntos dispositivos pueden conectarse simult
neamente a la/s red/es Wi-Fi <tmpl_var _("webui", "webui_product_name_with_suffix")>. </p>
	<h2><tmpl_var _("webui", "wifi_advanced_profile_title")></h2>
	<p> Esta configuraci
n determina c
mo se usa cada banda (2.4
GHz) y tambi
n determina si la red de Wi-Fi de invitados est
 disponible. </p>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_ghz_band_label")></h3>
	<p> Seleccione la opci
n deseada para aplicar esta banda a la red principal, a la red de invitados, o para desactivar esta banda. </p>
	<h3><tmpl_var _("webui", "wifi_advanced_five_ghz_band_label")></h3>
	<p> Seleccione la opci
n deseada para aplicar esta banda a la red principal, a la red de invitados, o para desactivar esta banda. Tenga en cuenta que no puede desactivar ambas bandas. </p>
	<h2><tmpl_var _("webui", "wifi_advanced_two_point_four_g_band_options_title")></h2>
	<p> Estas configuraciones est
n ocultas de manera predeterminada, pero puede hacer clic en el encabezado/enlace para hacerlas visibles. Estas configuraciones se usan cada vez que la banda de 2.4
 activa. </p>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_802_11_mode_label")></h3>
	<p> Use esta configuraci
n para cambiar el modo de Wi-Fi, si es necesario. Por lo general, se deja esta configuraci
n en su valor predeterminado. </p>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_channel_label")></h3>
	<p> Debe dejarse en <strong>Autom
tico</strong>, a menos que deba seleccionar un canal en particular para su entorno. </p>
	<h2><tmpl_var _("webui", "wifi_advanced_five_g_options_title")></h2>
	<p> Esta configuraci
 oculta de manera predeterminada, pero puede hacer clic en el encabezado/enlace para hacerla visible. Estas configuraciones se usan cada vez que la banda de 5
 activa. </p>
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_802_11_mode_label")></h3>
	<p> Use esta configuraci
n para cambiar el modo de Wi-Fi, si es necesario. Generalmente, no hay ning
n motivo para cambiar este valor predeterminado. </p>
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_bandwidth_label")></h3>
	<p> Seleccione la opci
n deseada. Se debe usar el valor predeterminado a menos que experimente interferencia con otros dispositivos de Wi-Fi. En ese caso, la reducci
n del ancho de banda puede reducir la interferencia. </p>
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_channel_label")></h3>
	<p> Debe dejarse en <strong>Autom
tico</strong>, a menos que deba seleccionar un canal en particular para su entorno. </p>
<!-- id="wifi_advanced" -->
