<div id="wwan_settings">
	<h1><tmpl_var _("webui", "wwan_settings_menu_text")></h1>
	<tmpl_if NetworksCellularDataEnableShow>
		<h2><tmpl_var _("webui", "wwan_settings_cellular_data_label")></h2>
		<p>Du kan bruke denne ON / OFF-innstillingen n
r det er n
dvendig for 
 av mobildata og forhindre tilgang til mobilnettverket. Dette forhindrer tilkoblede enheter fra 
 koble seg til internett og bruke din mobile dataplan. For normal drift m
 denne innstillingen v
	</tmpl_if>
	<tmpl_if NetworksConnectionPreferenceShow>
		<h3>Tilkoblingspreferanse</h3>
			<p>Velg 
nsket alternativ for 
 kontrollere n
r <tmpl_var _("webui", "webui_product_name")> vil etablere en datatilkobling til mobilnettverket.</p>
	</tmpl_if>
	<tmpl_if showRoamSetting>
		<h3><tmpl_var _("webui", "wwan_settings_roaming_label")></h3>
		<p>Bruk denne innstillingen for 
 internasjonal og innenlandsk roaming av eller p
 etter behov. Ekstra datakostnader kan p
pe ved roaming.</p>
	</tmpl_if>
	<tmpl_if NetworksPreferredTechnologyShow>
		<h3><tmpl_var truncate(_("webui", "wwan_settings_preferred_technology_label"), (size(_("webui", "wwan_settings_preferred_technology_label")) - size(":")))></h3>
		<p>Standardverdien er 
<tmpl_var _("webui", "wwan_settings_preferred_technology_default_option_text")>
. <tmpl_var _("webui", "webui_product_name")> vil velge den beste tilgjengelige teknologien.</p>
		<p>Hvis du 
nsker, kan du endre dette for 
 begrense nettverksteknologiene som skal brukes.</p>
	</tmpl_if>
	<h3>Manuelt nettverksvalg</h3>
	<p>Denne funksjonen er tilgjengelig kun hvis aktivering av automatisk nettverksvalg er sl
tt av. Dette kan v
re nyttig hvis flere nettverk er tilgjengelige, og du har en preferanse for hvilket som brukes.</p>
	<p>Klikk p
Velg nettverk
-knappen for 
ke etter tilgjengelige nettverk; deretter kan du velge 
nsket nettverk.</p>
	<tmpl_unless apnProfileSettings>
		<tmpl_if NetworksFourGLTEAPNShow>
			<h3><tmpl_var truncate(_("webui", "wwan_settings_fourg_lte_apn_label"), (size(_("webui", "wwan_settings_fourg_lte_apn_label")) - size(":")))></h3>
			<p>APN er forh
ndskonfigurert; du b
r ikke endre APN med mindre du har en bedriftskonto (med din egen APN).</p>
		</tmpl_if>
		<tmpl_if NetworksCustomAPNShow>
			<h3><tmpl_var truncate(_("webui", "wwan_settings_custom_apn_label"), (size(_("webui", "wwan_settings_custom_apn_label")) - size(":")))></h3>
			<p>Denne APN-enheten brukes hvis du endrer SIM-kortet til et SIM-kort som ikke er fra Verizon. Ellers blir det ignorert og virker ikke.</p>
		</tmpl_if>
	<tmpl_else>
		<h2>Avanserte innstillinger</h2>
		<p>Bruk denne overskriften/lenken til 
 vise eller skjule avanserte innstillinger etter behov.</p>
		<h3><tmpl_var truncate(_("webui", "wwan_settings_apn_label"), (size(_("webui", "wwan_settings_apn_label")) - size(":")))></h3>
		<p>Hvis du m
 endre APN, angir du verdien som leveres av mobilnettverksleverand
ren.</p>
		<h3><tmpl_var truncate(_("webui", "wwan_settings_authentication_label"), (size(_("webui", "wwan_settings_authentication_label")) - size(":")))></h3>
		<div class="blockgroup">
			<p>Velg alternativet som er spesifisert av tjenesteleverand
ren.</p>
				<li>Ingen</li>
				<li>PAP</li>
				<li>CHAP</li>
			</ul>
		</div>
		<h3><tmpl_var truncate(_("webui", "wwan_settings_username_label"), (size(_("webui", "wwan_settings_username_label")) - size(":")))></h3>
		<p>Hvis godkjenningen er <strong>Ingen</strong>, kan dette st
 tomt. Ellers angir du verdien som er angitt av tjenesteleverand
ren.</p>
		<h3><tmpl_var truncate(_("webui", "wwan_settings_password_label"), (size(_("webui", "wwan_settings_password_label")) - size(":")))></h3>
		<p>Hvis godkjenningen er <strong>Ingen</strong>, kan dette st
 tomt. Ellers angir du verdien som er angitt av tjenesteleverand
ren.</p>
	</tmpl_unless>
