<!-- Backup and Restore -->
<div id="backup_restore">
         <h1><tmpl_var _("webui", "backup_restore_menu_text")></h1>
         <h2>Yleiskatsaus</h2>
         <p>T
 ominaisuudella voit varmuuskopioida (ladata) m
ritysasetusten kopion t
 laitteelta tietokoneellasi olevaan tiedostoon tai palauttaa (l
) aiemmin tallennetun m
ritystiedoston. T
ritystiedosto sis
 kaikki laitteen, reitittimen ja j
rjestelm
n toimintojen asetukset. Se ei sis
 4G-modeemin asetuksia tai dataa. Huomaa, ett
 voit palauttaa tiedoston vain samalle laitteelle, josta se on per
isin.</p>
         <p>T
s mahdollista palauttaa kaikki asetukset tehtaan oletusarvoihin.</p>
         <h2><tmpl_var _("webui", "backup_restore_the_backup_sub_header_text")></h2>
         <h3>Yll
n salasana</h3>
         <p>Sy
 nykyinen <tmpl_var _("webui", "webui_product_name")>-laitteen yll
n salasana t
         <h3><tmpl_var _("webui", "backup_restore_backup_now_button")></h3>
         <p>Lataa nykyisen m
ritystiedoston kopio tietokoneellesi napsauttamalla Download (Lataa) -painiketta. Jos selaimesi kehottaa sinua tallentamaan tiedoston, voit halutessasi nimet
 sen uudelleen.</p>
         <h2><tmpl_var _("webui", "backup_restore_the_restore_sub_header_text")></h2>
         <h3>Yll
n salasana</h3>
         <p>Sy
 nykyinen <tmpl_var _("webui", "webui_product_name")>-laitteen yll
n salasana t
         <h3><tmpl_var truncate(_("webui", "backup_restore_file_select_label"), (size(_("webui", "backup_restore_file_select_label")) - size(":")))></h3>
         <p>Valitse m
ritystiedosto, jonka olet aiemmin ladannut t
 <tmpl_var _("webui", "webui_product_name")>-laitteelta tietokoneellesi.</p>
         <h3>Restore Now (Palauta nyt) -painike</h3>
         <p>Kun olet valinnut m
ritystiedoston, aloita tiedoston l
minen napsauttamalla t
 painiketta. L
ritystiedosto otetaan v
 laite k
ynnistet
n uudelleen.</p>
         <p class="note"><strong>Huomautus:</strong> M
ritystiedoston l
minen muuttaa KAIKKI nykyiset asetukset m
ritystiedoston mukaisiksi. T
 voi muuttaa nykyisi
 Wi-Fi-asetuksia ja katkaista kaikki nykyiset yhteydet t
n <tmpl_var _("webui", "webui_product_name")>-laitteeseen, t
 verkkoselainistunto mukaan lukien.</p>
         <h2><tmpl_var _("webui", "backup_restore_factory_restore_sub_header_text")></h2>
         <p>Palauta kaikki asetukset tehtaan oletusarvoihin napsauttamalla <strong>Restore Factory Defaults</strong> (Palauta tehdasasetukset) -painiketta. T
 aiheuttaa uudelleenk
ynnistyksen ja voi muuttaa nykyisi
 Wi-Fi-asetuksia sek
 katkaista kaikki nykyiset yhteydet t
n <tmpl_var _("webui", "webui_product_name")>-laitteeseen, t
 verkkoselainistunto mukaan lukien.</p>
 <!-- id="backup_restore" -->
