<div id="inseego_connect">
	<h1><tmpl_var _("webui", "inseego_connect_help_title_text")></h1>
	<h2><tmpl_var _("webui", "inseego_connect_cloud_services_text")></h2>
		Inseego Connect 
 Inseego Connect.
	<h3><tmpl_var _("webui", "inseego_connect_label")></h3>
 Inseego Connect 
 ON / OFF 
	<h2><tmpl_var _("webui", "inseego_connect_status_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_connection_state_label")></h3>
 Inseego Connect. <br>
 Inseego Connect
 Inseego Connect.<br>
	<h3><tmpl_var _("webui", "inseego_connect_last_reported_label")></h3>
 Inseego Connect.
	<h3><tmpl_var _("webui", "inseego_connect_interval_label")></h3>
 Inseego Connect.
	<h3><tmpl_var _("webui", "inseego_connect_mobile_app_text")></h3>
 Inseego Connect Mobile.
