<!-- Port Forwarding -->
<div id="port_forward">
acheminement de port</h1>
	<h2>Vue d
ensemble</h2>
	<p>La fonctionnalit
acheminement de port permet de transf
rer le trafic Internet entrant vers un ordinateur ou un appareil particulier de votre r
seau Wi-Fi. Normalement, le pare-feu int
 bloque le trafic Internet entrant. Vous utilisez le r
acheminement de port pour permettre aux internautes d
importe quel serveur que vous utilisez sur votre ordinateur, tel qu
un serveur web, FTP ou de messagerie. Pour certains jeux en ligne, le r
acheminement de port est n
cessaire pour que les jeux fonctionnent correctement. Veuillez noter que l
utilisation du r
acheminement de port cr
e un risque pour la s
elle ne doit 
tre utilis
en cas de besoin.</p>
<p><strong>Remarque
:</strong> Certains r
seaux mobiles sans fil vous fournissent une adresse IP sur leur propre r
seau plut
une adresse IP Internet. Dans ce cas, le r
acheminement de port ne peut pas 
tre utilis
, car les internautes ne peuvent pas atteindre votre adresse IP.</p>
	<h2>Applications de r
acheminement de port</h2>
	<h3>Cases 
 cocher de l
application</h3>
		<p>Un certain nombre d
applications serveur communes sont 
es. Pour utiliser l
une de ces applications, suivez cette proc
			<li>1. Installez l
application sur un ordinateur qui est connect
seau Wi-Fi de cet appareil.</li>
			<li>2. Sur l
ordinateur, v
rifiez l
adresse IP de ce dernier pour le r
seau Wi-Fi. Vous pouvez 
galement v
rifier l
adresse IP de l
ordinateur sur l
cran Appareils connect
			<li>3. Sur cet 
cran, saisissez l
adresse IP de l
ordinateur dans le champ <strong>Adresse IP de l
appareil connect
</strong> 
application.</li>
			<li>4. Activez cette application sur cet 
cran en s
lectionnant sa case 
 cocher.</li>
			<li>5. Enregistrez vos modifications.</li>
			<li>6. Sur l
cran <strong>
tat actuel</strong>, notez l
adresse IP Internet de cet appareil.</li>
			<li>7. Demandez aux utilisateurs sur Internet de se connecter 
adresse IP Internet de cet appareil. Ces demandes de connexion seront transmises 
adresse IP sp
	<h2>Applications personnalis
	<p>Cette fonctionnalit
 vous permet de d
finir vos propres applications. Une fois d
finies, ces applications peuvent 
tre activ
es de la m
re que les applications pr
finies. Pour d
finir une application, vous devez conna
tre les ports et le protocole (TCP, UDP) utilis
application pour le trafic entrant. Pour commencer, cliquez sur le bouton <strong>Ajouter une application personnalis
e</strong>, puis fournissez les donn
es suivantes.</p>
	<h3>Case 
 cocher de l
application</h3>
	<p>Utilisez-la pour activer une application apr
finie.</p>
	<h3>Nom de l
application</h3>
	<p>Saisissez un nom appropri
application que vous d
finissez.</p>
	<h3>Adresse IP de l
appareil connect
	<p>Saisissez l
adresse IP de l
appareil connect
 qui recevra ce trafic.</p>
	<h3>Type de port et num
ros de port</h3>
		<p>Chaque application a sa propre plage de ports. Indiquez le d
but et la fin de la plage de ports pour chaque application.</p>
		<div class="blockgroup">
				<li>Pour la plage de ports, saisissez le d
but de la plage dans le champ <strong>De</strong> et la fin de la plage dans le champ <strong>
</strong>.</li>
				<li>Pour un port de traduction, saisissez le num
ro de port dans les champs <strong>Ext</strong> et <strong>Int</strong>.</li>
			</ul>
		</div>
	<h3>Protocole</h3>
	<p>Pour chaque plage de ports, s
lectionnez le protocole (TCP ou UDP) utilis
 par cette 
tendue de port.</p>
	<h3>Supprimer</h3>
	<p>Utilisez cette case 
 cocher pour supprimer une application personnalis
<!-- id="port_forward" -->
