<!-- Login -->
<div id="login">
	<h1><tmpl_var _("webui", "webui_product_name")> MiFi <tmpl_var _("webui", "webui_product_number")>-innlogging</h1>
	<p>Tast inn <tmpl_var _("webui", "webui_product_name")>-administratorpassordet for 
 fortsette.</p>
	<tmpl_if showForgotPassword>
	<p>Hvis du ikke vet passordet, bruker du alternativet <strong>Jeg har glemt administratorpassordet</strong>.</p>
	</tmpl_if>
	<p>Hvis du skriver inn feil passord for mange ganger, blir du l
st ute. Du m
 starte p
 nytt for 
se opp <tmpl_var _("webui", "webui_product_name")>.</p>
<!-- id="login" -->
