<!-- mns -->
<div id="mns">
	<h1>Valg av nettverk</h1>
	<h2>Oversikt</h2>
	<p>Denne enheten velger automatisk det optimale mobilnettverket. Hvis du bruker GSM-baserte nettverk, kan du ogs
 velge et nettverk manuelt. Denne 
<tmpl_var _("webui", "menu_adv_mns_text")>
-funksjonen er bare nyttig hvis flere nettverk er tilgjengelige. Hvis denne funksjonen brukes, kobles denne enheten kun til det spesifiserte nettverket og ignorerer andre tilgjengelige nettverk.</p>
	<h2>Status</h2>
	<p>Denne seksjonen viser om automatisk eller manuelt nettverksvalg er i bruk. Hvis manuelt nettverksvalg er i bruk, vises ogs
 det spesifiserte nettverket.</p>
	<h2>Drift</h2>
	<h3><tmpl_var _("webui","adv_mns_scan_for_networks_btn")></h3>
	<p>Hvis manuelt nettverksvalg er mulig, er denne knappen tilgjengelig. Klikk p
 denne knappen hvis du vil velge et nettverk manuelt. Modemet s
ker deretter etter alle tilgjengelige nettverk. Dette s
ket kan ta opptil to minutter.</p>
	<p>Merk: Hvis denne knappen ikke vises, er manuelt nettverksvalg ikke tilgjengelig p
 aktuelt sted ved 
 bruke gjeldende nettverk.</p>
	<h3>Nettverksliste</h3>
	<div class="blockgroup">
	<p>Alle tilgjengelige nettverk vises i nettverkslisten n
r nettverkss
ket er fullf
rt. Du kan deretter utf
re en av f
lgende operasjoner:</p>
		<li>Avbryt 
 Bruk dette alternativet for 
 beholde automatisk nettverksvalg.</li>
		<li>Oppdater 
 bruk dette til 
 nytt hvis 
nsket nettverk ikke er oppf
rt. Det kan hende du m
 endre posisjonen din for 
 forbedre signalet.</li>
		<li>Velg 
 bruk dette alternativet for 
 manuelt nettverksvalg med det spesifiserte nettverket. Merk at det kanskje ikke er mulig 
 koble til alle angitte nettverk. Hvis tjenesteleverand
ren din ikke har en roaming-avtale med det valgte nettverket, vil tilkoblingsfors
ket mislykkes.</li>
	<h3><tmpl_var _("webui","adv_mns_revert_to_automatic_btn")></h3>
	<p>Hvis manuelt nettverksvalg er i bruk, er denne knappen synlig. Klikk p
 denne knappen for 
 endre fra manuelt til automatisk nettverksvalg.</p>
 tilbake til nettverksskjermen</h3>
	<p>Bruk denne koblingen for 
 tilbake til nettverksskjermbildet.</p>
<!-- id="mns" -->
