<!-- Manual DNS -->
<div id="manual_dns">
	<h1><tmpl_var _("webui", "adv_manual_dns_menu_text")></h1>
valga</h2>
	<p>Paprastai DNS adresas suteikiamas automati
kai. Jei reikia, 
iame puslapyje galite neautomati
kai nurodyti DNS.</p>
	<h2>Nuostatos</h2>
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_enable_label"), (size(_("webui", "adv_manual_dns_enable_label")) - size(":")))></h3>
	<p>Naudokite 
 nuostat
jungti arba i
jungti neautomatinio DNS funkcij
jungta, turi b
ti pateikti toliau nurodyti duomenys.</p>
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_address1_label"), (size(_("webui", "adv_manual_dns_address1_label")) - size(":")))></h3>
veskite norimo pirminio DNS IP adres
io adreso reikia norint naudoti neautomatinio DNS funkcij
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_address2_label"), (size(_("webui", "adv_manual_dns_address2_label")) - size(":")))></h3>
veskite norimo antrinio (atsarginio) DNS IP adres
is adresas yra neb
tinas, tod
l, jei pageidaujama, gali b
ti paliktas tu
ias.</p>
<!-- id="manual_dns" -->
