<!-- Port Filtering -->
<div id="port_filtering">
	<h1>Portu filtr
ana</h1>
rskats</h2>
	<p>Izmantojiet portu filtr
anas funkciju, lai blo
tu izejo
o interneta trafiku. Ja 
is iestat
jums ir iesl
gts, internetam var piek
t tikai trafiks no atlas
m lietojumprogramm
m. Trafiku identific
c portu numuriem. Da
as lietojumprogrammas ir iepriek
tas. Varat defin
t papildu lietojumprogrammas, ta
zina detaliz
ta inform
cija par trafiku, ko izmanto un 
 lietojumprogrammas, kuras v
laties defin
	<h2>Lietojumprogrammas</h2>
	<h3>Lietojumprogrammu izv
	<p>Izmantojiet 
as, lai katrai lietojumprogrammai at
autu piek
uvi internetam, kam
r ir iesl
gta portu filtr
anas funkcija. Datpl
sma no atlas
m lietojumprogramm
m var piek
t internetam. Pret
sma tiek blo
	<h2>Piel
gotas lietojumprogrammas</h2>
 funkcija 
auj jums defin
t savas lietojumprogrammas 
dz 10. Kad 
s lietojumprogrammas ir defin
s var iesl
gt un izsl
 iepriek
tas lietojumprogrammas. Lai defin
tu lietojumprogrammu, j
zina porti un protokols (TCP, UDP), ko lietojumprogramma izmanto izejo
ajam trafikam. Lai s
ktu, noklik
iniet uz pogas <strong>Pievienot piel
gotu lietojumprogrammu</strong> un p
c tam nor
tos datus.</p>
, ka piel
 lietojumprogramm
as netiek saglab
dz tiek izmantota poga Saglab
as, lai saglab
tu visu lapas saturu.</p>
	<h3>Lietojumprogrammas izv
	<p>Izmantojiet 
u, lai iesl
gtu lietojumprogrammu p
anas. Ja 
 opcija ir atlas
ta, datpl
s lietojumprogrammas var piek
t internetam. Pret
sma tiek blo
	<h3>Programmas nosaukums</h3>
	<p>Ievadiet defin
jamajai lietojumprogrammai piem
rotu nosaukumu.</p>
	<h3>Portu diapazons (s
kuma ports/beigu ports)</h3>
		<p>Katrai lietojumprogrammai ir savs portu diapazons. Ievadiet katras lietojumprogrammas portu diapazona s
kumu un beigas.</p>
		<div class="blockgroup">
				<li>Vienam portam ievadiet porta numuru gan lauk
 <strong>S
kuma ports</strong>, gan lauk
 <strong>Beigu ports</strong>.</li>
				<li>Portu diapazonam ievadiet diapazona s
kumu lauk
 <strong>S
kuma ports</strong> un diapazona beigas 
<strong>Beigu ports</strong>.</li>
			</ul>
		</div>
	<h3>Protokols</h3>
	<p>Katram portu diapazonam atlasiet protokolu (TCP vai UDP), ko izmanto 
is portu diapazons.</p>
	<p>Izmantojiet 
u, lai dz
stu piel
gotu lietojumprogrammu.</p>
<!-- id="port_filtering" -->
