<!-- mns -->
<div id="mns">
lection du r
seau</h1>
	<h2>Vue d
ensemble</h2>
	<p>Cet appareil s
lectionne automatiquement le r
seau mobile optimal. Si vous utilisez des r
seaux GSM, vous pouvez 
galement s
lectionner un r
seau manuellement. Cette fonctionnalit
<tmpl_var _("webui", "menu_adv_mns_text")>
est utile que si plusieurs r
seaux sont disponibles. Si cette fonctionnalit
 est utilis
e, cet appareil se connecte uniquement au r
 et ignore les autres r
seaux disponibles.</p>
tat</h2>
	<p>Cette section indique si la s
lection automatique ou manuelle du r
seau est utilis
e. Si la s
lection manuelle du r
seau est utilis
galement affich
	<h2>Fonctionnement</h2>
	<h3><tmpl_var _("webui","adv_mns_scan_for_networks_btn")></h3>
	<p>Si la s
lection manuelle du r
seau est possible, ce bouton est disponible. Cliquez sur ce bouton si vous souhaitez s
lectionner manuellement un r
seau. Le modem recherche ensuite tous les r
seaux disponibles. Cette analyse peut prendre jusqu
 deux minutes.</p>
	<p>Remarque
: Si ce bouton ne s
affiche pas, alors la s
lection manuelle du r
est pas possible 
 votre emplacement actuel lorsque vous utilisez votre r
seau actuel.</p>
	<h3>Liste des r
seaux</h3>
	<div class="blockgroup">
	<p>Tous les r
seaux disponibles s
affichent dans la liste une fois l
analyse r
seau termin
e. Vous pouvez alors effectuer l
une des op
rations suivantes
		<li>Annuler - Utilisez cette option pour conserver la s
lection automatique du r
seau.</li>
		<li>Actualiser - Utilisez cette option pour effectuer une nouvelle analyse si le r
seau souhait
est pas r
. Vous devrez peut-
tre vous d
placer pour am
liorer le signal.</li>
lectionner - Utilisez cette option pour activer la s
lection manuelle du r
seau avec le r
. Notez qu
il peut ne pas 
tre possible de se connecter 
 tous les r
s. Si votre fournisseur de services n
accord d
rance avec le r
lectionn
, la tentative de connexion 
chouera.</li>
	<h3><tmpl_var _("webui","adv_mns_revert_to_automatic_btn")></h3>
	<p>Si la s
lection manuelle du r
seau est utilis
e, ce bouton est visible. Cliquez sur ce bouton pour passer de la s
lection manuelle 
lection automatique du r
seau.</p>
	<h3>Revenir 
seaux</h3>
	<p>Utilisez ce lien pour revenir 
seaux.</p>
<!-- id="mns" -->
