<!-- Status Logs -->
<div id="status_logs">
	<h1><tmpl_var _("webui", "status_logs_menu_text")></h1>
	<h2>Vis
o geral</h2>
	<p> As informa
es de log s
teis para a resolu
o de problemas, mas n
o necess
rias para a opera
o normal. </p>
	<h2>Configura
	<h3><tmpl_var _("webui", "status_logs_enable_logs_label")></h3>
	<p>Ative os logs conforme a necessidade.</p>
	<h3><tmpl_var _("webui", "status_logs_delete_sys_logs_label")></h3>
	<p>Essa configura
o determina por quanto tempo os dados de log do sistema ficam retidos. Selecione a op
o desejada.</p>
	<p>Observe que, se o log estiver cheio, os dados mais antigos ser
dos, independentemente dessa configura
	<h2>Dados de log</h2>
	<p>As guias fornecidas permitem que voc
 selecione o tipo de dados de log a ser exibido. </p>
	<h3><tmpl_var _("webui", "status_logs_mobile_network_log_href")></h3>
	<p>Este log cont
m os dados de conex
o com a rede m
vel. </p>
	<h3><tmpl_var _("webui", "status_logs_system_log_href")></h3>
	<p>Este log registra os eventos, al
m das conex
es de dados m
veis, que ocorreram neste dispositivo. </p>
	<h2>Bot
	<h3><tmpl_var _("webui", "status_logs_clear_log_btn")></h3>
	<p>Ao clicar neste bot
o, todos os dados de log existentes ser
dos. Isso facilitar
 a leitura de novos dados.</p>
	<h3><tmpl_var _("webui", "status_logs_refresh_btn")></h3>
	<p>Use-o para atualizar os dados de log que s
o exibidos.</p>
	<h3><tmpl_var _("webui", "status_logs_download_btn")></h3>
	<p>Use este bot
o caso queira baixar dados de log no seu computador ou no dispositivo conectado.</p>
<!-- end Status Logs -->
