<!-- Manual DNS -->
<div id="manual_dns">
	<h1><tmpl_var _("webui", "adv_manual_dns_menu_text")></h1>
	<h2>Vue d
ensemble</h2>
	<p>Normalement, l
adresse DNS est fournie automatiquement. Cette page vous permet de sp
cifier manuellement un DNS, le cas 
	<h2>Param
tres</h2>
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_enable_label"), (size(_("webui", "adv_manual_dns_enable_label")) - size(":")))></h3>
	<p>Utilisez ce param
tre pour activer ou d
sactiver la fonctionnalit
 DNS manuel. Si elle est activ
e, les donn
es suivantes doivent 
tre fournies.
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_address1_label"), (size(_("webui", "adv_manual_dns_address1_label")) - size(":")))>
	<p>Saisissez l
adresse IP du DNS principal souhait
. Cette adresse est n
cessaire pour utiliser la fonctionnalit
 DNS manuel.
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_address2_label"), (size(_("webui", "adv_manual_dns_address2_label")) - size(":")))>
	<p>Saisissez l
adresse IP du DNS secondaire (de secours) souhait
		Cette adresse est facultative et peut 
tre laiss
e vide si vous le souhaitez.
<!-- id="manual_dns" -->
