<div id="customer_care">
	<h1><tmpl_var _("webui", "customer_care_menu_text")></h1>
versikt</h2>
	<p>Den h
r sidan inneh
nkar och kontaktinformation f
r att hj
lpa dig om du har n
gra problem eller fr
gor.</p>
	<h2><tmpl_var _("webui", "customer_care_links_sub_header_verizon_text")></h2>
nd dessa l
tkomst till Verizon Wireless-webbplatsen.</p>
	<h2><tmpl_var _("webui", "customer_care_support_sub_header_verizon_text")></h2>
nd dessa l
 mer om den h
r typen av enhet eller f
tkomst till online-support f
r denna <tmpl_var _("webui", "webui_product_name")>.</p>
	<h2><tmpl_var _("webui", "customer_care_numbers_sub_header_verizon_text")></h2>
	<p>Ring vid behov kundtj
 Verizon Wireless p
 det telefonnummer som visas h
