<div id="inseego_connect">
	<h1><tmpl_var _("webui", "inseego_connect_help_title_text")></h1>
	<h2><tmpl_var _("webui", "inseego_connect_cloud_services_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_label")></h3>
		Utilice este control de ENCENDIDO / APAGADO para encender o apagar la funci
n de conexi
n Inseego.
	<h2><tmpl_var _("webui", "inseego_connect_status_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_connection_state_label")></h3>
		Este es un informe sobre la conexi
n de sus dispositivos al servidor de Inseego Connect.<br>
		Arriba: el dispositivo se est
 comunicando con los servidores Inseego Connect, <br>
		Inactivo: el dispositivo no se comunica con los servidores de Inseego Connect.<br>
	<h3><tmpl_var _("webui", "inseego_connect_last_reported_label")></h3>
		Esto es igual a la hora en su dispositivo a la que envi
ltima vez un paquete a los servidores de Inseego Connect.
	<h3><tmpl_var _("webui", "inseego_connect_interval_label")></h3>
		Este es el intervalo en el que su dispositivo enviar
 paquetes al servidor Inseego Connect.	
