#header {height: 110px;}
#header_inner {padding:0px; max-height:100px;}
	margin: 40px;
#carrier_logo { display:block !important; }
h2, a {border-bottom: none;}
a.gohome { background: none; border-bottom: none; padding:  5px 10px;
color: white; background-color: #0088ca;}
a.gohome:hover { color:black;}
.footer { position: absolute !important; width: 100%; bottom: 0px; right:0px; left: 0px; margin: auto;}
@media only screen and (max-width: 768px) {
	.footer { position: relative !important;}
	h3.productName {
		left: 70px;
@media only screen and (max-width: 670px) {
	.footer { position: relative !important;}
	h3.productName {
		left: 70px;
	.error_page .footer .ig_col{
		display: block;
		width: 100%;
		text-align: center;
		border: 1px solid transparent;
		line-height: 10px;
	.error_page #inseegoLogo {
		float: none;
	.error_page .footer #powered {
		float: none;
.error_page .main { display: table; margin: auto; height: 72vh; }
.error_page .main div { display: table-cell; vertical-align: middle;}
.error_page h2 {
	color: #333;
		border-bottom: 2px solid #0082ca;
		padding: 4px 0px;
		margin: 20px;
		text-align: left;
.error_page h4 { margin: 20px;} 
span.footerProductName {
    display: inline-table;
    vertical-align: bottom;
    padding: 5px;
.logo_device {
    white-space:nowrap;
