<!-- MAC Filter -->
<div id="macfilter">
	<h1><tmpl_var _("webui", "adv_macfilter_menu_text")></h1>
valga</h2>
	<p>Jei 
jungta MAC filtro funkcija, prie 
 tinklo negal
s prisijungti joks 
renginys, ne
trauktas 
MAC adres
 filtras
. Filtras taikomas tik 
 tinklui ir nepaveiks USB 
JUNGIMO / I
JUNGIMO valdiklis</h2>
	<p>Naudokite 
 valdikl
dami prireikus 
jungti arba i
jungti MAC filtr
jungdami turite 
sitikinti, kad leid
iama naudoti kai kuriuos 
renginius. Atminkite, kad 
jungus MAC filtr
, visi prijungti 
renginiai, kuri
MAC adres
 filtras
, bus nedelsiant atjungti.</p>
vardyti visi 
renginiai, i
skyrus USB 
renginius. Nor
traukti arba pa
renginius i
MAC adres
 filtras
, naudokite pateiktus 
ymimuosius langelius.</p>
	<h3><tmpl_var _("webui", "adv_macfilter_refresh_button")></h3>
	<p>Prireikus atnaujinti s
, naudokite atnaujinimo mygtuk
	<h2>Valdymas</h2>
blokuoti
MAC filtras
blokuoti
MAC filtras
veika:</p>
	<div class="blockgroup">
blokuoti 
renginiai visada blokuojami i
 tinklo 
 nesvarbu, ar MAC filtras 
jungtas ar i
jungtas.</li>
	<li>Jei MAC filtras 
jungtas, o 
renginys yra u
, o ne MAC adres
 filtro s
e, jis prisijungti negal
s. Prisijungti neleis ir MAC filtras, ir u
blokavimo funkcija.</li>
	<li>Jei MAC filtras 
jungtas, o 
renginys yra MAC adres
 filtro s
renginys gal
s prisijungti. Kai prisijungs, j
 galima u
blokuoti pa
alinant i
 MAC adres
 filtro s
o arba naudojant funkcij
blokuoti
. Paprastai funkcija 
blokuoti
ti naudojama laikinam blokavimui, o MAC filtras 
 nuolatiniam blokavimui.</li>
	<h3><tmpl_var _("webui", "adv_macfilter_add_device_button")></h3>
	<p>Naudokite 
 norite 
traukti nauj
<!--  macfilter  -->
