<!-- Backup and Restore -->
<div id="backup_restore">
         <h1><tmpl_var _("webui", "backup_restore_menu_text")></h1>
         <h2>
levaade</h2>
         <p>Kasutage seda funktsiooni konfiguratsioonis
tete koopia varundamiseks (allalaadimiseks) sellest seadmest arvutis olevasse faili v
i eelnevalt salvestatud konfiguratsioonifaili taastamiseks (
leslaadimiseks). See konfiguratsioonifail sisaldab k
iki seadme, ruuteri ja s
steemi funktsioonide seadeid. See ei sisalda 4G-modemi seadeid ega andmeid. Pange t
hele, et saate faili taastada ainult samasse seadmesse, kust see p
rines.</p>
         <p>See ekraan v
imaldab l
htestada k
ik seaded tehase vaikev
rtustele.</p>
         <h2><tmpl_var _("webui", "backup_restore_the_backup_sub_header_text")></h2>
         <h3>Administraatori parool</h3>
         <p>Sisestage sellele v
ljale praegune <tmpl_var _("webui", "webui_product_name")> administraatori parool.</p>
         <h3><tmpl_var _("webui", "backup_restore_backup_now_button")></h3>
         <p>Praeguse konfiguratsioonifaili koopia arvutisse allalaadimiseks kl
psake nuppu Laadi alla. Kui brauser palub teil faili salvestada, saate selle soovi korral 
mber nimetada.</p>
         <h2><tmpl_var _("webui", "backup_restore_the_restore_sub_header_text")></h2>
         <h3>Administraatori parool</h3>
         <p>Sisestage sellele v
ljale praegune <tmpl_var _("webui", "webui_product_name")> administraatori parool.</p>
         <h3><tmpl_var truncate(_("webui", "backup_restore_file_select_label"), (size(_("webui", "backup_restore_file_select_label")) - size(":")))></h3>
         <p>Valige konfiguratsioonifail, mille eelnevalt sellest seadmest <tmpl_var _("webui", "webui_product_name")> arvutisse laadisite.</p>
         <h3>Nupp Taasta kohe</h3>
         <p>P
rast konfiguratsioonifaili valimist kl
psake sellele nupule, et alustada faili 
leslaadimisega. P
leslaadimist rakendatakse konfiguratsioonifail kohe ja seade taask
ivitatakse.</p>
         <p class="note"><strong>M
rkus.</strong> Konfiguratsioonifaili 
leslaadimine muudab K
IKI olemasolevaid seadeid, et need vastaksid konfiguratsioonifailile. See v
ib muuta praeguseid Wi-Fi seadeid, katkestades k
ik olemasolevad 
hendused seadmega <tmpl_var _("webui", "webui_product_name")>, sh selle veebibrauseri seansi.</p>
         <h2><tmpl_var _("webui", "backup_restore_factory_restore_sub_header_text")></h2>
         <p>Kl
psake nuppu <strong>Taasta tehase vaikeseaded</strong>, et l
htestada k
ik seaded tehase vaikev
rtustele. See p
hjustab taask
ivitumise ja v
ib muuta praeguseid Wi-Fi seadeid, katkestades k
ik olemasolevad 
hendused selle seadmega <tmpl_var _("webui", "webui_product_name")>, sh selle veebibrauseri seansi.</p>
 <!-- id="backup_restore" -->
