<!-- Port Filtering -->
<div id="port_filtering">
	<h1>Filtrage des ports</h1>
	<h2>Vue d
ensemble</h2>
	<p>Utilisez la fonctionnalit
 de filtrage des ports si n
cessaire pour bloquer le trafic Internet sortant. Si ce param
tre est activ
, seul le trafic des applications s
lectionn
es permet d
 Internet. Le trafic est identifi
 par des num
ros de port. Certaines applications sont pr
finies. Vous pouvez d
finir des applications suppl
mentaires, mais vous devez conna
tre les d
tails du trafic utilis
 par les applications que vous souhaitez d
finir.</p>
	<h2>Applications</h2>
	<h3>Cases 
 cocher de l
application</h3>
	<p>Utilisez ces cases 
 cocher pour permettre l
 Internet pour chaque application lorsque la fonctionnalit
 de filtrage des ports est activ
e. Le trafic des applications s
lectionn
es peut acc
 Internet. Sinon, le trafic est bloqu
	<h2>Applications personnalis
	<p>Cette fonctionnalit
 vous permet de d
finir vos propres applications (jusqu
 10). Une fois d
finies, ces applications peuvent 
tre activ
es de la m
re que les applications pr
finies. Pour d
finir une application, vous devez conna
tre les ports et le protocole (TCP, UDP) utilis
application pour le trafic sortant. Pour commencer, cliquez sur le bouton <strong>Ajouter une application personnalis
e</strong>, puis fournissez les donn
es suivantes.</p>
	<p>Veuillez noter que toute modification apport
 une application personnalis
est pas enregistr
e tant que le bouton 
Enregistrer les modifications
 pour sauvegarder l
 du contenu de la page.</p>
	<h3>Case 
 cocher de l
application</h3>
	<p>Utilisez cette case 
 cocher pour activer une application apr
finie. Si elle est s
lectionn
e, le trafic de cette application peut acc
 Internet. Sinon, le trafic est bloqu
	<h3>Nom de l
application</h3>
	<p>Saisissez un nom appropri
application que vous d
finissez.</p>
	<h3>Plage de ports (port de d
marrage/port de fin)</h3>
		<p>Chaque application a sa propre plage de ports. Indiquez le d
but et la fin de la plage de ports pour chaque application.</p>
		<div class="blockgroup">
				<li>Pour un port unique, saisissez le num
ro de port dans les champs <strong>Port de d
marrage</strong> et <strong>Port de fin</strong>.</li>
				<li>Pour la plage de ports, saisissez le d
but de la plage dans le champ <strong>Port de d
marrage</strong> et la fin de la plage dans le champ <strong>Port de fin</strong>.</li>
			</ul>
		</div>
	<h3>Protocole</h3>
	<p>Pour chaque plage de ports, s
lectionnez le protocole (TCP ou UDP) utilis
 par cette 
tendue de port.</p>
	<h3>Supprimer</h3>
	<p>Utilisez cette case 
 cocher pour supprimer une application personnalis
<!-- id="port_filtering" -->
