<!-- MAC Filter -->
<div id="macfilter">
	<h1><tmpl_var _("webui", "adv_macfilter_menu_text")></h1>
 USB.</p>
 MAC".</p>
	<h3><tmpl_var _("webui", "adv_macfilter_refresh_button")></h3>
 MAC</h3>
	<div class="blockgroup">
	<h3><tmpl_var _("webui", "adv_macfilter_add_device_button")></h3>
<!--  macfilter  -->
