<div id="customer_care">
	<h1><tmpl_var _("webui", "customer_care_menu_text")></h1>
	<h2>Oversikt</h2>
	<p>Denne siden inneholder lenker og kontaktinformasjon for 
 hjelpe deg hvis du har problemer eller sp
	<h2><tmpl_var _("webui", "customer_care_links_sub_header_verizon_text")></h2>
	<p>Bruk disse koblingene for 
 tilgang til Verizon Wireless-nettstedet.</p>
	<h2><tmpl_var _("webui", "customer_care_support_sub_header_verizon_text")></h2>
	<p>Bruk disse koblingene for 
 finne ut mer om denne typen enheter, eller f
 tilgang til online support for dette <tmpl_var _("webui", "webui_product_name")>.</p>
	<h2><tmpl_var _("webui", "customer_care_numbers_sub_header_verizon_text")></h2>
	<p>Ring om n
dvendig kundeservice hos Verizon Wireless ved 
 bruke telefonnummeret som vises her.</p>
