<!-- Login -->
<div id="login">
	<h1><tmpl_var _("webui", "webui_product_name")> MiFi <tmpl_var _("webui", "webui_product_number")> Sign In</h1>
		Enter the <tmpl_var _("webui", "webui_product_name")> Admin Password to continue.
	<tmpl_if showForgotPassword>
		If you don't know the password, use the <strong>I Forgot the Admin Password</strong> option.
	</tmpl_if>
	<p>If you enter an incorrect password too many times, you will be locked out. To clear this lock, you must restart the <tmpl_var _("webui", "webui_product_name")>. </p>
<!-- id="login" -->
