<!-- Vpn -->
<div id="vpn">
        
rskats</h2>
         <p>Izmantojiet 
o funkciju, lai izveidotu tune
a savienojumu ar OpenVPN serveri un mar
tu visu datpl
smu pievienotaj
s caur tuneli.</p>
        
	<h2>Autom
tiski izveidot VPN savienojumu</h2>
         
         <p>Ja iesl
gts, VPN tunelis tiks autom
tiski izveidots ikreiz, kad tiks izveidots interneta savienojums. Ja tas ir izsl
gts, VPN savienojums ir j
izveido manu
	<h2>VPN savienojums</h2>
         <h3>Savienojuma statuss</h3>
         <p>R
da VPN savienojuma statusu.</p>
         <h3>Savienojuma izveides laiks</h3>
         <p>Tiek r
ts VPN savienojuma izveides ilgums.</p>
         <h3>Izveidot savienojumu</h3>
         <p>Noklik
iniet uz pogas Izveidot savienojumu, lai izveidotu savienojumu ar VPN serveri, kas konfigur
ts, izmantojot VPN iestat
jumus.</p>
	 <h3>Skat
         <p>Kad ir izveidots OpenVPN savienojums, noklik
iniet uz pogas Skat
lu, lai r
tu VPN savienojuma 
	<h2>VPN iestat
jumi</h2>
	<h3>Uzst
anas faili</h3>
         <p>Velciet un nometiet OpenVPN konfigur
cijas failus no OpenVPN nodro
ja failu aug
des apgabal
	<h3>Lietot
rds</h3>
         <p>
eit ievadiet savu OpenVPN savienojuma lietot
rdu.</p>
	<h3>Parole</h3>
         <p>
eit ievadiet savu OpenVPN savienojuma paroli.</p>
	<h3>Not
t visus VPN iestat
jumus</h3>
         <p>Noklik
iniet uz pogas Not
t visus VPN iestat
jumus, lai dz
stu VPN failus, VPN 
lus un atiestat
tu visus VPN iestat
 nekonfigur
        
 <!-- id="Vpn" -->
