<!-- Messages -->
<div id="sms">
	<h1><tmpl_var _("webui", "sms_menu_text")></h1>
	<h2>Oversigt</h2>
	<p>Disse sms-beskeder kommer normalt fra din tjenesteudbyder. Du skal ikke fors
ge at svare, og derfor leveres der ingen svarfunktion.</p>
	<h2>Indhold</h2>
	<tmpl_if showMessageCounter>
		<h3>Beskedt
llere</h3>
		<p>To t
rmen viser antallet af ul
ste (nye) beskeder og det samlede antal beskeder.</p>	
		<p>Bem
rk, at alle beskeder er indstillet til at "l
r de vises p
 denne sk
	</tmpl_if>
	<h3>Beskedliste</h3>
	<p>Alle beskeder vises i dator
ste (nye) beskeder vises med et ikon. Beskeder markeres automatisk som "l
r de vises p
 denne side, s
ste gang siden indtastes, vises de ikke l
ngere som ul
ste.</p>
	<tmpl_if showDeleteAllButton>
		<h3><tmpl_var _("webui", "sms_delete_all_button")></h3>
		<p>Denne knap findes nederst p
 beskedlisten. Brug den efter behov til at slette alle beskeder.</p>
	</tmpl_if>
