<div id="inseego_connect">
	<h1><tmpl_var _("webui", "inseego_connect_help_title_text")></h1>
	<h2><tmpl_var _("webui", "inseego_connect_cloud_services_text")></h2>
		Inseego Connect 
 un prodotto per piattaforme cloud che fornisce visibilit
 a 360 gradi e accessibilit
 sicura nella distribuzione da un'unica piattaforma. Utilizzare questa pagina per abilitare e configurare le impostazioni per la connessione con Inseego Connect.
	<h3><tmpl_var _("webui", "inseego_connect_label")></h3>
		Per impostazione predefinita, la connessione a Inseego Connect 
 disattivata. Spostare l
interruttore ON/OFF su ON per abilitare la connessione.
	<h2><tmpl_var _("webui", "inseego_connect_status_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_connection_state_label")></h3>
		Questo 
 un report sulle connessioni dei tuoi dispositivi al server Inseego Connect. <br>
		Up: il dispositivo sta comunicando con i server Inseego Connect, <br>
		Down: il dispositivo non sta comunicando con i server Inseego Connect.<br>
	<h3><tmpl_var _("webui", "inseego_connect_last_reported_label")></h3>
		Questo corrisponde all
orario mostrato sul dispositivo in cui 
 stato inviato per l
ultima volta un pacchetto ai server Inseego Connect.
	<h3><tmpl_var _("webui", "inseego_connect_interval_label")></h3>
		Questo 
 l'intervallo con cui il dispositivo invier
 i pacchetti al server Inseego Connect.
		NOTA: Un intervallo pi
 breve significa un maggiore utilizzo dati.
	<h3><tmpl_var _("webui", "inseego_connect_mobile_app_text")></h3>
		Usa il link per scaricare l
app Inseego Connect Mobile.
