<!-- Internet  Sessions -->
<div id="session_log_info">
	<h1><tmpl_var _("webui", "session_log_info_menu_text")></h1>
	<p>Le journal de la session contient les donn
es suivantes
Date et heure
: la date et l
heure de d
but de la session Internet.</p>
: la dur
e totale de la session Internet.</p>
: la quantit
 de donn
ues pour la session
Internet. Une fois la connexion 
tablie, ce compteur part de z
es transmises
: la quantit
 de donn
es transmises pour la session
Internet. Une fois la connexion 
tablie, ce compteur part de z
es totales
: la quantit
 de donn
es totales de la session Internet. Il s
agit de la somme des donn
ues et des donn
es transmises.</p>
	<tmpl_if RoamingStatusShow>
rance (itin
rance/partiel/vide) vide = r
seau domestique</p>
	</tmpl_if>
adresse IP pour la session.</p>
IPv6 globale pour la session (vide si l
IPv6 est d
est pas pris en charge par la connexion r
seau ou l
rateur actuel).</p>
	<p>Les journaux sont class
s par ordre chronologique. </p>
utilisateur ne peut pas modifier l
ordre et il n
y a pas d
options relatives au journal de la session.</p>
