<!-- SIM Lock -->
<div id="sim">
        <h1><tmpl_var _("webui", "adv_sim_manager_menu_text")></h1>
        <h2>
        <p>
 <tmpl_var _("webui", "webui_product_name")> 
 Novatel Wireless SIM
	<h3><tmpl_var truncate(_("webui", "adv_sim_manager_pin_lock_feature_label"), (size(_("webui", "adv_sim_manager_pin_lock_feature_label")) - size(":")))></h3>
 SIM.</p>
	<h3><tmpl_var truncate(_("webui", "adv_sim_manager_status_label"), (size(_("webui", "adv_sim_manager_status_label")) - size(":")))></h3>
	<div class="blockgroup">
	        <ul>
	        <li>
	        <li>
	        <li>
	        <li>
	        <li>
	        <li>
.</li>       
	        </ul>
        <h2>
 SIM</h2>
        <p>
 PIN</h3>
 PUK</h3>
		<h3><tmpl_var _("webui", "adv_sim_manager_enable_pin_lock_option")></h3>
		<h3><tmpl_var _("webui", "adv_sim_manager_disable_pin_option")></h3>
		<h3><tmpl_var _("webui", "adv_sim_manager_change_pin_option")></h3>
		<div class="blockgroup">
			</ul>
		</div>
		<p><tmpl_var _("webui", "adv_sim_manager_name_text")></p>
<!-- id="sim" -->
