<div id="customer_care">
	<h1><tmpl_var _("webui", "customer_care_menu_text")></h1>
	<h2>Visi
n general</h2>
		Esta p
gina proporciona enlaces e informaci
n de contacto para ayudarlo si tiene alg
n problema o pregunta.
	<h2><tmpl_var _("webui", "customer_care_self_support_text")></h2>
		Utilice estos v
nculos para obtener m
s informaci
n sobre este tipo de dispositivo o acceda a la asistencia en l
nea para este <tmpl_var _ ("webui", "webui_product_name")>.
