<!-- Port Filtering -->
<div id="port_filtering">
	<h1>Portfilterung</h1>
bersicht</h2>
	<p>Verwenden Sie bei Bedarf die Funktion 
Portfilterung
, um ausgehenden Internetverkehr zu blockieren. Wenn diese Einstellung aktiviert ist, kann nur der Datenverkehr der ausgew
hlten Anwendungen 
ber das Internet laufen. Der Verkehr wird durch Portnummern gekennzeichnet. Einige Anwendungen sind vordefiniert. Sie k
nnen zus
tzliche Anwendungen definieren. Daf
ssen Sie aber Einzelheiten 
ber den Verkehr kennen, der von den Anwendungen verwendet und erzeugt wird, die Sie definieren m
chten.</p>
	<h2>Anwendungen</h2>
	<h3>Anwendungskontrollk
stchen</h3>
	<p>Verwenden Sie diese Kontrollk
stchen, um den Zugriff auf das Internet f
r jede Anwendung einzeln festzulegen, w
hrend die Funktion 
Portfilterung
 eingeschaltet ist. Der Datenverkehr von ausgew
hlten Anwendungen kann 
ber das Internet erfolgen. Andernfalls wird der Datenverkehr blockiert.</p>
	<h2>Benutzerdefinierte Anwendungen</h2>
	<p>Diese Funktion erm
glicht es Ihnen, Ihre eigenen Anwendungen (bis zu 10) zu definieren. Einmal definiert, k
nnen diese Anwendungen auf die gleiche Weise wie vordefinierte Anwendungen aktiviert und deaktiviert werden. Um eine Anwendung zu definieren, m
ssen Sie die Ports und das Protokoll (TCP, UDP) kennen, die von der Anwendung f
r ausgehenden Datenverkehr verwendet werden. Klicken Sie zu Beginn auf die Schaltfl
che <strong>Benutzerdefinierte Anwendung hinzuf
gen</strong> und geben Sie dann die folgenden Daten ein.</p>
	<p>Beachten Sie, dass alle 
nderungen an einer benutzerdefinierten Anwendung erst dann gespeichert werden, wenn Sie den gesamten Seiteninhalt 
ber die Schaltfl
nderungen speichern
 speichern.</p>
	<h3>Anwendungskontrollk
stchen</h3>
	<p>Aktiveren Sie 
ber dieses Kontrollk
stchen eine Anwendung, nachdem Sie sie definiert haben. Ist es aktiviert, kann der Datenverkehr von dieser Anwendung 
ber das Internet erfolgen. Andernfalls wird der Datenverkehr blockiert.</p>
	<h3>Anwendungsname</h3>
	<p>Geben Sie einen geeigneten Namen f
r die Anwendung ein, die Sie definieren.</p>
	<h3>Portbereich (Startport/Endport)</h3>
		<p>Jede Anwendung hat ihren eigenen Portbereich. Geben Sie f
r jede Anwendung den Start und das Ende des Portbereichs ein.</p>
		<div class="blockgroup">
				<li>Geben Sie f
r einen einzelnen Port die Portnummer in den beiden Feldern <strong>Startport</strong> und <strong>Endport</strong> ein.</li>
				<li>Geben Sie f
r einen Portbereich den Anfang des Bereichs in das Feld <strong>Startport</strong> und das Ende des Bereichs in das Feld <strong>Endport</strong> ein.</li>
			</ul>
		</div>
	<h3>Protokoll</h3>
hlen Sie f
r jeden Portbereich das von diesem Portbereich verwendete Protokoll (TCP oder UDP) aus.</p>
schen</h3>
ber dieses Kontrollk
stchen k
nnen Sie eine benutzerdefinierte Anwendung l
schen.</p>
<!-- id="port_filtering" -->
