<!-- Port Filtering -->
<div id="port_filtering">
	<h1>Filtragem de porta</h1>
	<h2>Vis
o geral</h2>
	<p> Use o recurso de filtragem de porta sempre que necess
rio para bloquear o tr
fego de sa
da da internet. Se essa configura
o for ativada, apenas o tr
fego de aplicativos selecionados poder
 acessar a internet. O tr
 identificado pelo n
mero das portas. Alguns aplicativos s
o predefinidos. Voc
 pode definir aplicativos adicionais, mas 
rio conhecer os detalhes do tr
fego utilizado e gerado pelos aplicativos que deseja definir. </p>
	<h2>Aplicativos</h2>
	<h3>Caixas de sele
o do aplicativo</h3>
	<p>Use essas caixas de sele
o para permitir o acesso 
 internet por cada aplicativo enquanto o recurso de filtragem de porta estiver ativado. O tr
fego dos aplicativos selecionados pode acessar a internet. Caso contr
rio, o tr
 bloqueado. </p>
	<h2>Aplicativos personalizados</h2>
	<p>Esse recurso permite que voc
 defina os seus pr
prios aplicativos 
 dez. Depois de definidos, esses aplicativos podem ser ativados e desativados da mesma forma que os aplicativos predefinidos. Para definir um aplicativo, voc
 precisa conhecer as portas e o protocolo (TCP, UDP) utilizado para o tr
fego de sa
da do aplicativo. Para come
ar, clique no bot
o <strong>Adicionar aplicativo personalizado</strong> e, em seguida, informe os dados a seguir. </p>
	<p>Observe que qualquer altera
o feita a um aplicativo personalizado n
 salva at
 que o bot
o "Salvar altera
es" seja utilizado para salvar o conte
do todo da p
gina.</p>
	<h3>Caixa de sele
o do aplicativo</h3>
	<p>Use essa caixa de sele
o para ativar um aplicativo ap
s defini-lo. Se selecionado, o tr
fego desse aplicativo poder
 acessar a internet. Caso contr
rio, o tr
 bloqueado. </p>
	<h3>Nome do aplicativo</h3>
	<p> Insira um nome adequado para o aplicativo que voc
 definindo. </p>
	<h3>Intervalo de porta (Porta inicial/Porta final)</h3>
		<p> Cada aplicativo tem o seu pr
prio intervalo de porta. Insira o in
cio e o fim do intervalo de porta para cada aplicativo. </p>
		<div class="blockgroup">
				<li>Para uma porta 
nica, insira o n
mero da porta tanto no campo <strong>Porta inicial</strong>, como no campo <strong>Porta final</strong>.</li>
				<li>Para um intervalo de porta, insira o in
cio do intervalo no campo <strong>Porta inicial</strong> e o fim do intervalo no campo <strong>Porta final</strong>. </li>
			</ul>
		</div>
	<h3>Protocolo</h3>
	<p> Para cada intervalo de porta, selecione o protocolo (TCP ou UDP) utilizado por aquele intervalo. </p>
	<h3>Excluir</h3>
	<p>Use essa caixa de sele
o para excluir um aplicativo personalizado. </p>
<!-- id="port_filtering" -->
