<!-- Vpn -->
<div id="vpn">
        
	<h2>Panoramica</h2>
         <p>Questa funzione consente di configurare e abilitare connessioni protette a reti remote su una rete pubblica utilizzando Open VPN. Se Open VPN 
 connesso, non 
 necessario che i dispositivi collegati al gateway utilizzino il proprio client Open VPN.
         <b>NOTA: </b>Quando viene stabilita una connessione Open VPN, le impostazioni di filtro sulle porte e di Port forwarding non sono efficaci, poich
 il traffico proveniente da tutti i dispositivi connessi passa attraverso il tunnel Open VPN. 
         </p>
        
	<h2>Connessione automatica VPN</h2>
         
         <p>
                 Se ABILITATO, il tunnel VPN viene stabilito in modo automatico ogni volta che ci si connette a internet. Se DISABILITATO, 
 necessario stabilire la connessione VPN in modo manuale.
         </p>
	<h2>Connessione VPN</h2>
         <h3>Stato della connessione</h3>
         <p>
                 Mostra lo stato della connessione VPN.
         </p>
         <h3>Tempo di connessione</h3>
         <p>
                 Mostra la durata della connessione VPN.
         </p>
         <h3>Connetti</h3>
         <p>
                 Fai clic sul pulsante Connetti per connetterti al server VPN configurato utilizzando le Impostazioni VPN.
         </p>
	 <h3>Visualizza log</h3>
         <p>
		Quando 
 stata stabilita una connessione OpenVPN, fai clic sul pulsante Visualizza log per visualizzare il log delle connessioni VPN.
	<h2>Impostazioni VPN</h2>
	<h3>File di installazione</h3>
         <p>
		Trascina e rilascia i file di configurazione OpenVPN forniti dal fornitore OpenVPN nell'area di caricamento dei file.
	<h3>Nome utente</h3>
         <p>
		Inserisci qui il nome utente della connessione OpenVPN.
	<h3>Password</h3>
         <p>
		Inserisci qui la password della connessione OpenVPN.
	<h3>Elimina tutte le impostazioni VPN </h3>
         <p>
		Fai clic sul pulsante Cancella tutte le impostazioni VPN per eliminare i file VPN, i log VPN e ripristinare tutte le impostazioni VPN allo stato originale non configurato.
        
 <!-- id="Vpn" -->
