<!-- MAC Filter -->
<div id="adv_macfilter">
	<h1><tmpl_var _("webui", "adv_macfilter_menu_text")></h1>
	<h2>Vis
o geral</h2>
	<p>O recurso de filtro MAC, se ativado, impedir
 o acesso a esta rede Wi-Fi por qualquer dispositivo que n
o esteja inclu
do na lista "Filtro de Endere
os MAC". O filtro 
 aplicado apenas 
 rede Wi-Fi e n
o tem efeito em dispositivos USB. </p>
	<h2>Controle Liga/Desliga</h2>
	<p>Use este controle para ativar ou desativar o Filtro MAC de acordo com a necessidade. Antes de ativ
 preciso ter certeza de que alguns dispositivos s
o permitidos. Observe que, quando o Filtro MAC est
 ativado, qualquer dispositivo conectado que n
o esteja na lista "Filtro de Endere
os MAC" ser
 desconectado imediatamente. </p>
	<h2>Lista de dispositivos</h2>
	<p>Todos os dispositivos conhecidos est
o listados aqui, exceto os dispositivos USB. Use as caixas de sele
o fornecidas para incluir ou excluir dispositivos da lista "Filtro de Endere
os MAC". </p>
	<h3><tmpl_var _("webui", "adv_macfilter_refresh_button")></h3>
	<p>Use o bot
o Atualizar para atualizar a lista conforme a necessidade. </p>
	<h2>Opera
	<h3>Bloqueio x Filtro MAC</h3>
	<p>A intera
o entre os dispositivos "Bloqueados" e o "Filtro MAC" 
	<div class="blockgroup">
	<li>Os dispositivos bloqueados estar
o sempre bloqueados na rede Wi-Fi, independentemente de o Filtro MAC estar ativado ou desativado. </li>
	<li>Se o Filtro MAC estiver ativado e um dispositivo estiver na lista de Bloqueio, mas n
o na lista Filtro de Endere
os MAC, ele n
 se conectar. O Filtro MAC e o Bloqueio impedem a conex
o. </li>
	<li>Se o Filtro MAC estiver ativado e um dispositivo estiver na lista Filtro de Endere
os MAC, ele poder
 se conectar. Ap
s a conex
o, ele pode ser bloqueado pela remo
o da lista Filtro de Endere
os MAC ou pelo uso do recurso de "Bloqueio". De forma geral, o "Bloqueio" deve ser usado para um bloqueio tempor
rio e o Filtro MAC, para um bloqueio permanente. </li>
	<h3><tmpl_var _("webui", "adv_macfilter_add_device_button")></h3>
	<p>Use este bot
o para adicionar um novo dispositivo 
 lista de dispositivos. </p>
<!--  adv_macfilter  -->
