<!-- Login -->
<div id="login">
	<h1><tmpl_var _("webui", "webui_product_name")> MiFi <tmpl_var _("webui", "webui_product_number")> 
<tmpl_var _("webui", "webui_product_name")> 
	<tmpl_if showForgotPassword>
<strong>
</strong> 
	</tmpl_if>
 <tmpl_var _("webui", "webui_product_name")> 
<!-- id="login" -->
