<!-- Messages -->
<div id="sms">
	<h1><tmpl_var _("webui", "sms_menu_text")></h1>
valga</h2>
iuos SMS prane
imus paprastai siun
ia paslaug
jas. Nereikia bandyti atsakyti, tod
ra ir atsakymo funkcijos.</p>
	<h2>Turinys</h2>
	<tmpl_if showMessageCounter>
		<h3>Prane
 skaitikliai</h3>
		<p>Du skaitikliai ekrano vir
uje parodo neperskaityt
 ir bendr
		<p>Atminkite, kad visi 
iame ekrane rodomi prane
imai nustatyti kaip 
perskaityti
	</tmpl_if>
	<h3>Prane
	<p>Visi prane
imai pateikiami pagal dat
. Neperskaityti (nauji) prane
imai nurodomi piktograma. Prane
imai automati
ymimi kaip 
perskaityti
, kai tik jie parodomi 
iame puslapyje, tod
 jie nebebus rodomi kaip neperskaityti.</p>
	<tmpl_if showDeleteAllButton>
		<h3><tmpl_var _("webui", "sms_delete_all_button")></h3>
is mygtukas yra prane
o pabaigoje. Naudokite j
alinti visus prane
imus.</p>
	</tmpl_if>
