<!-- Status Logs -->
<div id="status_logs">
	<h1><tmpl_var _("webui", "status_logs_menu_text")></h1>
rskats</h2>
la inform
cija ir noder
ga probl
anai, bet nav nepiecie
ama norm
lai darb
bai.</p>
	<h2>Iestat
jumi</h2>
	<h3><tmpl_var _("webui", "status_logs_enable_logs_label")></h3>
	<p>Iesl
c nepiecie
bas.</p>
	<h3><tmpl_var _("webui", "status_logs_delete_sys_logs_label")></h3>
is iestat
jums nosaka, cik ilgi sist
la dati tiek saglab
ti. Atlasiet vajadz
go opciju.</p>
ls ir pilns, vec
kie dati tiek dz
sti neatkar
juma.</p>
la dati</h2>
	<p>Nodro
s cilnes 
auj atlas
la datu tipu.</p>
	<h3><tmpl_var _("webui", "status_logs_mobile_network_log_href")></h3>
 ir dati par savienojumiem ar mobilo t
klu.</p>
	<h3><tmpl_var _("webui", "status_logs_system_log_href")></h3>
 tiek re
ti notikumi, kas nav saist
ti ar mobilo datu savienojumiem un kas ir notiku
	<h2>Pogas</h2>
	<h3><tmpl_var _("webui", "status_logs_clear_log_btn")></h3>
	<p>Noklik
inot uz 
s pogas, tiks dz
sti visi eso
la dati. Tas atvieglo jaunu datu nolas
anu.</p>
	<h3><tmpl_var _("webui", "status_logs_refresh_btn")></h3>
	<p>Izmantojiet 
o opciju, lai atjaunin
la datus.</p>
	<h3><tmpl_var _("webui", "status_logs_download_btn")></h3>
	<p>Izmantojiet 
o pogu, ja v
laties lejupiel
la datus dator
 vai pievienotaj
<!-- end Status Logs -->
