<!-- WiFi Advanced -->
<div id="wifi_advanced">
	<h1>Wi-Fi</h1>
 Wi-Fi</h2>
 <tmpl_var _("webui", "webui_product_name_with_suffix")> 
 <tmpl_var _("webui", "webui_product_name")> 
 USB.</p>
 Jetpack</h3>
 USB.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_max_connections_label")></h3>
) Wi-Fi <tmpl_var _("webui", "webui_product_name_with_suffix")>.</p>
	<h2><tmpl_var _("webui", "wifi_advanced_profile_title")></h2>
	<tmpl_if SwapToggleButtonAction>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_ghz_band_label")></h3>
 802.11 
	<tmpl_else>
		<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_ghz_band_label")></h3>
	</tmpl_if>
	<h3><tmpl_var _("webui", "wifi_advanced_five_ghz_band_label")></h3>
	<h2><tmpl_var _("webui", "wifi_advanced_two_point_four_g_band_options_title")></h2>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_802_11_mode_label")></h3>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_channel_label")></h3>
 <strong>
</strong> 
	<h2><tmpl_var _("webui", "wifi_advanced_five_g_options_title")></h2>
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_802_11_mode_label")></h3>
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_bandwidth_label")></h3>
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_channel_label")></h3>
 <strong>
</strong> 
<!-- id="wifi_advanced" -->
