<!-- Data Usage -->
<div id="data_usage">
	<h1><tmpl_var _("webui", "data_usage_menu_text")></h1>
	<h2>Oversigt</h2>
	<p>Denne sk
rm viser en grafisk illustration af dataforbruget p
 din mobile dataplan, forudsat at oplysninger om dataforbrug er tilg
ngelige.</p>
	<h2>Ansl
et dataforbrug</h2>
	<p>Displayet varierer afh
ngigt af din plan, men indeholder generelt f
lgende oplysninger.</p>
	<div class="blockgroup">
		<li>Ansl
et dataforbrug for din plan inden for den aktuelle faktureringscyklus op til den viste dato.</li>
		<li>Planens type og databegr
nsningen for din plan.</li>
		<li>En grafisk gengivelse af dataforbruget for din plan inden for den aktuelle faktureringscyklus.</li>
		<li>For delte planer, en indikation af de data, der bruges p
 denne bestemte enhed.</li>
		<li>Den dato, hvor den aktuelle faktureringscyklus slutter.</li>
