<!-- mns -->
<div id="mns">
kla atlase</h1>
rskats</h2>
ce autom
tiski atlasa optim
lo mobilo t
klu. Ja izmantojat GSM t
klu var atlas
 funkcija "<tmpl_var _("webui", "menu_adv_mns_text")>" ir noder
ga tikai tad, ja ir pieejami vair
kli. Ja 
 funkcija tiek izmantota, ier
ce izveido savienojumu tikai ar nor
klu un ignor
 citus pieejamos t
klus.</p>
	<h2>Statuss</h2>
ts, vai tiek izmantota autom
 vai manu
kla atlase. Ja tiek izmantota manu
kla atlase, redzams ar
kls.</p>
	<h2>Darb
	<h3><tmpl_var _("webui","adv_mns_scan_for_networks_btn")></h3>
	<p>Ja ir iesp
jama manu
kla atlase, 
 poga ir pieejama. Noklik
iniet uz 
s pogas, ja v
laties manu
li atlas
c tam modems mekl
 visus pieejamos t
klus. Sken
ana var ilgt l
	<p>Piez
 poga nav redzama, manu
kla atlase nav pieejama j
, izmantojot pa
klu.</p>
klu saraksts</h3>
	<div class="blockgroup">
	<p>Kad t
kla sken
ana ir pabeigta, visi pieejamie t
kli tiek par
ti sarakst
klu saraksts. P
c tam varat veikt vienu no t
		<li>Atcelt 
 izmantojiet 
o opciju, lai saglab
tu autom
kla atlasi.</li>
		<li>Atsvaidzin
 izmantojiet 
o opciju, lai sken
lreiz, ja v
lamais t
kls nav iek
auts sarakst
. Lai uzlabotu sign
lu, iesp
maina atra
s vieta.</li>
		<li>Atlas
 izmantojiet 
o opciju, lai iesl
gtu manu
kla atlasi nor
, ka, iesp
jams, nevar
s izveidot savienojumu ar visiem nor
tajiem t
kliem. Ja pakalpojumu sniedz
jam nav viesabon
guma ar atlas
klu, savienojuma izveides m
jums neizdosies.</li>
	<h3><tmpl_var _("webui","adv_mns_revert_to_automatic_btn")></h3>
	<p>Ja tiek izmantota manu
kla atlase, 
 poga ir redzama. Noklik
iniet uz 
s pogas, lai main
kla atlasi no Manu
li uz Autom
tiski.</p>
	<h3>Atgriezties ekr
kli</h3>
	<p>Izmantojiet 
o saiti, lai atgrieztos ekr
kli.</p>
<!-- id="mns" -->
