<!-- mns -->
<div id="mns">
	<h1>Netv
rksvalg</h1>
	<h2>Oversigt</h2>
	<p>Denne enhed v
lger automatisk det optimale mobilnetv
rk. Hvis du bruger GSM-baserede netv
rk, kan du ogs
lge et netv
rk manuelt. Denne "<tmpl_var _("webui", "menu_adv_mns_text")>"-funktion er kun nyttig, hvis flere netv
rk er tilg
ngelige. Hvis denne funktion bruges, opretter denne enhed kun forbindelse til det specificerede netv
rk og ignorerer andre tilg
ngelige netv
	<h2>Status</h2>
	<p>Dette afsnit viser, om automatisk eller manuelt netv
rksvalg er i brug. Hvis manuelt netv
rksvalg er i brug, vises det specificerede netv
	<h2>Drift</h2>
	<h3><tmpl_var _("webui","adv_mns_scan_for_networks_btn")></h3>
	<p>Hvis manuelt valg af netv
rk er muligt, er denne knap tilg
ngelig. Klik p
 denne knap, hvis du vil v
lge et netv
rk manuelt. Modemmet scanner derefter for alle tilg
ngelige netv
rk. Denne scanning kan tage op til to minutter.</p>
rk: Hvis denne knap ikke vises, er Manuelt netv
rksvalg ikke tilg
ngelig p
 din aktuelle placering med dit nuv
rende netv
	<h3>Netv
rksliste</h3>
	<div class="blockgroup">
	<p>Alle tilg
ngelige netv
rk vises p
rkslisten, efter en netv
rksscanning er gennemf
rt. Du kan derefter udf
re en af f
lgende handlinger:</p>
		<li>Annull
r - Brug denne indstilling til at beholde Valg af automatisk netv
rk.</li>
		<li>Opdat
r - brug denne til at scanne igen, hvis det 
nskede netv
rk ikke er vist p
 listen. Det kan v
dvendigt at 
ndre din placering for at forbedre signalet.</li>
lg - brug denne indstilling til at aktivere Manuelt netv
rksvalg med det specificerede netv
rk, at det muligvis ikke kan lade sig g
re at oprette forbindelse til alle listede netv
rk. Hvis din tjenesteudbyder ikke har en roamingaftale med det valgte netv
rk, mislykkes forbindelsesfors
get.</li>
	<h3><tmpl_var _("webui","adv_mns_revert_to_automatic_btn")></h3>
	<p>Hvis manuelt netv
rksvalg er i brug, er denne knap synlig. Klik p
 denne knap for at skifte fra manuelt til automatisk netv
rksvalg.</p>
	<h3>Vend tilbage til netv
rmen</h3>
	<p>Brug dette link til at vende tilbage til netv
rmen.</p>
<!-- id="mns" -->
