<!-- WiFi Advanced -->
<div id="wifi_advanced">
	<h1>Wi-Fi</h1>
	<h2>Yleiskatsaus</h2>
 Wi-Fi-asetukset voidaan yleens
 oletusarvoihinsa, mutta tarvittaessa voit s
si mukaan.</p>
	<h2>Wi-Fi p
lle / pois p
din</h2>
	<p>Kytke Wi-Fi p
lle tai pois p
 tarpeen mukaan. Jos t
 on kytketty pois p
 <tmpl_var _("webui", "webui_product_name_with_suffix")>-laitteen Wi-Fi-verkko ei ole k
, joten <tmpl_var _("webui", "webui_product_name")>-laitteeseen voi muodostaa yhteyden vain USB-kaapelia k
	<h3>Salli Wi-Fi-asetusten muutosten tekeminen Jetpack-n
	<p>Kytke Wi-Fi p
lle tai pois p
 tarpeen mukaan. Jos t
 on kytketty pois p
, Wi-Fi-verkko ei ole k
, joten yhteyden voi muodostaa vain USB-kaapelia k
	<h3><tmpl_var _("webui", "wifi_advanced_max_connections_label")></h3>
, kuinka monta laitetta voi muodostaa samanaikaisesti yhteyden <tmpl_var _("webui", "webui_product_name_with_suffix")>-laitteen Wi-Fi-verkkoon (-verkkoihin).</p>
	<h2><tmpl_var _("webui", "wifi_advanced_profile_title")></h2>
 asetus m
 sen, miten kutakin kaistaa (2,4 GHz ja 5 GHz) k
 sen, onko Wi-Fi-vierasverkko k
	<tmpl_if SwapToggleButtonAction>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_ghz_band_label")></h3>
		<p>Automaattisesti havaittu 2,4 GHz 802.11 -tila n
	<tmpl_else>
		<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_ghz_band_label")></h3>
		<p>Valitse haluamasi vaihtoehto: voit k
 taajuutta ensisijaisessa verkossa tai vierasverkossa taikka kytke
n taajuuden pois p
	</tmpl_if>
	<h3><tmpl_var _("webui", "wifi_advanced_five_ghz_band_label")></h3>
	<p>Valitse haluamasi vaihtoehto: voit k
 taajuutta ensisijaisessa verkossa tai vierasverkossa taikka kytke
n taajuuden pois p
. Huomaa, ett
 et voi kytke
 molempia taajuuksia pois p
	<h2><tmpl_var _("webui", "wifi_advanced_two_point_four_g_band_options_title")></h2>
 asetukset ovat oletusarvoisesti piilotettuina, mutta napsauttamalla otsikkoa/linkki
 saat ne n
kyviin. N
 asetuksia k
n aina, kun 2,4 GHz:n taajuus on aktiivinen.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_802_11_mode_label")></h3>
 asetuksella voit vaihtaa tarvittaessa Wi-Fi-tilaa. Yleens
 asetus j
n oletusarvoonsa.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_channel_label")></h3>
 <strong>Automatic</strong> (Automaattinen) -tilaan, ellei sinun tarvitse valita tietty
 kanavaa ymp
llesi.</p>
	<h2><tmpl_var _("webui", "wifi_advanced_five_g_options_title")></h2>
 asetukset ovat oletusarvoisesti piilotettuina, mutta napsauttamalla otsikkoa/linkki
 saat ne n
kyviin. N
 asetuksia k
n aina, kun 5 GHz:n taajuus on aktiivinen.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_802_11_mode_label")></h3>
 asetuksella voit vaihtaa tarvittaessa Wi-Fi-tilaa. Yleens
 oletusarvoa ei ole syyt
 vaihtaa.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_bandwidth_label")></h3>
	<p>Valitse haluttu vaihtoehto. Oletusarvoa pit
, ellet havaitse h
 muissa Wi-Fi-laitteissa. T
in kaistanleveyden pienent
minen voi v
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_channel_label")></h3>
 <strong>Automatic</strong> (Automaattinen) -tilaan, ellei sinun tarvitse valita tietty
 kanavaa ymp
llesi.</p>
<!-- id="wifi_advanced" -->
