<!-- adv_mns -->
<div id="adv_mns">
	<h1>Selecci
n de red</h1>
	<h2>Descripci
	<p> Este dispositivo selecciona autom
ticamente la red m
ptima. Si usa redes basadas en GSM, tambi
n puede seleccionar una red manualmente. Esta funci
n "<tmpl_var _("webui", "menu_adv_mns_text")>" es 
til solamente si hay varias redes disponibles. Si se usa esta funci
n, este dispositivo se conecta 
nicamente a la red especificada y pasa por alto las otras redes disponibles. </p>
	<h2>Estado</h2>
	<p> Esta secci
n indica si est
 en uso una Selecci
n de red autom
tica o manual. Si est
 en uso la Selecci
n de red manual, tambi
n se muestra la red especificada. </p>
	<h2>Operaci
	<h3><tmpl_var _("webui","adv_mns_scan_for_networks_btn")></h3>
	<p> Si es posible la Selecci
n de red manual, este bot
 habilitado. Haga clic en este bot
n si desea seleccionar una red de forma manual. Luego, el m
dem busca todas las redes disponibles. Esta b
squeda puede tardar hasta dos minutos. </p>
	<p> Nota: Si no se muestra este bot
n, la Selecci
n de red manual no est
 disponible en su ubicaci
n actual con su red actual. </p>
	<h3>Lista de redes</h3>
	<div class="blockgroup">
	<p> Todas las redes disponibles se muestran en la Lista de redes una vez que ha terminado la b
squeda de redes. Entonces puede realizar una de las siguientes operaciones: </p>
		<li> Cancelar: utilice esta opci
n para mantener la selecci
n de red autom
tica. </li>
		<li> Actualizar: utilice esta opci
n para volver a buscar si no figura la red deseada. Podr
a tener que modificar su ubicaci
n para mejorar la se
al. </li>
		<li> Seleccionar: use esta opci
n para activar la Selecci
n de red manual con una red especificada. Tenga en cuenta que probablemente no sea posible conectarse a todas las redes que figuran en la lista. Si su proveedor de servicio no tiene un acuerdo de itinerancia con la red seleccionada, el intento de conexi
n fracasar
	<h3><tmpl_var _("webui","adv_mns_revert_to_automatic_btn")></h3>
	<p> Si est
 en uso la Selecci
n de red manual, este bot
 visible. Haga clic en este bot
n para cambiar de selecci
n de red manual a autom
tica. </p>
	<h3>Volver a la pantalla de Redes</h3>
	<p> Use este enlace para volver a la pantalla de Redes. </p>
<!-- id="adv_mns" -->
