<!-- Manual DNS -->
<div id="manual_dns">
	<h1><tmpl_var _("webui", "adv_manual_dns_menu_text")></h1>
	<h2>Yleiskatsaus</h2>
	<p>DNS-osoite annetaan yleens
 automaattisesti. T
 sivulla voit tarvittaessa m
 DNS:n manuaalisesti.</p>
	<h2>Asetukset</h2>
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_enable_label"), (size(_("webui", "adv_manual_dns_enable_label")) - size(":")))></h3>
	<p>Kytke Manual DNS (Manuaalinen DNS) -ominaisuus p
lle tai pois p
 asetuksella. Jos se on kytketty p
lle, on annettava seuraavat tiedot.</p>
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_address1_label"), (size(_("webui", "adv_manual_dns_address1_label")) - size(":")))></h3>
 halutun ensisijaisen DNS:n IP-osoite. T
 osoite vaaditaan, jotta Manual DNS (Manuaalinen DNS) -ominaisuutta voi k
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_address2_label"), (size(_("webui", "adv_manual_dns_address2_label")) - size(":")))></h3>
	<p>Anna halutun toissijaisen (varmuuskopio-) DNS:n IP-osoite. T
 osoite on valinnainen, ja se voidaan haluttaessa j
ksi.</p>
<!-- id="manual_dns" -->
