<!-- MAC Filter -->
<div id="macfilter">
	<h1><tmpl_var _("webui", "adv_macfilter_menu_text")></h1>
levaade</h2>
	<p>Kui MAC-aadressi filtri funktsioon on sisse l
litatud, takistab see juurdep
su sellele Wi-Fi-v
rgule mis tahes seadmel, mis pole loendis 
MAC-aadressi filter
. Filter rakendub ainult Wi-Fi-v
rgule ega m
juta USB-seadmeid.</p>
	<h2>SEES/V
LJAS juhtnupp</h2>
	<p>Kasutage seda nuppu MAC-aadressi filtri sisse- v
litamiseks vastavalt vajadusele. Enne selle sissel
litamist peate veenduma, et m
ned seadmed on lubatud. Pange t
hele, et MAC-aadressi filtri sissel
litamisel katkestatakse kohe 
hendus mis tahes 
hendatud seadmega, mida pole loendis 
MAC-aadressi filter
	<h2>Seadmete loend</h2>
	<p>Siin on loetletud k
ik teadaolevad seadmed, v.a USB-seadmed. Kasutage esitatud m
rkeruute, et lisada v
listada seadmeid loendist 
MAC-aadressi filter
	<h3><tmpl_var _("webui", "adv_macfilter_refresh_button")></h3>
	<p>Loendi v
rskendamiseks vastavalt vajadusele kasutage v
rskendamise nuppu.</p>
	<h2>Kasutamine</h2>
	<h3>Blokeeritud vs MAC-aadressi filtriga</h3>
	<p>Blokeeritud seadmete ja MAC-aadressi filtri koostoime on j
rgmine.</p>
	<div class="blockgroup">
	<li>Blokeeritud seadmed blokeeritakse alati Wi-Fi-v
rgust, olenemata sellest, kas MAC-aadressi filter on sisse v
litatud.</li>
	<li>Kui MAC-aadressi filter on sisse l
litatud ja seade on loendis Blokeeritud, kuid mitte loendis MAC-aadressi filter, ei saa see 
hendust luua. Nii MAC-aadressi filter kui ka blokeerimine takistaksid 
hendamist.</li>
	<li>Kui MAC-aadressi filter on sisse l
litatud ja seade on loendis MAC-aadressi filter, saab seade 
henduse luua. P
hendamist saab selle blokeerida, eemaldades selle MAC-aadressi filtrite loendist v
i kasutades funktsiooni Blokeeri. 
ldiselt tuleks ajutiseks blokeerimiseks kasutada blokeerimist ja p
sivaks blokeerimiseks MAC-aadressi filtrit.</li>
	<h3><tmpl_var _("webui", "adv_macfilter_add_device_button")></h3>
	<p>Kasutage seda nuppu uue seadme lisamiseks seadmete loendisse.</p>
<!--  macfilter  -->
