<!-- Port Filtering -->
<div id="port_filtering">
	<h1>Filtrado de puertos</h1>
	<h2>Descripci
	<p> Use la funci
n de Filtrado de puertos seg
n sea necesario para bloquear el tr
fico saliente de Internet. Si se habilita esta configuraci
n, solo el tr
fico de las aplicaciones seleccionadas puede acceder a Internet. El tr
fico se identifica por n
meros de puerto. Algunas aplicaciones est
n predefinidas. Puede definir aplicaciones adicionales, pero debe conocer los detalles del tr
fico usado y generado por las aplicaciones que desea definir. </p>
	<h2>Aplicaciones</h2>
	<h3>Casillas de verificaci
n de las aplicaciones</h3>
	<p>Use estas casillas de verificaci
n para permitir el acceso a Internet para cada aplicaci
n mientras la funci
n de Filtrado de puertos est
 habilitada. El tr
fico de las aplicaciones seleccionadas puede acceder a Internet. De lo contrario, el tr
fico se bloquea. </p>
	<h2>Aplicaciones personalizadas</h2>
	<p>Esta funci
n le permite definir sus propias aplicaciones (hasta 10). Una vez definidas, estas aplicaciones se pueden activar y desactivar de la misma manera que las aplicaciones predefinidas. Para definir una aplicaci
n, debe conocer los puertos y el protocolo (TCP, UDP) usados por la aplicaci
n para el tr
fico saliente. Para comenzar, haga clic en el bot
n <strong>Agregar aplicaci
n personalizada</strong> y luego ingrese los datos siguientes. </p>
	<p>Tenga en cuenta que los cambios a una Aplicaci
n personalizada no se guardan hasta que se usa el bot
n "Guardar cambios" para guardar el contenido de toda la p
gina.</p>
	<h3>Casilla de verificaci
n de la aplicaci
	<p>Use esta casilla de verificaci
n para activar una aplicaci
s de haberla definido. Si se selecciona, el tr
fico de esta aplicaci
n puede acceder a Internet. De lo contrario, el tr
fico se bloquea. </p>
	<h3>Nombre de la aplicaci
	<p> Ingrese un nombre adecuado para la aplicaci
n que define. </p>
	<h3>Rango de puertos (puerto inicial/puerto final)</h3>
		<p> Cada aplicaci
n posee su propio rango de puertos. Ingrese el comienzo y el final del rango de puertos para cada aplicaci
		<div class="blockgroup">
				<li>Para un 
nico puerto, ingrese el n
mero de puerto en los campos <strong>Puerto inicial</strong> y <strong>puerto final</strong>.</li>
				<li>Para un rango de puertos, ingrese el comienzo del rango en el campo <strong>Puerto inicial</strong> y el fin del rango en el campo <strong>Puerto final</strong>. </li>
			</ul>
		</div>
	<h3>Protocolo</h3>
	<p> Para cada rango de puertos, seleccione el protocolo (TCP o UDP) usado por ese rango de puertos. </p>
	<h3>Eliminar</h3>
	<p>Use esta casilla de verificaci
n para eliminar una aplicaci
n personalizada. </p>
<!-- id="port_filtering" -->
