<!-- Vpn -->
<div id="vpn">
        
valga</h2>
         <p>Naudokite 
 funkcij
dami sukurti tunelio ry
 serveriu ir prijungtuose 
renginiuose per tunel
 nukreipti vis
        
	<h2>Automati
kai prisijungti prie VPN</h2>
         
         <p>Jei 
JUNGTA, u
mezgus interneto ry
 bus automati
kai sukurtas VPN tunelis. Jei I
JUNGTA, VPN ry
 turite u
megzti neautomati
kai.</p>
	<h2>VPN ry
         <h3>Ry
sena</h3>
         <p>Rodoma VPN ry
sena.</p>
         <h3>Ry
io laikas</h3>
         <p>Rodoma VPN ry
mezgimo laiko trukm
         <h3>Prisijungti</h3>
         <p>Nor
dami prisijungti prie VPN serverio, sukonfig
ruoto naudojant VPN nuostatas, spustel
kite mygtuk
Prisijungti
	 <h3>Per
         <p>Suk
, spustel
kite mygtuk
 rodomas VPN ry
urnalas.</p>
	<h2>VPN nuostatos</h2>
rankos failai</h3>
         <p>I
racijos failus nuvilkite 
limo srit
 ir palikite.</p>
	<h3>Naudotojo vardas</h3>
         <p>
veskite 
io naudotojo vard
	<h3>Slapta
odis</h3>
         <p>
veskite 
io slapta
valyti visas VPN nuostatas</h3>
         <p>Spustel
kite mygtuk
valyti visas VPN nuostatas
, kad pa
te VPN failus, VPN 
urnalus ir i
 naujo nustatytum
 VPN nuostat
 nekonfig
        
 <!-- id="Vpn" -->
