<!-- Port Filtering -->
<div id="port_filtering">
	<h1>Portfiltrering</h1>
versikt</h2>
nd portfiltreringsfunktionen efter behov f
r att blockera utg
ende internettrafik. Om den h
llningen 
r aktiverad kan endast trafik fr
n de valda applikationerna f
tkomst till internet. Trafik identifieras med portnummer. Vissa applikationer 
rdefinierade. Du kan definiera ytterligare applikationer, men du m
nna till detaljer om den trafik som anv
nds och genereras av de applikationer som du vill definiera.</p>
	<h2>Applikationer</h2>
	<h3>Kryssrutor f
r applikationer</h3>
nd dessa kryssrutor f
r att till
tkomst till internet f
r varje applikation n
r funktionen portfiltrering 
. Trafik fr
n valda applikationer kan f
tkomst till internet. Annars 
r trafiken blockerad.</p>
	<h2>Anpassade applikationer</h2>
	<p>Den h
r funktionen ger dig m
jlighet att definiera dina egna applikationer 
 upp till tio. N
r de har definierats kan dessa applikationer sl
 och av p
 samma s
tt som f
rdefinierade applikationer. F
r att definiera en applikation beh
ver du k
nna till vilka portar och protokoll (TCP, UDP) som anv
nds av applikationen f
ende trafik. F
r att starta, klicka p
 knappen <strong>L
gg till anpassad applikation</strong>, ange sedan f
ljande data.</p>
	<p>Observera att eventuella 
ndringar av en anpassad applikation inte sparas f
n knappen 
ndringar
r att spara hela sidans inneh
	<h3>Kryssruta f
r applikationer</h3>
nd den h
r kryssrutan f
r att aktivera en applikation efter det att du har definierat den. Om den 
r markerad kan trafik fr
n denna applikation f
tkomst till internet. Annars 
r trafiken blockerad.</p>
	<h3>Appnamn</h3>
	<p>Ange ett l
mpligt namn p
 den applikation som du definierar.</p>
	<h3>Portintervall (startport/slutport)</h3>
		<p>Varje applikation har sitt eget portintervall. Ange b
rjan och slutet p
 portintervallet f
r varje applikation.</p>
		<div class="blockgroup">
				<li>F
r en enskild port anger du portnumret b
r <strong>Startport</strong> och <strong>Slutport</strong>.</li>
				<li>F
r ett portintervall anger du b
 intervallet i f
ltet <strong>Startport</strong> och slutet p
 intervallet i f
ltet <strong>Slutport</strong>.</li>
			</ul>
		</div>
	<h3>Protokoll</h3>
r varje portintervall, v
lj vilket protokoll (TCP eller UDP) som anv
nds av det portintervallet.</p>
	<h3>Radera</h3>
nd den h
r kryssrutan f
r att radera ett anpassat program.</p>
<!-- id="port_filtering" -->
