<!-- WiFi Advanced -->
<div id="wifi_advanced">
	<h1>Wi-Fi</h1>
levaade</h2>
	<p>Tavaliselt saab need Wi-Fi-seaded j
tta vaikev
rtustele, kuid vajaduse korral saate neid reguleerida vastavalt teie konkreetsele keskkonnale.</p>
	<h2>Wi-Fi sisse-/v
litamise juhtelement</h2>
	<p>Kasutage seda nuppu Wi-Fi sisse- v
litamiseks vastavalt vajadusele. Kui see on v
litatud, ei ole <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi-v
rk saadaval, nii et ainus viis seadmega <tmpl_var _("webui", "webui_product_name")> 
henduse loomiseks on kasutada USB-kaablit.</p>
	<h3>Wi-Fi-seadete muudatuste lubamine Jetpacki ekraanil</h3>
	<p>Kasutage seda nuppu Wi-Fi sisse- v
litamiseks vastavalt vajadusele. Kui see on v
litatud, ei ole Wi-Fi-v
rk saadaval, nii et ainus viis s
steemiga 
henduse loomiseks on kasutada USB-kaablit.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_max_connections_label")></h3>
rake, mitu seadet saab korraga seadme <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi-v
rkudega) 
hendada.</p>
	<h2><tmpl_var _("webui", "wifi_advanced_profile_title")></h2>
	<p>Need seaded m
ravad, kuidas iga sagedusriba (2,4 GHz ja 5 GHz) kasutatakse, ja m
ravad, kas Wi-Fi k
rk on saadaval.</p>
	<tmpl_if SwapToggleButtonAction>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_ghz_band_label")></h3>
		<p>Kuvatakse automaatselt tuvastatav re
iim 2,4 GHz 802.11.</p>
	<tmpl_else>
		<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_ghz_band_label")></h3>
		<p>Valige soovitud suvand, et rakendada see sagedusriba p
rgule, k
litada see sagedusriba v
lja.</p>
	</tmpl_if>
	<h3><tmpl_var _("webui", "wifi_advanced_five_ghz_band_label")></h3>
	<p>Valige soovitud suvand, et rakendada see sagedusriba p
rgule, k
litada see sagedusriba v
lja. Pange t
hele, et m
lemat sagedusriba ei saa v
litada.</p>
	<h2><tmpl_var _("webui", "wifi_advanced_two_point_four_g_band_options_title")></h2>
	<p>Need seaded on vaikimisi peidetud, kuid nende n
htavaks muutmiseks v
psata pealkirjal/lingil. Neid seadeid kasutatakse alati, kui 2,4 GHz sagedusala on aktiivne.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_802_11_mode_label")></h3>
	<p>Vajaduse korral kasutage seda s
tet Wi-Fi-re
iimi muutmiseks. Tavaliselt j
tate selle seade vaikev
rtusele.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_channel_label")></h3>
	<p>See peaks j
ma valikule <strong>Automaatne</strong>, v
lja arvatud juhul, kui peate oma keskkonna jaoks valima kindla kanali.</p>
	<h2><tmpl_var _("webui", "wifi_advanced_five_g_options_title")></h2>
	<p>Need seaded on vaikimisi peidetud, kuid nende n
htavaks muutmiseks v
psata pealkirjal/lingil. Neid seadeid kasutatakse alati, kui 5 GHz sagedusala on aktiivne.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_802_11_mode_label")></h3>
	<p>Vajaduse korral kasutage seda s
tet Wi-Fi-re
iimi muutmiseks. 
ldiselt ei ole p
hjust vaikev
rtust muuta.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_bandwidth_label")></h3>
	<p>Valige soovitud suvand. Kasutada tuleks vaikev
rtust, v
lja arvatud juhul, kui teil esineb h
ireid teiste Wi-Fi-seadmetega. Sellisel juhul v
ib ribalaiuse v
hendamine h
hendada.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_channel_label")></h3>
	<p>See peaks j
ma valikule <strong>Automaatne</strong>, v
lja arvatud juhul, kui peate oma keskkonna jaoks valima kindla kanali.</p>
<!-- id="wifi_advanced" -->
