<!-- Login -->
<div id="login">
	<h1><tmpl_var _("webui", "webui_product_name")> MiFi <tmpl_var _("webui", "webui_product_number")> Iniciar sess
	<p> Insira a senha de administrador do <tmpl_var _("webui", "webui_product_name")> para continuar. </p>
	<tmpl_if showForgotPassword>
	<p> Se voc
o sabe a senha, use a op
o <strong>Esqueci a senha de administrador</strong>. </p>
	</tmpl_if>
	<p>Se voc
 inserir uma senha incorreta v
rias vezes, voc
 bloqueado. Para desbloquear, 
 preciso reiniciar o <tmpl_var _("webui", "webui_product_name")>. </p>
<!-- id="login" -->
