<!-- Vpn -->
<div id="vpn">
        
	<h2>Vue d
ensemble</h2>
         <p>Utilisez cette fonctionnalit
tablir une connexion 
 un serveur OpenVPN et acheminer tout le trafic sur les appareils connect
s par le biais du tunnel.</p>
        
	<h2>VPN 
 connexion automatique</h2>
         
         <p>Si elle est activ
e, le tunnel VPN sera automatiquement 
 chaque fois qu
une connexion Internet s
effectue. Si elle est d
e, vous devez 
tablir la connexion VPN manuellement.</p>
	<h2>Connexion VPN</h2>
         <h3>
tat de la connexion</h3>
         <p>Indique l
tat de la connexion VPN.</p>
         <h3>D
lai de connexion</h3>
         <p>Indique la dur
e pendant laquelle la connexion VPN a 
tablie.</p>
         <h3>Connecter</h3>
         <p>Cliquez sur le bouton Connecter pour vous connecter au serveur VPN configur
aide des param
tres VPN.</p>
	 <h3>Afficher le journal</h3>
         <p>Lorsqu
une connexion OpenVPN a 
tablie, cliquez sur le bouton Afficher le journal pour afficher le journal de la connexion VPN.</p>
	<h2>Param
tres VPN</h2>
	<h3>Fichiers de configuration</h3>
         <p>Glissez et d
posez les fichiers de configuration OpenVPN de votre fournisseur OpenVPN dans la zone de t
chargement des fichiers.</p>
	<h3>Nom d
utilisateur</h3>
         <p>Saisissez ici votre nom d
utilisateur pour la connexion OpenVPN.</p>
	<h3>Mot de pass
         <p>Saisissez ici votre mot de pass
 pour la connexion OpenVPN.</p>
	<h3>Effacer tous les param
tres VPN</h3>
         <p>Cliquez sur le bouton Effacer tous les param
tres VPN pour supprimer les fichiers VPN, les journaux VPN et r
initialiser tous les param
tres VPN 
origine non configur
        
 <!-- id="Vpn" -->
