<!-- MAC Filter -->
<div id="macfilter">
	<h1><tmpl_var _("webui", "adv_macfilter_menu_text")></h1>
versikt</h2>
	<p>MAC-filterfunktionen, om den 
slagen, kommer att f
rhindra 
tkomst till detta Wi-Fi-n
r alla enheter som inte ing
r i listan 
MAC-adressfilter
. Filtret g
ller endast Wi-Fi-n
tverket och har ingen effekt p
 USB-enheter.</p>
/AV-kontroll</h2>
nd denna kontroll f
 eller st
nga av MAC-filtret efter behov. Innan du s
ste du s
lla att vissa enheter 
tna. Observera att n
r MAC-filtret s
 kommer alla anslutna enheter som inte 
 listan 
MAC-adressfilter
 omedelbart att kopplas bort.</p>
	<h2>Enhetslista</h2>
	<p>Alla k
nda enheter listas h
r, med undantag f
r USB-enheter. Anv
nd kryssrutorna f
r att inkludera eller utesluta enheter fr
n listan 
MAC-adressfilter
	<h3><tmpl_var _("webui", "adv_macfilter_refresh_button")></h3>
nd uppdateringsknappen f
r att uppdatera listan efter behov.</p>
	<h2>Drift</h2>
	<h3>Blockerade kontra MAC-filter</h3>
	<p>Interaktionen mellan 
blockerade
 enheter och 
MAC-filter
	<div class="blockgroup">
	<li>Blockerade enheter blockeras alltid fr
n Wi-Fi-n
tverket, oavsett om MAC-filtret 
 eller av.</li>
	<li>Om MAC-filtret 
 och en enhet f
rekommer i listan 
ver blockerade, men inte i listan MAC-adressfilter, kommer den inte att kunna ansluta. B
de MAC-filtret och blockeringen skulle f
rhindra anslutning.</li>
	<li>Om MAC-filtret 
 och en enhet f
rekommer i MAC-adressfilterlistan kommer enheten att kunna ansluta. N
r den har anslutit kan den sedan blockeras antingen genom att den tas bort fr
n MAC-adressfilterlistan eller genom att funktionen 
Blockera
nds. Generellt ska 
Blockera
llig blockering och MAC-filtret f
r permanent blockering.</li>
	<h3><tmpl_var _("webui", "adv_macfilter_add_device_button")></h3>
nd den h
r knappen f
gga till en ny enhet i enhetslistan.</p>
<!--  macfilter  -->
