<div id="inseego_connect">
	<h1><tmpl_var _("webui", "inseego_connect_help_title_text")></h1>
	<h2><tmpl_var _("webui", "inseego_connect_cloud_services_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_label")></h3>
	<p>Utilisez cette commande Marche/Arr
t pour activer ou d
sactiver la fonctionnalit
 Inseego Connect.</p>
	<h2><tmpl_var _("webui", "inseego_connect_status_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_connection_state_label")></h3>
	<p>Il s
un rapport sur la connexion de vos appareils au serveur Inseego Connect. <br> Haut
appareil communique avec les serveurs Inseego Connect, <br> Bas
appareil ne communique pas avec les serveurs Inseego Connect.<br></p>
	<h3><tmpl_var _("webui", "inseego_connect_last_reported_label")></h3>
	<p>Est 
heure sur votre appareil du dernier envoi dans un paquet vers les serveurs Inseego Connect.</p>
	<h3><tmpl_var _("webui", "inseego_connect_interval_label")></h3>
intervalle auquel votre appareil enverra des paquets au serveur Inseego Connect.</p>est l
intervalle auquel votre appareil enverra des paquets au serveur Inseego Connect.</p>
