<!-- Messages -->
<div id="sms">
	<h1><tmpl_var _("webui", "sms_menu_text")></h1>
levaade</h2>
	<p>Need SMS-s
numid on tavaliselt teenusepakkujalt. Te ei tohiks 
ritada vastata ja seet
ttu ei ole vastamisfunktsioon saadaval.</p>
	<h2>Sisukord</h2>
	<tmpl_if showMessageCounter>
numiloendurid</h3>
		<p>Kaks loendurit ekraani 
laosas n
itavad lugemata (uute) s
numite arvu ja s
numite koguarvu.</p>	
		<p>Pange t
hele, et k
ik teated on p
rast sellel ekraanil kuvamist seatud olekusse 
	</tmpl_if>
numiloend</h3>
ik teated on loetletud kuup
rjekorras. Lugemata (uued) teated on t
histatud ikooniga. S
rgitakse sellel lehel kuvamisel automaatselt loetuks, nii et j
rgmine kord, kui lehele minnakse, ei kuvata neid enam lugemata s
numitena.</p>
	<tmpl_if showDeleteAllButton>
		<h3><tmpl_var _("webui", "sms_delete_all_button")></h3>
		<p>See nupp asub s
numiloendi l
pus. Kasutage seda vajaduse korral k
numite kustutamiseks.</p>
	</tmpl_if>
