<!-- Reserved IP Addresses -->
<div id="reserved_ip">
		<h1>Adresses IP r
		<h2>Vue d
ensemble</h2>
		<p>Cette fonctionnalit
tre utilis
e pour garantir qu
un appareil connect
 se verra toujours attribuer la m
me adresse IP par le <tmpl_var _("webui", "webui_product_name")>. Cliquez sur ce bouton pour acc
cran de configuration de cette fonctionnalit
		<h3>Plage d
adresses DHCP</h3>
		<p>La plage d
adresses DHCP actuelle est affich
e ici. Toutes les adresses IP r
es doivent se situer dans cette plage.</p>
		<h2>Tableau des adresses IP r
		<p>Au d
part, ce tableau sera vide et masqu
. Pour ajouter une ligne 
 ce tableau, cliquez sur le bouton 
Ajouter une adresse IP r
. Ajoutez autant de lignes que n
cessaire. Chaque ligne comporte les champs suivants.</p>
		<h3>Activer</h3>
		<p>Utilisez cette case 
 cocher pour activer ou d
sactiver chaque entr
e (ligne) selon vos besoins. Si elle est activ
adresse IP indiqu
e sera attribu
appareil sp
. Si elle est d
adresse IP est disponible pour tout appareil connect
		<h3>Type d
appareil</h3>
lectionnez l
option la plus appropri
e pour l
appareil connect
		<h3>Nom de l
appareil</h3>
		<p>Si vous le souhaitez, vous pouvez entrer un nom descriptif pour l
appareil connect
. Ce champ peut 
tre laiss
 vide.</p>
		<h3>Adresse MAC</h3>
		<p>Ce champ est essentiel. Saisissez l
adresse MAC de l
appareil connect
appareil connect
de plusieurs interfaces r
seau (par exemple, 
 la fois Wi-Fi et Ethernet), saisissez l
adresse MAC de l
interface qui sera utilis
e pour se connecter au <tmpl_var _("webui", "webui_product_name")>.</p>
		<h3>Adresse IP</h3>
		<p>Saisissez l
adresse IP que vous souhaitez attribuer 
 cet appareil connect
. Cette adresse IP doit se trouver dans la plage d
adresses DHCP indiqu
e ci-dessus.</p>
<!-- id="reserved_ip" -->
