<!-- WiFi Advanced -->
<div id="wifi_advanced">
	<h1>Wi-Fi</h1>
rskats</h2>
	<p>Parasti 
iem Wi-Fi iestat
jumiem var atst
t to noklus
bas, bet, ja nepiecie
ams, tos var piel
got atbilsto
tajai videi.</p>
	<h2>Wi-Fi iesl
anas/izsl
anas vad
	<p>Izmantojiet 
klu, lai p
c nepiecie
bas iesl
gtu vai izsl
gtu Wi-Fi. Ja <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi t
kls ir izsl
gts, tas neb
s pieejams, t
gais veids, k
 izveidot savienojumu ar <tmpl_var _("webui", "webui_product_name")>, ir izmantot USB kabeli.</p>
aut veikt Wi-Fi iestat
jumu izmai
as Jetpack ekr
	<p>Izmantojiet 
klu, lai p
c nepiecie
bas iesl
gtu vai izsl
gtu Wi-Fi. Ja Wi-Fi t
kls ir izsl
gts, tas neb
s pieejams, t
gais veids, k
 izveidot savienojumu, ir izmantot USB kabeli.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_max_connections_label")></h3>
	<p>Iestatiet, cik ier
u vienlaikus var veidot savienojumu ar <tmpl_var _("webui", "webui_product_name_with_suffix")> Wi-Fi t
klu(-iem).</p>
	<h2><tmpl_var _("webui", "wifi_advanced_profile_title")></h2>
is iestat
jums nosaka, k
 katra josla (2,4 GHz un 5 GHz) tiek izmantota, un nosaka, vai viesa Wi-Fi t
kls ir pieejams.</p>
	<tmpl_if SwapToggleButtonAction>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_ghz_band_label")></h3>
		<p>Tiek par
ts 2,4 GHz 802.11 re
ms, kas tiek noteikts autom
tiski.</p>
	<tmpl_else>
		<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_ghz_band_label")></h3>
		<p>Atlasiet v
lamo opciju, lai lietotu 
o joslu prim
klam, viesu t
klam vai izsl
o joslu.</p>
	</tmpl_if>
	<h3><tmpl_var _("webui", "wifi_advanced_five_ghz_band_label")></h3>
	<p>Atlasiet v
lamo opciju, lai lietotu 
o joslu prim
klam, viesu t
klam vai izsl
o joslu. 
, ka abas joslas nevar izsl
	<h2><tmpl_var _("webui", "wifi_advanced_two_point_four_g_band_options_title")></h2>
ie iestat
c noklus
juma ir pasl
u varat noklik
t uz virsraksta/saites, lai padar
tu tos redzamus. 
ie iestat
jumi tiek izmantoti vienm
r, kad 2,4 GHz josla ir akt
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_802_11_mode_label")></h3>
	<p>Ja nepiecie
ams, izmantojiet 
o iestat
jumu, lai main
tu Wi-Fi re
mu. Parasti 
im iestat
jumam tiek atst
ta noklus
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_channel_label")></h3>
	<p>Tas ir j
j <strong>autom
</strong>, ja vien jums nav j
las konkr
ls savai videi.</p>
	<h2><tmpl_var _("webui", "wifi_advanced_five_g_options_title")></h2>
ie iestat
c noklus
juma ir pasl
u varat noklik
t uz virsraksta/saites, lai padar
tu tos redzamus. 
ie iestat
jumi tiek izmantoti vienm
r, kad 5 GHz josla ir akt
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_802_11_mode_label")></h3>
	<p>Ja nepiecie
ams, izmantojiet 
o iestat
jumu, lai main
tu Wi-Fi re
mu. Parasti nav iemesla main
t noklus
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_bandwidth_label")></h3>
	<p>Atlasiet vajadz
go opciju. J
izmanto noklus
ba, ja vien nav trauc
jumu ar cit
m Wi-Fi ier
 joslas platuma samazin
ana var samazin
jumus.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_channel_label")></h3>
	<p>Tas ir j
j <strong>autom
</strong>, ja vien jums nav j
las konkr
ls savai videi.</p>
<!-- id="wifi_advanced" -->
