<!-- Data Usage -->
<div id="data_usage">
	<h1><tmpl_var _("webui", "data_usage_menu_text")></h1>
versikt</h2>
	<p>Den h
rmen visar en grafisk illustration av dataanv
ndning i din mobildataplan, f
rutsatt att information om dataanv
nglig.</p>
	<h2>Uppskattad dataanv
ndning</h2>
	<p>Displayen varierar beroende p
 din plan, men inneh
ller vanligtvis f
ljande information.</p>
	<div class="blockgroup">
		<li>Uppskattad dataanv
ndning f
r din plan inom den nuvarande faktureringscykeln, fram till det datum som visas.</li>
		<li>Typen av plan och datagr
r din plan.</li>
		<li>En grafisk framst
llning av dataanv
ndningen f
r din plan inom den nuvarande faktureringscykeln.</li>
r delade planer, en indikation av de data som anv
 just den h
r enheten.</li>
		<li>Det datum d
 den nuvarande faktureringscykeln slutar.</li>
