<!-- Diagnostics -->
<div id="status_diagnostics">
	<h1><tmpl_var _("webui", "status_diagnostics_menu_text")></h1>
	<h2>Vue d
ensemble</h2>
	<p>Cet onglet affiche des informations d
es utilis
es uniquement pour le d
pannage ou l
assistance technique.  
	<h2><tmpl_var _("webui", "status_diagnostics_modem_sub_header_text")></h2>
	<tmpl_if showPhoneNumber>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_phone_number_label"), (size(_("webui", "status_diagnostics_phone_number_label")) - size(":")))></h3>
est le num
phone du <tmpl_var _("webui", "webui_product_name")>.</p>
	</tmpl_if>
	<tmpl_if showImei>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_imei_label"), (size(_("webui", "status_diagnostics_imei_label")) - size(":")))></h3>
IMEI (International Mobile Equipment Identity ou 
 internationale d
quipement mobile
) de cet appareil. L
IMEI, comprenant 15 ou 17
chiffres, identifie de fa
on unique une station mobile individuelle sur un r
<tmpl_udf GET_PO_TEXT("status_diagnostics_technology_text")>. L
IMEI reste la m
me en cas de changement de carte
	</tmpl_if>
	<tmpl_if showImeisv>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_imeisv_label"), (size(_("webui", "status_diagnostics_imeisv_label")) - size(":")))></h3>
		<p>Ce champ combine l
IMEI avec un num
ment pour ce type d
appareil.
	</tmpl_if>
	<tmpl_if showMeid>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_meid_label"), (size(_("webui", "status_diagnostics_meid_label")) - size(":")))></h3>
		<p>Le MEID (Mobile Equipment ID ou 
quipement mobile
) est un num
ro unique utilis
 pour identifier une station mobile individuelle sur un r
seau CDMA. 		      </p>
	</tmpl_if>
	<tmpl_if showIMSI>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_imsi_label"), (size(_("webui", "status_diagnostics_imsi_label")) - size(":")))></h3>
		<p>Une identit
 internationale d
 mobile (IMSI) est un num
ro unique associ
 tous les utilisateurs de t
phones mobiles du r
seau GSM (Global System for Mobile Communications) et UMTS (Universal Mobile Telecommunications System) utilis
 pour identifier un abonn
	</tmpl_if>
	<tmpl_if showFwVersion>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_fw_version_label"), (size(_("webui", "status_diagnostics_fw_version_label")) - size(":")))></h3>
		<p>La version du microprogramme (logiciel) actuellement install
 sur le modem.
	</tmpl_if>
	<tmpl_if showSimStatus>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_sim_status_label"), (size(_("webui", "status_diagnostics_sim_status_label")) - size(":")))></h3>
		<p>Il indique l
tat de la carte SIM. Si la carte SIM est manquante, ou si ce champ indique une forme d
erreur de carte SIM, la connexion au r
seau mobile n
est pas possible. 
	</tmpl_if>
	<tmpl_if showICCID>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_iccid_label"), (size(_("webui", "status_diagnostics_iccid_label")) - size(":")))>
		<p>Ce num
identification unique est attribu
 la carte SIM. Il ne s
affiche pas lorsqu
aucune carte SIM n
est install
e, ou en cas d
erreur de carte SIM. 
	</tmpl_if>
	<tmpl_if showModemDetails>
		<tmpl_if showMINMSID>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_msid_label"), (size(_("webui", "status_diagnostics_msid_label")) - size(":")))></h3>
			<p>Cet identifiant est utilis
 pour identifier un abonn
 sur le r
seau de donn
es mobile.</p>
		</tmpl_if>
		<tmpl_if showESN>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_esn_label"), (size(_("webui", "status_diagnostics_esn_label")) - size(":")))></h3>
			<p>Le num
lectronique (ESN) est la m
thode traditionnelle d
identification unique des appareils sur les r
seaux CDMA, mais il a 
 supplant
 par le MEID. Pour les appareils qui utilisent un MEID (comme ce dispositif), l
ESN est soit vide, soit un pseudo ESN dont l
est pas garantie.</p>
 		</tmpl_if>
 		<tmpl_if showHomeSID>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_home_sid_label"), (size(_("webui", "status_diagnostics_home_sid_label")) - size(":")))></h3>
			<p>Le SID (System ID ou 
ID de syst
) est un identifiant r
seau qui indique le point de rattachement au r
seau de donn
es mobile.</p>
		</tmpl_if>
		<tmpl_if showERIVersion>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_eri_version_label"), (size(_("webui", "status_diagnostics_eri_version_label")) - size(":")))></h3>
			<p>Le tableau ERI (Enhanced Roaming Indicator ou 
indicateur d
rance am
) contient des informations sur chaque r
rance auquel l
appareil mobile est autoris
 se connecter. Ce champ indique la version d
ERI actuellement install
e. Le tableau ERI est mis 
 jour automatiquement.</p>
 		</tmpl_if>
 		<tmpl_if showPRLVersion>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_prl_version_label"), (size(_("webui", "status_diagnostics_prl_version_label")) - size(":")))></h3>
			<p>La liste PRL (Preferred Roaming List ou 
rance privil
) est utilis
e pour s
lectionner un r
seau, lorsque plusieurs r
seaux sont disponibles. Ce champ indique la version de la PRL actuellement install
e. La PRL est mise 
 jour automatiquement.</p>
		</tmpl_if>			
	</tmpl_if>
	<tmpl_if lteSupported>			
		<h2 class="sectionHead">R
seau LTE 5G/4G</h2>
		<tmpl_if showInternetStatus4G>			
tat</h3>
			<p>Pour le r
<tmpl_udf GET_PO_TEXT("status_diagnostics_technology_text")>, les valeurs d
tat possibles sont les suivantes
			<div class="blockgroup">
				<ul>
					<li>Non disponible
: aucun r
seau <tmpl_udf GET_PO_TEXT("status_diagnostics_technology_text")> n
					<li>Disponible
seau <tmpl_udf GET_PO_TEXT("status_diagnostics_technology_text")> a 
				</ul>
			</div>
ments de donn
es suivants ne sont fournis que si le r
seau <tmpl_udf GET_PO_TEXT("status_diagnostics_technology_text")> est disponible.
		</tmpl_if>
		<tmpl_if showNetworkOperator>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_fourg_network_operator_label"), (size(_("webui", "status_diagnostics_fourg_network_operator_label")) - size(":")))></h3>
			<p> Le nom de l
rateur de r
seau mobile.
		</tmpl_if>
		<tmpl_if showSignalStrength>			
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_fourg_signal_strength_label"), (size(_("webui", "status_diagnostics_fourg_signal_strength_label")) - size(" (RSRP):")))></h3>
			<p>Cette valeur indique la force du signal
<tmpl_udf GET_PO_TEXT("status_diagnostics_technology_text")>, mesur
e en dBm. Des valeurs absolues plus 
es indiquent un signal plus puissant, donc -80
dBm est un signal plus puissant que -90
dBm. <tmpl_udf GET_PO_TEXT("status_diagnostics_lte_note_text")>
		</tmpl_if>
		<tmpl_if (is3G or is3GCDMA or is3GGSM)>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_sinr_label"), (size(_("webui", "status_diagnostics_sinr_label")) - size(":")))></h3>
			<p> Rapport signal/bruit plus brouillage. Une mesure de la qualit
 du signal sp
cifique au r
seau LTE, prenant en compte les interf
rences et le bruit. Le SINR est une valeur positive, et plus les chiffres sont 
s, plus le SINR est bon.</p>
		<tmpl_else>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_snr_label"), (size(_("webui", "status_diagnostics_snr_label")) - size(":")))></h3>
			<p>Le SNR est une mesure de la qualit
 du signal. Des chiffres plus 
s indiquent un meilleur signal.
		</tmpl_if>	
		<tmpl_if showLteBand>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_lte_band_label"), (size(_("webui", "status_diagnostics_lte_band_label")) - size(":")))></h3>
			<p><tmpl_udf GET_PO_TEXT("status_diagnostics_technology_text")> Les r
seaux peuvent utiliser diff
rentes bandes dans diff
rentes r
gions. Ce champ indique la bande utilis
e pour la connexion
<tmpl_udf GET_PO_TEXT("status_diagnostics_technology_text")> actuelle.
		</tmpl_if>
		<tmpl_if showRoaming>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_fourg_roaming_label"), (size(_("webui", "status_diagnostics_fourg_roaming_label")) - size(":")))></h3>
			<p>Cela indique si la connexion actuelle est une connexion d
		</tmpl_if>
		<tmpl_if showCellID>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_cellid_label"), (size(_("webui", "status_diagnostics_cellid_label")) - size(":")))></h3>
				Cette valeur permet d
identifier l
antenne relais t
phonique actuellement utilis
		</tmpl_if>
	</tmpl_if>
	<tmpl_if isHSPATechnology>	
		<h2><tmpl_var _("webui", "status_diagnostics_gsm_umts_hspa_text")> 
tat</h2>
tat</h3>
			Pour le r
seau <tmpl_var _("webui", "status_diagnostics_gsm_umts_hspa_text")>, les 
tats suivants sont pris en charge
		<div class="blockgroup">
				<li>Non disponible
: aucun r
seau <tmpl_var _("webui", "status_diagnostics_gsm_umts_hspa_text")> n
				<li>Disponible
seau <tmpl_var _("webui", "status_diagnostics_gsm_umts_hspa_text")> a 
			</ul>
		</div>
ments de donn
es suivants ne sont fournis que si le r
seau est disponible.
		<tmpl_if showNetworkOperator>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_fourg_network_operator_label"), (size(_("webui", "status_diagnostics_fourg_network_operator_label")) - size(":")))></h3>
est le nom du r
seau <tmpl_var _("webui", "status_diagnostics_gsm_umts_hspa_text")>.
		</tmpl_if>	
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_threeg_technology_label"), (size(_("webui", "status_diagnostics_threeg_technology_label")) - size(":")))></h3>
		<div class="blockgroup">
				La technologie actuelle utilis
e pour le r
seau <tmpl_var _("webui", "status_diagnostics_gsm_umts_hspa_text")>. Les valeurs possibles, de la plus lente 
 la plus rapide, sont
				<tmpl_if gsmSupported>
					<li>GPRS</li>
				</tmpl_if>
				<tmpl_if wcdmaSupported>
					<li>UMTS</li>
				</tmpl_if>
				<tmpl_if cdmaSupported>
					<li>HSPA+</li>
					<li>HSPA+ DC</li>
				</tmpl_if>
				<tmpl_if evdoSupported>
					<li>EDGE</li>
					<li>HSDPA</li>
					<li>HSUPA</li>
				</tmpl_if>
			</ul>
		</div>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_networkid_label"), (size(_("webui", "status_diagnostics_networkid_label")) - size(":")))></h3>
				Le nom et/ou l
identifiant du r
seau mobile terrestre public (PLMN).
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_rssi_label"), (size(_("webui", "status_diagnostics_rssi_label")) - size(":")))></h3>
				Cela indique le RSSI du signal <tmpl_var _("webui", "status_diagnostics_gsm_umts_hspa_text")>. Le RSSI est une mesure de la puissance du signal en d
cibels, par rapport 
 un milliwatt. Elle est toujours n
gative, car les appareils de radiocommunication mobile sont beaucoup moins puissants qu
un milliwatt. Des valeurs absolues plus 
es indiquent un signal plus fort, donc -50
dBm est un signal plus puissant que -70
		<tmpl_if showRoaming>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_roaming_label"), (size(_("webui", "status_diagnostics_roaming_label")) - size(":")))></h3>
				Cela indique si la connexion actuelle est une connexion d
		</tmpl_if>
		<tmpl_if show3g>
			<h2><tmpl_var _("webui", "status_diagnostics_threeg_label")></h2>
tat</h3>
			<p>Les valeurs d
tat possibles sont
			<div class="blockgroup">
				<ul>
					<li>Non disponible - aucun r
seau 3G n
					<li>Disponible - un r
seau 3G a 
				</ul>
			</div>
				Les 
ments de donn
es suivants ne sont fournis que si le r
seau est disponible.
			<tmpl_if showNetworkOperator>
				<h3><tmpl_var truncate(_("webui", "status_diagnostics_threeg_network_label"), (size(_("webui", "status_diagnostics_threeg_network_label")) - size(":")))></h3>
				<p>C
est le nom du r
seau 3G.
				</p>
			</tmpl_if>
			<tmpl_if show3g1xRssi>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_threeg_onex_label"), (size(_("webui", "status_diagnostics_threeg_onex_label")) - size(":")))></h3>
			<p>Le RSSI est une mesure de la puissance du signal. L
 est le d
cibel, par rapport 
milliwatt. Elle est toujours n
gative, car les appareils de radiocommunication mobile sont beaucoup moins puissants que 1
milliwatt. Des valeurs absolues plus 
es indiquent un signal plus puissant, donc -50
dBm est un signal plus puissant que -70
dBm. Ce champ indique le RSSI du le signal 1xRTT.
			</tmpl_if>
			<tmpl_if show3gEvdoRssi>
				<h3><tmpl_var truncate(_("webui", "status_diagnostics_threeg_evdo_label"), (size(_("webui", "status_diagnostics_threeg_evdo_label")) - size(":")))></h3>
				<p>Le RSSI est une mesure de la puissance du signal. Ce champ indique le RSSI du signal EVDO ou eHRPD.
				</p>
 			</tmpl_if>
			<tmpl_if show3gTechnology>
 				<h3><tmpl_var truncate(_("webui", "status_diagnostics_threeg_technology_label"), (size(_("webui", "status_diagnostics_threeg_technology_label")) - size(":")))></h3>
				<p>La technologie actuellement utilis
e pour le r
seau 3G. Les valeurs possibles sont 1xRTT, EVDO, ou eHRPD.
				</p>
 			</tmpl_if>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_threeg_ecio_label"), (size(_("webui", "status_diagnostics_threeg_ecio_label")) - size(":")))></h3>
Ec/Io est une mesure de la 
 du signal. C
est aussi un type de rapport signal/bruit. Les valeurs typiques vont de -10 
 -40. Une valeur de -4 serait un signal tr
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_threeg_sid_label"), (size(_("webui", "status_diagnostics_threeg_sid_label")) - size(":")))></h3>
			<p>Le SID (System ID ou 
ID de syst
) est un identifiant r
seau qui indique le point de rattachement actuel au r
seau de donn
es mobile. Un groupe d
antennes relais t
phonique peut avoir la m
me valeur SID. Ce champ indique le SID actuel. 	</p>		
			<h3>Bande</h3>
				La bande utilis
e pour la connexion actuelle.
			<tmpl_if showRoaming>
				<h3>Itin
rance</h3>
				Cela indique si la connexion actuelle est une connexion d
				</p>			
			</tmpl_if>
			<tmpl_if linkToFieldTest>	
				<h2><tmpl_var _("webui", "status_diagnostics_field_test_button")></h2>
				<p>Le bouton 
Test sur le terrain
 fournit une liste de param
seau de bas niveau qui peut 
tre utile au personnel de l
assistance technique lorsqu
il doit r
soudre des probl
mes de connectivit
				</p>
				<p>Ce bouton n
est disponible que si le r
seau 3G est disponible.
				</p>
			</tmpl_if>
			<h2><tmpl_var truncate(_("webui", "status_diagnostics_cellid_label"), (size(_("webui", "status_diagnostics_cellid_label")) - size(":")))></h2>
			<p>Le code ECGI utilis
 pour recenser les cellules dans le monde. 
				</p>
		</tmpl_if>
	</tmpl_if>
<!-- id="status_diagnostics" -->
