<!-- Reserved IP Addresses -->
<div id="reserved_ip">
		<h1>Reserverade IP-adresser</h1>
versikt</h2>
		<p>Den h
r funktionen kan anv
lla att en ansluten enhet alltid tilldelas samma IP-adress av <tmpl_var _("webui", "webui_product_name")>. Klicka p
r knappen f
ppna konfigurationssk
r funktionen.</p>
		<h3>DHCP-adressintervall</h3>
		<p>Det nuvarande DHCP-adressintervallet visas h
r. Alla reserverade IP-adresser m
ste ligga inom detta intervall.</p>
		<h2>Tabell 
ver reserverade IP-adresser</h2>
		<p>Till en b
rjan kommer denna tabell att vara tom och dold. F
gga till en rad i den h
r tabellen, klicka p
 knappen 
gg till reserverad IP
gg till s
nga rader som beh
vs. Varje rad har f
ljande f
		<h3>Aktivera</h3>
		<p>Anv
nd den h
r kryssrutan f
r att aktivera eller inaktivera varje post (rad) efter behov. Om den 
r aktiverad tilldelas den specificerade IP-adressen till den specificerade enheten. Om den 
r inaktiverad 
r IP-adressen tillg
r alla anslutna enheter.</p>
		<h3>Enhetstyp</h3>
lj det l
mpligaste alternativet f
r den anslutna enheten.</p>
		<h3>Enhetsnamn</h3>
		<p>Om s
nskas kan du ange ett beskrivande namn p
 den anslutna enheten. Det h
ltet kan l
mnas tomt.</p>
		<h3>MAC-adress</h3>
		<p>Detta f
r viktigt. Ange MAC-adressen f
r den anslutna enheten. Om den anslutna enheten har mer 
tverksgr
nssnitt (till exempel b
de Wi-Fi och Ethernet) anger du MAC-adressen f
r det gr
nssnitt som kommer att anv
r att ansluta till <tmpl_var _("webui", "webui_product_name")>.</p>
		<h3>IP-adress</h3>
		<p>Ange den IP-adress som du vill ska tilldelas till den h
r anslutna enheten. Denna IP-adress m
ste ligga inom DHCP-adressintervallet som visas ovan.</p>
<!-- id="reserved_ip" -->
