<!-- Manual DNS -->
<div id="manual_dns">
	<h1><tmpl_var _("webui", "adv_manual_dns_menu_text")></h1>
rskats</h2>
	<p>Parasti DNS adrese tiek nor
ta autom
 varat manu
t DNS, ja nepiecie
ams.</p>
	<h2>Iestat
jumi</h2>
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_enable_label"), (size(_("webui", "adv_manual_dns_enable_label")) - size(":")))></h3>
	<p>Izmantojiet 
o iestat
jumu, lai iesl
gtu vai izsl
gtu manu
lo DNS funkciju. Ja t
 ir iesl
sniedz t
tie dati.</p>
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_address1_label"), (size(_("webui", "adv_manual_dns_address1_label")) - size(":")))></h3>
	<p>Ievadiet v
 DNS IP adresi. 
 adrese ir nepiecie
ama, lai izmantotu manu
lo DNS funkciju.</p>
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_address2_label"), (size(_("webui", "adv_manual_dns_address2_label")) - size(":")))></h3>
	<p>Ievadiet v
juma) DNS IP adresi. 
 adrese nav oblig
ta, un, ja nepiecie
ams, lauku var atst
<!-- id="manual_dns" -->
