<div id="inseego_connect">
	<h1><tmpl_var _("webui", "inseego_connect_help_title_text")></h1>
	<h2><tmpl_var _("webui", "inseego_connect_cloud_services_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_label")></h3>
	<p>Voit kytke
 Inseego Connect -ominaisuuden p
lle tai pois p
LLE / POIS P
	<h2><tmpl_var _("webui", "inseego_connect_status_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_connection_state_label")></h3>
 on raportti laitteidesi yhteydest
 Inseego Connect -palvelimeen. <br> Yl
s: laite on yhteydess
 Inseego Connect -palvelimiin, <br> Alas: laite ei ole yhteydess
 Inseego Connect -palvelimiin.<br></p>
	<h3><tmpl_var _("webui", "inseego_connect_last_reported_label")></h3>
 on sama kuin laitteesi aika, jolloin se viimeksi l
hetti paketin Inseego Connect -palvelimille.</p>
	<h3><tmpl_var _("webui", "inseego_connect_interval_label")></h3>
li, jolla laitteesi l
 paketteja Inseego Connect -palvelimelle.</p>on v
li, jolla laitteesi l
 paketteja Inseego Connect -palvelimelle.</p>
