<!-- Data Usage -->
<div id="data_usage">
	<h1><tmpl_var _("webui", "data_usage_menu_text")></h1>
valga</h2>
iame ekrane rodoma grafin
 mobiliojo ry
io duomen
 plano naudojimo iliustracija, pateikiama, jei prieinama duomen
 naudojimo informacija.</p>
	<h2>Apskai
iuotas duomen
 naudojimas</h2>
	<p>Rodinys priklauso nuo j
 plano, bet jame paprastai pateikiama toliau nurodyta informacija.</p>
	<div class="blockgroup">
		<li>Apskai
iuotas j
 plano duomen
 naudojimas per dabartin
 atsiskaitymo period
 iki nurodytos datos.</li>
 plano tipas ir duomen
 limitas.</li>
		<li>Grafinis j
 plano duomen
 naudojimo per dabartin
 atsiskaitymo period
 atvaizdavimas.</li>
		<li>Bendro naudojimo plan
 atveju parodomi tame konkre
renginyje naudojami duomenys.</li>
		<li>Dabartinio atsiskaitymo periodo pabaigos data.</li>
