<!-- LAN -->
<div id="lan">
	<h1><tmpl_var _("webui", "adv_lan_menu_text")></h1>
 Ethernet 
	<tmpl_if showIPPTEnable>
	<h3>IP Passthrough</h3>
            
 IP Passthrough 
    </p>
    <ul>
            <li>
            </li>
            <li>
            </li>
            <li>
 IP passthrough 
            <ul>
                    <li>
                    <li>
                    <li>DMZ </li>
            </ul>
    </li></ul>
    <li>
            
 IP Passthrough 
 <tmpl_var _("webui", "webui_product_name")> 
 <tmpl_var _("webui", "webui_product_name")> 
    </li>
    <h3>
 IP</h3>
            
IP Passthrough 
    </p>
    <tmpl_if showIPPTInterface>
    <h3>
            
            
    </p>
    </tmpl_if>
    </tmpl_if>
    <h2><tmpl_var _("webui", "adv_lan_ip4_sub_header_text")></h2>
	<tmpl_if LANIPAddressShow>			
	<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_address_label"), (size(_("webui", "adv_lan_ip4_address_label")) - size(":")))></h3>
	</tmpl_if>
	<tmpl_if LANSubnetMaskShow>
	<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_subnet_mask_label"), (size(_("webui", "adv_lan_ip4_subnet_mask_label")) - size(":")))></h3>
 255.255.255.0 
	</tmpl_if>
	<tmpl_if LANMacAddressShow>	
	<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_mac_address_label"), (size(_("webui", "adv_lan_ip4_mac_address_label")) - size(":")))></h3>
	</tmpl_if>
	<tmpl_if LANDHCPEnableShow>
	<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_dhcp_enable_label"), (size(_("webui", "adv_lan_ip4_dhcp_enable_label")) - size(":")))></h3>
	</tmpl_if>
	<tmpl_if LANLANDHCPLeaseTimeShow>
	<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_dhcp_lease_time_label"), (size(_("webui", "adv_lan_ip4_dhcp_lease_time_label")) - size(":")))></h3>
	</tmpl_if>
	<tmpl_if LANDHCPStartAddressShow>
	<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_dhcp_range_begin_label"), (size(_("webui", "adv_lan_ip4_dhcp_range_begin_label")) - size(":")))></h3>
	</tmpl_if>
	<tmpl_if LANDHCPEndAddressShow>
	<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_current_dhcp_range_label"), (size(_("webui", "adv_lan_ip4_current_dhcp_range_label")) - size(":")))></h3>
	</tmpl_if>
	<tmpl_if LANReservedIPAddressShow>		
	<h3><tmpl_var truncate(_("webui", "adv_lan_reservedIp_button"), (size(_("webui", "adv_lan_reservedIp_button")) - size(":")))></h3>
 <tmpl_var _("webui", "webui_product_name")>. 
	</tmpl_if>
	<tmpl_if ipv6Supported>		
		<h2><tmpl_var _("webui", "adv_lan_ip6_sub_header_text")></h2>
		<tmpl_if showIPv6EnableOption>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip6_enable_label"), (size(_("webui", "adv_lan_ip6_enable_label")) - size(":")))></h3>
		</tmpl_if>	
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip6_link_local_label"), (size(_("webui", "adv_lan_ip6_link_local_label")) - size(":")))></h3>
	</tmpl_if>
	<tmpl_if showLANDeviceName>
                <h2><tmpl_var _("webui", "adv_lan_web_management_header_text")></h2>
                <h3><tmpl_var truncate(_("webui", "adv_lan_url_name_label"), (size(_("webui", "adv_lan_url_name_label")) - size(":")))></h3>
                <p> 
        </tmpl_if>
<!-- id="lan" -->
