<!-- Reserved IP Addresses -->
<div id="reserved_ip">
		<h1>Reserveeritud IP-aadressid</h1>
levaade</h2>
		<p>Seda funktsiooni saab kasutada tagamaks, et 
hendatud seadmele m
rab <tmpl_var _("webui", "webui_product_name")> alati sama IP-aadressi. Kl
psake sellel nupul, et avada selle funktsiooni seadistusekraan.</p>
		<h3>DHCP aadressivahemik</h3>
		<p>Siin kuvatakse praegune DHCP aadressivahemik. K
ik reserveeritud IP-aadressid peavad j
ma sellesse vahemikku.</p>
		<h2>Reserveeritud IP-aadresside tabel</h2>
		<p>Algselt on see tabel t
hi ja peidetud. Tabelisse rea lisamiseks kl
psake nuppu Lisa reserveeritud IP. Lisage nii palju ridu kui vaja. Igal real on j
rgmised v
ljad.</p>
		<h3>Luba</h3>
		<p>Kasutage seda m
rkeruutu iga kirje (rea) lubamiseks v
i keelamiseks vastavalt vajadusele. Kui see on lubatud, seatakse valitud seadmele m
ratud IP-aadress. Kui see on keelatud, on IP-aadress saadaval mis tahes 
hendatud seadme jaoks.</p>
		<h3>Seadme t
		<p>Valige 
hendatud seadme jaoks k
ige sobivam suvand.</p>
		<h3>Seadme nimi</h3>
		<p>Soovi korral saate sisestada 
hendatud seadme kirjeldava nime. Selle v
tta.</p>
		<h3>MAC-aadress</h3>
		<p>See v
li on oluline. Sisestage 
hendatud seadme MAC-aadress. Kui 
hendatud seadmel on rohkem kui 
rguliides (nt nii Wi-Fi kui Ethernet), sisestage liidese MAC-aadress, mida kasutatakse seadmega <tmpl_var _("webui", "webui_product_name")> 
henduse loomiseks.</p>
		<h3>IP-aadress</h3>
		<p>Sisestage IP-aadress, mille soovite sellele 
hendatud seadmele m
rata. IP-aadress peab j
laltoodud DHCP-aadresside vahemikku.</p>
<!-- id="reserved_ip" -->
