<!-- Data Usage -->
<div id="data_usage">
	<h1><tmpl_var _("webui", "data_usage_menu_text")></h1>
	<h2>Yleiskatsaus</h2>
n graafinen kuvaus mobiilidatapakettisi datan k
, jos datan k
n tiedot ovat saatavilla.</p>
	<h2>Arvioitu datan k
 vaihtelee pakettisi mukaan, mutta sis
 seuraavat tiedot.</p>
	<div class="blockgroup">
		<li>Pakettisi arvioitu datan k
 nykyisen laskutusjakson aikana, esitettyyn p
n saakka.</li>
		<li>Paketin tyyppi ja pakettisi dataraja.</li>
		<li>Graafinen esitys pakettisi datan k
 nykyisen laskutusjakson aikana.</li>
		<li>Jaettujen pakettien osalta tieto t
 laitteella k
 datasta.</li>
, jolloin nykyinen laskutusjakso p
ttyy.</li>
