<div id="customer_care">
	<h1><tmpl_var _("webui", "customer_care_menu_text")></h1>
bersicht</h2>
	<p>Auf dieser Seite finden Sie Links und Kontaktinformationen, die Ihnen bei Problemen oder Fragen weiterhelfen k
nnen.</p>
	<h2><tmpl_var _("webui", "customer_care_links_sub_header_verizon_text")></h2>
ber diese Links k
nnen Sie auf die Website von Verizon Wireless zugreifen.</p>
	<h2><tmpl_var _("webui", "customer_care_support_sub_header_verizon_text")></h2>
ber die Links k
nnen Sie mehr 
ber diesen Ger
tetyp erfahren oder zum Online-Support f
r dieses <tmpl_var _("webui", "webui_product_name")> gelangen.</p>
	<h2><tmpl_var _("webui", "customer_care_numbers_sub_header_verizon_text")></h2>
	<p>Rufen Sie bei Bedarf den Kundendienst von Verizon Wireless unter der hier angegebenen Telefonnummer an.</p>
