<!-- Manual DNS -->
<div id="adv_manual_dns">
	<h1><tmpl_var _("webui", "adv_manual_dns_menu_text")></h1>
	<h2>Vis
o geral</h2>
	<p>Geralmente, o endere
 fornecido automaticamente. Esta p
gina permite que voc
 especifique manualmente um DNS, se necess
rio. </p>
	<h2>Configura
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_enable_label"), (size(_("webui", "adv_manual_dns_enable_label")) - size(":")))></h3>
	<p>Use esta configura
o para ativar ou desativar o recurso de DNS manual. Se ativado, os dados a seguir precisam ser fornecidos. </p>
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_address1_label"), (size(_("webui", "adv_manual_dns_address1_label")) - size(":")))>
	<p>Insira o endere
o IP do DNS prim
rio desejado. Esse endere
rio para utilizar o recurso de DNS manual. </p>
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_address2_label"), (size(_("webui", "adv_manual_dns_address2_label")) - size(":")))>
	<p>Insira o endere
o IP do DNS secund
rio desejado (backup). Esse endere
 opcional e, se desejar, pode ser deixado em branco. </p>
<!-- id="adv_manual_dns" -->
