<!-- Vpn -->
<div id="vpn">
        
	<h2>Descripci
n general</h2>
         <p>Esta funci
n le permite configurar y habilitar conexiones seguras a redes remotas a trav
s de una red p
blica usando OpenVPN. Si OpenVPN est
 conectada, no es necesario que los dispositivos conectados al portal utilicen su propio cliente OpenVPN.
         <b>NOTA: </b>Cuando se establece una conexi
n OpenVPN, los ajustes de filtrado y enrutamiento de puertos no est
n vigentes, ya que el tr
fico de todos los dispositivos conectados pasa por el t
nel OpenVPN. 
         </p>
        
	<h2>VPN de conexi
tica</h2>
         
         <p>
                 Si esta funci
 activada, el t
nel VPN se establecer
ticamente cada vez que se realice una conexi
n a Internet. Si est
 desactivada, deber
 establecer la conexi
n VPN manualmente.
         </p>
	<h2>Conexi
n VPN</h2>
         <h3>Estado de la conexi
         <p>
                 Muestra el estado de la conexi
         </p>
         <h3>Hora de conexi
         <p>
                 Muestra el tiempo que pas
 desde que se estableci
 la conexi
         </p>
         <h3>Conectar</h3>
         <p>
                 Haga clic en el bot
n Conectar para conectarse al servidor VPN que est
 configurado conforme a los ajustes de VPN.
         </p>
	 <h3>Ver registro</h3>
         <p>
		Cuando se haya establecido una conexi
n OpenVPN, haga clic en el bot
n Ver registro para mostrar el registro de la conexi
	<h2>Ajustes de VPN</h2>
	<h3>Archivos de configuraci
         <p>
		Arrastre y suelte los archivos de configuraci
n de OpenVPN que le suministr
 su proveedor de OpenVPN en el 
rea de carga de archivos.
	<h3>Nombre de usuario</h3>
         <p>
		Ingrese su nombre de usuario de la conexi
n OpenVPN aqu
	<h3>Contrase
         <p>
		Ingrese la contrase
a de la conexi
n OpenVPN aqu
	<h3>Borrar todos los ajustes de la VPN </h3>
         <p>
		Haga clic en el bot
n Borrar todos los ajustes de la VPN para eliminar archivos de VPN, registros de VPN y restablecer todos esos ajustes al estado original no configurado.
        
 <!-- id="Vpn" -->
