<!-- LAN -->
<div id="lan">
	<h1><tmpl_var _("webui", "adv_lan_menu_text")></h1>
	<h2>Vue d
ensemble</h2>
		<p>Ces param
appliquent 
 votre r
seau local ou LAN. Pour cet appareil, le LAN se compose de cet appareil et de tous les appareils connect
s (y compris les appareils connect
s par Ethernet, le cas 
ant).</p>
	<h2><tmpl_var _("webui", "adv_lan_ip4_sub_header_text")></h2>
	<tmpl_if LANIPAddressShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_address_label"), (size(_("webui", "adv_lan_ip4_address_label")) - size(":")))></h3>
adresse IP de cet appareil, vue depuis le r
seau local. Normalement, vous pouvez utiliser la valeur par d
faut.</p>
	</tmpl_if>
	<tmpl_if LANSubnetMaskShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_subnet_mask_label"), (size(_("webui", "adv_lan_ip4_subnet_mask_label")) - size(":")))></h3>
		<p>La valeur par d
faut 255.255.255.0 est la valeur standard pour les petits r
seaux (classe 
). Si vous changez l
adresse IP du LAN, assurez-vous d
utiliser le masque de sous-r
seau correct.</p>
	</tmpl_if>
	<tmpl_if LANMacAddressShow>	
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_mac_address_label"), (size(_("webui", "adv_lan_ip4_mac_address_label")) - size(":")))></h3>
adresse MAC est un identifiant r
seau unique, attribu
 lors de la fabrication d
seau. Ce champ en lecture seule affiche l
adresse MAC pour les interfaces Wi-Fi et USB de cet appareil.</p>
	</tmpl_if>
	<tmpl_if LANDHCPEnableShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_dhcp_enable_label"), (size(_("webui", "adv_lan_ip4_dhcp_enable_label")) - size(":")))></h3>
		<p>Normalement, cette case devrait rester coch
e. Le serveur DHCP attribue une adresse IP 
 chaque appareil connect
. Si le serveur DHCP est d
, il faudrait alors attribuer une adresse IP fixe 
 chaque appareil connect
	</tmpl_if>
	<tmpl_if LANLANDHCPLeaseTimeShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_dhcp_lease_time_label"), (size(_("webui", "adv_lan_ip4_dhcp_lease_time_label")) - size(":")))></h3>
		<p>Ce champ d
termine la fr
 laquelle les appareils connect
s doivent renouveler l
adresse IP qui leur a 
 attribu
e par le serveur DHCP. Normalement, il est possible de laisser la valeur par d
faut, mais si vous avez des exigences particuli
res, vous pouvez modifier cette valeur.</p>
	</tmpl_if>
	<tmpl_if LANDHCPStartAddressShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_dhcp_range_begin_label"), (size(_("webui", "adv_lan_ip4_dhcp_range_begin_label")) - size(":")))></h3>
		<p>Si vous souhaitez modifier la plage d
adresses IP utilis
e par le serveur DHCP, vous pouvez le faire en modifiant cette valeur. Cette option est r
e aux utilisateurs experts.</p>
	</tmpl_if>
	<tmpl_if LANDHCPEndAddressShow>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip4_current_dhcp_range_label"), (size(_("webui", "adv_lan_ip4_current_dhcp_range_label")) - size(":")))></h3>
		<p>Cela indique la plage d
adresses IP qui peuvent 
tre attribu
es aux appareils connect
s. Si vous utilisez une adresse IP fixe sur un appareil connect
, vous devez utiliser une adresse IP qui se situe en dehors de cette plage.</p>
	</tmpl_if>
	<tmpl_if LANReservedIPAddressShow>		
	<h3><tmpl_var truncate(_("webui", "adv_lan_reservedIp_button"), (size(_("webui", "adv_lan_reservedIp_button")) - size(":")))></h3>
		<p>Cette fonctionnalit
tre utilis
e pour garantir qu
un appareil connect
 se verra toujours attribuer la m
me adresse IP par le <tmpl_var _("webui", "webui_product_name")>. Cliquez sur ce bouton pour acc
cran de configuration de cette fonctionnalit
	</tmpl_if>
	<tmpl_if ipv6Supported>		
		<h2><tmpl_var _("webui", "adv_lan_ip6_sub_header_text")></h2>
		<tmpl_if showIPv6EnableOption>
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip6_enable_label"), (size(_("webui", "adv_lan_ip6_enable_label")) - size(":")))></h3>
			<p>Si certains de vos appareils connect
s prennent en charge la connexion IPv6, ce param
tre doit 
tre activ
. Les appareils connect
s en IPv6 pourront alors 
tablir des connexions IPv6 
 Internet.</p>
		</tmpl_if>	
		<h3><tmpl_var truncate(_("webui", "adv_lan_ip6_link_local_label"), (size(_("webui", "adv_lan_ip6_link_local_label")) - size(":")))></h3>
			<p>Il s
agit de l
adresse IPv6 de cet appareil. L
adresse locale de liaison est utilis
e pour la communication IPv6 entre les appareils d
seau.</p>
	</tmpl_if>	
<!-- id="lan" -->
