<!-- Reserved IP Addresses -->
<div id="reserved_ip">
		<h1>Reservierte IP-Adressen</h1>
bersicht</h2>
ber diese Funktion k
nnen Sie sicherstellen, dass ein verbundenes Ger
t vom <tmpl_var _("webui", "webui_product_name")> immer die gleiche IP-Adresse zugewiesen bekommt. Klicken Sie auf diese Schaltfl
che, um den Einrichtungsbildschirm f
r diese Funktion aufzurufen.</p>
		<h3>DHCP-Adressbereich</h3>
		<p>Der aktuelle DHCP-Adressbereich wird hier angezeigt. Alle reservierten IP-Adressen m
ssen innerhalb dieses Bereichs liegen.</p>
		<h2>Tabelle der reservierten IP-Adressen</h2>
		<p>Zun
chst ist diese Tabelle leer und ausgeblendet. Wenn Sie der Tabelle eine Zeile hinzuf
chten, klicken Sie auf die Schaltfl
Reservierte IP-Adresse hinzuf
gen Sie so viele Zeilen wie n
tig hinzu. Jede Zeile hat die folgenden Felder.</p>
		<h3>Aktivieren</h3>
		<p>Verwenden Sie dieses Kontrollk
stchen, um jeden Eintrag (Zeile) nach Bedarf zu aktivieren oder zu deaktivieren. Wenn aktiviert, wird die aufgef
hrte IP-Adresse dem angegebenen Ger
t zugewiesen. Wenn deaktiviert, ist die IP-Adresse f
r jedes verbundene Ger
gbar.</p>
		<h3>Ger
tetyp</h3>
hlen Sie die f
r das verbundene Ger
t am besten geeignete Option.</p>
		<h3>Ger
tename</h3>
		<p>Falls gew
nscht, k
nnen Sie einen beschreibenden Namen f
r das verbundene Ger
t eingeben. Dieses Feld kann leer gelassen werden.</p>
		<h3>MAC-Adresse</h3>
		<p>Dieses Feld ist besonders wichtig. Geben Sie die MAC-Adresse des verbundenen Ger
ts ein. Wenn das verbundene Ger
ber mehrere Netzwerkschnittstellen verf
B. sowohl WLAN als auch Ethernet), geben Sie die MAC-Adresse der Schnittstelle ein, die f
r die Verbindung mit dem <tmpl_var _("webui", "webui_product_name")> genutzt wird.</p>
		<h3>IP-Adresse</h3>
		<p>Geben Sie die IP-Adresse ein, die dem verbundenen Ger
t zugewiesen werden soll. Die IP-Adresse muss innerhalb des oben angegebenen DHCP-Adressbereichs liegen.</p>
<!-- id="reserved_ip" -->
