<!-- WiFi Advanced -->
<div id="wifi_advanced">
	<h1>Wi-Fi</h1>
	<h2>Vis
o geral</h2>
	<p> No geral, os valores padr
o dessas configura
es de Wi-Fi podem ser mantidos, mas podem ser alterados, se necess
rio, para se adequar ao seu ambiente em particular. </p>
	<h2>Controle Liga/Desliga do Wi-Fi</h2>
	<p> Use este controle para ativar ou desativar o Wi-Fi conforme necessidade. Se desativada, a rede Wi-Fi do <tmpl_var _("webui", "webui_product_name_with_suffix")> n
vel; assim, a 
nica forma de se conectar ao <tmpl_var _("webui", "webui_product_name")> ser
s de um cabo USB. </p>
	<h2><tmpl_var _("webui", "wifi_advanced_profile_title")></h2>
	<p> Essa configura
o define como cada uma das bandas (2,4 GHz e 5 GHz) ser
 utilizada e define se a rede Wi-Fi de convidados estar
vel. </p>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_ghz_band_label")></h3>
	<p> Selecione a op
o desejada para aplicar essa banda 
 rede prim
 rede de convidados ou para desligar essa banda. </p>
	<h3><tmpl_var _("webui", "wifi_advanced_five_ghz_band_label")></h3>
	<p> Selecione a op
o desejada para aplicar essa banda 
 rede prim
 rede de convidados ou para desligar essa banda. Veja que n
vel desligar ambas as bandas. </p>
	<h2><tmpl_var _("webui", "wifi_advanced_settings_title")></h2>
	<h3><tmpl_var _("webui", "wifi_advanced_max_connections_label")></h3>
	<p> Defina quantos dispositivos podem se conectar simultaneamente 
(s) rede(s) Wi-Fi do <tmpl_var _("webui", "webui_product_name_with_suffix")>. </p>
	<h2><tmpl_var _("webui", "wifi_advanced_two_point_four_g_band_options_title")></h2>
	<p> Essas configura
o ocultas por padr
o, mas voc
 pode clicar no t
tulo/link para que fiquem vis
veis. Essas configura
o utilizadas sempre que a banda de 2,4 GHz estiver ativa. </p>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_802_11_mode_label")></h3>
	<p> Use essa configura
o para alterar o modo Wi-Fi, se necess
rio. Normalmente, voc
 deve deixar essa configura
o no seu valor predefinido. </p>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_channel_label")></h3>
	<p> Ele deve ser deixado no <strong>Autom
tico</strong>, a menos que voc
 precise escolher um canal particular para o seu ambiente. </p>
	<h2><tmpl_var _("webui", "wifi_advanced_five_g_options_title")></h2>
	<p> Essas configura
o ocultas por padr
o, mas voc
 pode clicar no t
tulo/link para que fiquem vis
veis. Essas configura
o utilizadas sempre que a banda de 5 GHz estiver ativa. </p>
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_802_11_mode_label")></h3>
	<p> Use essa configura
o para alterar o modo Wi-Fi, se necess
rio. No geral, n
 motivos para alterar o valor predefinido. </p>
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_bandwidth_label")></h3>
	<p> Selecione a op
o desejada. O valor padr
o deve ser usado a menos que haja interfer
ncias com outros dispositivos Wi-Fi. Nesse caso, a diminui
o da largura de banda pode reduzir a interfer
ncia. </p>
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_channel_label")></h3>
	<p> Ele deve ser deixado no <strong>Autom
tico</strong>, a menos que voc
 precise escolher um canal particular para o seu ambiente. </p>
<!-- id="wifi_advanced" -->
