<!-- Status Logs -->
<div id="status_logs">
	<h1><tmpl_var _("webui", "status_logs_menu_text")></h1>
	<h2>Vue d
ensemble</h2>
	<p>Les informations du journal sont utiles pour le d
pannage, mais ne sont pas n
cessaires pour le fonctionnement normal.</p>
	<h2>Param
tres</h2>
	<h3><tmpl_var _("webui", "status_logs_enable_logs_label")></h3>
	<p>Activez les journaux si n
cessaire.</p>
	<h3><tmpl_var _("webui", "status_logs_delete_sys_logs_label")></h3>
	<p>Ce param
termine la dur
e de conservation des donn
es du journal du syst
lectionnez l
option souhait
	<p>Notez que si le journal est plein, les donn
es les plus anciennes sont supprim
es, quel que soit ce param
tre.</p>
	<h2>Donn
es du journal</h2>
	<p>Les onglets fournis vous permettent de s
lectionner le type de donn
es de journal 
 afficher.</p>
	<h3><tmpl_var _("webui", "status_logs_mobile_network_log_href")></h3>
	<p>Ce journal contient des donn
es concernant les connexions au r
seau mobile.</p>
	<h3><tmpl_var _("webui", "status_logs_system_log_href")></h3>
	<p>Ce journal enregistre les 
nements, autres que les connexions de donn
es mobiles, qui se sont produits sur cet appareil.</p>
	<h2>Boutons</h2>
	<h3><tmpl_var _("webui", "status_logs_clear_log_btn")></h3>
	<p>Cliquer sur ce bouton entra
ne la suppression de toutes les donn
es de journal existantes. Les nouvelles donn
es sont ainsi plus faciles 
 lire.</p>
	<h3><tmpl_var _("webui", "status_logs_refresh_btn")></h3>
	<p>Utilisez cette fonctionnalit
 pour mettre 
 jour les donn
es du journal qui s
affichent.</p>
	<h3><tmpl_var _("webui", "status_logs_download_btn")></h3>
	<p>Utilisez ce bouton si vous souhaitez t
charger les donn
es du journal sur votre ordinateur ou sur l
appareil connect
<!-- end Status Logs -->
