<!-- Status Logs -->
<div id="status_logs">
	<h1><tmpl_var _("webui", "status_logs_menu_text")></h1>
versikt</h2>
	<p>Logginformationen 
kning, men kr
vs inte f
r normal drift.</p>
	<h2>Inst
llningar</h2>
	<h3><tmpl_var _("webui", "status_logs_enable_logs_label")></h3>
	<p>Aktivera loggarna efter behov.</p>
	<h3><tmpl_var _("webui", "status_logs_delete_sys_logs_label")></h3>
	<p>Denna inst
llning best
mmer hur l
nge systemets loggdata beh
nskat alternativ.</p>
	<p>Observera att om loggen 
r full raderas de 
ldsta data, oberoende av denna inst
llning.</p>
	<h2>Loggdata</h2>
	<p>De flikar som tillhandah
ter dig v
lja vilken typ av loggdata som ska visas.</p>
	<h3><tmpl_var _("webui", "status_logs_mobile_network_log_href")></h3>
	<p>Denna logg inneh
ller data om anslutningar till mobiln
tet.</p>
	<h3><tmpl_var _("webui", "status_logs_system_log_href")></h3>
	<p>Den h
r loggen registrerar h
ndelser 
n mobildataanslutningar - som intr
r enheten.</p>
	<h2>Knappar</h2>
	<h3><tmpl_var _("webui", "status_logs_clear_log_btn")></h3>
	<p>Om man klickar p
r knappen kommer alla befintliga loggdata att raderas. Detta g
ttare att l
sa nya data.</p>
	<h3><tmpl_var _("webui", "status_logs_refresh_btn")></h3>
nd den f
r att uppdatera de loggdata som visas.</p>
	<h3><tmpl_var _("webui", "status_logs_download_btn")></h3>
nd den h
r knappen om du vill ladda ned loggdata till din dator eller anslutna enhet.</p>
<!-- end Status Logs -->
