<!-- Port Forwarding -->
<div id="port_forward">
	<h1>Portinsiirto</h1>
	<h2>Yleiskatsaus</h2>
	<p>Port Forwarding (Portinsiirto) -ominaisuuden avulla Internetist
 saapuva liikenne voidaan ohjata Wi-Fi-verkkosi tiettyyn tietokoneeseen tai laitteeseen. Sis
nrakennettu palomuuri est
 Internetist
 saapuvan liikenteen. Port Forwarding (Portinsiirto) -ominaisuudella voit sallia Internetin k
syn mille tahansa tietokoneesi palvelimelle, kuten verkko-, FTP- tai s
postipalvelimelle. Joissakin verkkopeleiss
 Port Forwarding (Portinsiirto) -ominaisuutta, jotta pelit toimisivat oikein. Huomaa, ett
 Port Forwarding (Portinsiirto) -ominaisuuden k
 aiheuttaa turvallisuusriskin ja sen pit
isi olla pois p
, kun sit
 ei tarvita.</p>
<p><strong>Huomautus:</strong> Jotkin langattomat matkapuhelinverkot antavat sinulle oman verkkonsa IP-osoitteen Internetin IP-osoitteen sijasta. T
 tapauksessa Port Forwarding (Portinsiirto) -ominaisuutta ei voi k
, koska Internetin k
se IP-osoitteeseesi.</p>
	<h2>Portinsiirron sovellukset</h2>
	<h3>Sovellusten valintaruudut</h3>
		<p>Luettelossa on useita yleisi
 palvelinsovelluksia. Voit k
 tahansa n
 sovelluksista seuraavasti:</p>
			<li>Asenna sovellus tietokoneeseen, joka on yhdistetty t
n laitteen Wi-Fi-verkkoon.</li>
			<li>Valitse tietokoneella sen Wi-Fi-verkon IP-osoite. Vaihtoehtoisesti voit valita tietokoneen IP-osoitteen Connected Devices (Yhdistetyt laitteet) -n
			<li>Sy
 tietokoneen IP-osoite <strong>Connected Device IP Address</strong> (Yhdistetyn laitteen IP-osoite) -kentt
n, joka on sovelluksen vieress
			<li>Kytke t
 sovellus p
 valitsemalla sen valintaruutu.</li>
			<li>Tallenna muutokset.</li>
			<li>Merkitse t
n laitteen IP-osoite muistiin <strong>Current Status</strong> (Nykyinen tila) -n
			<li>Pyyd
 Internetin k
 muodostamaan yhteys t
n laitteen Internetin IP-osoitteeseen. N
 yhteyspyynn
t ohjataan vaiheessa 3 m
ritettyyn IP-osoitteeseen.</li>
	<h2>Mukautetut sovellukset</h2>
n ominaisuuden avulla voit m
 omat sovelluksesi. Kun n
 sovellukset on m
ritetty, ne voidaan kytke
lle tai pois p
 samalla tavalla kuin ennalta m
ritetyt sovellukset. Jotta voit m
 sovelluksen, sinun on tiedett
 portit ja protokolla (TCP, UDP), joita sovellus k
 saapuvassa liikenteess
. Aloita napsauttamalla <strong>Add Custom Application</strong> (Lis
 mukautettu sovellus) -painiketta ja anna sitten seuraavat tiedot.</p>
	<h3>Sovelluksen valintaruutu</h3>
 voit kytke
 sovelluksen p
lle sen j
lkeen, kun olet m
nyt sen.</p>
	<h3>Sovelluksen nimi</h3>
	<p>Anna m
llesi sovellukselle sopiva nimi.</p>
	<h3>Yhdistetyn laitteen IP-osoite</h3>
	<p>Anna t
n liikenteen vastaanottavan yhdistetyn laitteen IP-osoite.</p>
	<h3>Portin tyyppi ja portin numerot</h3>
		<p>Kullakin sovelluksella on oma porttialueensa. Sy
 kunkin sovelluksen porttialueen alku ja loppu.</p>
		<div class="blockgroup">
				<li>Sy
 porttialueen osalta alueen alku <strong>From</strong> (Alkaen) -kentt
n ja alueen loppu <strong>To</strong> (Asti) -kentt
				<li>Jos haluat k
 portin, sy
 portin numero sek
 <strong>Ext</strong> (Ulk)- ett
 <strong>Int</strong> (Sis) -kenttiin.</li>
			</ul>
		</div>
	<h3>Protokolla</h3>
	<p>Valitse kullekin porttialueelle protokolla (TCP tai UDP), jota kyseinen porttialue k
	<h3>Poista</h3>
n valintaruudun avulla voit poistaa mukautetun sovelluksen.</p>
<!-- id="port_forward" -->
