<!-- Reserved IP Addresses -->
<div id="reserved_ip">
		<h1>Varatut IP-osoitteet</h1>
		<h2>Yleiskatsaus</h2>
 ominaisuutta voidaan k
 varmistamaan, ett
 <tmpl_var _("webui", "webui_product_name")> m
 yhdistetylle laitteelle aina saman IP-osoitteen. T
 painiketta napsauttamalla p
n ominaisuuden asetusn
		<h3>DHCP-osoitealue</h3>
		<p>Nykyinen DHCP-osoitealue n
. Kaikkien varattujen IP-osoitteiden on oltava t
 alueella.</p>
		<h2>Varattujen IP-osoitteiden taulukko</h2>
		<p>Aluksi t
 taulukko on tyhj
 ja piilossa. Voit lis
 rivin t
n taulukkoon napsauttamalla 
Add Reserved IP
 varattu IP) -painiketta. Lis
 niin monta rivi
 kuin tarvitset. Jokaisella rivill
 on seuraavat kent
		<h3>Ota k
n valintaruudun avulla voit ottaa k
n tai poistaa k
 kunkin sy
tteen (rivin) tarpeen mukaan. Jos t
ritetty IP-osoite annetaan m
ritetylle laitteelle. Jos t
 on pois k
, IP-osoite on k
 kaikille yhdistetyille laitteille.</p>
		<h3>Laitteen tyyppi</h3>
		<p>Valitse yhdistetylle laitteelle sopivin vaihtoehto.</p>
		<h3>Laitteen nimi</h3>
		<p>Voit halutessasi antaa yhdistetylle laitteelle kuvaavan nimen. T
 voidaan j
ksi.</p>
		<h3>MAC-osoite</h3>
 yhdistetyn laitteen MAC-osoite. Jos yhdistetyll
 laitteella on useampi kuin yksi verkkoliittym
 (esimerkiksi sek
 Wi-Fi ett
 Ethernet), sy
 sen liittym
n MAC-osoite, jota k
n muodostettaessa yhteys <tmpl_var _("webui", "webui_product_name")>-laitteeseen.</p>
		<h3>IP-osoite</h3>
 IP-osoite, jonka haluat annettavan t
lle yhdistetylle laitteelle. IP-osoitteen on oltava yll
 esitetyn DHCP-osoitealueen sis
<!-- id="reserved_ip" -->
