<!-- Data Usage -->
<div id="data_usage">
	<h1><tmpl_var _("webui", "data_usage_menu_text")></h1>
rskats</h2>
 tiek par
ts grafisks datu lietojuma att
lojums j
su mobilo datu pl
, ja ir pieejama inform
cija par datu lietojumu.</p>
	<h2>Apl
stais datu lietojums</h2>
	<p>Displejs main
na, bet parasti taj
da inform
cija.</p>
	<div class="blockgroup">
		<li>Pl
na aptuvenais datu lietojums pa
inu cikl
tajam datumam.</li>
		<li>Pl
na veids un datu ierobe
		<li>Pl
na datu lietojuma grafisks att
lojums pa
inu cikl
		<li>Koplietojamiem pl
 izmantotajiem datiem.</li>
		<li>Pa
inu cikla beigu datums.</li>
