<!-- Port Filtering -->
<div id="port_filtering">
	<h1>Filtro sulle porte</h1>
	<h2>Panoramica</h2>
	<p>Utilizza la funzione di filtro sulle porte per bloccare il traffico Internet in uscita in base alle tue esigenze. Se questa impostazione 
 attiva, solo il traffico proveniente dalle applicazioni selezionate pu
 accedere a Internet. Il traffico 
 identificato dai numeri di porta. Alcune applicazioni sono predefinite. Hai la facolt
 di definire applicazioni aggiuntive, ma 
 necessario conoscere i dettagli del traffico utilizzato e generato dalle applicazioni che desideri definire.</p>
	<h2>Applicazioni</h2>
	<h3>Caselle di controllo dell&#39;applicazione</h3>
	<p>Utilizza queste caselle di controllo per consentire l&#39;accesso a Internet per ogni applicazione mentre la funzione di filtro sulle porte 
 attiva. Il traffico proveniente dalle applicazioni selezionate pu
 accedere a Internet. Altrimenti, il traffico 
 bloccato.</p>
	<h2>Applicazioni personalizzate</h2>
	<p>Questa funzione ti consente di definire le tue applicazioni, fino a un massimo di 10. Una volta definite, queste applicazioni possono essere attivate e disattivate nello stesso modo delle applicazioni predefinite. Per definire un&#39;applicazione, 
 necessario conoscere le porte e il protocollo (TCP, UDP) utilizzati dall&#39;applicazione per il traffico in uscita. Per iniziare, fai clic sul pulsante <strong>Aggiungi applicazione personalizzata</strong>, quindi fornisci i seguenti dati.</p>
	<p>Si noti che eventuali modifiche a un&#39;applicazione personalizzata non vengono salvate fino a quando non viene utilizzato il pulsante "Salva modifiche" per salvare l&#39;intero contenuto della pagina.</p>
	<h3>Casella di controllo dell&#39;applicazione</h3>
	<p>Utilizza questa casella di controllo per attivare un&#39;applicazione dopo averla definita. Se selezionata, il traffico proveniente da questa applicazione pu
 accedere a Internet. Altrimenti, il traffico 
 bloccato.</p>
	<h3>Nome dell&#39;applicazione</h3>
	<p>Immetti un nome adatto per l&#39;applicazione che stai definendo.</p>
	<h3>Intervallo porte (Porta iniziale/Porta finale)</h3>
		<p>Ogni applicazione dispone del proprio intervallo di porte. Immetti l&#39;inizio e la fine dell&#39;intervallo di porte per ciascuna applicazione.</p>
		<div class="blockgroup">
				<li>Per una singola porta, immetti il numero della porta sia nel campo <strong>Porta iniziale</strong> che <strong>Porta finale</strong>.</li>
				<li>Per un intervallo di porte, immetti l&#39;inizio dell&#39;intervallo nel campo <strong>Porta iniziale</strong> e la fine dell&#39;intervallo nel campo <strong>Porta finale</strong>.</li>
			</ul>
		</div>
	<h3>Protocollo</h3>
	<p>Per ciascun intervallo di porte, seleziona il protocollo (TCP o UDP) che tale intervallo deve utilizzare.</p>
	<h3>Elimina</h3>
	<p>Utilizza questa casella di controllo per eliminare un&#39;applicazione personalizzata.</p>
<!-- id="port_filtering" -->
