<!-- Vpn -->
<div id="vpn">
        
	<h2>Yleiskatsaus</h2>
         <p>T
 ominaisuudella voit muodostaa tunneliyhteyden OpenVPN-palvelimeen ja reititt
 kaiken yhdistettyjen laitteiden liikenteen tunnelin l
        
	<h2>Yhdist
 VPN automaattisesti</h2>
         
         <p>Jos t
 on asetettu P
LLE, VPN-tunneli luodaan automaattisesti aina, kun Internet-yhteys muodostetaan. Jos t
 on asetettu POIS P
, sinun on luotava VPN-yhteys manuaalisesti.</p>
	<h2>VPN-yhteys</h2>
         <h3>Yhteyden tila</h3>
         <p>N
 VPN-yhteyden tilan.</p>
         <h3>Yhteysaika</h3>
         <p>N
 VPN-yhteyden keston.</p>
         <h3>Yhdist
         <p>Napsauttamalla Connect (Yhdist
) -painiketta voit luoda yhteyden VPN-palvelimeen, joka on m
ritetty VPN-asetusten avulla.</p>
 loki</h3>
         <p>Kun OpenVPN-yhteys on luotu, n
et VPN-yhteyslokin napsauttamalla View log (N
 loki) -painiketta.</p>
	<h2>VPN-asetukset</h2>
	<h3>Asennustiedostot</h3>
         <p>Ved
 ja pudota OpenVPN-m
ritystiedostot OpenVPN-palveluntarjoajaltasi tiedostojen l
hetysalueelle.</p>
tunnus</h3>
         <p>Sy
 OpenVPN-yhteytesi k
tunnus t
	<h3>Salasana</h3>
         <p>Sy
 OpenVPN-yhteytesi salasana t
	<h3>Tyhjenn
 kaikki VPN-asetukset</h3>
         <p>Napsauttamalla Clear all VPN settings (Tyhjenn
 kaikki VPN-asetukset) -painiketta poistat VPN-tiedostot ja VPN-lokit sek
 nollaat kaikki VPN-asetukset alkuper
n tilaan.</p>
        
 <!-- id="Vpn" -->
