<!-- Status Logs -->
<div id="status_logs">
	<h1><tmpl_var _("webui", "status_logs_menu_text")></h1>
	<h2>Yleiskatsaus</h2>
	<p>Lokitiedot ovat hy
rityksess
, mutta niit
 ei tarvita tavanomaisessa k
	<h2>Asetukset</h2>
	<h3><tmpl_var _("webui", "status_logs_enable_logs_label")></h3>
	<p>Ota lokit k
n tarpeen mukaan.</p>
	<h3><tmpl_var _("webui", "status_logs_delete_sys_logs_label")></h3>
 asetus m
, kuinka kauan j
rjestelm
n lokitietoja s
n. Valitse haluttu vaihtoehto.</p>
	<p>Huomaa, ett
 jos loki on t
, vanhimmat tiedot poistetaan t
 asetuksesta riippumatta.</p>
	<h2>Lokitiedot</h2>
	<p>Annetuilta v
lilehdilt
 voit valita n
vien lokitietojen tyypin.</p>
	<h3><tmpl_var _("webui", "status_logs_mobile_network_log_href")></h3>
 loki sis
 matkapuhelinverkkoyhteyksi
 koskevia tietoja.</p>
	<h3><tmpl_var _("webui", "status_logs_system_log_href")></h3>
 loki tallentaa t
 laitteella tapahtuneet tapahtumat 
 muut kuin mobiilidatayhteydet.</p>
	<h2>Painikkeet</h2>
	<h3><tmpl_var _("webui", "status_logs_clear_log_btn")></h3>
 painiketta napsauttamalla poistetaan kaikki olemassa olevat lokitiedot. T
 helpottaa uusien tietojen lukemista.</p>
	<h3><tmpl_var _("webui", "status_logs_refresh_btn")></h3>
ytetyt lokitiedot.</p>
	<h3><tmpl_var _("webui", "status_logs_download_btn")></h3>
 painikkeella voit ladata lokitiedot tietokoneellesi tai yhdistetylle laitteellesi.</p>
<!-- end Status Logs -->
