<!-- Port Forwarding -->
<div id="port_forward">
	<h1>Portide 
mbersuunamine</h1>
levaade</h2>
	<p>Funktsioon Portide 
mbersuunamine v
imaldab internetist saabuvat liiklust edastada teie Wi-Fi-v
rgu kindlasse arvutisse v
i seadmesse. Tavaliselt blokeerib sisseehitatud tulem
r internetist sissetuleva liikluse. Portide 
mbersuunamine v
imaldab internetikasutajatele juurdep
su mis tahes serverile, mida te arvutis k
itate, nt veebi-, FTP- v
i meiliserverile. M
nede online-m
ngude puhul tuleb m
ngude korrektseks toimimiseks kasutada portide 
mbersuunamist. Pange t
hele, et portide 
mbersuunamise kasutamine tekitab turvariski ja peaks vajaduse korral j
litatuks.</p>
<p><strong>M
rkus.</strong> M
ned mobiilsed juhtmevabad v
rgud pakuvad IP-aadressi oma v
rgus, mitte interneti IP-aadressi. Sellisel juhul ei saa portide 
mbersuunamist kasutada, kuna internetikasutajad ei p
se teie IP-aadressini.</p>
	<h2>Portide 
mbersuunamisega rakendused</h2>
	<h3>Rakenduse m
rkeruudud</h3>
		<p>Loetletakse mitu levinumat serverirakendust. Nende rakenduste kasutamiseks toimige j
rgmiselt.</p>
			<li>Installige rakendus arvutisse, mis on 
hendatud selle seadme Wi-Fi-v
rguga.</li>
			<li>Kontrollige arvutis selle IP-aadressi Wi-Fi-v
rgu jaoks. Teise v
imalusena saate kontrollida arvuti IP-aadressi ekraanil 
hendatud seadmed.</li>
			<li>Sisestage sellel kuval arvuti IP-aadress v
ljale <strong>
hendatud seadme IP-aadress</strong> rakenduse k
rval.</li>
			<li>L
litage see rakendus sellel ekraanil sisse, valides selle m
rkeruudu.</li>
			<li>Salvestage muudatused.</li>
			<li>M
les kuval <strong>Praegune olek</strong> olev selle seadme interneti IP-aadress.</li>
			<li>Paluge internetikasutajatel selle seadme IP-aadressiga 
hendus luua. Need 
henduse taotlused edastatakse 3. sammus m
ratud IP-aadressile.</li>
	<h2>Kohandatud rakendused</h2>
	<p>See funktsioon v
imaldab teil m
ratleda oma rakendusi. Kui need rakendused on m
ratud, saab neid sisse v
litada samamoodi nagu eelm
ratud rakendusi. Rakenduse m
ratlemiseks peate teadma porte ja protokolli (TCP, UDP), mida rakendus kasutab sissetuleva liikluse jaoks. Alustamiseks kl
psake nuppu <strong>Lisa kohandatud rakendus</strong>, seej
rel sisestage j
rgmised andmed.</p>
	<h3>Rakenduse m
rkeruut</h3>
	<p>Kasutage seda rakenduse sissel
litamiseks p
rast selle m
ratlemist.</p>
	<h3>Rakenduse nimi</h3>
	<p>Sisestage m
ratletavale rakendusele sobiv nimi.</p>
hendatud seadme IP-aadress</h3>
	<p>Sisestage 
hendatud seadme IP-aadress, mis selle liikluse vastu v
tab.</p>
	<h3>Pordi t
p ja pordinumbrid</h3>
		<p>Igal rakendusel on oma pordivahemik. Sisestage iga rakenduse pordivahemiku algus ja l
		<div class="blockgroup">
				<li>Pordivahemiku puhul sisestage vahemiku algus v
ljale <strong>Algus</strong> ja vahemiku l
ljale <strong>L
pp</strong>.</li>
				<li>T
lkepordi puhul sisestage pordi number nii v
ljadele <strong>V
ljas</strong>kui <strong>Sees</strong> .</li>
			</ul>
		</div>
	<h3>Protokoll</h3>
	<p>Valige iga pordivahemiku jaoks protokoll (TCP v
i UDP), mida see pordivahemik kasutab.</p>
	<h3>Kustuta</h3>
	<p>Kasutage seda m
rkeruutu kohandatud rakenduse kustutamiseks.</p>
<!-- id="port_forward" -->
