<!-- Reserved IP Addresses -->
<div id="reserved_ip">
		<h1>Direcciones IP reservadas</h1>
		<h2>Descripci
n general</h2>
		<p>Esta funci
n se puede utilizar para garantizar que el <tmpl_var _("webui", "webui_product_name")> siempre le asignar
 la misma direcci
n IP a un dispositivo conectado. Haga clic en este bot
n para acceder a la pantalla de configuraci
n de esta funci
		<h3>Rango de direcci
n DHCP</h3>
		<p>Aqu
 se muestra el rango de direcci
n DHCP actual. Todas las direcciones IP reservadas deben estar dentro de este rango.
		<h2>Tabla de direcciones IP reservadas</h2>
		<p>Inicialmente, esta tabla estar
a y oculta. Para agregar una fila a esta tabla, haga clic en el bot
Agregar IP reservada
. Agregue las filas que sean necesarias. Cada fila tiene los siguientes campos.
		<h3>Habilitar</h3>
		<p>Utilice esta casilla de verificaci
n para habilitar o deshabilitar cada entrada (fila) seg
n sea necesario. Si est
 habilitada, la direcci
n IP especificada se asignar
 al dispositivo especificado. Si est
 deshabilitada, la direcci
n IP est
 disponible para cualquier dispositivo conectado.
		<h3>Nombre del dispositivo</h3>
		<p>Si lo desea, puede ingresar un nombre descriptivo para el dispositivo conectado. Este campo se puede dejar en blanco.
		<h3>Nombre del dispositivo</h3>
		<p>Si lo desea, puede ingresar un nombre descriptivo para el dispositivo conectado. Este campo se puede dejar en blanco.
		<h3>Direcci
n MAC</h3>
		<p>Este campo es fundamental. Ingrese la direcci
n MAC del dispositivo conectado. Si el dispositivo conectado tiene m
s de una interfaz de red (por ejemplo, Wi-Fi y Ethernet), ingrese la direcci
n MAC de la interfaz que se utilizar
 para conectarse al <tmpl_var _("webui", "webui_product_name")>.
		<h3>Direcci
n IP</h3>
		<p>Ingrese la direcci
n IP que desea que se le asigne a este dispositivo conectado. Esta direcci
n IP debe estar dentro del rango de direcci
n DHCP que se muestra arriba.
<!-- id="reserved_ip" -->
