<!-- Login -->
<div id="login">
	<h1><tmpl_var _("webui", "webui_product_name")> MiFi <tmpl_var _("webui", "webui_product_number")> pierakst
	<p>Lai turpin
tu, ievadiet <tmpl_var _("webui", "webui_product_name")> administratora paroli.</p>
	<tmpl_if showForgotPassword>
	<p>Ja nezin
t paroli, izmantojiet opciju <strong>Es aizmirsu administratora paroli</strong>.</p>
	</tmpl_if>
	<p>Ja p
k daudz rei
siet nepareizu paroli, j
s tiksiet blo
ts. Lai not
 <tmpl_var _("webui", "webui_product_name")>.</p>
<!-- id="login" -->
