<div id="customer_care">
	<h1><tmpl_var _("webui", "customer_care_menu_text")></h1>
rskats</h2>
 ir sniegtas saites un kontaktinform
cija, lai pal
tu jums probl
mu vai jaut
jumu gad
	<h2><tmpl_var _("webui", "customer_care_links_sub_header_verizon_text")></h2>
	<p>Izmantojiet 
s saites, lai piek
tu Verizon Wireless vietnei.</p>
	<h2><tmpl_var _("webui", "customer_care_support_sub_header_verizon_text")></h2>
	<p>Izmantojiet 
s saites, lai uzzin
da veida ier
m, vai piek
stiet tie
saistes atbalstam, kas paredz
ts <tmpl_var _("webui", "webui_product_name")>.</p>
	<h2><tmpl_var _("webui", "customer_care_numbers_sub_header_verizon_text")></h2>
	<p>Ja nepiecie
ams, zvaniet klientu apkalpo
anas dienestam uz Verizon Wireless, izmantojot 
a numuru.</p>
