<!-- Status Logs -->
<div id="status_logs">
	<h1><tmpl_var _("webui", "status_logs_menu_text")></h1>
valga</h2>
urnalo informacija naudinga triktims 
alinti; ji neb
prasto veikimo s
lygomis.</p>
	<h2>Nuostatos</h2>
	<h3><tmpl_var _("webui", "status_logs_enable_logs_label")></h3>
	<p>Prireikus 
junkite 
urnalus.</p>
	<h3><tmpl_var _("webui", "status_logs_delete_sys_logs_label")></h3>
i nuostata apibr
ia, kiek laiko bus saugomi sistemos 
urnalo duomenys. Pasirinkite norim
 parinkt
	<p>Atminkite, kad u
 seniausi duomenys pa
alinami 
 nuostat
velgiant.</p>
urnalo duomenys</h2>
	<p>Pateiktos kortel
ia pasirinkti 
urnalo duomen
, kuriuos norite per
	<h3><tmpl_var _("webui", "status_logs_mobile_network_log_href")></h3>
urnale yra duomen
, susijusi
 su prisijungimais prie mobiliojo ry
io tinklo.</p>
	<h3><tmpl_var _("webui", "status_logs_system_log_href")></h3>
vykiai, i
renginyje 
vykusius mobiliojo ry
io duomen
 prisijungimus.</p>
	<h2>Mygtukai</h2>
	<h3><tmpl_var _("webui", "status_logs_clear_log_btn")></h3>
	<p>Spustel
alinti visi esami 
urnalo duomenys. Tai palengvina nauj
 nuskaitymo proces
	<h3><tmpl_var _("webui", "status_logs_refresh_btn")></h3>
	<p>Naudokite tai rodomiems 
urnalo duomenims atnaujinti.</p>
	<h3><tmpl_var _("webui", "status_logs_download_btn")></h3>
	<p>Naudokite 
, jei norite atsisi
urnalo duomenis 
 kompiuter
 arba prijungt
<!-- end Status Logs -->
