<!-- Diagnostics -->
<div id="status_diagnostics">
	<h1><tmpl_var _("webui", "status_diagnostics_menu_text")></h1>
valga</h2>
iame puslapyje pateikiama informacija apie <tmpl_var _("webui", "webui_product_name")> ir galimus tinklus. Naudokite j
 prireikus triktims 
alinti; ji neb
prasto veikimo s
lygomis.</p>
	<h2><tmpl_var _("webui", "status_diagnostics_modem_sub_header_text")></h2>
	<tmpl_if showPhoneNumber>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_phone_number_label"), (size(_("webui", "status_diagnostics_phone_number_label")) - size(":")))></h3>
		<p>Tai <tmpl_var _("webui", "webui_product_name")> telefono numeris.</p>
	</tmpl_if>
	<tmpl_if showImei>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_imei_label"), (size(_("webui", "status_diagnostics_imei_label")) - size(":")))></h3>
renginio IMEI (tarptautinis judriojo ry
rangos identifikatorius, angl. 
International Mobile Equipment Identity
). IMEI yra 15 arba 17 skaitmen
 kodas, naudojamas unikaliai identifikuoti atskirai mobiliojo ry
io tinkle esan
iai<tmpl_udf GET_PO_TEXT("status_diagnostics_technology_text")>sto
iai. Pakeitus SIM, IMEI nesikei
	</tmpl_if>
	<tmpl_if showImeisv>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_imeisv_label"), (size(_("webui", "status_diagnostics_imeisv_label")) - size(":")))></h3>
iame lauke IMEI sujungiama su tokio tipo 
renginio patvirtinimo numeriu.</p>
	</tmpl_if>
	<tmpl_if showMeid>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_meid_label"), (size(_("webui", "status_diagnostics_meid_label")) - size(":")))></h3>
		<p>MEID (mobiliojo ry
rangos ID) 
 tai unikalusis numeris, naudojamas atskirai mobiliojo ry
iai CDMA tinkle identifikuoti.</p>
	</tmpl_if>
	<tmpl_if showIMSI>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_imsi_label"), (size(_("webui", "status_diagnostics_imsi_label")) - size(":")))></h3>
		<p>Tarptautinis judriojo ry
io abonento identifikatorius (angl. 
International Mobile Subscriber Identity
, IMSI) 
 tai unikalusis numeris, susietas su visais pasaulin
s judriojo ry
io sistemos (angl. 
Global System for Mobile Communications
, GSM) ir universaliosios judriojo ry
io sistemos (angl. 
Universal Mobile Telecommunications System
, UMTS) tinklo mobiliojo ry
io telefon
 naudotojais, naudojamas GSM abonentui identifikuoti.</p>
	</tmpl_if>
	<tmpl_if showFwVersion>					
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_fw_version_label"), (size(_("webui", "status_diagnostics_fw_version_label")) - size(":")))></h3>
iuo metu modeme 
diegtos programin
s aparatin
rangos (programin
rangos) versija.</p>
	</tmpl_if>
	<tmpl_if showSimStatus>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_sim_status_label"), (size(_("webui", "status_diagnostics_sim_status_label")) - size(":")))></h3>
		<p>Ji parodo SIM kortel
ra SIM kortel
iame lauke kokia nors forma parodoma SIM klaida, prisijungti prie mobiliojo ry
io tinklo negalima.</p>
	</tmpl_if>
	<tmpl_if showICCID>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_iccid_label"), (size(_("webui", "status_diagnostics_iccid_label")) - size(":")))></h3>
is unikalusis ID numeris priskiriamas SIM kortelei. Jis nerodomas, jei n
tos SIM arba esant SIM klaidos b
senai.</p>
	</tmpl_if>
	<tmpl_if showModemDetails>
		<tmpl_if showMINMSID>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_msid_label"), (size(_("webui", "status_diagnostics_msid_label")) - size(":")))></h3>
is ID naudojamas abonentui mobiliojo ry
io duomen
 tinkle identifikuoti.</p>
		</tmpl_if>
		<tmpl_if showESN>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_esn_label"), (size(_("webui", "status_diagnostics_esn_label")) - size(":")))></h3>
			<p>Elektroninis serijos numeris (ESN) 
prastinis CDMA tinkluose esan
 unikalaus identifikavimo b
renginiuose, kuriuose naudojamas MEID (pvz., 
renginyje), yra tu
ias ESN arba tariamas ESN, kurie neu
tikrinami kaip unikal
 		</tmpl_if>
 		<tmpl_if showHomeSID>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_home_sid_label"), (size(_("webui", "status_diagnostics_home_sid_label")) - size(":")))></h3>
			<p>SID (sistemos ID) yra tinklo identifikatorius, nurodantis mobiliojo ry
io duomen
 tinklo prijungimo ta
		</tmpl_if>
		<tmpl_if showERIVersion>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_eri_version_label"), (size(_("webui", "status_diagnostics_eri_version_label")) - size(":")))></h3>
			<p>ERI (patobulinto tarptinklinio ry
io indikatoriaus, angl. 
Enhanced Roaming Indicator
) lentel
je pateikiama informacija apie kiekvien
 tarptinklinio ry
io tinkl
, prie kurio leid
iama prisijungti mobiliajam 
renginiui. 
iame lauke rodoma 
iuo metu 
diegta ERI versija. ERI lentel
 atnaujinama automati
kai.</p>
 		</tmpl_if>
 		<tmpl_if showPRLVersion>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_prl_version_label"), (size(_("webui", "status_diagnostics_prl_version_label")) - size(":")))></h3>
			<p>PRL (pageidaujam
 tarptinklinio ry
io paslaug
as, angl. 
Preferred Roaming List
) naudojamas tinklui pasirinkti, kai galimi keli tinklai. 
iame lauke nurodoma 
iuo metu 
diegta PRL versija. PRL atnaujinamas automati
kai.</p>
		</tmpl_if>			
	</tmpl_if>
	<tmpl_if lteSupported>			
		<h2 class="sectionHead">5G / 4G LTE tinklas</h2>
		<tmpl_if showInternetStatus4G>	
			<h3>B
sena</h3>
			<p>Skirta<tmpl_udf GET_PO_TEXT("status_diagnostics_technology_text")>tinklui; galimos b
senos reik
			<div class="blockgroup">
				<ul>
					<li>
Negalima
 neaptiktas<tmpl_udf GET_PO_TEXT("status_diagnostics_technology_text")>tinklas.</li>
					<li>
 aptiktas<tmpl_udf GET_PO_TEXT("status_diagnostics_technology_text")>tinklas.</li>
				</ul>
			</div>
ie duomen
 elementai pateikiami tik tuo atveju, jei<tmpl_udf GET_PO_TEXT("status_diagnostics_technology_text")>tinklas pasiekiamas.</p>
		</tmpl_if>
		<tmpl_if showNetworkOperator>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_fourg_network_operator_label"), (size(_("webui", "status_diagnostics_fourg_network_operator_label")) - size(":")))></h3>
			<p>Tai tinklo<tmpl_udf GET_PO_TEXT("status_diagnostics_technology_text")>pavadinimas.</p>
		</tmpl_if>
		<tmpl_if showSignalStrength>			
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_fourg_signal_strength_label"), (size(_("webui", "status_diagnostics_fourg_signal_strength_label")) - size(" (RSRP):")))></h3>
			<p>Jis parodo signalo<tmpl_udf GET_PO_TEXT("status_diagnostics_technology_text")>stiprum
, kuris matuojamas dBm. Didesn
s absoliu
iosios vert
s parodo stipresn
80 dBm yra stipresnis signalas nei 
90 dBm.<tmpl_udf GET_PO_TEXT("status_diagnostics_lte_note_text")>
		</tmpl_if>
		<tmpl_if showSNR>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_sinr_label"), (size(_("webui", "status_diagnostics_sinr_label")) - size(":")))></h3>
			<p>SNR 
 tai signalo kokyb
s matas. Didesni skai
iai parodo geresn
		</tmpl_if>
		<tmpl_if showLteBand>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_lte_band_label"), (size(_("webui", "status_diagnostics_lte_band_label")) - size(":")))></h3>
			<p><tmpl_udf GET_PO_TEXT("status_diagnostics_technology_text")>tinklai gali naudoti skirtingus da
 diapazonus skirtinguose regionuose. 
is laukas rodo da
 diapazon
, naudojam
 dabartiniam<tmpl_udf GET_PO_TEXT("status_diagnostics_technology_text")>ry
iui.</p>
		</tmpl_if>
		<tmpl_if showRoaming>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_fourg_roaming_label"), (size(_("webui", "status_diagnostics_fourg_roaming_label")) - size(":")))></h3>
			<p>Jis nurodo, ar dabartinis ry
ys yra tarptinklinis.</p>
		</tmpl_if>
	</tmpl_if>
	<tmpl_if isHSPATechnology>	
		<h2><tmpl_var _("webui", "status_diagnostics_gsm_umts_hspa_text")> B
sena</h2>
sena</h3>
		<p><tmpl_var _("webui", "status_diagnostics_gsm_umts_hspa_text")> tinklo palaikomos b
senos:</p>
		<div class="blockgroup">
				<li>
Negalima
 neaptiktas joks <tmpl_var _("webui", "status_diagnostics_gsm_umts_hspa_text")> tinklas.</li>
				<li>
 aptiktas <tmpl_var _("webui", "status_diagnostics_gsm_umts_hspa_text")> tinklas.</li>
			</ul>
		</div>
		<p>Toliau nurodyti duomen
 elementai pateikiami tik tuo atveju, jei tinklas pasiekiamas.</p>
		<tmpl_if showNetworkOperator>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_fourg_network_operator_label"), (size(_("webui", "status_diagnostics_fourg_network_operator_label")) - size(":")))></h3>
			<p>Tai <tmpl_var _("webui", "status_diagnostics_gsm_umts_hspa_text")> tinklo pavadinimas.</p>
		</tmpl_if>	
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_threeg_technology_label"), (size(_("webui", "status_diagnostics_threeg_technology_label")) - size(":")))></h3>
		<div class="blockgroup">
iuo metu naudojama <tmpl_var _("webui", "status_diagnostics_gsm_umts_hspa_text")> tinklo technologija. Galimos reik
iausios iki grei
iausios:</p>
				<tmpl_if gsmSupported>
					<li>GPRS</li>
				</tmpl_if>
				<tmpl_if wcdmaSupported>
					<li>UMTS</li>
				</tmpl_if>
				<tmpl_if cdmaSupported>
					<li>HSPA+</li>
					<li>HSPA+ DC</li>
				</tmpl_if>
				<tmpl_if evdoSupported>
					<li>EDGE</li>
					<li>HSDPA</li>
					<li>HSUPA</li>
				</tmpl_if>
			</ul>
		</div>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_networkid_label"), (size(_("webui", "status_diagnostics_networkid_label")) - size(":")))></h3>
			<p>Vie
ojo sausumos judriojo ry
io tinklo (angl. 
Public Land Mobile Network
, PLMN) pavadinimas ir (arba) ID.</p>
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_cellid_label"), (size(_("webui", "status_diagnostics_cellid_label")) - size(":")))></h3>
 identifikuoja 
iuo metu naudojam
 mobiliojo ry
		<h3><tmpl_var truncate(_("webui", "status_diagnostics_rssi_label"), (size(_("webui", "status_diagnostics_rssi_label")) - size(":")))></h3>
			<p>Jis nurodo <tmpl_var _("webui", "status_diagnostics_gsm_umts_hspa_text")> signalo RSSI. RSSI yra signalo stiprumo matas decibelais vieno milivato at
vilgiu. Jis visada neigiamas, nes mobilieji radijo ry
renginiai yra kur kas ma
iau galingi nei vienas milivatas. Didesn
s absoliu
iosios vert
s rodo stipresn
50 dBm yra stipresnis signalas nei 
70 dBm.</p>
		<tmpl_if showRoaming>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_roaming_label"), (size(_("webui", "status_diagnostics_roaming_label")) - size(":")))></h3>
			<p>Jis nurodo, ar dabartinis ry
ys yra tarptinklinis.</p>
		</tmpl_if>
		<tmpl_if show3g>
			<h2><tmpl_var _("webui", "status_diagnostics_threeg_label")></h2>
			<h3>B
sena</h3>
			<p>Galimos b
senos reik
			<div class="blockgroup">
				<ul>
					<li>
Negalima
 neaptiktas joks 3G tinklas.</li>
					<li>
 aptiktas 3G tinklas.</li>
				</ul>
			</div>
			<p>Toliau nurodyti duomen
 elementai pateikiami tik tuo atveju, jei tinklas pasiekiamas.</p>
			<tmpl_if showNetworkOperator>
				<h3><tmpl_var truncate(_("webui", "status_diagnostics_threeg_network_label"), (size(_("webui", "status_diagnostics_threeg_network_label")) - size(":")))></h3>
				<p>Tai 3G tinklo pavadinimas.</p>
			</tmpl_if>
			<tmpl_if show3g1xRssi>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_threeg_onex_label"), (size(_("webui", "status_diagnostics_threeg_onex_label")) - size(":")))></h3>
			<p>RSSI 
 tai signalo stiprumo matas. Vienetas yra decibelai 1 milivato at
vilgiu ir visada neigiamas, nes mobilieji radijo ry
renginiai yra kur kas ma
iau galingi nei vienas milivatas. Didesn
s absoliu
iosios vert
s parodo stipresn
50 dBm yra stipresnis signalas nei 
70 dBm. 
iame lauke rodomas 1xRTT signalo RSSI.</p>
			</tmpl_if>
			<tmpl_if show3gEvdoRssi>
				<h3><tmpl_var truncate(_("webui", "status_diagnostics_threeg_evdo_label"), (size(_("webui", "status_diagnostics_threeg_evdo_label")) - size(":")))></h3>
				<p>RSSI 
 tai signalo stiprumo matas. 
iame lauke rodomas EVDO arba eHRPD signalo RSSI.</p>
 			</tmpl_if>
			<tmpl_if show3gTechnology>
 				<h3><tmpl_var truncate(_("webui", "status_diagnostics_threeg_technology_label"), (size(_("webui", "status_diagnostics_threeg_technology_label")) - size(":")))></h3>
iuo metu naudojama 3G tinklo technologija. Galimos reik
s yra 1xRTT, EVDO arba eHRPD.</p>
 			</tmpl_if>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_threeg_ecio_label"), (size(_("webui", "status_diagnostics_threeg_ecio_label")) - size(":")))></h3>
			<p>Ec/Io yra signalo 
 matas bei signalo ir triuk
mo santykio tipas. 
 diapazonas: nuo 
 signalas.</p>
			<h3><tmpl_var truncate(_("webui", "status_diagnostics_threeg_sid_label"), (size(_("webui", "status_diagnostics_threeg_sid_label")) - size(":")))></h3>
			<p>SID (sistemos ID) yra tinklo identifikatorius, nurodantis dabartin
 mobiliojo ry
io duomen
 tinklo prijungimo ta
. Mobiliojo ry
 gali tur
 SID reik
iame lauke rodomas dabartinis SID.</p>		
			<tmpl_if showRoaming>
				<h3>Tarptinklinis ry
				<p>Jis nurodo, ar dabartinis ry
ys yra tarptinklinis.</p>			
			</tmpl_if>
			<tmpl_if linkToFieldTest>	
				<h2><tmpl_var _("webui", "status_diagnostics_field_test_button")></h2>
				<p>Mygtukas 
Naudojimo bandymas
 pateiks 
emo lygio tinklo parametr
, kuris gali b
ti naudingas technin
s pagalbos darbuotojams 
alinant tinklo ry
io triktis.</p>
is mygtukas galimas tik tuo atveju, jei pasiekiamas 3G tinklas.</p>
			</tmpl_if>
		</tmpl_if>
	</tmpl_if>
<!-- id="status_diagnostics" -->
