<!-- Vpn -->
<div id="vpn">
        
bersicht</h2>
         <p>Mit dieser Funktion k
nnen Sie sichere Verbindungen zu Remote-Netzwerken 
ber ein 
ffentliches Netzwerk mit OpenVPN konfigurieren und aktivieren. Wenn eine OpenVPN-Verbindung besteht, ist es nicht mehr erforderlich, dass die mit dem Gateway verbundenen Ger
te einen eigenen OpenVPN-Client verwenden.
         <b>HINWEIS: </b>Bei einer OpenVPN-Verbindung sind die Einstellungen f
r Portfilterung und Portweiterleitung nicht wirksam, da der Datenverkehr von allen verbundenen Ger
ten durch den OpenVPN-Tunnel l
         </p>
        
	<h2>VPN mit automatischer Verbindung</h2>
         
         <p>
                 Wenn 
 eingestellt ist, wird der VPN-Tunnel automatisch aufgebaut, sobald eine Internetverbindung hergestellt wird. Wenn 
 eingestellt ist, m
ssen Sie die VPN-Verbindung manuell herstellen.
         </p>
	<h2>VPN-Verbindung</h2>
         <h3>Verbindungsstatus</h3>
         <p>
                 Zeigt den Status der VPN-Verbindung an.
         </p>
         <h3>Verbindungsdauer</h3>
         <p>
                 Zeigt an, wie lange die VPN-Verbindung bereits aufgebaut ist.
         </p>
         <h3>Verbinden</h3>
         <p>
                 Klicken Sie auf die Schaltfl
Verbinden
, um eine Verbindung mit dem VPN-Server herzustellen, der mit VPN-Einstellungen konfiguriert ist.
         </p>
	 <h3>Protokoll anzeigen</h3>
         <p>
		Wenn eine OpenVPN-Verbindung hergestellt wurde, klicken Sie auf die Schaltfl
Protokoll anzeigen
, um das VPN-Verbindungsprotokoll anzuzeigen.
	<h2>VPN-Einstellungen</h2>
	<h3>Einrichtungsdateien</h3>
         <p>
		Ziehen Sie die OpenVPN-Konfigurationsdateien von Ihrem OpenVPN-Anbieter per Drag &amp; Drop in den Bereich f
r den Datei-Upload.
	<h3>Benutzername</h3>
         <p>
		Geben Sie hier Ihren Benutzernamen f
r die OpenVPN-Verbindung ein.
	<h3>Kennwort</h3>
         <p>
		Geben Sie hier Ihr Kennwort f
r die OpenVPN-Verbindung ein.
	<h3>Alle VPN-Einstellungen l
schen </h3>
         <p>
		Klicken Sie auf die Schaltfl
Alle VPN-Einstellungen l
, um VPN-Dateien und VPN-Protokolle zu l
schen und alle VPN-Einstellungen auf den urspr
nglichen, nicht konfigurierten Zustand zur
ckzusetzen.
        
 <!-- id="Vpn" -->
