<!-- Backup and Restore -->
<div id="backup_restore">
         <h1><tmpl_var _("webui", "backup_restore_menu_text")></h1>
         <h2>
         <p>
         <p>
         <h2><tmpl_var _("webui", "backup_restore_the_backup_sub_header_text")></h2>
         <h3>
         <p>
 <tmpl_var _("webui", "webui_product_name")> 
         <h3><tmpl_var _("webui", "backup_restore_backup_now_button")></h3>
         <p>[
         <h2><tmpl_var _("webui", "backup_restore_the_restore_sub_header_text")></h2>
         <h3>
         <p>
 <tmpl_var _("webui", "webui_product_name")> 
         <h3><tmpl_var truncate(_("webui", "backup_restore_file_select_label"), (size(_("webui", "backup_restore_file_select_label")) - size(":")))></h3>
         <p><tmpl_var _("webui", "webui_product_name")> 
         <h3>
         <p>
         <p class="note"><strong>
:</strong> 
 <tmpl_var _("webui", "webui_product_name")> 
         <h2><tmpl_var _("webui", "backup_restore_factory_restore_sub_header_text")></h2>
         <p><strong>
</strong> 
 <tmpl_var _("webui", "webui_product_name")> 
 <!-- id="backup_restore" -->
