<!-- Backup and Restore -->
<div id="backup_restore">
         <h1><tmpl_var _("webui", "backup_restore_menu_text")></h1>
         <h2>
versikt</h2>
         <p>Anv
nd den h
r funktionen f
kerhetskopiera (ladda ned) en kopia av konfigurationsinst
llningarna fr
r enheten till en fil p
 din dator, eller f
lla (ladda upp) en tidigare sparad konfigurationsfil. Den h
r konfigurationsfilen inneh
ller alla inst
llningar f
r enheten, routern och systemfunktionerna. Den inneh
ller inte n
gra inst
llningar eller data f
r 4G-modemet. Observera att du bara kan 
lla en fil till samma enhet som den kom fr
         <p>Den h
rmen ger ocks
jlighet att 
lla alla inst
llningar till de standardv
rden som angavs p
 fabriken.</p>
         <h2><tmpl_var _("webui", "backup_restore_the_backup_sub_header_text")></h2>
         <h3>Admin-l
senord</h3>
         <p>Ange det nuvarande Admin-l
senordet f
r <tmpl_var _("webui", "webui_product_name")> i det h
ltet.</p>
         <h3><tmpl_var _("webui", "backup_restore_backup_now_button")></h3>
         <p>Klicka p
 knappen Nedladdning f
r att ladda ned en kopia av den nuvarande konfigurationsfilen till din dator. Om din webbl
sare uppmanar dig att spara filen kan du byta namn p
 den om du vill.</p>
         <h2><tmpl_var _("webui", "backup_restore_the_restore_sub_header_text")></h2>
         <h3>Admin-l
senord</h3>
         <p>Ange det nuvarande Admin-l
senordet f
r <tmpl_var _("webui", "webui_product_name")> i det h
ltet.</p>
         <h3><tmpl_var truncate(_("webui", "backup_restore_file_select_label"), (size(_("webui", "backup_restore_file_select_label")) - size(":")))></h3>
         <p>V
lj den konfigurationsfil som du tidigare laddat ned fr
r <tmpl_var _("webui", "webui_product_name")> till din dator.</p>
         <h3>Knappen 
ll nu</h3>
         <p>N
r du har valt en konfigurationsfil klickar du p
r knappen f
r att starta filuppladdningen. Efter uppladdningen till
mpas konfigurationsfilen omedelbart och denna enhet startas om.</p>
         <p class="note"><strong>Obs!</strong> Om man laddar upp en konfigurationsfil 
ndras ALLA befintliga inst
llningar s
 att de motsvarar konfigurationsfilen. Detta kan 
ndra de nuvarande Wi-Fi-inst
llningarna och bryta alla befintliga anslutningar till denna <tmpl_var _("webui", "webui_product_name")>, inklusive denna webbl
sarsession.</p>
         <h2><tmpl_var _("webui", "backup_restore_factory_restore_sub_header_text")></h2>
         <p>Klicka p
 knappen <strong>
ll fabrikens standardinst
llningar</strong> f
lla alla inst
llningar till de standardv
rden som angavs p
 fabriken. Detta medf
r en omstart och kan komma att 
ndra de nuvarande Wi-Fi-inst
llningarna och bryta alla befintliga anslutningar till denna <tmpl_var _("webui", "webui_product_name")>, inklusive denna webbl
sarsession.</p>
 <!-- id="backup_restore" -->
