<!-- Status Logs -->
<div id="status_logs">
	<h1><tmpl_var _("webui", "status_logs_menu_text")></h1>
	<h2>Descripci
	<p> La informaci
n del registro es 
til para la resoluci
n de problemas, pero no es obligatoria para el funcionamiento normal. </p>
	<h2>Configuraci
	<h3><tmpl_var _("webui", "status_logs_enable_logs_label")></h3>
	<p>Active los registros seg
n sea necesario.</p>
	<h3><tmpl_var _("webui", "status_logs_delete_sys_logs_label")></h3>
	<p>Esta configuraci
n determina por cu
nto tiempo se conservan los datos del registro del sistema. Seleccione la opci
n deseada.</p>
	<p>Observe que si el registro est
 lleno, se eliminan los datos m
s antiguos, independientemente de la configuraci
	<h2>Datos del registro</h2>
	<p>Las pesta
as provistas le permiten seleccionar el tipo de datos de registro que desea ver. </p>
	<h3><tmpl_var _("webui", "status_logs_mobile_network_log_href")></h3>
	<p>Este registro contiene datos con respecto a las conexiones a la red m
vil. </p>
	<h3><tmpl_var _("webui", "status_logs_system_log_href")></h3>
	<p>Este registro graba eventos, adem
s de las conexiones m
viles de datos, que han ocurrido en este dispositivo. </p>
	<h2>Botones</h2>
	<h3><tmpl_var _("webui", "status_logs_clear_log_btn")></h3>
	<p>Al hacer clic en este bot
n se eliminan todos los datos de registro existentes. De esta forma es m
cil leer los nuevos datos.</p>
	<h3><tmpl_var _("webui", "status_logs_refresh_btn")></h3>
	<p>Use este bot
n para actualizar los datos de registro que se exhiben.</p>
	<h3><tmpl_var _("webui", "status_logs_download_btn")></h3>
	<p>Use este bot
n si desea descargar datos de registro a su computadora o dispositivo conectado.</p>
<!-- end Status Logs -->
