<!-- Login -->
<div id="login">
	<h1><tmpl_var _("webui", "webui_product_name")> 
 <tmpl_var _("webui", "webui_product_number")> prisijungimas</h1>
veskite <tmpl_var _("webui", "webui_product_name")> administratoriaus slapta
	<tmpl_if showForgotPassword>
	<p>Jei ne
inote slapta
io, naudokite parinkt
 <strong>Pamir
au administratoriaus slapta
</strong>.</p>
	</tmpl_if>
	<p>Jei per daug kart
vesite neteising
blokuoti. Nor
, turite i
 naujo paleisti <tmpl_var _("webui", "webui_product_name")>.</p>
<!-- id="login" -->
