<!-- Software Update -->
<div id="software_update">
	<h1><tmpl_var _("webui", "software_update_menu_text")></h1>
	<h2><tmpl_var _("webui", "software_update_current_software_sub_header_text")></h2>
	<h3><tmpl_var _("webui", "software_update_current_software_modem_version_label")></h3>
        <p>
                The version of software currently installed for the modem component.
        </p>
        <h3><tmpl_var _("webui", "software_update_current_software_kernel_version_label")></h3>
        <p>
                The version number for the Operating System and its components.
        </p>
        <tmpl_if showAppVersion>
                <h3><tmpl_var _("webui", "software_update_current_software_app_version_label")></h3>
                <p>
                        The app version currently installed.
                </p>
        </tmpl_if>
        <h3><tmpl_var _("webui", "software_update_current_software_cute_version_label")></h3>
        <p>
                The cute version of the software currently installed on your device.
        </p>
        <h3><tmpl_var _("webui", "software_update_current_software_pri_version_label")></h3>
        <p>
                The configuration version currently applied to your device.
        </p>
	<tmpl_if SoftwareUpdateCheckShow>
		<tmpl_if ConfigurationVersionShow>
			<h3><tmpl_var _("webui", "software_update_current_software_configuration_version_label")></h3>
				<p><tmpl_var _("webui", "software_update_current_software_configuration_version_help_label")></p>
		</tmpl_if>
	</tmpl_if>
	<h2><tmpl_var _("webui", "software_update_check_for_update_sub_header_text")></h2>
	<h3><tmpl_var _("webui", "software_update_check_for_update_time_label")></h3>
 <tmpl_var _("webui", "webui_product_name")> 
 "Check for Update (
 "Check for Update (
 <tmpl_var _("webui", "webui_product_name")> 
 <tmpl_var _("webui", "webui_product_name")>. 
	<h3><tmpl_var _("webui", "software_update_check_for_update_status_label")></h3>
	<h2><tmpl_var _("webui", "software_update_last_update_sub_header_text")></h2>
	<h2><tmpl_var _("webui", "software_update_history_sub_header_show_text")></h2>
 <tmpl_var SoftwareUpdateHistoryCount> 
<!-- end Software Update -->
