<!-- Vpn -->
<div id="vpn">
        
levaade</h2>
         <p>Selle funktsiooni abil saate luua tunneli
henduse OpenVPN-i serveriga ja suunata kogu 
hendatud seadmete liikluse l
bi tunneli.</p>
        
	<h2>VPN-i automaatne 
hendamine</h2>
         
         <p>Kui see on SEES, luuakse VPN-tunnel automaatselt iga kord, kui luuakse interneti
hendus. Kui on V
LJAS, peate VPN-
henduse k
sitsi looma.</p>
	<h2>VPN-
hendus</h2>
         <h3>
henduse olek</h3>
         <p>N
itab VPN-
henduse olekut.</p>
         <h3>
hendusaeg</h3>
         <p>N
itab VPN-
henduse loomise aega.</p>
         <h3>
henda</h3>
         <p>Kl
psake nupule 
henda, et luua 
hendus VPN-serveriga, mis on konfigureeritud VPN-i s
tete abil.</p>
	 <h3>Kuva logi</h3>
         <p>Kui OpenVPN-
hendus on loodud, kl
psake VPN-
henduse logi kuvamiseks nupule Vaata logi.</p>
	<h2>VPN-i seaded</h2>
	<h3>Seadistusfailid</h3>
         <p>Lohistage OpenVPN-i konfiguratsioonifailid oma OpenVPN-i pakkujalt faili 
leslaadimise alale.</p>
	<h3>Kasutajanimi</h3>
         <p>Sisestage siia oma OpenVPN 
henduse kasutajanimi.</p>
	<h3>Parool</h3>
         <p>Sisestage siia oma OpenVPN 
henduse parool.</p>
hjenda k
ik VPN-i seaded</h3>
         <p>Kl
psake nuppu T
hjenda k
ik VPN-i seaded, et kustutada VPN-failid, VPN-logid ja l
htestada k
ik VPN-i seaded algsesse konfigureerimata olekusse.</p>
        
 <!-- id="Vpn" -->
