<!-- Port Forwarding -->
<div id="port_forward">
	<h1>Videresendelse af port</h1>
	<h2>Oversigt</h2>
	<p>Funktionen Videresendelse af port g
r det muligt at videresende indkommende trafik fra internettet til en bestemt computer eller enhed p
 dit Wi-Fi-netv
rk. Normalt blokerer den indbyggede firewall indg
ende trafik fra internettet. Du bruger Videresendelse af port til at give internetbrugere adgang til enhver server, du k
 din computer, s
som en web-, FTP- eller e-mailserver. For nogle onlinespil skal Videresendelse af port bruges, for at spillet kan fungere korrekt. Bem
rk, at brug af Videresendelse af port skaber en sikkerhedsrisiko og b
r forblive slukket, n
r den ikke er p
vet.</p>
<p><strong>Bem
rk:</strong> Nogle tr
se mobilnetv
rk giver dig en IP-adresse p
 deres eget netv
rk i stedet for en internet-IP-adresse. I dette tilf
lde kan Videresendelse af port ikke bruges, fordi internetbrugere ikke kan n
 din IP-adresse.</p>
	<h2>Videresendelse af port af applikationer</h2>
	<h3>Applikationsafkrydsningsfelter</h3>
		<p>En r
kke almindelige serverapplikationer er vist. F
lg denne procedure for at bruge en af disse applikationer:</p>
			<li>Install
r applikationen p
 en computer, der er tilsluttet denne enheds Wi-Fi-netv
rk.</li>
			<li>P
 computeren skal du kontrollere dens IP-adresse for Wi-Fi-netv
rket. Alternativt kan du kontrollere computerens IP-adresse p
rmen Tilsluttede enheder.</li>
			<li>Indtast computerens IP-adresse p
 denne sk
rm i feltet <strong>Tilsluttet enheds IP-adresse</strong> ved siden af applikationen.</li>
			<li>T
nd denne applikation p
 denne sk
rm ved at markere dens afkrydsningsfelt.</li>
			<li>Gem dine 
ndringer.</li>
			<li>P
rmen <strong>Nuv
rende status</strong> skal du notere denne IP-adresse p
 denne enhed.</li>
			<li>Bed brugere p
 internettet om at oprette forbindelse til denne IP-adresse p
 denne enhed. Disse tilslutningsanmodninger videresendes til den IP-adresse, der er specificeret i trin 3.</li>
	<h2>Brugerdefinerede applikationer</h2>
	<p>Denne funktion giver dig mulighed for at definere dine egne applikationer. N
rst er defineret, kan disse applikationer t
ndes eller slukkes p
 samme m
de som pr
definerede applikationer. For at definere en applikation skal du kende de porte og den protokol (TCP, UDP), der bruges af applikationen til indg
ende trafik. For at starte skal du klikke p
 knappen <strong>Tilf
j brugerdefineret applikation</strong> og derefter angive f
lgende data.</p>
	<h3>Applikationsafkrydsningsfelt</h3>
	<p>Brug dette til at t
nde for et program, n
r du har defineret det.</p>
	<h3>Applikationsnavn</h3>
	<p>Indtast et passende navn til det program, du definerer.</p>
	<h3>Tilsluttet enheds IP-adresse</h3>
	<p>Indtast IP-adressen p
 den tilsluttede enhed, der vil modtage denne trafik.</p>
	<h3>Porttype og portnumre</h3>
		<p>Hver applikation har sit eget portinterval. Indtast begyndelsen og slutningen af portintervallet for hver applikation.</p>
		<div class="blockgroup">
				<li>For et portinterval skal du indtaste begyndelsen p
 intervallet i feltet <strong>Fra</strong> og slutningen af intervallet i feltet <strong>Til</strong>.</li>
				<li>For en oversat port skal du indtaste portnummeret i b
de feltet <strong>Ext</strong> og feltet <strong>Int</strong>.</li>
			</ul>
		</div>
	<h3>Protokol</h3>
	<p>For hvert portinterval skal du v
lge den protokol (TCP eller UDP), der bruges af det p
ldende portinterval.</p>
	<h3>Slet</h3>
	<p>Brug dette afkrydsningsfelt til at slette et brugerdefineret program.</p>
<!-- id="port_forward" -->
