<!-- Internet  Sessions -->
<div id="session_log_info">
	<h1><tmpl_var _("webui", "session_log_info_menu_text")></h1>
	<p>Seanso 
urnale pateikiami 
ie duomenys:</p>
 Data ir laikas (prisijungimo prad
 (toks pat kaip dabartinio seanso duomen
 formatas)</p>
 Gauta (toks pat kaip dabartinio seanso formatas)</p>
 Perduota (toks pat kaip dabartinio seanso formatas)</p>
 viso duomen
 (Rx ir Tx suma, toks pat, kaip ir dabartinio seanso, duomen
 formatas)</p>
	<tmpl_if RoamingStatusShow>
                <p>- Roaming (Roaming / Teilweise / leer) Leer = Heimnetzwerk </p>
        </tmpl_if>
 IPv4 (IPv4 WWAN IP adresas)</p>
 IPv6 (IPv6 WWAN IP adresas)</p>
urnalas pateikiamas pagal dat
	<p>Naudotojas negali pakeisti tvarkos ir n
 su seanso 
urnalu susijusi
