<!-- Internet  Sessions -->
<div id="session_log_info">
	<h1><tmpl_var _("webui", "session_log_info_menu_text")></h1>
	<tmpl_if RoamingStatusShow>
                <p>- Roaming (Roaming / Teilweise / leer) Leer = Heimnetzwerk </p>
        </tmpl_if>
	<p>-IPv4
IPv4 WWAN IP
	<p>-IPv6
IPv6 WWAN IP
