<!-- Data Usage -->
<div id="data_usage">
	<h1><tmpl_var _("webui", "data_usage_menu_text")></h1>
	<h2>Descripci
	<p> Esta pantalla muestra una ilustraci
fica del consumo de datos de su plan de datos m
viles, siempre que esa informaci
n de consumo de datos est
 disponible. </p>
	<h2>Consumo de datos estimado</h2>
	<p> La pantalla var
a de acuerdo con su plan, pero, por lo general, contiene la siguiente informaci
	<div class="blockgroup">
		<li>El consumo de datos estimado de su plan dentro del ciclo de facturaci
n actual, hasta la fecha que se muestra. </li>
		<li>El tipo de plan y el l
mite de datos de su plan.</li>
		<li>Una representaci
fica del consumo de datos de su plan dentro del ciclo de facturaci
n actual.</li>
		<li>La fecha de finalizaci
n del ciclo de facturaci
	<p>Para actualizar los datos que se muestran en la pantalla, use el bot
n "Actualizar".</p>
