<!-- Manual DNS -->
<div id="manual_dns">
	<h1><tmpl_var _("webui", "adv_manual_dns_menu_text")></h1>
levaade</h2>
	<p>Tavaliselt antakse DNS-aadress automaatselt. Sellel lehel saate vajaduse korral DNS-i k
rata.</p>
	<h2>Seaded</h2>
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_enable_label"), (size(_("webui", "adv_manual_dns_enable_label")) - size(":")))></h3>
	<p>Kasutage seda s
tet DNS-i funktsiooni k
sitsi sisse- v
litamiseks. Sissel
litamisel tuleb esitada j
rgmised andmed.</p>
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_address1_label"), (size(_("webui", "adv_manual_dns_address1_label")) - size(":")))></h3>
	<p>Sisestage soovitud esmase DNS-i IP-aadress. See aadress on vajalik funktsiooni K
sitsi DNS-i m
ramine kasutamiseks.</p>
	<h3><tmpl_var truncate(_("webui", "adv_manual_dns_address2_label"), (size(_("webui", "adv_manual_dns_address2_label")) - size(":")))></h3>
	<p>Sisestage soovitud sekundaarse (varu) DNS-i IP-aadress. See aadress on valikuline ja selle v
ib soovi korral t
tta.</p>
<!-- id="manual_dns" -->
