<div id="inseego_connect">
	<h1><tmpl_var _("webui", "inseego_connect_help_title_text")></h1>
	<h2><tmpl_var _("webui", "inseego_connect_cloud_services_text")></h2>
		Inseego
Connect est un produit de plateforme cloud qui offre une visibilit
s et une accessibilit
 votre d
ploiement, et ce, 
 partir d
une plateforme unique. Gr
 cette page, vous pouvez activer et configurer les param
tres de connexion pour Inseego
Connect.
	<h3><tmpl_var _("webui", "inseego_connect_label")></h3>
faut, la connexion 
 Inseego
Connect est d
placez le curseur
marche/arr
t sur la position marche afin d
activer la connexion.
	<h2><tmpl_var _("webui", "inseego_connect_status_text")></h2>
	<h3><tmpl_var _("webui", "inseego_connect_connection_state_label")></h3>
un rapport sur la connexion de vos appareils au serveur Inseego
Connect. <br>
		Connect
appareil communique avec les serveurs Inseego
Connect, <br>
		Non connect
appareil ne communique pas avec les serveurs Inseego
Connect.<br>
	<h3><tmpl_var _("webui", "inseego_connect_last_reported_label")></h3>
		Correspond 
heure du dernier envoi sur votre appareil dans un paquet vers les serveurs Inseego
Connect.
	<h3><tmpl_var _("webui", "inseego_connect_interval_label")></h3>
intervalle auquel votre appareil enverra des paquets au serveur Inseego Connect.
		REMARQUE
: Plus l
intervalle est court, plus il y a une grande consommation de donn
	<h3><tmpl_var _("webui", "inseego_connect_mobile_app_text")></h3>
		Utilisez le lien pour t
charger l
application mobile Inseego
Connect.
