<!-- mns -->
<div id="mns">
 "<tmpl_var _("webui", "menu_adv_mns_text")>"
	<h3><tmpl_var _("webui","adv_mns_scan_for_networks_btn")></h3>
	<div class="blockgroup">
	<h3><tmpl_var _("webui","adv_mns_revert_to_automatic_btn")></h3>
<!-- id="mns" -->
