<!-- Internet  Sessions -->
<div id="session_log_info">
	<h1><tmpl_var _("webui", "session_log_info_menu_text")></h1>
	<p>Sessionsloggen inneh
ljande data:</p>
 Datum och tid (n
r anslutningen startade)</p>
 Varaktighet (samma format som information f
r nuvarande session)</p>
 Mottaget (format som f
r nuvarande session)</p>
nda (format som f
r nuvarande session)</p>
 Totala data (summan av Rx och Tx, format som information f
r nuvarande session)</p>
	<tmpl_if RoamingStatusShow>
                <p>- Roaming (Roaming / Teilweise / leer) Leer = Heimnetzwerk </p>
        </tmpl_if>
 IPv4 (IPv4 WWAN IP-adress)</p>
 IPv6 (IPv6 WWAN IP-adress)</p>
	<p>Loggen 
r i datumordning.</p>
ndaren kan inte 
ndra ordningen och det finns inga alternativ relaterade till sessionsloggen.</p>
