<!-- mns -->
<div id="mns">
	<h1>Tinklo pasirinkimas</h1>
valga</h2>
renginys automati
kai pasirenka optimal
 mobiliojo ry
io tinkl
. Jei naudojate GSM pagr
stus tinklus, tinkl
 galite pasirinkti ir neautomati
<tmpl_var _("webui", "menu_adv_mns_text")>
 funkcija naudinga tik tuo atveju, jei yra keli tinklai. Jei naudojama 
i funkcija, 
renginys prisijungia tik prie nurodyto tinklo ir ignoruoja kitus galimus tinklus.</p>
sena</h2>
iame skyriuje nurodoma, ar naudojamas automatinis ar neautomatinis tinklo pasirinkimas. Jei naudojamas neautomatinis tinklo pasirinkimas, rodomas ir nurodytas tinklas.</p>
	<h2>Valdymas</h2>
	<h3><tmpl_var _("webui","adv_mns_scan_for_networks_btn")></h3>
is mygtukas naudojamas, jei galimas neautomatinis tinklo pasirinkimas. Spustel
, jei norite neautomati
kai pasirinkti tinkl
. Tada modemas nuskaitys visus galimus tinklus. 
is nuskaitymas gali u
trukti iki dviej
	<p>Pastaba. Jei 
is mygtukas nerodomas, neautomatinis tinklo pasirinkimas j
 dabartin
je buvimo vietoje naudojant j
 negalimas.</p>
	<h3>Tinkl
	<div class="blockgroup">
	<p>Baigus nuskaityti tinkl
, visi galimi tinklai rodomi tinkl
e. Tada galite atlikti vien
 naudokite 
 parinkt
, jei norite i
saugoti automatin
 tinklo pasirinkim
Atnaujinti
 naudokite nor
dami nuskaityti dar kart
, jei norimo tinklo n
e. Norint pagerinti signalo kokyb
, gali tekti pakeisti savo buvimo viet
Pasirinkti
 naudokite 
 parinkt
, jei norite 
jungti neautomatinio tinklo pasirinkimo funkcij
 nurodytame tinkle. Atminkite, kad gali b
manoma prisijungti prie vis
. Jei paslaug
ra sudar
s pasirinkto tinklo tarptinklinio ry
io sutarties, bandyti prisijungti nepavyks.</li>
	<h3><tmpl_var _("webui","adv_mns_revert_to_automatic_btn")></h3>
is mygtukas matomas, jei naudojama neautomatinio tinklo pasirinkimo funkcija. Spustel
, jei tinklo pasirinkimo funkcij
 neautomatin
s norite perjungti 
 automatin
 naudokite nor
<!-- id="mns" -->
