<!-- Internet  Sessions -->
<div id="session_log_info">
	<h1><tmpl_var _("webui", "session_log_info_menu_text")></h1>
	<p>Seansilogi sisaldab j
rgmisi andmeid.</p>
ev ja kellaaeg (
henduse loomisel)</p>
 Kestus (praeguse seansi teabega samas vormingus)</p>
 Vastu v
etud (vorming nagu praeguse seansi puhul)</p>
 Edastatud (vorming nagu praeguse seansi puhul)</p>
 Koguandmed (Rx ja Tx summa, vorming nagu praeguse seansi teabe puhul)</p>
	<tmpl_if RoamingStatusShow>
                <p>- Roaming (Roaming / Teilweise / leer) Leer = Heimnetzwerk </p>
        </tmpl_if>
 IPv4 (IPv4 WWAN IP-aadress)</p>
 IPv6 (IPv6 WWAN IP-aadress)</p>
	<p>Logi on kuup
rjekorras.</p>
	<p>Kasutaja ei saa tellimust muuta ja seansilogiga pole seotud suvandeid.</p>
