<!-- Port Forwarding -->
<div id="port_forward">
	<h1>Portvidarebefordran</h1>
versikt</h2>
	<p>Funktionen portvidarebefordran g
r att inkommande trafik fr
n internet kan vidarebefordras till en viss dator eller enhet i ditt Wi-Fi-n
tverk. Normalt sett blockerar den inbyggda brandv
ggen inkommande trafik fr
n internet. Du anv
nder portvidarebefordran f
r att till
ta internetanv
ndare att komma 
t alla servrar som du k
 din dator, till exempel en webb-, FTP- eller e-postserver. F
r vissa onlinespel m
ste portvidarebefordran anv
r att spelen ska fungera korrekt. Observera att anv
ndning av portvidarebefordran skapar en s
kerhetsrisk och b
rbli avst
r den inte kr
<p><strong>Obs!</strong> Vissa mobila tr
tverk ger dig en IP-adress i sitt eget n
tverk i st
r en internet-IP-adress. I detta fall kan portvidarebefordran inte anv
ndas eftersom internetanv
ndare inte kan n
 din IP-adress.</p>
	<h2>Portvidarebefordrande applikationer</h2>
	<h3>Kryssrutor f
r applikationer</h3>
		<p>Ett antal vanliga serverapplikationer listas. F
lj denna procedur f
r att anv
gon av dessa applikationer:</p>
			<li>Installera applikationen p
 en dator som 
r ansluten till den h
r enhetens Wi-Fi-n
tverk.</li>
			<li>P
 datorn kontrollerar du dess IP-adress f
r Wi-Fi-n
tverket. Alternativt kan du kontrollera datorns IP-adress p
rmen Anslutna enheter.</li>
			<li>P
rmen anger du datorns IP-adress i f
ltet <strong>Ansluten enhets IP-adress</strong> bredvid applikationen.</li>
			<li>S
r applikationen p
rmen genom att markera dess kryssruta.</li>
			<li>Spara dina 
ndringar.</li>
			<li>Anteckna den h
r enhetens internet-IP-adress p
rmen <strong>Nuvarande status</strong>.</li>
			<li>Be anv
 internet att ansluta till den h
r enhetens internet-IP-adress. Dessa anslutningsf
gningar kommer att vidarebefordras till den IP-adress som specificeras i steg 3.</li>
	<h2>Anpassade applikationer</h2>
	<p>Den h
r funktionen ger dig m
jlighet att definiera dina egna applikationer. N
r de har definierats kan dessa applikationer sl
 eller av p
 samma s
tt som f
rdefinierade applikationer. F
r att definiera en applikation beh
ver du k
nna till vilka portar och protokoll (TCP, UDP) som anv
nds av applikationen f
r inkommande trafik. F
r att starta, klicka p
 knappen <strong>L
gg till anpassad applikation</strong>, ange sedan f
ljande data.</p>
	<h3>Kryssruta f
r applikationer</h3>
nd denna f
r att aktivera en applikation efter det att du har definierat den.</p>
	<h3>Applikationsnamn</h3>
	<p>Ange ett l
mpligt namn p
 den applikation som du definierar.</p>
	<h3>Ansluten enhets IP-adress</h3>
	<p>Ange IP-adressen f
r den anslutna enhet som kommer att ta emot denna trafik.</p>
	<h3>Porttyp och portnummer</h3>
		<p>Varje applikation har sitt eget portintervall. Ange b
rjan och slutet p
 portintervallet f
r varje applikation.</p>
		<div class="blockgroup">
				<li>F
r ett portintervall anger du b
 intervallet i f
ltet <strong>Fr
n</strong> och slutet p
 intervallet i f
ltet <strong>Till</strong>.</li>
				<li>F
ttningsport, ange portnumret b
ltet <strong>Ext</strong> och <strong>Int</strong>.</li>
			</ul>
		</div>
	<h3>Protokoll</h3>
r varje portintervall, v
lj vilket protokoll (TCP eller UDP) som anv
nds av det portintervallet.</p>
	<h3>Radera</h3>
nd den h
r kryssrutan f
r att radera ett anpassat program.</p>
<!-- id="port_forward" -->
