<!-- Port Forwarding -->
<div id="port_forward">
	<h1>Encaminhamento de Porta</h1>
	<h2>Vis
o geral</h2>
	<p>O recurso de Encaminhamento de Porta permite que o tr
fego recebido da internet seja reencaminhado para um computador ou dispositivo espec
fico da sua rede Wi-Fi. Normalmente, o firewall incorporado bloqueia o tr
fego recebido da internet. Voc
 pode utilizar o Encaminhamento de Porta para permitir que os usu
rios da internet acessem qualquer servidor que voc
 esteja executando NO seu computador, como um servidor web, FTP ou de e-mail. Em alguns jogos on-line, o Encaminhamento de Porta deve ser utilizado para que funcionem corretamente. Observe que o Encaminhamento de Porta cria um risco de seguran
a e deve permanecer desativo quando n
o houver necessidade. </p>
<p><strong>Observa
o:</strong> Algumas redes m
veis sem fio fornecem um endere
o IP da sua pr
pria rede, em vez de um endere
o IP da internet. Nesse caso, o Encaminhamento de Porta n
o pode ser utilizado porque os usu
rios da internet n
o conseguem obter o seu endere
o IP. </p>
	<h2>Aplicativos de Encaminhamento de Porta</h2>
	<h3>Caixas de sele
o do aplicativo</h3>
o listados v
rios aplicativos comuns do servidor. Para usar qualquer um desses aplicativos, siga este procedimento: </p>
			<li>Instale o aplicativo em um computador conectado 
 rede Wi-Fi desse dispositivo.</li>
			<li>No computador, verifique o endere
o IP do aplicativo para obter a rede Wi-Fi. Como alternativa, voc
 pode verificar o endere
o IP do computador na tela de dispositivos conectados.</li>
			<li>Nessa tela, insira o endere
o IP do computador no campo <strong>Endere
o IP do dispositivo conectado</strong> ao lado do aplicativo.</li>
			<li>Ative o aplicativo nessa tela, selecionando sua caixa de sele
			<li>Salve suas altera
es.</li>
			<li>Na tela <strong>Status atual</strong>, anote o endere
o IP da internet desse dispositivo.</li>
			<li>Solicite que os usu
rios na internet se conectem ao endere
o IP da internet desse dispositivo. Essas solicita
es de conex
o encaminhadas para o endere
o IP especificado na etapa 3.</li>
	<h2>Aplicativos personalizados</h2>
	<p>Esse recurso permite que voc
 defina os seus pr
prios aplicativos. Depois de definidos, esses aplicativos podem ser ativados e desativados da mesma forma que os aplicativos predefinidos. Para definir um aplicativo, voc
 precisa conhecer as portas e o protocolo (TCP, UDP) utilizado para o tr
fego de sa
da do aplicativo. Para come
ar, clique no bot
o <strong>Adicionar aplicativo personalizado</strong> e, em seguida, informe os dados a seguir. </p>
	<h3>Caixa de sele
o do aplicativo</h3>
	<p>Use essa caixa de sele
o para ativar um aplicativo ap
s defini-lo. </p>
	<h3>Nome do aplicativo</h3>
	<p> Insira um nome adequado para o aplicativo que voc
 definindo. </p>
	<h3>Endere
o IP do dispositivo conectado</h3>
	<p> Insira o endere
o IP do dispositivo conectado que receber
 esse tr
fego. </p>
	<h3>Tipo de porta e N
mero das portas</h3>
		<p>Cada aplicativo tem o seu pr
prio intervalo de porta. Insira o in
cio e o fim do intervalo de porta para cada aplicativo. </p>
		<div class="blockgroup">
				<li>Para um intervalo de porta, insira o in
cio do intervalo no campo <strong>De</strong> e fim do intervalo no campo <strong>Para</strong>.</li>
				<li>Para uma porta de convers
o, insira o n
mero da porta tanto no campo <strong>Ext</strong>, como no campo <strong>Int</strong>.</li>
			</ul>
		</div>
	<h3>Protocolo</h3>
	<p> Para cada intervalo de porta, selecione o protocolo (TCP ou UDP) utilizado por aquele intervalo. </p>
	<h3>Excluir</h3>
	<p>Use essa caixa de sele
o para excluir um aplicativo personalizado. </p>
<!-- id="port_forward" -->
