<!-- Internet  Sessions -->
<div id="session_log_info">
	<h1><tmpl_var _("webui", "session_log_info_menu_text")></h1>
	<p>Sesiju 
tie dati.</p>
	<p>- Datums un laiks (kad izveidots savienojums)</p>
	<p>- Ilgums (t
cija par pa
jo sesiju)</p>
	<p>- Sa
emts (form
jai sesijai)</p>
ts (form
jai sesijai)</p>
	<p>- Kop
jais datu apjoms (Rx un Tx summa, form
ds pats k
s sesijas inform
cijai)</p>
	<tmpl_if RoamingStatusShow>
                <p>- Roaming (Roaming / Teilweise / leer) Leer = Heimnetzwerk </p>
        </tmpl_if>
	<p>- IPv4 (IPv4 WWAN IP adrese)</p>
	<p>- IPv6 (IPv6 WWAN IP adrese)</p>
ls ir datumu sec
	<p>Lietot
js nevar main
bu, un nav ar sesiju 
lu saist
tu opciju.</p>
