<!-- WiFi Advanced -->
<div id="wifi_advanced">
	<h1>Wi-Fi</h1>
versikt</h2>
	<p>Normalt sett kan dessa Wi-Fi-inst
llningar l
mnas med sina standardv
rden, men vid behov kan du justera dem s
 att de passar just din milj
/av-kontroll f
r Wi-Fi</h2>
nd denna kontroll f
r att sl
 eller st
nga av Wi-Fi efter behov. Om den 
ngd kommer inte <tmpl_var _("webui", "webui_product_name_with_suffix")>s Wi-Fi-n
tverk att vara tillg
ngligt, s
 det enda s
ttet att ansluta till <tmpl_var _("webui", "webui_product_name")> kommer att vara att anv
nda en USB-kabel.</p>
	<h3>Till
ndringar av Wi-Fi-inst
llningar g
n Jetpack-sk
rmen</h3>
nd denna kontroll f
r att sl
 eller st
nga av Wi-Fi efter behov. Om den 
ngd kommer inte Wi-Fi-n
tverket att vara tillg
ngligt, s
 det enda s
ttet att ansluta till kommer att vara att anv
nda en USB-kabel.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_max_connections_label")></h3>
ll in hur m
nga enheter som samtidigt kan ansluta till <tmpl_var _("webui", "webui_product_name_with_suffix")>s Wi-Fi-n
tverk.</p>
	<h2><tmpl_var _("webui", "wifi_advanced_profile_title")></h2>
	<p>Dessa inst
llningar best
mmer hur varje band (2,4 GHz och 5 GHz) anv
nds och best
mmer om Wi-Fi-n
tverket f
ngligt.</p>
	<tmpl_if SwapToggleButtonAction>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_ghz_band_label")></h3>
		<p>Det 2,4 GHz 802.11-l
ge som detekteras automatiskt visas.</p>
	<tmpl_else>
		<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_ghz_band_label")></h3>
nskat alternativ f
r att till
mpa detta band p
 det prim
tverket, g
tverket eller st
nga av det h
r bandet.</p>
	</tmpl_if>
	<h3><tmpl_var _("webui", "wifi_advanced_five_ghz_band_label")></h3>
nskat alternativ f
r att till
mpa detta band p
 det prim
tverket, g
tverket eller st
nga av det h
r bandet. Observera att du inte kan st
nga av b
da banden.</p>
	<h2><tmpl_var _("webui", "wifi_advanced_two_point_four_g_band_options_title")></h2>
	<p>Dessa inst
llningar 
r dolda som standard, men du kan klicka p
 rubriken/l
r att synligg
ra dem. Dessa inst
llningar anv
r 2,4 GHz-bandet 
r aktivt.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_802_11_mode_label")></h3>
nd den h
llningen f
ndra Wi-Fi-l
get, om s
vs. Vanligtvis l
mnar du den h
llningen med dess standardv
rde.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_two_point_four_g_channel_label")></h3>
	<p>Detta b
 <strong>Automatisk</strong> om du inte beh
lja en viss kanal f
r din milj
	<h2><tmpl_var _("webui", "wifi_advanced_five_g_options_title")></h2>
	<p>Dessa inst
llningar 
r dolda som standard, men du kan klicka p
 rubriken/l
r att synligg
ra dem. Dessa inst
llningar anv
r 5 GHz-bandet 
r aktivt.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_802_11_mode_label")></h3>
nd den h
llningen f
ndra Wi-Fi-l
get, om s
vs. Generellt finns det ingen anledning att 
ndra standardv
rdet.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_bandwidth_label")></h3>
nskat alternativ. Standardv
rdet ska anv
vida du inte erfar interferens med andra Wi-Fi-enheter. I s
 fall kan minskning av bandbredden minska interferensen.</p>
	<h3><tmpl_var _("webui", "wifi_advanced_five_g_channel_label")></h3>
	<p>Detta b
 <strong>Automatisk</strong> om du inte beh
lja en viss kanal f
r din milj
<!-- id="wifi_advanced" -->
