<!-- Reserved IP Addresses -->
<div id="reserved_ip">
		<h1>Reserverede IP-adresser</h1>
		<h2>Oversigt</h2>
		<p>Denne funktion kan bruges til at sikre, at en tilsluttet enhed altid tildeles den samme IP-adresse af <tmpl_var _("webui", "webui_product_name")>. Klik p
 denne knap for at f
 adgang til installationssk
rmen for denne funktion.</p>
		<h3>DHCP-adresseinterval</h3>
		<p>Her vises det aktuelle DHCP-adresseinterval. Alle reserverede IP-adresser skal ligge inden for dette interval.</p>
		<h2>Reserveret IP-adressetabel</h2>
		<p>Til at begynde med vil denne tabel v
re tom og skjult. For at tilf
kke til denne tabel skal du klikke p
 knappen "Tilf
j reserveret IP". Tilf
 mange r
kker som n
dvendigt. Hver r
kke har f
lgende felter.</p>
		<h3>Aktiv
		<p>Brug dette afkrydsningsfelt til at aktivere eller deaktivere hver post (r
kke) efter behov. Hvis det er aktiveret, tildeles den specificerede IP-adresse til den specificerede enhed. Hvis det er deaktiveret, er IP-adressen tilg
ngelig for enhver tilsluttet enhed.</p>
		<h3>Enhedstype</h3>
lg den bedst egnede mulighed for den tilsluttede enhed.</p>
		<h3>Enhedsnavn</h3>
		<p>Hvis du vil, kan du indtaste et beskrivende navn for den tilsluttede enhed. Dette felt kan v
re tomt.</p>
		<h3>Mac-adresse</h3>
		<p>Dette felt er vigtigt. Indtast Mac-adressen p
 den tilsluttede enhed. Hvis den tilsluttede enhed har mere end en netv
nseflade (for eksempel b
de Wi-Fi og Ethernet), skal du indtaste Mac-adressen p
nseflade, der vil blive brugt til at oprette forbindelse til <tmpl_var _("webui", "webui_product_name")>.</p>
		<h3>IP-adresse</h3>
		<p>Indtast den IP-adresse, du vil blive tildelt til denne tilsluttede enhed. Denne IP-adresse skal v
re inden for DHCP-adresseomr
det vist ovenfor.</p>
<!-- id="reserved_ip" -->
