<!-- Port Filtering -->
<div id="port_filtering">
	<h1>Filtragem de porta</h1>
	<h2>Visão geral</h2>
	<p> Use o recurso de filtragem de porta sempre que necessário para bloquear o tráfego de saída da internet. Se essa configuração for ativada, apenas o tráfego de aplicativos selecionados poderá acessar a internet. O tráfego é identificado pelo número das portas. Alguns aplicativos são predefinidos. Você pode definir aplicativos adicionais, mas é necessário conhecer os detalhes do tráfego utilizado e gerado pelos aplicativos que deseja definir. </p>

	<h2>Aplicativos</h2>
	<h3>Caixas de seleção do aplicativo</h3>
	<p>Use essas caixas de seleção para permitir o acesso à internet por cada aplicativo enquanto o recurso de filtragem de porta estiver ativado. O tráfego dos aplicativos selecionados pode acessar a internet. Caso contrário, o tráfego é bloqueado. </p>
	<h2>Aplicativos personalizados</h2>
	<p>Esse recurso permite que você defina os seus próprios aplicativos – até dez. Depois de definidos, esses aplicativos podem ser ativados e desativados da mesma forma que os aplicativos predefinidos. Para definir um aplicativo, você precisa conhecer as portas e o protocolo (TCP, UDP) utilizado para o tráfego de saída do aplicativo. Para começar, clique no botão <strong>Adicionar aplicativo personalizado</strong> e, em seguida, informe os dados a seguir. </p>
	<p>Observe que qualquer alteração feita a um aplicativo personalizado não será salva até que o botão "Salvar alterações" seja utilizado para salvar o conteúdo todo da página.</p>
	
	<h3>Caixa de seleção do aplicativo</h3>
	<p>Use essa caixa de seleção para ativar um aplicativo após defini-lo. Se selecionado, o tráfego desse aplicativo poderá acessar a internet. Caso contrário, o tráfego é bloqueado. </p>
	<h3>Nome do aplicativo</h3>
	<p> Insira um nome adequado para o aplicativo que você está definindo. </p>
	<h3>Intervalo de porta (Porta inicial/Porta final)</h3>
		<p> Cada aplicativo tem o seu próprio intervalo de porta. Insira o início e o fim do intervalo de porta para cada aplicativo. </p>
		<div class="blockgroup">
			<ul>
				<li>Para uma porta única, insira o número da porta tanto no campo <strong>Porta inicial</strong>, como no campo <strong>Porta final</strong>.</li>
				<li>Para um intervalo de porta, insira o início do intervalo no campo <strong>Porta inicial</strong> e o fim do intervalo no campo <strong>Porta final</strong>. </li>
			</ul>
		</div>
	<h3>Protocolo</h3>
	<p> Para cada intervalo de porta, selecione o protocolo (TCP ou UDP) utilizado por aquele intervalo. </p>
	<h3>Excluir</h3>
	<p>Use essa caixa de seleção para excluir um aplicativo personalizado. </p>
</div>
<!-- id="port_filtering" -->
		
