<!-- Port Filtering -->
<div id="port_filtering">
	<h1>Filtrage de port</h1>
	<h2>Vue d'ensemble</h2>
	<p> Utilisez la fonctionnalité de filtrage de port au besoin pour bloquer le trafic Internet sortant. Si ce réglage est activé, seul le trafic provenant des applications sélectionnées peut accéder à Internet. Le trafic est identifié par des numéros de port. Certaines applications sont prédéfinies. Vous pouvez définir d'autres applications, mais vous aurez besoin d'informations sur le trafic utilisé et généré par les applications en question. </p>

	<h2>Applications</h2>
	<h3>Cases Application</h3>
	<p>Utilisez ces cases à cocher pour que chaque application puisse accéder à Internet lorsque la fonction Filtrage de port est activée. Le trafic provenant des applications sélectionnées peut avoir accès à Internet. Autrement, le trafic est bloqué. </p>
	<h2>Applications personnalisées</h2>
	<p>Cette fonction vous permet de définir vos propres applications - jusqu'à 10. Une fois définies, ces applications peuvent être activées/désactivées de la même manière que les applications prédéfinies. Pour définir une application, vous aurez besoin des ports et du protocole (TCP, UDP) utilisés par l'application pour le trafic sortant. Pour commencer, cliquez sur le bouton <strong>Ajouter une application personnalisée</strong>, puis entrez les données suivantes. </p>
	<p>Il est à noter que toute modification d'une Application personnalisée n'est sauvegardée que si le bouton « Enregistrer les modifications » est utilisé pour enregistrer l'intégralité du contenu de la page.</p>
	
	<h3>Case Application</h3>
	<p>Utilisez cette case à cocher pour activer une application après l'avoir définie. Si elle est cochée, le trafic provenant de cette application peut avoir accès à Internet. Autrement, le trafic est bloqué. </p>
	<h3>Nom de l'application</h3>
	<p> Entrez un nom adapté pour l'application que vous définissez. </p>
	<h3>Étendue du port (Port de début/ Port de fin)</h3>
		<p> Chaque application a sa propre étendue de port. Entrez le début et la fin de l'étendue du port pour chaque application. </p>
		<div class="blockgroup">
			<ul>
				<li>Pour un port unique, entrez le numéro de port dans les champs <strong>Port de début</strong> et <strong>Port de fin</strong>.</li>
				<li>Pour une étendue de port, entrez le début de l'étendue dans le champ <strong>Port de début</strong> et la fin de l'étendue dans le champ <strong>Port de fin</strong>. </li>
			</ul>
		</div>
	<h3>Protocole</h3>
	<p> Pour chaque étendue de port, sélectionnez le protocole (TCP ou UDP) utilisé par cette étendue de port. </p>
	<h3>Supprimer</h3>
	<p>Utilisez cette case à cocher pour supprimer une application personnalisée. </p>
</div>
<!-- id="port_filtering" -->
		
