<!-- Status Logs -->
<div id="status_logs">
	<h1><tmpl_var _("webui", "status_logs_menu_text")></h1>
	<h2>Descripción</h2>
	<p> La información del registro es útil para la resolución de problemas, pero no es obligatoria para el funcionamiento normal. </p>
	
	<h2>Configuración</h2>
	<h3><tmpl_var _("webui", "status_logs_enable_logs_label")></h3>
	<p>Active los registros según sea necesario.</p>
	<h3><tmpl_var _("webui", "status_logs_delete_sys_logs_label")></h3>
	<p>Esta configuración determina por cuánto tiempo se conservan los datos del registro del sistema. Seleccione la opción deseada.</p>
	<p>Observe que si el registro está lleno, se eliminan los datos más antiguos, independientemente de la configuración.</p>
	
	<h2>Datos del registro</h2>
	<h3><tmpl_var _("webui", "status_logs_mobile_network_log_href")></h3>
	<p>Este registro contiene datos con respecto a las conexiones a la red móvil. </p>
	<h3><tmpl_var _("webui", "status_logs_system_log_href")></h3>
	<p>Este registro graba eventos, además de las conexiones móviles de datos, que han ocurrido en este dispositivo. </p>
	
	<h2>Botones</h2>
	
	<h3><tmpl_var _("webui", "status_logs_refresh_btn")></h3>
	<p>Use este botón para actualizar los datos de registro que se exhiben.</p>
	<h3><tmpl_var _("webui", "status_logs_download_btn")></h3>
	<p>Use este botón si desea descargar datos de registro a su computadora o dispositivo conectado.</p>
	<h3><tmpl_var _("webui", "status_logs_clear_log_btn")></h3>
	<p>Al hacer clic en este botón se eliminan todos los datos de registro existentes. De esta forma es más fácil leer los nuevos datos.</p>
	
</div>
<!-- end Status Logs -->
