<!-- MAC Filter -->
<div id="macfilter">
	<h1><tmpl_var _("webui", "adv_macfilter_menu_text")></h1>
	<h2>نظرة عامة</h2>
	<p>ستمنع ميزة ترشيح عناوين MAC، في حالة تشغيلها، الوصول إلى شبكة Wi-Fi هذه بواسطة أي جهاز غير مدرج في قائمة "ترشيح عناوين MAC". لا ينطبق المرشح إلا على شبكة Wi-Fi، وليس له أي تأثير على أجهزة USB.</p>
	
	<h2>عنصر التحكم في التشغيل/إيقاف التشغيل</h2>
	<p>استخدم عنصر التحكم هذا لتشغيل مرشح MAC أو إيقاف تشغيله حسب الحاجة. قبل تشغيله، تحتاج إلى التأكد من السماح ببعض الأجهزة. لاحظ أنه عند تشغيل مرشح MAC، سيتم فصل أي جهاز متصل غير موجود في قائمة "مرشح عناوين MAC" على الفور.</p>
	
	<h2>قائمة الأجهزة</h2>
	
	<p>جميع الأجهزة المعروفة مدرجة هنا، باستثناء أجهزة USB. استخدم خانات الاختيار المتوفرة لتضمين الأجهزة أو استبعادها من قائمة "مرشح عناوين MAC".</p>

	<h3><tmpl_var _("webui", "adv_macfilter_refresh_button")></h3>
	<p>استخدم زر التحديث لتحديث القائمة حسب الحاجة.</p>
		
	<h2>العملية</h2>
	
	<h3>محظور مقابل مرشح عناوين MAC</h3>
	<p>التفاعل بين الأجهزة "المحظورة" و "مرشح عناوين MAC" هو:</p>
	<div class="blockgroup">
	<ul>
	<li>يتم حظر الأجهزة المحظورة دائمًا من شبكة Wi-Fi، بغض النظر عما إذا كان مرشح MAC قيد التشغيل أو قيد إيقاف التشغيل.</li>
	<li>إذا كان مرشح MAC قيد التشغيل، وكان الجهاز في قائمة الأجهزة المحظور اتصالها، ولكن ليس في قائمة مرشح عناوين MAC، فلن يكون قادرًا على الاتصال. يمنع كل من مرشح MAC والكتلة الاتصال.</li>

	<li>إذا كان مرشح MAC قيد التشغيل، وكان الجهاز في قائمة مرشح عناوين MAC، فسيتمكن الجهاز من الاتصال. بعد الاتصال، يمكن حظر اتصاله إما عن طريق إزالته من قائمة مرشح عناوين MAC، أو باستخدام ميزة "حظر الاتصال". بشكل عام، يجب استخدام "حظر الاتصال" للحظر المؤقت، ومرشح MAC للحظر الدائم.</li>
	</ul>
	</div>
	
	<h3><tmpl_var _("webui", "adv_macfilter_add_device_button")></h3>
	<p>استخدم هذا الزر لإضافة جهاز جديد إلى قائمة الأجهزة.</p>

 </div>
<!--  macfilter  -->
