<!-- Login -->
<div id="login">
	<h1><tmpl_var _("webui", "webui_product_name")> MiFi <tmpl_var _("webui", "webui_product_number")> Iniciar sessão</h1>
	<p> Insira a senha de administrador do <tmpl_var _("webui", "webui_product_name")> para continuar. </p>
	<tmpl_if showForgotPassword>
	<p> Se você não sabe a senha, use a opção <strong>Esqueci a senha de administrador</strong>. </p>
	</tmpl_if>
	<p>Se você inserir uma senha incorreta várias vezes, você será bloqueado. Para desbloquear, é preciso reiniciar o <tmpl_var _("webui", "webui_product_name")>. </p>
</div>
<!-- id="login" -->
