<option value="1"<tmpl_if IN_SET(FileShareAccessType, 1)> selected="selected"</tmpl_if>><tmpl_var _("webui", "file_sharing_share_access_type_read_only_text")></option> <!-- Read-only -->
<option value="3"<tmpl_if IN_SET(FileShareAccessType, 3)> selected="selected"</tmpl_if>><tmpl_var _("webui", "file_sharing_share_access_type_read_write_text")></option> <!-- Read-write -->
