<option value="0"<tmpl_if IN_SET(FileShareType, 0)> selected="selected"</tmpl_if>><tmpl_var _("webui", "file_sharing_share_type_all_folders_text")></option> <!-- All folders and files -->
<option value="1"<tmpl_if IN_SET(FileShareType, 1)> selected="selected"</tmpl_if>><tmpl_var _("webui", "file_sharing_share_type_specified_folders_text")></option> <!-- Specified top-level folders -->
